.fa-pencil, .fa-clone, .fa-ban, .fa-info-circle, .fa-registered {
    color: rgb(196, 0, 0);
  }
  
  .maxWidth {
    width: 200%;
  }

  ::ng-deep .dx-row.dx-data-row.dx-column-lines {
    background-color: white !important;
  }

  ::ng-deep .dx-data-row .partner-name {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.contacted-partners-label {
  font-size: 15px;
}

.contacted-partners-count {
  font-size: 20px;
  color: #e53935;
  margin-left: 0.2rem;
}

::ng-deep .dx-header-row .column-blue {
  color: #062ebd;
}

::ng-deep .dx-header-row .column-green {
  color: #028700;
}

.clickable-link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.label-tooltip {
  text-align: left;
  font-size: 16px;
}

.label-tooltip-campaign-description-data {
  text-align: left;
  font-size: 16px;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word; 
  max-width: 450px;
}

::ng-deep .dx-datagrid .dx-row > td {
  padding: 2px !important;
}

::ng-deep #defaultGridContainer .dx-datagrid-headers .dx-texteditor-input {
  padding-bottom: 1px;
  padding-top: 1px;
  min-height: 25px;
}
::ng-deep #defaultGridContainer .dx-filter-menu.dx-menu .dx-menu-item .dx-menu-item-content {
  padding-bottom: 0px;
  padding-top: 0px;
}

::ng-deep #defaultGridContainer .dx-datagrid-filter-row .dx-menu{
  margin-top: 0px;
}

::ng-deep #additionalGridContainer .dx-datagrid-headers .dx-texteditor-input {
  padding-bottom: 1px;
  padding-top: 1px;
  min-height: 25px;
}
::ng-deep #additionalGridContainer .dx-filter-menu.dx-menu .dx-menu-item .dx-menu-item-content {
  padding-bottom: 0px;
  padding-top: 0px;
}

::ng-deep #additionalGridContainer .dx-datagrid-filter-row .dx-menu{
  margin-top: 0px;
}

::ng-deep #gridContainer .dx-datagrid-headers .dx-texteditor-input {
  padding-bottom: 1px;
  padding-top: 1px;
  min-height: 25px;
}
::ng-deep #gridContainer .dx-filter-menu.dx-menu .dx-menu-item .dx-menu-item-content {
  padding-bottom: 0px;
  padding-top: 0px;
}

::ng-deep #gridContainer .dx-datagrid-filter-row .dx-menu{
  margin-top: 0px;
}

.fa-refresh {
  color: rgb(58, 195, 113); 
  font-size: 22px; 
  padding: 6px 7px;
  background-color: rgba(58, 195, 113, 0.1);
  display: inline-block;
  text-align: center; 
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.fa-refresh:hover {
  background-color: rgb(58, 195, 113);
  color: white;
}

.partner-name-header-template {
  display: flex; 
  align-items: center;
}

.contact-campaign-description-img {
  object-fit: contain;
  height: 20px;
}