<app-spinner [visible]="loaded"></app-spinner>
<app-spinner [visible]="contactCampaignPartnersLoaded"></app-spinner>
<div class="main-content">
   
    <div class="container-fluid">
        <div class="card card-plain">
            <app-title [title]="'Clienti Campanii Contactare'"></app-title>
            <div *ngIf="posts && users"  style="gap: 30px;">        
                <div>
                    <app-crm-partner-search-filter [(posts)]="posts" [(partnersTypes)]="partnersTypes"
                        [(personTypes)]="personTypes" [(cities)]="cities" [(citiesDS)]="citiesDS" [(counties)]="counties" 
                        [(countiesDS)]="countiesDS" [(language)]="language" [(countries)]="countries" [(countriesDS)]="countriesDS"
                        [(clientTypes)]="clientTypes" [(supplierTypes)]="supplierTypes" [(partnerActivity)]="partnerActivity"
                        [(itemSmall)]="itemSmall" [(itemGroupSmall)]="itemGroupSmall"
                        [(partnerActivityAllocation)]="partnerActivityAllocation" (searchEvent)="searchEvent($event)" (refreshEvent)="refreshEvent($event)"
                        (onActivateContactCampaignPartnersChangeOutput)="onActivateContactCampaignPartnersChange($event)" [isUserAdminOrHasSuperiorPost]="isUserAdminOrHasSuperiorPostSent" 
                        [getDisplayExprPosts]="getDisplayExprPostsSent" (onPostChangeOutput)="onPostChange($event)" (onPersonTypeChangeOutput)="onPersonTypeChange($event)">
                    </app-crm-partner-search-filter>
                </div>
            </div>

            <hr style="margin: 0">

            <div class="row" *ngIf="shouldActivateContactCampaignPartners">
                <div class="col-lg-12 col-md-12 col-sm-6" style="margin: 0">
                    <div [hidden]="detailsVisibility">              
                        <div>
                            <div class="d-flex align-items-center">
                                <i class="fa fa-refresh" style="cursor: pointer; margin-right: 2rem" (click)="refreshDataGrid()" title="Refresh la date. (F5)"></i>
                                <p class="contacted-partners-label">Parteneri contactati astazi campanie 
                                    <b id="happyBirthDayCampaignCountId">"La Multi Ani":</b> <b class="contacted-partners-count">{{currentDayContactedHappyBirthDayCampaignPartners}}</b> &nbsp; 
                                    <b id="locationCampaignCountId">"Locatie":</b> <b class="contacted-partners-count">{{currentDayContactedLocationCampaignPartners}} </b> </p>
                            </div>
                        </div>
                        <dx-data-grid id="gridContainer" #dataGrid [dataSource]="happyBirthdayCampaignPartners"
                            [rowAlternationEnabled]="true" [showBorders]="false" [allowColumnReordering]="true" (onCellPrepared)="onCellPrepared($event)">
                            <dxo-filter-row [visible]="true"></dxo-filter-row>
                            <dxo-filter-panel [visible]="true">
                            </dxo-filter-panel>
                            <dxo-load-panel [enabled]="true"></dxo-load-panel>
                            <dxo-sorting mode="multiple"></dxo-sorting>

                            <dxo-paging [pageSize]="15"></dxo-paging>
                            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>

                            <dxi-column [width]="37" cellTemplate="turnoverCellTemplate"></dxi-column>
                            <dxi-column [visible]="shouldActivateContactCampaignPartners === true" dataField="type" caption="Tip campanie" alignment="left" cellTemplate="typeCellTemplate" [width]="dataGridColumnsWidth.tipCampanie + '%'">
                            </dxi-column>

                            <dxi-column dataField="name" caption="Parteneri - La multi ani!" dataType="string" alignment="left" [width]="dataGridColumnsWidth.nume + '%'" cellTemplate="partnerNameCellTemplate" headerCellTemplate="partnerNameHeaderCellTemplate">
                                <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                </dxi-validation-rule>
                                <dxi-validation-rule type="stringLength" [max]="200"
                                    message="Lungimea maximă depășită!"></dxi-validation-rule>
                            </dxi-column>
                            <dxi-column dataField="website" caption="Site" dataType="string" alignment="left" [width]="dataGridColumnsWidth.site + '%'">
                                <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                </dxi-validation-rule>
                                <dxi-validation-rule type="stringLength" [max]="200"
                                    message="Lungimea maximă depășită!"></dxi-validation-rule>
                            </dxi-column>
                            <dxi-column dataField="email" caption="Email" dataType="string" alignment="left" [width]="dataGridColumnsWidth.email + '%'">
                                <dxi-validation-rule type="stringLength" [max]="250"
                                    message="Lungimea maximă depășită!"></dxi-validation-rule>
                            </dxi-column>

                            <dxi-column dataField="contactFullName" caption="Contact" dataType="string" alignment="left" [width]="dataGridColumnsWidth.contactFullName + '%'">
                            </dxi-column>

                            <dxi-column dataField="caLastYear" caption="CA-1"  dataType="number" alignment="right" [width]="dataGridColumnsWidth.ca1 + '%'" cellTemplate="caLastYearCellTemplate" cssClass="column-blue"></dxi-column>

                            <dxi-column dataField="pfLastYear" caption="PF-1"  dataType="number" alignment="right" [width]="dataGridColumnsWidth.pf1 + '%'" cellTemplate="pfLastYearCellTemplate" cssClass="column-blue"></dxi-column>

                            <dxi-column dataField="naLastYear" caption="NA-1"  dataType="number" alignment="right" [width]="dataGridColumnsWidth.na1 + '%'" cellTemplate="naLastYearCellTemplate" cssClass="column-blue"></dxi-column>

                            <dxi-column dataField="vdLastYear" caption="VD-1"  dataType="number" alignment="right" [width]="dataGridColumnsWidth.vd1 + '%'" cellTemplate="vdLastYearCellTemplate" cssClass="column-blue"></dxi-column>

                            <dxi-column dataField="npLastYear" caption="NP-1"  dataType="number" alignment="right" [width]="dataGridColumnsWidth.np1 + '%'" cellTemplate="npLastYearCellTemplate" cssClass="column-blue"></dxi-column>

                            <!-- <dxi-column dataField="caLast2Years" caption="CA-2"  dataType="number" alignment="right" [width]="dataGridColumnsWidth.ca2 + '%'" cellTemplate="caLast2YearsCellTemplate" cssClass="column-green"></dxi-column>

                            <dxi-column dataField="pfLast2Years" caption="PF-2"  dataType="number" alignment="right" [width]="dataGridColumnsWidth.pf2 + '%'" cellTemplate="pfLast2YearsCellTemplate" cssClass="column-green"></dxi-column>

                            <dxi-column dataField="naLast2Years" caption="NA-2"  dataType="number" alignment="right" [width]="dataGridColumnsWidth.na2 + '%'" cellTemplate="naLast2YearsCellTemplate" cssClass="column-green"></dxi-column>

                            <dxi-column dataField="vdLast2Years" caption="VD-2"  dataType="number" alignment="right" [width]="dataGridColumnsWidth.vd2 + '%'" cellTemplate="vdLast2YearsCellTemplate" cssClass="column-green"></dxi-column>

                            <dxi-column dataField="npLast2Years" caption="NP-2"  dataType="number" alignment="right" [width]="dataGridColumnsWidth.np2 + '%'" cellTemplate="npLast2YearsCellTemplate" cssClass="column-green"></dxi-column> -->

                            <dxi-column dataField="salesAgentId" caption="Post" alignment="left" cellTemplate="salesAgentIdCellTemplate" [width]="dataGridColumnsWidth.post + '%'">
                            </dxi-column>

                            <dxi-column dataField="partnerActivityAllocationId" caption="Activitate" alignment="left" [width]="dataGridColumnsWidth.activitate + '%'">
                                <dxo-lookup [dataSource]="partnerActivityAllocation" valueExpr="id" [displayExpr]="getDisplayExprPartnerActivity">
                                </dxo-lookup>
                                <dxi-validation-rule type="required" message="{{'required' | translate}}"></dxi-validation-rule>
                                <dxi-validation-rule type="stringLength" [max]="100" message="Lungimea maximă depășită!"></dxi-validation-rule>
                            </dxi-column>

                            <dxi-column dataField="lastContactDate" caption="Data contactare" dataType="date" format="dd-MM-yyyy"
                                alignment="right" [width]="dataGridColumnsWidth.dataContactare + '%'"></dxi-column>

                            <dxi-column dataField="observations" caption="Observatii" cellTemplate="observationsCellTemplate"
                                dataType="string" alignment="left" [width]="dataGridColumnsWidth.observatii + '%'">
                                <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                </dxi-validation-rule>
                                <dxi-validation-rule type="stringLength" [max]="100"
                                    message="Lungimea maximă depășită!"></dxi-validation-rule>
                            </dxi-column>

                            <div *dxTemplate="let data of 'vdLastYearCellTemplate'">
                                {{getVdLastYearExpr(data.data)}}
                            </div>
                            <div *dxTemplate="let data of 'vdLast2YearsCellTemplate'">
                                {{getVdLast2YearsExpr(data.data)}}
                            </div>
                            <div *dxTemplate="let data of 'pfLastYearCellTemplate'">
                                <div [ngStyle]="{'color': data.data.pfLastYear < 0 ? '#f44336' : null }">
                                    {{getPfLastYearExpr(data.data)}}
                                </div>
                            </div>
                            <div *dxTemplate="let data of 'pfLast2YearsCellTemplate'">
                                <div [ngStyle]="{'color': data.data.pfLast2Years < 0 ? '#f44336' : null }">
                                    {{getPfLast2YearsExpr(data.data)}}
                                </div>
                            </div>
                            <div *dxTemplate="let data of 'caLastYearCellTemplate'">
                                {{getCaLastYearExpr(data.data)}}
                            </div>
                            <div *dxTemplate="let data of 'naLastYearCellTemplate'">
                                {{getNaLastYearExpr(data.data)}}
                            </div>
                            <div *dxTemplate="let data of 'npLastYearCellTemplate'">
                                {{getNpLastYearExpr(data.data)}}
                            </div>
                            <div *dxTemplate="let data of 'caLast2YearsCellTemplate'">
                                {{getCaLast2YearsExpr(data.data)}}
                            </div>
                            <div *dxTemplate="let data of 'naLast2YearsCellTemplate'">
                                {{getNaLast2YearsExpr(data.data)}}
                            </div>
                            <div *dxTemplate="let data of 'npLast2YearsCellTemplate'">
                                {{getNpLast2YearsExpr(data.data)}}
                            </div>

                            <div *dxTemplate="let data of 'partnerNameCellTemplate'">
                                <span class="clickable-link" (click)="onPartnerNameClick(data)">{{ data.data.name || '...' }}</span>
                            </div>

                            <div *dxTemplate="let data of 'turnoverCellTemplate'">
                                <i class="fa fa-registered fa-2x" style='padding-right : 15px' href="javascript:void(0)" title="Rulaj" (click)="goToTurnoverDetails(data.data)"></i>
                            </div>                
                            
                            <div *dxTemplate="let data of 'observationsCellTemplate'">
                                <i class="fa fa-info-circle fa-2x" style='padding-right : 15px' *ngIf="canUpdate()"
                                href="javascript:void(0)" title="Istoric observatii" (click)="openPartnerObservationsDetails(data.data)"></i>
                                {{ data.data.observations }}
                            </div>

                            <div *dxTemplate="let data of 'typeCellTemplate'">
                                {{getTypeCellData(data.data)}}
                            </div>

                            <div *dxTemplate="let data of 'salesAgentIdCellTemplate'">
                                {{getSalesAgentIdCellData(data.data)}}
                            </div>
                            <div *dxTemplate="let info of 'partnerNameHeaderCellTemplate'" class="partner-name-header-template">
                                <p style="margin: 0">{{info.column.caption}}</p> &nbsp;
                                <img [src]="'./assets/img/contact-campaigns-description-icon.png'" class="contact-campaign-description-img" id="hbdContactCampaignDescription" 
                                    (click)="onHbdContactCampaignDescriptionClick($event)" (mouseenter)="getHappyBirthdayContactCampaignTooltipData()" (mouseleave)="hideHappyBirthdayCampaignCountTooltip()">
                            </div>  
                        </dx-data-grid>

                        <dx-data-grid id="gridContainer" #dataGrid [dataSource]="locationCampaignPartners"
                            [rowAlternationEnabled]="true" [showBorders]="false" [allowColumnReordering]="true" (onCellPrepared)="onCellPrepared($event)">
                            <dxo-filter-row [visible]="true"></dxo-filter-row>
                            <dxo-filter-panel [visible]="true">
                            </dxo-filter-panel>
                            <dxo-load-panel [enabled]="true"></dxo-load-panel>
                            <dxo-sorting mode="multiple"></dxo-sorting>

                            <dxo-paging [pageSize]="15"></dxo-paging>
                            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>

                            <dxi-column [width]="37" cellTemplate="turnoverCellTemplate"></dxi-column>
                            <dxi-column [visible]="shouldActivateContactCampaignPartners === true" dataField="type" caption="Tip campanie" alignment="left" cellTemplate="typeCellTemplate" [width]="dataGridColumnsWidth.tipCampanie + '%'">
                            </dxi-column>

                            <dxi-column dataField="name" caption="Parteneri - Locatie" dataType="string" alignment="left" [width]="dataGridColumnsWidth.nume + '%'" cellTemplate="partnerNameCellTemplate" headerCellTemplate="partnerNameHeaderCellTemplate">
                                <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                </dxi-validation-rule>
                                <dxi-validation-rule type="stringLength" [max]="200"
                                    message="Lungimea maximă depășită!"></dxi-validation-rule>
                            </dxi-column>
                            <dxi-column dataField="website" caption="Site" dataType="string" alignment="left" [width]="dataGridColumnsWidth.site + '%'">
                                <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                </dxi-validation-rule>
                                <dxi-validation-rule type="stringLength" [max]="200"
                                    message="Lungimea maximă depășită!"></dxi-validation-rule>
                            </dxi-column>
                            <dxi-column dataField="email" caption="Email" dataType="string" alignment="left" [width]="dataGridColumnsWidth.email + '%'">
                                <dxi-validation-rule type="stringLength" [max]="250"
                                    message="Lungimea maximă depășită!"></dxi-validation-rule>
                            </dxi-column>

                            <dxi-column dataField="contactFullName" caption="Contact" dataType="string" alignment="left" [width]="dataGridColumnsWidth.contactFullName + '%'">
                            </dxi-column>

                            <dxi-column dataField="caLastYear" caption="CA-1"  dataType="number" alignment="right" [width]="dataGridColumnsWidth.ca1 + '%'" cellTemplate="caLastYearCellTemplate" cssClass="column-blue"></dxi-column>

                            <dxi-column dataField="pfLastYear" caption="PF-1"  dataType="number" alignment="right" [width]="dataGridColumnsWidth.pf1 + '%'" cellTemplate="pfLastYearCellTemplate" cssClass="column-blue"></dxi-column>

                            <dxi-column dataField="naLastYear" caption="NA-1"  dataType="number" alignment="right" [width]="dataGridColumnsWidth.na1 + '%'" cellTemplate="naLastYearCellTemplate" cssClass="column-blue"></dxi-column>

                            <dxi-column dataField="vdLastYear" caption="VD-1"  dataType="number" alignment="right" [width]="dataGridColumnsWidth.vd1 + '%'" cellTemplate="vdLastYearCellTemplate" cssClass="column-blue"></dxi-column>

                            <dxi-column dataField="npLastYear" caption="NP-1"  dataType="number" alignment="right" [width]="dataGridColumnsWidth.np1 + '%'" cellTemplate="npLastYearCellTemplate" cssClass="column-blue"></dxi-column>

                            <!-- <dxi-column dataField="caLast2Years" caption="CA-2"  dataType="number" alignment="right" [width]="dataGridColumnsWidth.ca2 + '%'" cellTemplate="caLast2YearsCellTemplate" cssClass="column-green"></dxi-column>

                            <dxi-column dataField="pfLast2Years" caption="PF-2"  dataType="number" alignment="right" [width]="dataGridColumnsWidth.pf2 + '%'" cellTemplate="pfLast2YearsCellTemplate" cssClass="column-green"></dxi-column>

                            <dxi-column dataField="naLast2Years" caption="NA-2"  dataType="number" alignment="right" [width]="dataGridColumnsWidth.na2 + '%'" cellTemplate="naLast2YearsCellTemplate" cssClass="column-green"></dxi-column>

                            <dxi-column dataField="vdLast2Years" caption="VD-2"  dataType="number" alignment="right" [width]="dataGridColumnsWidth.vd2 + '%'" cellTemplate="vdLast2YearsCellTemplate" cssClass="column-green"></dxi-column>

                            <dxi-column dataField="npLast2Years" caption="NP-2"  dataType="number" alignment="right" [width]="dataGridColumnsWidth.np2 + '%'" cellTemplate="npLast2YearsCellTemplate" cssClass="column-green"></dxi-column> -->

                            <dxi-column dataField="salesAgentId" caption="Post" alignment="left" cellTemplate="salesAgentIdCellTemplate" [width]="dataGridColumnsWidth.post + '%'">
                            </dxi-column>

                            <dxi-column dataField="partnerActivityAllocationId" caption="Activitate" alignment="left" [width]="dataGridColumnsWidth.activitate + '%'">
                                <dxo-lookup [dataSource]="partnerActivityAllocation" valueExpr="id" [displayExpr]="getDisplayExprPartnerActivity">
                                </dxo-lookup>
                                <dxi-validation-rule type="required" message="{{'required' | translate}}"></dxi-validation-rule>
                                <dxi-validation-rule type="stringLength" [max]="100" message="Lungimea maximă depășită!"></dxi-validation-rule>
                            </dxi-column>

                            <dxi-column dataField="lastContactDate" caption="Data contactare" dataType="date" format="dd-MM-yyyy"
                                alignment="right" [width]="dataGridColumnsWidth.dataContactare + '%'"></dxi-column>

                            <dxi-column dataField="observations" caption="Observatii" cellTemplate="observationsCellTemplate"
                                dataType="string" alignment="left" [width]="dataGridColumnsWidth.observatii + '%'">
                                <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                </dxi-validation-rule>
                                <dxi-validation-rule type="stringLength" [max]="100"
                                    message="Lungimea maximă depășită!"></dxi-validation-rule>
                            </dxi-column>

                            <div *dxTemplate="let data of 'vdLastYearCellTemplate'">
                                {{getVdLastYearExpr(data.data)}}
                            </div>
                            <div *dxTemplate="let data of 'vdLast2YearsCellTemplate'">
                                {{getVdLast2YearsExpr(data.data)}}
                            </div>
                            <div *dxTemplate="let data of 'pfLastYearCellTemplate'">
                                <div [ngStyle]="{'color': data.data.pfLastYear < 0 ? '#f44336' : null }">
                                    {{getPfLastYearExpr(data.data)}}
                                </div>
                            </div>
                            <div *dxTemplate="let data of 'pfLast2YearsCellTemplate'">
                                <div [ngStyle]="{'color': data.data.pfLast2Years < 0 ? '#f44336' : null }">
                                    {{getPfLast2YearsExpr(data.data)}}
                                </div>
                            </div>
                            <div *dxTemplate="let data of 'caLastYearCellTemplate'">
                                {{getCaLastYearExpr(data.data)}}
                            </div>
                            <div *dxTemplate="let data of 'naLastYearCellTemplate'">
                                {{getNaLastYearExpr(data.data)}}
                            </div>
                            <div *dxTemplate="let data of 'npLastYearCellTemplate'">
                                {{getNpLastYearExpr(data.data)}}
                            </div>
                            <div *dxTemplate="let data of 'caLast2YearsCellTemplate'">
                                {{getCaLast2YearsExpr(data.data)}}
                            </div>
                            <div *dxTemplate="let data of 'naLast2YearsCellTemplate'">
                                {{getNaLast2YearsExpr(data.data)}}
                            </div>
                            <div *dxTemplate="let data of 'npLast2YearsCellTemplate'">
                                {{getNpLast2YearsExpr(data.data)}}
                            </div>

                            <div *dxTemplate="let data of 'partnerNameCellTemplate'">
                                <span class="clickable-link" (click)="onPartnerNameClick(data)">{{ data.data.name || '...' }}</span>
                            </div>

                            <div *dxTemplate="let data of 'turnoverCellTemplate'">
                                <i class="fa fa-registered fa-2x" style='padding-right : 15px' href="javascript:void(0)" title="Rulaj" (click)="goToTurnoverDetails(data.data)"></i>
                            </div>                
                            
                            <div *dxTemplate="let data of 'observationsCellTemplate'">
                                <i class="fa fa-info-circle fa-2x" style='padding-right : 15px' *ngIf="canUpdate()"
                                href="javascript:void(0)" title="Istoric observatii" (click)="openPartnerObservationsDetails(data.data)"></i>
                                {{ data.data.observations }}
                            </div>

                            <div *dxTemplate="let data of 'typeCellTemplate'">
                                {{getTypeCellData(data.data)}}
                            </div>

                            <div *dxTemplate="let data of 'salesAgentIdCellTemplate'">
                                {{getSalesAgentIdCellData(data.data)}}
                            </div>
                            <div *dxTemplate="let info of 'partnerNameHeaderCellTemplate'" class="partner-name-header-template">
                                <p style="margin: 0">{{info.column.caption}}</p> &nbsp;
                                <img [src]="'./assets/img/contact-campaigns-description-icon.png'" class="contact-campaign-description-img" id="locationContactCampaignDescription" 
                                    (click)="onLocationContactCampaignDescriptionClick($event)" (mouseenter)="getLocationContactCampaignTooltipData()" (mouseleave)="hideLocaitonCampaignCountTooltip()">
                            </div> 
                        </dx-data-grid>
                        <br>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="shouldActivateContactCampaignPartners">
                <div class="col-lg-12 col-md-12 col-sm-6">
                    <div [hidden]="detailsVisibility">
                        
                        <dx-data-grid id="additionalGridContainer" #additionalDataGrid [dataSource]="additionalContactCampaignPartners"
                            [rowAlternationEnabled]="true" [showBorders]="false" [allowColumnReordering]="true" (onCellPrepared)="onCellPrepared($event)">
                            <dxo-filter-row [visible]="true"></dxo-filter-row>
                            <dxo-filter-panel [visible]="true">
                            </dxo-filter-panel>
                            <dxo-header-filter [visible]="true">
                            </dxo-header-filter>
                            <dxo-load-panel [enabled]="true"></dxo-load-panel>
                            <dxo-sorting mode="multiple"></dxo-sorting>

                            <dxo-paging [pageSize]="15"></dxo-paging>
                            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>

                            <dxi-column [width]="37" cellTemplate="turnoverCellTemplate"></dxi-column>
                            <dxi-column [visible]="shouldActivateContactCampaignPartners === true" dataField="type" caption="Tip campanie" alignment="left" cellTemplate="typeCellTemplate" [width]="dataGridColumnsWidth.tipCampanie + '%'">
                            </dxi-column>

                            <dxi-column dataField="name" caption="Parteneri - DE REVENIT" dataType="string" alignment="left" [width]="dataGridColumnsWidth.nume + '%'" cellTemplate="partnerNameCellTemplate">
                                <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                </dxi-validation-rule>
                                <dxi-validation-rule type="stringLength" [max]="200"
                                    message="Lungimea maximă depășită!"></dxi-validation-rule>
                            </dxi-column>
                            <dxi-column dataField="website" caption="Site" dataType="string" alignment="left" [width]="dataGridColumnsWidth.site + '%'">
                                <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                </dxi-validation-rule>
                                <dxi-validation-rule type="stringLength" [max]="200"
                                    message="Lungimea maximă depășită!"></dxi-validation-rule>
                            </dxi-column>
                            <dxi-column dataField="email" caption="Email" dataType="string" alignment="left" [width]="dataGridColumnsWidth.email + '%'">
                                <dxi-validation-rule type="stringLength" [max]="250"
                                    message="Lungimea maximă depășită!"></dxi-validation-rule>
                            </dxi-column>

                            <dxi-column dataField="contactFullName" caption="Contact" dataType="string" alignment="left" [width]="dataGridColumnsWidth.contactFullName + '%'">
                            </dxi-column>

                            <dxi-column dataField="caLastYear" caption="CA-1"  dataType="number" alignment="right" [width]="dataGridColumnsWidth.ca1 + '%'" cellTemplate="caLastYearCellTemplate" cssClass="column-blue"></dxi-column>

                            <dxi-column dataField="pfLastYear" caption="PF-1"  dataType="number" alignment="right" [width]="dataGridColumnsWidth.pf1 + '%'" cellTemplate="pfLastYearCellTemplate" cssClass="column-blue"></dxi-column>

                            <dxi-column dataField="naLastYear" caption="NA-1"  dataType="number" alignment="right" [width]="dataGridColumnsWidth.na1 + '%'" cellTemplate="naLastYearCellTemplate" cssClass="column-blue"></dxi-column>

                            <dxi-column dataField="vdLastYear" caption="VD-1"  dataType="number" alignment="right" [width]="dataGridColumnsWidth.vd1 + '%'" cellTemplate="vdLastYearCellTemplate" cssClass="column-blue"></dxi-column>

                            <dxi-column dataField="npLastYear" caption="NP-1"  dataType="number" alignment="right" [width]="dataGridColumnsWidth.np1 + '%'" cellTemplate="npLastYearCellTemplate" cssClass="column-blue"></dxi-column>

                            <dxi-column dataField="salesAgentId" caption="Post" alignment="left" cellTemplate="salesAgentIdCellTemplate" [width]="dataGridColumnsWidth.post + '%'">
                            </dxi-column>

                            <dxi-column dataField="partnerActivityAllocationId" caption="Activitate" alignment="left" [width]="dataGridColumnsWidth.activitate + '%'">
                                <dxo-lookup [dataSource]="partnerActivityAllocation" valueExpr="id" [displayExpr]="getDisplayExprPartnerActivity">
                                </dxo-lookup>
                                <dxi-validation-rule type="required" message="{{'required' | translate}}"></dxi-validation-rule>
                                <dxi-validation-rule type="stringLength" [max]="100" message="Lungimea maximă depășită!"></dxi-validation-rule>
                            </dxi-column>

                            <dxi-column dataField="lastContactDate" caption="Data contactare" dataType="date" format="dd-MM-yyyy"
                                alignment="right" [width]="dataGridColumnsWidth.dataContactare + '%'"></dxi-column>

                            <dxi-column dataField="observations" caption="Observatii" cellTemplate="observationsCellTemplate"
                                dataType="string" alignment="left" [width]="dataGridColumnsWidth.observatii + '%'">
                                <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                </dxi-validation-rule>
                                <dxi-validation-rule type="stringLength" [max]="100"
                                    message="Lungimea maximă depășită!"></dxi-validation-rule>
                            </dxi-column>

                            <div *dxTemplate="let data of 'vdLastYearCellTemplate'">
                                {{getVdLastYearExpr(data.data)}}
                            </div>
                            <div *dxTemplate="let data of 'vdLast2YearsCellTemplate'">
                                {{getVdLast2YearsExpr(data.data)}}
                            </div>
                            <div *dxTemplate="let data of 'pfLastYearCellTemplate'">
                                <div [ngStyle]="{'color': data.data.pfLastYear < 0 ? '#f44336' : null }">
                                    {{getPfLastYearExpr(data.data)}}
                                </div>
                            </div>
                            <div *dxTemplate="let data of 'pfLast2YearsCellTemplate'">
                                <div [ngStyle]="{'color': data.data.pfLast2Years < 0 ? '#f44336' : null }">
                                    {{getPfLast2YearsExpr(data.data)}}
                                </div>
                            </div>
                            <div *dxTemplate="let data of 'caLastYearCellTemplate'">
                                {{getCaLastYearExpr(data.data)}}
                            </div>
                            <div *dxTemplate="let data of 'naLastYearCellTemplate'">
                                {{getNaLastYearExpr(data.data)}}
                            </div>
                            <div *dxTemplate="let data of 'npLastYearCellTemplate'">
                                {{getNpLastYearExpr(data.data)}}
                            </div>
                            <div *dxTemplate="let data of 'caLast2YearsCellTemplate'">
                                {{getCaLast2YearsExpr(data.data)}}
                            </div>
                            <div *dxTemplate="let data of 'naLast2YearsCellTemplate'">
                                {{getNaLast2YearsExpr(data.data)}}
                            </div>
                            <div *dxTemplate="let data of 'npLast2YearsCellTemplate'">
                                {{getNpLast2YearsExpr(data.data)}}
                            </div>

                            <div *dxTemplate="let data of 'partnerNameCellTemplate'">
                                <span class="clickable-link" (click)="onPartnerNameClick(data)">{{data.data.name}}</span>
                            </div>

                            <div *dxTemplate="let data of 'turnoverCellTemplate'">
                                <i class="fa fa-registered fa-2x" style='padding-right : 15px' href="javascript:void(0)" title="Rulaj" (click)="goToTurnoverDetails(data.data)"></i>
                            </div>                
                            
                            <div *dxTemplate="let data of 'observationsCellTemplate'">
                                <i class="fa fa-info-circle fa-2x" style='padding-right : 15px' *ngIf="canUpdate()"
                                href="javascript:void(0)" title="Istoric observatii" (click)="openPartnerObservationsDetails(data.data)"></i>
                                {{ data.data.observations }}
                            </div>

                            <div *dxTemplate="let data of 'typeCellTemplate'">
                                {{getTypeCellData(data.data)}}
                            </div>

                            <div *dxTemplate="let data of 'salesAgentIdCellTemplate'">
                                {{getSalesAgentIdCellData(data.data)}}
                            </div>
                        </dx-data-grid>
                        <br>
                    </div>
                </div>
            </div>

            <div class="row" *ngIf="!shouldActivateContactCampaignPartners">
                <div class="col-lg-12 col-md-12 col-sm-6">
                    <div [hidden]="detailsVisibility">                   
                        <dx-data-grid id="defaultGridContainer" #defaultDataGrid [dataSource]="partners" [rowAlternationEnabled]="true" 
                        [showBorders]="false" [allowColumnReordering]="true" (onCellPrepared)="onCellPrepared($event)">
                            <dxo-filter-row [visible]="true"></dxo-filter-row>
                            <dxo-filter-panel [visible]="true">
                            </dxo-filter-panel>
                            <dxo-header-filter [visible]="true">
                            </dxo-header-filter>
                            <dxo-load-panel [enabled]="true"></dxo-load-panel>
                            <dxo-sorting mode="multiple"></dxo-sorting>

                            <dxo-paging [pageSize]="15"></dxo-paging>
                            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>

                            <dxi-column [width]="37" cellTemplate="turnoverCellTemplate"></dxi-column>
                            <dxi-column [visible]="shouldActivateContactCampaignPartners === true" dataField="type" caption="Tip campanie" alignment="left" cellTemplate="typeCellTemplate" [width]="dataGridColumnsWidth.tipCampanie + '%'">
                            </dxi-column>

                            <dxi-column dataField="name" caption="Partener" dataType="string" alignment="left" [width]="dataGridColumnsWidth.nume + '%'" cellTemplate="partnerNameCellTemplate">
                                <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                </dxi-validation-rule>
                                <dxi-validation-rule type="stringLength" [max]="200"
                                    message="Lungimea maximă depășită!"></dxi-validation-rule>
                            </dxi-column>
                            <dxi-column dataField="website" caption="Site" dataType="string" alignment="left" [width]="dataGridColumnsWidth.site + '%'">
                                <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                </dxi-validation-rule>
                                <dxi-validation-rule type="stringLength" [max]="200"
                                    message="Lungimea maximă depășită!"></dxi-validation-rule>
                            </dxi-column>
                            <dxi-column dataField="email" caption="Email" dataType="string" alignment="left" [width]="dataGridColumnsWidth.email + '%'">
                                <dxi-validation-rule type="stringLength" [max]="250"
                                    message="Lungimea maximă depășită!"></dxi-validation-rule>
                            </dxi-column>

                            <dxi-column dataField="contactFullName" caption="Contact" dataType="string" alignment="left" [width]="dataGridColumnsWidth.contactFullName + '%'">
                            </dxi-column>

                            <dxi-column dataField="caLastYear" caption="CA-1"  dataType="number" alignment="right" [width]="dataGridColumnsWidth.ca1 + '%'" cellTemplate="caLastYearCellTemplate" cssClass="column-blue"></dxi-column>

                            <dxi-column dataField="pfLastYear" caption="PF-1"  dataType="number" alignment="right" [width]="dataGridColumnsWidth.pf1 + '%'" cellTemplate="pfLastYearCellTemplate" cssClass="column-blue"></dxi-column>

                            <dxi-column dataField="naLastYear" caption="NA-1"  dataType="number" alignment="right" [width]="dataGridColumnsWidth.na1 + '%'" cellTemplate="naLastYearCellTemplate" cssClass="column-blue"></dxi-column>

                            <dxi-column dataField="vdLastYear" caption="VD-1"  dataType="number" alignment="right" [width]="dataGridColumnsWidth.vd1 + '%'" cellTemplate="vdLastYearCellTemplate" cssClass="column-blue"></dxi-column>

                            <dxi-column dataField="npLastYear" caption="NP-1"  dataType="number" alignment="right" [width]="dataGridColumnsWidth.np1 + '%'" cellTemplate="npLastYearCellTemplate" cssClass="column-blue"></dxi-column>

                            <dxi-column dataField="salesAgentId" caption="Post" alignment="left" cellTemplate="salesAgentIdCellTemplate" [width]="dataGridColumnsWidth.post + '%'">
                            </dxi-column>

                            <dxi-column dataField="partnerActivityAllocationId" caption="Activitate" alignment="left" [width]="dataGridColumnsWidth.activitate + '%'">
                                <dxo-lookup [dataSource]="partnerActivityAllocation" valueExpr="id" [displayExpr]="getDisplayExprPartnerActivity">
                                </dxo-lookup>
                                <dxi-validation-rule type="required" message="{{'required' | translate}}"></dxi-validation-rule>
                                <dxi-validation-rule type="stringLength" [max]="100" message="Lungimea maximă depășită!"></dxi-validation-rule>
                            </dxi-column>

                            <dxi-column dataField="lastContactDate" caption="Data contactare" dataType="date" format="dd-MM-yyyy"
                                alignment="right" [width]="dataGridColumnsWidth.dataContactare + '%'"></dxi-column>

                            <dxi-column dataField="observations" caption="Observatii" cellTemplate="observationsCellTemplate"
                                dataType="string" alignment="left" [width]="dataGridColumnsWidth.observatii + '%'">
                                <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                </dxi-validation-rule>
                                <dxi-validation-rule type="stringLength" [max]="100"
                                    message="Lungimea maximă depășită!"></dxi-validation-rule>
                            </dxi-column>

                            <div *dxTemplate="let data of 'vdLastYearCellTemplate'">
                                {{getVdLastYearExpr(data.data)}}
                            </div>
                            <div *dxTemplate="let data of 'vdLast2YearsCellTemplate'">
                                {{getVdLast2YearsExpr(data.data)}}
                            </div>
                            <div *dxTemplate="let data of 'pfLastYearCellTemplate'">
                                <div [ngStyle]="{'color': data.data.pfLastYear < 0 ? '#f44336' : null }">
                                    {{getPfLastYearExpr(data.data)}}
                                </div>
                            </div>
                            <div *dxTemplate="let data of 'pfLast2YearsCellTemplate'">
                                <div [ngStyle]="{'color': data.data.pfLast2Years < 0 ? '#f44336' : null }">
                                    {{getPfLast2YearsExpr(data.data)}}
                                </div>
                            </div>
                            <div *dxTemplate="let data of 'caLastYearCellTemplate'">
                                {{getCaLastYearExpr(data.data)}}
                            </div>
                            <div *dxTemplate="let data of 'naLastYearCellTemplate'">
                                {{getNaLastYearExpr(data.data)}}
                            </div>
                            <div *dxTemplate="let data of 'npLastYearCellTemplate'">
                                {{getNpLastYearExpr(data.data)}}
                            </div>
                            <div *dxTemplate="let data of 'caLast2YearsCellTemplate'">
                                {{getCaLast2YearsExpr(data.data)}}
                            </div>
                            <div *dxTemplate="let data of 'naLast2YearsCellTemplate'">
                                {{getNaLast2YearsExpr(data.data)}}
                            </div>
                            <div *dxTemplate="let data of 'npLast2YearsCellTemplate'">
                                {{getNpLast2YearsExpr(data.data)}}
                            </div>

                            <div *dxTemplate="let data of 'partnerNameCellTemplate'">
                                <span class="clickable-link" (click)="onPartnerNameClick(data)">{{data.data.name}}</span>
                            </div>

                            <div *dxTemplate="let data of 'turnoverCellTemplate'">
                                <i class="fa fa-registered fa-2x" style='padding-right : 15px' href="javascript:void(0)" title="Rulaj" (click)="goToTurnoverDetails(data.data)"></i>
                            </div>                
                            
                            <div *dxTemplate="let data of 'observationsCellTemplate'">
                                <i class="fa fa-info-circle fa-2x" style='padding-right : 15px' *ngIf="canUpdate()"
                                href="javascript:void(0)" title="Istoric observatii" (click)="openPartnerObservationsDetails(data.data)"></i>
                                {{ data.data.observations }}
                            </div>

                            <div *dxTemplate="let data of 'typeCellTemplate'">
                                {{getTypeCellData(data.data)}}
                            </div>

                            <div *dxTemplate="let data of 'salesAgentIdCellTemplate'">
                                {{getSalesAgentIdCellData(data.data)}}
                            </div>
                        </dx-data-grid>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<dx-popup [(visible)]="isPopupVisible" [closeOnOutsideClick]="true">
    <app-partner-observations-details #partnerObservationsDetailsComponent></app-partner-observations-details>
</dx-popup>

<dx-tooltip position="right">
    <div *dxTemplate="let data of 'content'">
      <div class='tooltipContent'>
        <div>
            <b>Post: </b><span id="tooltipPost"></span>
        </div>
        <div>
            <b>User: </b><span id="tooltipUser"></span>
        </div>
      </div>
    </div>
</dx-tooltip>

<dx-tooltip 
    [target]="'#hbdContactCampaignDescription'"
    [visible]="isHappyBirthDayCampaignCountTooltipVisible"
    [position]="{ my: 'top', at: 'bottom', of: '#hbdContactCampaignDescription' }">
    <div *dxTemplate="let data of 'content'" class="label-tooltip-campaign-description-data" position="top">
        {{ happyBirthDayCampaignTooltipData }}
    </div>
</dx-tooltip>

<dx-tooltip 
    [target]="'#locationContactCampaignDescription'"
    [visible]="isLocationCampaignCountTooltipVisible"
    [position]="{ my: 'top', at: 'bottom', of: '#locationContactCampaignDescription' }">
    <div *dxTemplate="let data of 'content'" class="label-tooltip-campaign-description-data" position="top">
        <div [style.white-space]="'pre-wrap'">
            {{ locationCampaignTooltipData }}
        </div>
    </div>
</dx-tooltip>

<dx-popup
    width="900" height="150"
    [showTitle]="true"
    title="Mesaj Campanie"
    [dragEnabled]="true"
    [closeOnOutsideClick]="false" [shading]="false"
    [(visible)]="isHappyBirthDayCampaignCountPopupVisible">
        <div>
            {{ happyBirthDayCampaignPopupData }}
        </div>
</dx-popup>

<dx-popup
    width="900" height="150"
    [showTitle]="true"
    title="Mesaj Campanie"
    [dragEnabled]="true"
    [closeOnOutsideClick]="false" [shading]="false"
    [(visible)]="isLocationCampaignCountPopupVisible">
        <div>
            {{ locationCampaignPopupData }}
        </div>
</dx-popup>