<app-spinner [visible]="loaded"></app-spinner>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-6">
        <br>
        <dx-validation-group #validationGroup>
        <div class="form-group row">
            <div class="col-2 dx-field-label text-md-right">Ziua*:</div>
            <div class="col-md-2 col-lg-2">
                <dx-date-box [(ngModel)]="selectedDayDate" type="date" displayFormat="dd-MM-yyyy" (onValueChanged)="getData()">
                    <dx-validator>
                        <dxi-validation-rule type="required" message="{{'required' | translate}}">
                        </dxi-validation-rule>
                    </dx-validator>
                </dx-date-box>
            </div>
            <div class="col-2 dx-field-label text-md-right">Grupa target:</div>
            <div class="col-md-2 col-lg-2">
                <dx-select-box [dataSource]="salesGroupTargets" [displayExpr]="getGroupTargetDisplayExpr" [(ngModel)]="selectedGroupTarget" valueExpr="id" [searchEnabled]="true">
                    <dx-validator>
                        <dxi-validation-rule type="required" message="{{'required' | translate}}">
                        </dxi-validation-rule>
                    </dx-validator>
                </dx-select-box>
            </div>
            <div class="col-2 dx-field-label text-md-right">
                <dx-button text="Genereaza" (onClick)="getData()">
                </dx-button>
            </div>
        </div>
        </dx-validation-group>
        </div>    
</div>

<br>
<hr>
<br>

<dx-data-grid #dataGrid [dataSource]="gridDataSource" [allowColumnResizing]="true" [showBorders]="true" [rowAlternationEnabled]="true" 
[columnMinWidth]="15" [columnAutoWidth]="true"
(onSelectionChanged)="onSelectionChanged($event)" (onRowPrepared)="onRowPrepared($event)" (onCellPrepared)="onCellPrepared($event)"
[columns]="gridColumns" [wordWrapEnabled]="true">
<dxo-selection mode="multiple" showCheckBoxesMode="always"></dxo-selection>
<dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
<dxo-filter-row [visible]="true"></dxo-filter-row>
<dxo-paging [pageSize]="25"></dxo-paging>
<dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[25, 50, 100]"></dxo-pager>

<div *dxTemplate="let data of 'cellTemplate'">
    <div [ngStyle]="addStyle(data)">{{data.text}}</div>
</div>
</dx-data-grid>
