<app-spinner [visible]="loaded"></app-spinner>
<div class="main-content">
    <div class="container-fluid">
        <div class="card card-plain">
            <app-title [title]="'Target Vanzari'"></app-title>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-6">
                    <br>
                    <ng-container *ngFor="let tab of tabs">
                        <dx-button text="{{tab.text | translate}}" [ngClass]="tab.isActive ? isTabActive : null"
                            (onClick)="toggleMode(tab)">
                        </dx-button>
                        &nbsp;
                    </ng-container>
                    <br>
                    <hr>
                    <div [hidden]="!tabs[0].isActive">
                        <app-sales-group-target #salesGroupTarget></app-sales-group-target>
                    </div>
                    <div [hidden]="!tabs[1].isActive">
                        <div class="mt-4">
                            <app-grid-toolbar #gridToolbar [actions]="actions" [showColumnSettings]="true"
                                [showExcel]="true" [fileName]="'salesTarget'" [showPrint]="true" (addEvent)="add()"
                                (refreshEvent)="refreshDataGrid()" (deleteEvent)="deleteRecords($event)"
                                [showInfo]="true" [infoText]="infoButton">
                            </app-grid-toolbar>
                            <div class="float-none" style="clear: both;"></div>
                        </div>
                        <div class="mt-4"></div>
                        <dx-data-grid id="gridContainer" #dataGrid [dataSource]="salesTargets"
                            [rowAlternationEnabled]="true" [showBorders]="false" [allowColumnReordering]="true"
                            (onSelectionChanged)="selectionChanged($event)"
                            (onEditorPreparing)="onEditorPreparing($event)">
                            <dxo-selection mode="multiple" showCheckBoxesMode="always"></dxo-selection>
                            <dxo-filter-row [visible]="true"></dxo-filter-row>
                            <dxo-filter-panel [visible]="true">
                            </dxo-filter-panel>
                            <dxo-export [enabled]="canExport()" [allowExportSelectedData]="true"></dxo-export>
                            <dxo-header-filter [visible]="true">
                            </dxo-header-filter>
                            <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
                            <dxo-group-panel [visible]="true" [emptyPanelText]="groupedText"></dxo-group-panel>
                            <dxo-load-panel [enabled]="true"></dxo-load-panel>
                            <dxo-sorting mode="multiple"></dxo-sorting>

                            <dxo-paging [pageSize]="15"></dxo-paging>
                            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>
                            <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>

                            <dxi-column dataField="saleGroupTargetId" caption="Grupa Target" alignment="left">
                                <dxo-lookup [dataSource]="salesGroupTargets" valueExpr="id"
                                    [displayExpr]="getSaleGroupDisplayExpr">
                                </dxo-lookup>
                                <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                </dxi-validation-rule>
                            </dxi-column>

                            <dxi-column dataField="orderNumber" caption="Numar Ordine" dataType="number"
                                alignment="center">
                            </dxi-column>


                            <dxi-column dataField="code" caption="Cod" dataType="string" alignment="left">
                                <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                </dxi-validation-rule>
                                <dxi-validation-rule type="stringLength" [max]="200"
                                    message="Lungimea maximă depășită!">
                                </dxi-validation-rule>
                            </dxi-column>
                            <dxi-column dataField="name" caption="Nume" dataType="string" alignment="left">
                                <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                </dxi-validation-rule>
                                <dxi-validation-rule type="stringLength" [max]="500"
                                    message="Lungimea maximă depășită!">
                                </dxi-validation-rule>
                            </dxi-column>
                            <dxi-column dataField="description" caption="Descriere" dataType="string" alignment="left">
                                <dxi-validation-rule type="stringLength" [max]="500"
                                    message="Lungimea maximă depășită!">
                                </dxi-validation-rule>
                            </dxi-column>
                            <dxi-column dataField="targetType" caption="Tip Coloana" alignment="center">
                                <dxo-lookup [dataSource]="saleTargetTypes" valueExpr="id" displayExpr="name">
                                </dxo-lookup>
                                <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                </dxi-validation-rule>
                            </dxi-column>
                            <dxi-column dataField="isActive" caption="Valid" dataType="boolean" alignment="center">
                            </dxi-column>

                            <dxi-column caption="Actiuni" cellTemplate="cellTemplate" [width]="250" [minWidth]="250"
                                alignment="center">
                            </dxi-column>
                            <div *dxTemplate="let data of 'cellTemplate'">
                                <i class="fa fa-pencil fa-2x" style='padding-right : 15px' *ngIf="canUpdate()"
                                    href="javascript:void(0)" title="Edit" (click)="openDetails(data.data)"></i>
                                &nbsp;
                                <i class="fa fa-ban fa-2x" style='padding-right : 15px' *ngIf="canDelete()"
                                    href="javascript:void(0)" title="Stergere" (click)="deleteRow(data)"></i>
                            </div>
                        </dx-data-grid>
                    </div>
                    <div [hidden]="!tabs[2].isActive">
                        <app-sales-target-allocation #salesTargetAllocation [(salesTargets)]="salesTargets"
                            [(salesGroupTargets)]="salesGroupTargets" [(saleTargetTypes)]="saleTargetTypes"
                            [(posts)]="allPosts"></app-sales-target-allocation>
                    </div>
                    <div [hidden]="!tabs[3].isActive">
                        <app-sales-target-report #salesTargetReports [(departments)]="departments"
                            [(salesTargets)]="salesTargets" [(salesGroupTargets)]="salesGroupTargets"
                            [(saleTargetTypes)]="saleTargetTypes" [(posts)]="allPosts"></app-sales-target-report>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>


<dx-popup *ngIf="selectedSaleTarget" [width]="1400" [height]="700" [resizeEnabled]="true" [showTitle]="true"
    title="Administrare Target" [showCloseButton]="true" [dragEnabled]="false" [closeOnOutsideClick]="true"
    [(visible)]="salesTargetPopup">
    <dx-validation-group #saleTargetValidationGroup>
        <div class="col-md-12 col-lg-12">
            <div class="row">
                <div class="col-md-2 col-lg-2 dx-field-label text-md-right">Grupa*:</div>
                <div class="col-md-4 col-lg-4">
                    <dx-select-box [dataSource]="salesGroupTargets" [displayExpr]="getSaleGroupDisplayExpr"
                        valueExpr="id" (onValueChanged)="popupSalesGroupChanged($event)"
                        [(ngModel)]="selectedSaleTarget.saleGroupTargetId" [searchEnabled]="true">
                        <dx-validator>
                            <dxi-validation-rule type="required" message="{{'required' | translate}}">
                            </dxi-validation-rule>
                        </dx-validator>
                    </dx-select-box>
                </div>
                <div class="col-md-2 col-lg-2 dx-field-label text-md-right">Cod*:</div>
                <div class="col-md-4 col-lg-4">
                    <dx-text-box [(ngModel)]="selectedSaleTarget.code">
                        <dx-validator>
                            <dxi-validation-rule type="required" message="{{'required' | translate}}">
                            </dxi-validation-rule>
                        </dx-validator>
                    </dx-text-box>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-lg-2 dx-field-label text-md-right">Denumire*:</div>
                <div class="col-md-4 col-lg-4">
                    <dx-text-box [(ngModel)]="selectedSaleTarget.name">
                        <dx-validator>
                            <dxi-validation-rule type="required" message="{{'required' | translate}}">
                            </dxi-validation-rule>
                        </dx-validator>
                    </dx-text-box>
                </div>
                <div class="col-md-2 col-lg-2 dx-field-label text-md-right">Descriere:</div>
                <div class="col-md-4 col-lg-4">
                    <dx-text-box [(ngModel)]="selectedSaleTarget.description">
                    </dx-text-box>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-lg-2 dx-field-label text-md-right">Format*:</div>
                <div class="col-md-4 col-lg-4">
                    <dx-select-box [dataSource]="saleTargetTypes" displayExpr="name" valueExpr="id"
                        [(ngModel)]="selectedSaleTarget.targetType" [searchEnabled]="true"
                        [disabled]="selectedSaleTarget.id">
                        <dx-validator>
                            <dxi-validation-rule type="required" message="{{'required' | translate}}">
                            </dxi-validation-rule>
                        </dx-validator>
                    </dx-select-box>
                </div>
                <div *ngIf="selectedSaleTarget.targetType == 7" class="col-md-2 col-lg-2 dx-field-label text-md-right">Text Custom:
                </div>
                <div *ngIf="selectedSaleTarget.targetType == 7" class="col-md-4 col-lg-4">
                    <dx-text-box [(ngModel)]="selectedSaleTarget.customTypeText">
                    </dx-text-box>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2 col-lg-2 dx-field-label text-md-right">Numar Ordine:</div>
                <div class="col-md-4 col-lg-4">
                    <dx-text-box [(ngModel)]="selectedSaleTarget.orderNumber">
                    </dx-text-box>
                </div>

                <div class="col-md-2 col-lg-2 dx-field-label text-md-right">Valida:</div>
                <div class="col-md-4 col-lg-4">
                    <dx-check-box [(ngModel)]="selectedSaleTarget.isActive">
                    </dx-check-box>
                </div>
            </div>
            <hr>
            <dx-button *ngIf="!selectedSaleTarget.id" text="Salveaza" (onClick)="saveData()">
            </dx-button>
            &nbsp; &nbsp; &nbsp;
            <dx-button *ngIf="selectedSaleTarget.id" text="Modifica" (onClick)="updateData()">
            </dx-button>
            &nbsp; &nbsp; &nbsp;
            <dx-button text="Anuleaza" (onClick)="closePopup()">
            </dx-button>

            <div *ngIf="selectedSaleTarget.saleGroupTargetId && popupDataGrid && popupDataGrid.length">
                <dx-data-grid id="gridSalesGriuo" [dataSource]="popupDataGrid" [width]="1300"
                    [rowAlternationEnabled]="true" [showBorders]="false" [allowColumnReordering]="true">
                    <dxo-filter-row [visible]="true"></dxo-filter-row>
                    <dxo-filter-panel [visible]="true">
                    </dxo-filter-panel>
                    <dxo-load-panel [enabled]="true"></dxo-load-panel>
                    <dxo-sorting mode="multiple"></dxo-sorting>
                    <dxo-paging [pageSize]="5"></dxo-paging>
                    <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
                    <dxi-column dataField="saleGroupTargetId" caption="Grupa Target" alignment="left">
                        <dxo-lookup [dataSource]="salesGroupTargets" valueExpr="id"
                            [displayExpr]="getSaleGroupDisplayExpr">
                        </dxo-lookup>
                    </dxi-column>
                    <dxi-column dataField="code" caption="Cod" dataType="string" alignment="left">
                    </dxi-column>
                    <dxi-column dataField="name" caption="Nume" dataType="string" alignment="left">
                    </dxi-column>
                    <dxi-column dataField="description" caption="Descriere" dataType="string" alignment="left">
                    </dxi-column>
                    <dxi-column dataField="isActive" caption="Valid" dataType="boolean" alignment="center">
                    </dxi-column>
                </dx-data-grid>
            </div>
        </div>
    </dx-validation-group>
</dx-popup>