.fa-pencil, .fa-clone, .fa-ban, .fa-check-circle {
    color: rgb(196, 0, 0);
  }
  
  .maxWidth {
    width: 200%;
  }
  
  .success {
      color: #fcfcfc;
      background-color: #4caf50;
    }
    
    .danger {
      color: #fcfcfc;
      background-color: #f44336;
    }  
    
    .warning {
      color: #fcfcfc;
      background-color: #ffeb3b;
    } 
    
    .primary {
      color: #fcfcfc;
      background-color: #2196f3;
    } 
    
    .info {
      color: #fcfcfc;
      background-color: #00bcd4;
    } 
    
    .secondary {
      color: #fcfcfc;
      background-color: #6c757d;
    } 
  
    ::ng-deep .col-3.dx-field-label {
      max-width: none !important;
    }

    .row {
      margin-left: -10px;
      margin-right: -10px; 
    }
  
    .row > .col,
    .row > [class*='col-'] {
      padding-left: 5px; 
      padding-right: 5px;
    }
    
    
    