<div *ngIf="contactCampaign">
    <hr>
    <dx-validation-group #validationGroup *ngIf="contactCampaign && !contactCampaign.parentCampaign">
        <div class="modal-body">
          
            <div class="form-group row">
                <div class="col-md-12 col-lg-12">
                    <div class="row">
                       <div class="col-md-7 col-lg-7">
                            <div class="row">
                                <div class="col-1 dx-field-label text-md-right">Cod*:</div>
                                <div class="col-md-1 col-lg-1">
                                    <dx-text-box [(ngModel)]="contactCampaign.code" 
                                    [ngModelOptions]="{standalone: true}" [maxLength]="100">
                                    <dx-validator>
                                        <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                        </dxi-validation-rule>
                                    </dx-validator>
                                    </dx-text-box>
                                </div>
                
                                <div class="col-1 dx-field-label text-md-right">Nume*:</div>
                                <div class="col-md-1 col-lg-1">
                                    <dx-text-box [(ngModel)]="contactCampaign.name"
                                    [ngModelOptions]="{standalone: true}" [maxLength]="200">
                                    <dx-validator>
                                        <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                        </dxi-validation-rule>
                                    </dx-validator>
                                    </dx-text-box>
                                </div>
                
                                <div class="col-1 dx-field-label text-md-right">De la*:</div>
                                <div class="col-md-1 col-lg-1">
                                    <dx-date-box [(ngModel)]="contactCampaign.startDate" type="date"
                                     displayFormat="dd-MM-yyyy">
                                     <dx-validator>
                                        <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                        </dxi-validation-rule>
                                    </dx-validator>
                                     </dx-date-box>
                                </div>
                
                                <div class="col-1 dx-field-label text-md-right">Pana la*:</div>
                                <div class="col-md-1 col-lg-1">
                                    <dx-date-box [(ngModel)]="contactCampaign.endDate" type="date"
                                     displayFormat="dd-MM-yyyy">
                                     <dx-validator>
                                        <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                        </dxi-validation-rule>
                                    </dx-validator>
                                    </dx-date-box>
                                </div>

                                <div class="col-1 dx-field-label text-md-right">Zile inainte*:</div>
                                <div class="col-md-1 col-lg-1">
                                    <dx-number-box
                                        [(ngModel)]="contactCampaign.daysBefore"
                                        [min]="0"
                                        [showSpinButtons]="true">
                                        <dx-validator>
                                            <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                            </dxi-validation-rule>
                                        </dx-validator>
                                    </dx-number-box>
                                </div>
                
                                <div class="col-1 dx-field-label text-md-right">Zile dupa*:</div>
                                <div class="col-md-1 col-lg-1">
                                    <dx-number-box
                                        [(ngModel)]="contactCampaign.daysAfter"
                                        [min]="0"
                                        [showSpinButtons]="true">
                                        <dx-validator>
                                            <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                            </dxi-validation-rule>
                                        </dx-validator>
                                    </dx-number-box>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-lg-3">
                            <div class="row">
                                <div class="col-1 dx-field-label text-md-right" *ngIf="contactCampaign && contactCampaign.id" title="Activ">Activ:</div>
                                <div class="col-md-1 col-lg-1" *ngIf="contactCampaign && contactCampaign.id">
                                    <dx-check-box  [(ngModel)]="contactCampaign.isActive"></dx-check-box>
                                </div>               
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-12 col-lg-12">
                    <div class="row">
                        <div class="col-md-7 col-lg-7">
                           <div class="row">
                                <div class="col-1 dx-field-label text-md-right">Descriere*:</div>
                                <div class="col-md-11 col-lg-11">
                                    <dx-text-area [(ngModel)]="contactCampaign.description" [ngModelOptions]="{standalone: true}" [height]="125" [maxLength]="500">
                                        <dx-validator>
                                            <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                            </dxi-validation-rule>
                                        </dx-validator>
                                    </dx-text-area>
                                </div>
                           </div>
                        </div>
                    </div>
                </div>
            </div>     

            <div class="form-group row">
                <div class="col-md-12 col-lg-12">
                    <div class="row">
                        <div class="col-md-7 col-lg-7">
                           <div class="row">
                                <div class="col-1 dx-field-label text-md-right">Mesaj agent:</div>
                                <div class="col-md-11 col-lg-11">
                                    <dx-text-area [(ngModel)]="contactCampaign.agentMessage" [ngModelOptions]="{standalone: true}" [height]="125" [maxLength]="200">
                                    </dx-text-area>
                                </div>
                           </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row" *ngIf="contactCampaign && !contactCampaign.isActive">
                <div class="col-md-12 col-lg-12">
                    <div class="row">
                        <div class="col-md-7 col-lg-7">
                           <div class="row">
                                <div class="col-1 dx-field-label text-md-right">Motiv inchidere*:</div>
                                <div class="col-md-11 col-lg-11">
                                    <dx-text-area [(ngModel)]="contactCampaign.observationsToStop" [ngModelOptions]="{standalone: true}" [height]="150">
                                        <dx-validator>
                                            <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                            </dxi-validation-rule>
                                        </dx-validator>
                                    </dx-text-area>
                                </div>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dx-validation-group>

    <dx-validation-group #validationGroup *ngIf="contactCampaign && contactCampaign.parentCampaign && contactCampaign.parentCampaign.id">
        <div class="modal-body">
          
            <div class="form-group row">
                <div class="col-md-12 col-lg-12">
                    <div class="row">
                       <div class="col-md-7 col-lg-7">
                            <div class="row">
                                <div class="col-1 dx-field-label text-md-right">Cod*:</div>
                                <div class="col-md-1 col-lg-1">
                                    <dx-text-box [(ngModel)]="contactCampaign.parentCampaign.code" 
                                    [ngModelOptions]="{standalone: true}" [maxLength]="100">
                                    <dx-validator>
                                        <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                        </dxi-validation-rule>
                                    </dx-validator>
                                    </dx-text-box>
                                </div>
                
                                <div class="col-1 dx-field-label text-md-right">Nume*:</div>
                                <div class="col-md-1 col-lg-1">
                                    <dx-text-box [(ngModel)]="contactCampaign.parentCampaign.name"
                                    [ngModelOptions]="{standalone: true}" [maxLength]="200">
                                    <dx-validator>
                                        <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                        </dxi-validation-rule>
                                    </dx-validator>
                                    </dx-text-box>
                                </div>

                                <div class="col-1 dx-field-label text-md-right">De la*:</div>
                                <div class="col-md-1 col-lg-1">
                                    <dx-date-box [(ngModel)]="contactCampaign.parentCampaign.startDate" type="date"
                                    displayFormat="dd-MM-yyyy">
                                    <dx-validator>
                                        <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                        </dxi-validation-rule>
                                    </dx-validator>
                                    </dx-date-box>
                                </div>
                
                                <div class="col-1 dx-field-label text-md-right">Pana la*:</div>
                                <div class="col-md-1 col-lg-1">
                                    <dx-date-box [(ngModel)]="contactCampaign.parentCampaign.endDate" type="date"
                                    displayFormat="dd-MM-yyyy">
                                    <dx-validator>
                                        <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                        </dxi-validation-rule>
                                    </dx-validator>
                                    </dx-date-box>
                                </div>

                                <div class="col-1 dx-field-label text-md-right">Zile inainte*:</div>
                                <div class="col-md-1 col-lg-1">
                                    <dx-number-box
                                        [(ngModel)]="contactCampaign.childCampaign.daysBefore"
                                        [min]="0"
                                        [showSpinButtons]="true">
                                        <dx-validator>
                                            <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                            </dxi-validation-rule>
                                        </dx-validator>
                                    </dx-number-box>
                                </div>

                                <div class="col-1 dx-field-label text-md-right">Zile dupa*:</div>
                                <div class="col-md-1 col-lg-1">
                                    <dx-number-box
                                        [(ngModel)]="contactCampaign.childCampaign.daysAfter"
                                        [min]="0"
                                        [showSpinButtons]="true">
                                        <dx-validator>
                                            <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                            </dxi-validation-rule>
                                        </dx-validator>
                                    </dx-number-box>
                                </div>
                            </div>
                       </div>
        
                        <div class="col-md-3 col-lg-3">
                            <div class="row">
                                <div class="col-1 dx-field-label text-md-right" *ngIf="contactCampaign && contactCampaign.parentCampaign && contactCampaign.parentCampaign.id" title="Activ">Activ:</div>
                                <div class="col-md-1 col-lg-1" *ngIf="contactCampaign && contactCampaign.parentCampaign && contactCampaign.parentCampaign.id">
                                    <dx-check-box  [(ngModel)]="contactCampaign.parentCampaign.isActive"></dx-check-box>
                                </div>               
                            </div>
                        </div>
                    </div>
                </div>            
            </div>

            <div class="form-group row">
                <div class="col-md-12 col-lg-12">
                    <div class="row">
                        <div class="col-md-7 col-lg-7">
                           <div class="row">
                                <div class="col-1 dx-field-label text-md-right">Descriere*:</div>
                                <div class="col-md-11 col-lg-11">
                                    <dx-text-area [(ngModel)]="contactCampaign.parentCampaign.description" [ngModelOptions]="{standalone: true}" [height]="125" [maxLength]="500">
                                        <dx-validator>
                                            <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                            </dxi-validation-rule>
                                        </dx-validator>
                                    </dx-text-area>
                                </div>
                           </div>
                        </div>
                    </div>
                </div>
            </div>     

            <div class="form-group row">
                <div class="col-md-12 col-lg-12">
                    <div class="row">
                        <div class="col-md-7 col-lg-7">
                           <div class="row">
                                <div class="col-1 dx-field-label text-md-right">Mesaj agent:</div>
                                <div class="col-md-11 col-lg-11">
                                    <dx-text-area [(ngModel)]="contactCampaign.parentCampaign.agentMessage" [ngModelOptions]="{standalone: true}" [height]="125" [maxLength]="200">
                                    </dx-text-area>
                                </div>
                           </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row" *ngIf="contactCampaign && contactCampaign.parentCampaign && !contactCampaign.parentCampaign.isActive">
                <div class="col-md-12 col-lg-12">
                    <div class="row">
                        <div class="col-md-7 col-lg-7">
                           <div class="row">
                                <div class="col-1 dx-field-label text-md-right">Motiv inchidere*:</div>
                                <div class="col-md-11 col-lg-11">
                                    <dx-text-area [(ngModel)]="contactCampaign.parentCampaign.observationsToStop" [ngModelOptions]="{standalone: true}" [height]="150">
                                        <dx-validator>
                                            <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                            </dxi-validation-rule>
                                        </dx-validator>
                                    </dx-text-area>
                                </div>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dx-validation-group>

    <hr>

    <dx-button *ngIf="contactCampaign && !contactCampaign.parentCampaign" text="{{'buttons.save' | translate}}" (onClick)="saveData()"></dx-button>

    &nbsp;

    <dx-button *ngIf="contactCampaign && contactCampaign.parentCampaign && contactCampaign.parentCampaign.id" text="{{'buttons.update' | translate}}" (onClick)="updateData()"></dx-button>

    &nbsp;

    <dx-button text="{{'buttons.back' | translate}}" type="danger" (onClick)="back()"></dx-button>
</div>