<app-spinner [visible]="loaded"></app-spinner>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-6">
            <div class="mt-4">
                <app-grid-toolbar #auctionReviewGridToolbar [actions]="actions" [showColumnSettings]="true"
                    [showExcel]="true" [fileName]="'auctionReviews'" [showPrint]="true" (addEvent)="add()" (displayEvent)="displayDataEvent($event)" 
                    (refreshEvent)="refreshDataGrid()" (deleteEvent)="deleteRecords($event)">
                </app-grid-toolbar>
                <div class="float-none" style="clear: both;"></div>
            </div>
            <div class="mt-4"></div>
            <dx-data-grid id="auctionReviewGridContainer" #auctionReviewDataGrid [dataSource]="auctionReviews" [rowAlternationEnabled]="true"
                [showBorders]="false" [allowColumnReordering]="true"
                (onSelectionChanged)="selectionChanged($event)" (onEditorPreparing)="onEditorPreparing($event)"
                (onRowInserting)="onRowInserting($event)">
                <dxo-selection mode="multiple" showCheckBoxesMode="always"></dxo-selection>
                <dxo-filter-row [visible]="true"></dxo-filter-row>
                <dxo-filter-panel [visible]="true">
                </dxo-filter-panel>
                <dxo-header-filter [visible]="true">
                </dxo-header-filter>
                <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
                <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
                <dxo-group-panel [visible]="true" [emptyPanelText]="groupedText"></dxo-group-panel>
                <dxo-load-panel [enabled]="true"></dxo-load-panel>
                <dxo-sorting mode="multiple"></dxo-sorting>
                <dxo-editing mode="form">
                    <dxo-form>
                        <dxi-item dataField="code"></dxi-item>
                        <dxi-item dataField="name"></dxi-item>
                        <dxi-item dataField="description"></dxi-item>
                    </dxo-form>
                </dxo-editing>
                <dxo-paging [pageSize]="100"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>
                <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
              
                <dxi-column dataField="code" caption="Cod" dataType="string" alignment="left">
                    <dxi-validation-rule type="required" message="{{'required' | translate}}">
                    </dxi-validation-rule>
                    <dxi-validation-rule type="stringLength" [max]="500" message="Lungimea maximă depășită!">
                    </dxi-validation-rule>
                </dxi-column>
                <dxi-column dataField="name" caption="Nume" dataType="string" alignment="left">
                    <dxi-validation-rule type="required" message="{{'required' | translate}}">
                    </dxi-validation-rule>
                    <dxi-validation-rule type="stringLength" [max]="2000" message="Lungimea maximă depășită!">
                    </dxi-validation-rule>
                </dxi-column>

                <dxi-column dataField="description" caption="Observatie" dataType="string" alignment="left">
                    <dxi-validation-rule type="stringLength" [max]="100" message="Lungimea maximă depășită!">
                    </dxi-validation-rule>
                </dxi-column>

                <dxi-column dataField="created" caption="Data Creat" dataType="date" format="dd-MM-yyyy HH:mm" alignment="left">
                </dxi-column>

                <dxi-column dataField="createdBy" caption="Creat de" alignment="center">
                    <dxo-lookup [dataSource]="users" valueExpr="id" [displayExpr]="getDisplayUserExpr">
                    </dxo-lookup>
                </dxi-column>

            </dx-data-grid>
        <br>
    </div>
</div>