<div class="bnr-robor-card">
    <h5><b>Robor</b></h5>
    <div class="form-group row">
        <div class="col-md-12">
            <div class="row align-items-center">
                <div class="col-auto dx-field-label text-md-right">De la:</div>
                <div class="col-2">
                    <dx-date-box [(ngModel)]="bnrRoborRequest.startDate" [ngModelOptions]="{standalone: true}" type="date"
                        (onValueChanged)="onFilterChange($event)">
                    </dx-date-box>
                </div>

                <div class="col-auto dx-field-label text-md-right">Pana la:</div>
                <div class="col-2">
                    <dx-date-box [(ngModel)]="bnrRoborRequest.stopDate" [ngModelOptions]="{standalone: true}" type="date"
                        (onValueChanged)="onFilterChange($event)">
                    </dx-date-box>
                </div>
            </div>
        </div>
    </div>
     <app-spinner [visible]="loaded"></app-spinner>
    <div>
        <div class="container-fluid">
            <div class="card card-plain">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-6">
                        <dx-data-grid id="gridContainer" #dataGrid [dataSource]="bnrRobor" 
                            [rowAlternationEnabled]="true" [showBorders]="false" [allowColumnReordering]="true">

                            <dxo-filter-row [visible]="true"></dxo-filter-row>
                            <dxo-filter-panel [visible]="true"></dxo-filter-panel>
                            <dxo-header-filter [visible]="true"></dxo-header-filter>
                            <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
                            <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
                            <dxo-group-panel [visible]="true" [emptyPanelText]="groupedText"></dxo-group-panel>
                            <dxo-load-panel [enabled]="true"></dxo-load-panel>
                            <dxo-sorting mode="multiple"></dxo-sorting>

                            <dxo-paging [pageSize]="15"></dxo-paging>
                            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>
                            <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>

                            <dxi-column dataField="date" caption="Data" dataType="string" alignment="right"></dxi-column>

                            <dxi-column dataField="roborOvernight" caption="O/N" dataType="string" alignment="right"></dxi-column>

                            <dxi-column dataField="roborTomorrowNext" caption="T/N" dataType="string"  alignment="right"></dxi-column>

                            <dxi-column dataField="robor1W" caption="1W" dataType="string" alignment="right"></dxi-column>

                            <dxi-column dataField="robor1M" caption="1M" dataType="string" alignment="right"></dxi-column>

                            <dxi-column dataField="robor3M" caption="3M" dataType="string" alignment="right"></dxi-column>

                            <dxi-column dataField="robor6M" caption="6M" dataType="string" alignment="right"></dxi-column>

                            <dxi-column [visible]="shouldDisplayRobor9M" dataField="robor9M" caption="9M" dataType="string" alignment="right"></dxi-column>

                            <dxi-column dataField="robor12M" caption="12M" dataType="string" alignment="right"></dxi-column>
                        </dx-data-grid>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>