<div class="form-group row">
    <div class="col-md-6 col-lg-6">
        <div class="row">
            <div class="col-md-2 col-lg-2 dx-field-label">Stare Abonare:</div>
            <div class="col-md-8 col-lg-8">
                <dx-drop-down-box [(value)]="subscriptionValue" [deferRendering]="false"
                    [displayExpr]="subscriptionDisplayExpr" placeholder="Selectati o valoare..."
                    [showClearButton]="true" [dataSource]="subscriptionDataSource" width="800" (onValueChanged)="subscriptionOnValueChanged()">
                    <div *dxTemplate="let data of 'content'">
                        <dx-data-grid [dataSource]="subscriptionDataSource"
                            [selection]="{ mode: 'single' }" [columnAutoWidth]="true"
                            [hoverStateEnabled]="true" [paging]="{ enabled: true, pageSize: 10 }"
                            [filterRow]="{ visible: true }" [columnAutoWidth]="true" 
                            [(selectedRowKeys)]="subscriptionValue" height="100%">
                            <dxi-column dataField="customerStatusAndSubscription" caption="{{tableColumns.customerStatusAndSubscription | translate}}"></dxi-column>
                            <dxi-column dataField="partnerStatus" caption="{{tableColumns.partnerStatus | translate}}"></dxi-column>
                            <dxi-column dataField="description" caption="{{tableColumns.description | translate}}"></dxi-column>
                        </dx-data-grid>
                    </div>
                </dx-drop-down-box>
            </div>
        </div>
    </div>
</div>
<div class="mt-4"></div>
<dx-data-grid #subscriptionDataGrid [visible]="showSubscriptionTable()" [dataSource]="partnerSubscriptionAllocation" (onRowPrepared)="onRowPrepared($event)" >
    <dxo-editing mode="cell" allowUpdating="true"></dxo-editing>
    <dxi-column dataField="sms" caption="SMS" alignment="center" dataType="boolean" [allowEditing]="allowEditingSubscriptionSmsMailWhatsApp()" [width]="120" [minWidth]="80"></dxi-column>
    <dxi-column dataField="email" caption="Mail" alignment="center" dataType="boolean" [allowEditing]="allowEditingSubscriptionSmsMailWhatsApp()" [width]="120" [minWidth]="80"></dxi-column>
    <dxi-column dataField="whatsApp" caption="WhatsApp" alignment="center" dataType="boolean" [allowEditing]="allowEditingSubscriptionSmsMailWhatsApp()" [width]="120" [minWidth]="80"></dxi-column>
    <dxi-column dataField="approved" caption="Aprobat" alignment="center" dataType="boolean" [allowEditing]="shouldAllowApprove" [width]="120" [minWidth]="80"></dxi-column>

    <dxi-column dataField="deleted" caption="Respinge/Sterge" alignment="center" dataType="boolean" [allowEditing]="shouldAllowApprove" [width]="120" [minWidth]="50"></dxi-column>

    <dxi-column dataField="motivation" caption="Motivatie & Observatii" alignment="center" dataType="string"></dxi-column>
</dx-data-grid>

<hr>
<dx-button  type="danger" class="size" (click)="updatePartnerSubscription()">Modifica Stare Abonare</dx-button>
<hr>