<app-spinner [visible]="loaded"></app-spinner>
<div class="main-content">
    <div class="container-fluid" [ngClass]="{'maxWidth':  displayData}">
        <div class="card card-plain">
            <app-title id="title" [title]="'Licitatii'"></app-title>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-6">
                    <br>
                    <ng-container *ngFor="let tab of tabs">
                        <dx-button text="{{tab.text | translate}}" [ngClass]="tab.isActive ? isTabActive : null"
                            (onClick)="toggleMode(tab)">
                        </dx-button>
                        &nbsp;
                    </ng-container>
                    <br>
                    <hr>
                    <div [hidden]="!tabs[0].isActive">
                        <div [hidden]="detailsVisibility">
                            <div>
                                <app-auction-search-filter [cpvCodes]="cpvCodes" [auctionTypes]="auctionTypes"
                                    [auctionParticipationTypes]="auctionParticipationTypes"
                                    [auctionStatusTypes]="auctionStatusTypes" [auctionGroups]="auctionGroups"
                                    [allPosts]="allPosts" [userPostId]="userPostId" (searchEvent)="searchEvent($event)"
                                    (refreshEvent)="refreshEvent($event)"></app-auction-search-filter>
                            </div>

                            <hr>


                            <div class="flex-box">
                                <span>
                                    <div *ngIf="postData && postData.length > 0">
                                        <div *ngFor="let pd of postData">
                                            <b>{{getPostName(pd.postId)}} ( Toate: {{pd.all}}, Aprobate:
                                                {{pd.approved}}, Respinse: {{pd.rejected}} ,Expirate: {{pd.expired}}
                                                )</b>
                                        </div>
                                    </div>
                                </span>
                                <span>
                                    <div *ngIf="auctions.length > 0">
                                        <b>Afisate in tabel: {{auctions.length}}</b> <br>
                                        <b>Fara stare: {{getWithNoStatus()}}</b>
                                    </div>
                                </span>
                            </div>
                            <hr>

                            <div class="mt-4">
                                <app-grid-toolbar #gridToolbar [actions]="actions" [showColumnSettings]="true"
                                    [showExcel]="true" [fileName]="'auctions'" [showPrint]="true"
                                    (addEvent)="openDetails(null)" (displayEvent)="displayDataEvent($event)"
                                    (refreshEvent)="refreshDataGrid()" (deleteEvent)="deleteRecords($event)"
                                    [showInfo]="true" [infoText]="infoButton">
                                </app-grid-toolbar>
                                <div class="float-none" style="clear: both;"></div>
                            </div>

                            <div class="mt-4"></div>
                            <dx-data-grid id="auctionGridContainer" #dataGrid [dataSource]="auctions"
                                (onCellHoverChanged)="onCellHoverChanged($event)" [rowAlternationEnabled]="false"
                                [showBorders]="false" [allowColumnReordering]="true"
                                [allowColumnResizing]="true"
                                (onRowPrepared)="onRowPrepared($event)" (onSelectionChanged)="selectionChanged($event)"
                                (onEditorPreparing)="onEditorPreparing($event)" (onRowUpdated)="onRowUpdated($event)">
                                <dxo-selection mode="multiple" showCheckBoxesMode="always"></dxo-selection>
                                <dxo-filter-row [visible]="true"></dxo-filter-row>
                                <dxo-filter-panel [visible]="true">
                                </dxo-filter-panel>
                                <dxo-header-filter [visible]="true">
                                </dxo-header-filter>
                                <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
                                <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
                                <dxo-group-panel [visible]="true" [emptyPanelText]="groupedText"></dxo-group-panel>
                                <dxo-load-panel [enabled]="true"></dxo-load-panel>
                                <dxo-sorting mode="multiple"></dxo-sorting>

                                <dxo-editing mode="cell" [allowUpdating]="true">
                                </dxo-editing>

                                <dxo-paging [pageSize]="25"></dxo-paging>
                                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]">
                                </dxo-pager>
                                <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>

                                <dxi-column dataField="id" [allowEditing]="false" caption="Numar" dataType="number"
                                    alignment="left" cellTemplate="cellNumberTemplate" [width]="70">
                                </dxi-column>
                                <dxi-column dataField="acquisitionNumber" [allowEditing]="false"
                                    caption="Numar Licitatie" dataType="string" alignment="center">
                                    <dxi-validation-rule type="stringLength" [max]="70"
                                        message="Lungimea maximă depășită!">
                                    </dxi-validation-rule>
                                </dxi-column>
                                <dxi-column dataField="acquisitionerName" [allowEditing]="false"
                                    caption="Denumire Companie" dataType="string" alignment="left" [width]="330">
                                    <dxi-validation-rule type="stringLength" [max]="5000"
                                        message="Lungimea maximă depășită!">
                                    </dxi-validation-rule>
                                </dxi-column>
                                <dxi-column dataField="country" [allowEditing]="false" caption="Tara - Judet"
                                    cellTemplate="cellCountryTemplate" dataType="string" alignment="left">
                                    <dxi-validation-rule type="stringLength" [max]="500"
                                        message="Lungimea maximă depășită!">
                                    </dxi-validation-rule>
                                </dxi-column>
                                <dxi-column dataField="estimatedValue" [allowEditing]="false"
                                    caption="Valoare Estimata (RON)" cellTemplate="cellValueTemplate" dataType="number"
                                    alignment="right">
                                </dxi-column>
                                <dxi-column dataField="endDate" [allowEditing]="false" caption="Termen Limita"
                                    dataType="date" format="dd-MM-yyyy HH:mm" alignment="center">
                                </dxi-column>
                                <dxi-column dataField="acquisitionDate" [allowEditing]="false" caption="Data Licitatie"
                                    dataType="date" format="dd-MM-yyyy HH:mm" alignment="center">
                                </dxi-column>
                                <dxi-column dataField="postId" [allowEditing]="false" caption="Post" dataType="number"
                                    alignment="left">
                                    <dxo-lookup [dataSource]="allPosts" valueExpr="id"
                                        [displayExpr]="getDisplayPostExpr">
                                    </dxo-lookup>
                                </dxi-column>

                                <dxi-column dataField="hasRequestedPrices" caption="Solicitat" [width]="80"
                                    dataType="boolean" alignment="center">
                                </dxi-column>
                                <dxi-column dataField="hasReceivedPrices" caption="Primit" [width]="80"
                                    dataType="boolean" alignment="center">
                                </dxi-column>
                                <dxi-column dataField="isWithoutDocuments" caption="Fara doc" [width]="80"
                                    dataType="boolean" alignment="center">
                                </dxi-column>
                                <dxi-column dataField="result" [allowEditing]="true" caption="Finalizare"
                                    dataType="number" alignment="center">
                                    <dxo-lookup [dataSource]="auctionResultTypes" valueExpr="id" displayExpr="name">
                                    </dxo-lookup>
                                </dxi-column>
                                <dxi-column dataField="status" [allowEditing]="false" caption="Stare" dataType="number"
                                    alignment="center">
                                    <dxo-lookup [dataSource]="auctionStatusTypes" valueExpr="id" displayExpr="name">
                                    </dxo-lookup>
                                </dxi-column>

                                <dxi-column dataField="lotsNumberTo" caption="Loturi" [width]="120" dataType="string"
                                    alignment="center" cellTemplate="cellLotsTemplate">
                                </dxi-column>

                                <dxi-column dataField="acquisitionName" [allowEditing]="false"
                                    caption="Denumire Licitatie" [width]="300" dataType="string" alignment="left">
                                    <dxi-validation-rule type="stringLength" [max]="5000"
                                        message="Lungimea maximă depășită!">
                                    </dxi-validation-rule>
                                </dxi-column>

                                <dxi-column dataField="description" [allowEditing]="false" caption="Note"
                                    dataType="string" alignment="left">
                                </dxi-column>

                                <dxi-column dataField="auctionGroupId" [allowEditing]="false" [visible]="false"
                                    caption="Grup CPV" dataType="number" alignment="left">
                                    <dxo-lookup [dataSource]="auctionGroups" valueExpr="id"
                                        [displayExpr]="getDisplayAuctionTypeExpr">
                                    </dxo-lookup>
                                </dxi-column>

                                <dxi-column dataField="orderNumber" [allowEditing]="false" [visible]="false"
                                    caption="Numar Ordine" dataType="string" alignment="left" [width]="130">
                                    <dxi-validation-rule type="stringLength" [max]="50"
                                        message="Lungimea maximă depășită!">
                                    </dxi-validation-rule>
                                </dxi-column>

                                <dxi-column dataField="auctionTypeId" [allowEditing]="false" caption="Tip Licitatie"
                                    dataType="number" [visible]="false" alignment="left">
                                    <dxo-lookup [dataSource]="auctionTypes" valueExpr="id"
                                        [displayExpr]="getDisplayAuctionTypeExpr">
                                    </dxo-lookup>
                                    <dxi-validation-rule type="required" message="Camp obligatoriu!">
                                    </dxi-validation-rule>
                                </dxi-column>

                                <dxi-column dataField="county" [allowEditing]="false" caption="Judet" [visible]="false"
                                    dataType="string" alignment="center">
                                    <dxi-validation-rule type="stringLength" [max]="500"
                                        message="Lungimea maximă depășită!">
                                    </dxi-validation-rule>
                                </dxi-column>

                                <dxi-column dataField="url" [allowEditing]="false" [visible]="false" caption="URL"
                                    alignment="center">
                                    <dxi-validation-rule type="stringLength" [max]="500"
                                        message="Lungimea maximă depășită!">
                                    </dxi-validation-rule>
                                </dxi-column>

                                <dxi-column caption="Actiuni" cellTemplate="cellTemplate" alignment="center">
                                </dxi-column>
                                <div *dxTemplate="let data of 'cellTemplate'">
                                    <i class="fa fa-pencil fa-2x" style='padding-right : 15px' href="javascript:void(0)"
                                        title="Edit" (click)="openDetails(data.data)"></i>
                                    &nbsp;
                                    <i class="fa fa-ban fa-2x" *ngIf="canDelete()" style='padding-right : 15px'
                                        href="javascript:void(0)" title="Stergere" (click)="deleteRow(data)"></i>
                                    &nbsp;
                                    <i class="fa fa-external-link fa-2x" style='padding-right : 15px'
                                        href="javascript:void(0)" title="Link extern" (click)="openLink(data)"></i>

                                    &nbsp;
                                    <i class="fa fa-folder-open-o fa-2x" *ngIf="data.data.folderUrl"
                                        style='padding-right : 15px' href="javascript:void(0)" title="Folder"
                                        (click)="openFolder(data)"></i>
                                    <!-- &nbsp;
                                    <i class="fa fa-folder-open-o fa-2x" style='padding-right : 15px' href="javascript:void(0)" title="Folder"></i> -->
                                </div>
                                <div *dxTemplate="let data of 'cellCountryTemplate'">
                                    {{getDisplayExprCountry(data.data)}}
                                </div>
                                <div *dxTemplate="let data of 'cellValueTemplate'">
                                    {{getEstimatedValueExpr(data.data)}}
                                </div>
                                <div *dxTemplate="let data of 'cellNumberTemplate'">
                                    {{getDisplayExprNumber(data.data)}}
                                </div>
                                <div *dxTemplate="let data of 'cellLotsTemplate'">
                                    {{getLotsExpr(data.data)}}
                                </div>
                            </dx-data-grid>
                        </div>
                        <div [hidden]="!detailsVisibility">
                            <app-auctions-details #auctionsDetails [(selectedAuction)]="selectedAuction"
                                [auctionGroups]="auctionGroups" [auctionGroupCpvCodes]="auctionGroupCpvCodes"
                                [auctionTypes]="auctionTypes" [cpvCodes]="cpvCodes" [users]="users"
                                [auctionParticipationTypes]="auctionParticipationTypes"
                                [auctionResultTypes]="auctionResultTypes" [auctionStatusTypes]="auctionStatusTypes"
                                [salePosts]="posts" [allPosts]="allPosts" (visible)="changeVisible()">
                            </app-auctions-details>
                        </div>
                    </div>
                    <div [hidden]="!tabs[1].isActive">
                        <app-auction-type #auctionType></app-auction-type>
                    </div>
                    <div [hidden]="!tabs[2].isActive">
                        <app-auction-group #auctionGroup [cpvCodes]="cpvCodes" [posts]="posts"></app-auction-group>
                    </div>
                    <div [hidden]="!tabs[3].isActive">
                        <div class="row">
                            <div class="col-1 dx-field-label text-md-right">Posturi:</div>
                            <div class="col-md-3 col-lg-3">
                                <dx-tag-box [dataSource]="allPosts" [(ngModel)]="postIds" [displayExpr]="postNameExpr"
                                    valueExpr="id" [showSelectionControls]="true" [maxDisplayedTags]="10"
                                    [showMultiTagOnly]="false" applyValueMode="useButtons" [searchEnabled]="true"
                                    [hideSelectedItems]="false">
                                </dx-tag-box>
                            </div>
                        </div>
                        <hr>
                        <dx-button type="danger" text="Salveaza" (onClick)="savePostsAllocation()">
                        </dx-button>
                    </div>
                    <div [hidden]="!tabs[4].isActive">
                        <app-import-auctions #auctionImport [auctionTypes]="auctionTypes" [posts]="allPosts"
                            [countiesDS]="countiesDS" [countriesDS]="countriesDS" [auctionGroups]="auctionGroups">
                        </app-import-auctions>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>


<dx-popover #popOver showEvent="dxhoverstart" hideEvent="dxhoverend">
    <div *dxTemplate="let data of 'content'">
        <p>Popover content</p>
    </div>
</dx-popover>