<footer class="footer ">
    <div class="container-fluid" style="margin-top: 3rem">
        <nav class="pull-left">
            <ul>
                <li>
                        <div class="copyright pull-right">
                            <img src="../../assets/img/vetro.png" width="240" height="60" class="simple-text">
                        </div>
                </li>
            </ul>
        </nav>

        <nav class="pull-center">
            <ul>
                <li>
                    <i class="fa fa-facebook-square fa-4x"></i>
                </li>
                &nbsp;
                <li>
                    <i class="fa fa-snapchat-square fa-4x"></i>
                </li>
                &nbsp;
                <li>
                    <i class="fa fa-whatsapp fa-4x"></i>
                </li>
                &nbsp;
                <li>
                    <i class="fa fa-twitter-square fa-4x"></i>
                </li>
                &nbsp;
                <li>
                    <i class="fa fa-youtube fa-4x"></i>
                </li>
            </ul>
        </nav>
        

        <div class="copyright pull-right">
            V 1.0.1
        </div>

        <div class="copyright pull-right">
            &copy;
            Copyright {{date | date: 'yyyy'}} Vetro Design
        </div>


    </div>
</footer>