<div class="main-content">
    <div class="container-fluid">
        <div class="card card-plain">
            <app-title [title]="'Campanii Contactare'"></app-title>
            <dx-tab-panel>
                <dxi-item title="La multi ani">
                    <div title="">
                        <app-contact-campaign-management-happybirthday>
                        
                        </app-contact-campaign-management-happybirthday>
                    </div>
                </dxi-item>
                <dxi-item title="Locatie">
                        <div title="">
                            <app-contact-campaign-management-location>
                        
                            </app-contact-campaign-management-location>
                        </div>
                 </dxi-item>
            </dx-tab-panel>
        </div>
        
    </div>
</div>