<div class="modal-body">
    <dx-validation-group #validationSearchGroup>
        <div class="form-group row">
            <div class="col-md-6 col-lg-6">
                <div class="row">
                    <div id="nameOrCodeFilter" class="col-md-1 col-lg-1 dx-field-label text-md-right" title="Nume (Cod)">Nume (Cod):</div>
                    <div class="col-md-5 col-lg-5">
                        <dx-autocomplete [dataSource]="nameOrCodeFilterPartners" [(ngModel)]="partnerSearchFilter.customNameOrCode" valueExpr="codeAndName" (onSelectionChanged)="onNameOrCodeFilterItemSelected($event)"
                            (valueChange)="onNameOrCodeFilterSearch($event)" [maxItemCount]="100" itemTemplate="nameOrCodeItemTemplate" [dropDownOptions]="{ minWidth: '600' }">
                            <div *dxTemplate="let item of 'nameOrCodeItemTemplate'">
                                {{ item.code }} - {{ item.name }}
                            </div>
                        </dx-autocomplete>
                    </div>

                    <div id="fiscalCodeFilter" class="col-md-1 col-lg-1 dx-field-label text-md-right" title="CUI">CUI:</div>
                    <div class="col-md-2 col-lg-2">
                        <dx-autocomplete [dataSource]="fiscalCodeFilterPartners" [(ngModel)]="partnerSearchFilter.fiscalCode" valueExpr="fiscalCode" (onSelectionChanged)="onFiscalCodeFilterItemSelected($event)"
                            (valueChange)="onFiscalCodeFilterSearch($event)" [maxItemCount]="100" itemTemplate="fiscalCodeItemTemplate" [dropDownOptions]="{ minWidth: '150' }">
                            <div *dxTemplate="let item of 'fiscalCodeItemTemplate'">
                                {{ item.fiscalCode }}
                            </div>
                        </dx-autocomplete>
                    </div>

                    <div id="emailFilter" class="col-md-1 col-lg-1 dx-field-label text-md-right" title="Email">Email:</div>
                    <div class="col-md-2 col-lg-2">
                        <dx-autocomplete [dataSource]="emailFilterPartners" [(ngModel)]="partnerSearchFilter.email" valueExpr="email" (onSelectionChanged)="onEmailFilterItemSelected($event)"
                            (valueChange)="onEmailFilterSearch($event)" [maxItemCount]="100" itemTemplate="emailItemTemplate" [dropDownOptions]="{ minWidth: '200' }">
                            <div *dxTemplate="let item of 'emailItemTemplate'">
                                {{ item.email }}
                            </div>
                            <dx-validator>
                                <dxi-validation-rule type="email" message="{{'invalidEmail' | translate}}"></dxi-validation-rule>
                            </dx-validator>
                        </dx-autocomplete>
                    </div>
                </div>
            </div>
        
            <div class="col-md-6 col-lg-6">
                <div class="row">
                    <div id="phoneFilter" class="col-md-1 col-lg-1 dx-field-label text-md-right" title="Telefon">Telefon:</div>
                    <div class="col-md-2 col-lg-2">
                        <dx-number-box [(ngModel)]="partnerSearchFilter.phone"></dx-number-box>
                    </div>

                    <div class="col-md-1 col-lg-1 dx-field-label text-md-right" title="Conventie Produs Oferit">Conventie Produs Oferit:</div>
                    <div class="col-md-2 col-lg-2">
                        <dx-tag-box [dataSource]="productConvention" [(ngModel)]="partnerSearchFilter.productConventionIds" valueExpr="id" 
                        (onValueChanged)="onProductConventionChanged($event)" displayExpr="name" [maxDisplayedTags]="2" [showSelectionControls]="true"
                        [showMultiTagOnly]="false" applyValueMode="instantly" [searchEnabled]="true" [hideSelectedItems]="false" [selectAllMode]="'allPages'" [dropDownOptions]="{ minWidth: '200' }">
                        </dx-tag-box>
                    </div>

                    <div class="col-md-1 col-lg-1 dx-field-label text-md-right" title="Activitate">Activitate:</div>
                    <div class="col-md-2 col-lg-2">
                        <dx-tag-box [dataSource]="partnerActivityAllocationDS" [displayExpr]="getDisplayExprPartnerActivity" [(ngModel)]="partnerSearchFilter.partnerActivityIds" valueExpr="id"
                        [maxDisplayedTags]="2" [showSelectionControls]="true" (onValueChanged)="onMultiTagPartnerActivityChange($event)" [dropDownOptions]="{ minWidth: '370' }"
                        [showMultiTagOnly]="false" applyValueMode="instantly" [searchEnabled]="true" [hideSelectedItems]="false" [selectAllMode]="'allPages'">
                        </dx-tag-box>
                    </div>

                    <div class="col-1 dx-field-label text-md-right" title="Tip Persoana">Tip Persoana:</div>
                    <div class="col-md-2 col-lg-2">
                        <dx-select-box [dataSource]="personTypes" displayExpr="name" valueExpr="id"
                            [(ngModel)]="partnerSearchFilter.personTypes" [searchEnabled]="true" [dropDownOptions]="{ minWidth: '160' }">
                        </dx-select-box>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="form-group row">
            <div class="col-md-6 col-lg-6">
                <div class="row">
                    <div class="col-md-1 col-lg-1 dx-field-label text-md-right" title="Specializare">Specializare:</div>
                    <div class="col-md-2 col-lg-2">
                        <dx-tag-box [dataSource]="caenSpecializationsDS" [(ngModel)]="partnerSearchFilter.caenSpecializationsIds" valueExpr="id"
                        [displayExpr]="getSpecializationDisplayExpr" [maxDisplayedTags]="2" [showSelectionControls]="true" (onValueChanged)="onMultiTagSpecializationChange($event)"
                        [showMultiTagOnly]="false" applyValueMode="instantly" [searchEnabled]="true" [hideSelectedItems]="false" [selectAllMode]="'allPages'" [dropDownOptions]="{ minWidth: '370' }">
                        </dx-tag-box>
                    </div>

                    <div class="col-1 dx-field-label text-md-right" title="Localitate">Localitate:</div>
                    <div class="col-md-2 col-lg-2">
                        <dx-tag-box [dataSource]="citiesDS" [(ngModel)]="partnerSearchFilter.citiesIds" valueExpr="id" (onValueChanged)="onCitiesChanged($event)"
                        [displayExpr]="getDisplayExprCities" [maxDisplayedTags]="2"  [showSelectionControls]="true" (onValueChanged)="onMultiTagCitiesChange($event)"
                        [showMultiTagOnly]="false" applyValueMode="instantly" [searchEnabled]="true"
                        [hideSelectedItems]="false" [dropDownOptions]="{ minWidth: '400' }">
                        </dx-tag-box>
                    </div>

                    <div class="col-1 dx-field-label text-md-right" title="Judet">Judet:</div>
                    <div class="col-md-2 col-lg-2">
                        <dx-tag-box [dataSource]="countiesDS" [(ngModel)]="partnerSearchFilter.countiesIds" valueExpr="id" (onValueChanged)="onCountiesChanged($event)"
                        [displayExpr]="getDisplayExprCities" [maxDisplayedTags]="2"  [showSelectionControls]="true"
                        [showMultiTagOnly]="false" applyValueMode="instantly" [searchEnabled]="true" (onValueChanged)="onMultiTagCountieChange($event)"
                        [hideSelectedItems]="false" [selectAllMode]="'allPages'" [dropDownOptions]="{ minWidth: '400' }">
                        </dx-tag-box>
                    </div>

                    <div class="col-1 dx-field-label text-md-right" title="Tara">Tara:</div>
                    <div class="col-md-2 col-lg-2">
                        <dx-tag-box [dataSource]="countriesDS" [(ngModel)]="partnerSearchFilter.countriesIds" valueExpr="id" (onValueChanged)="onCountriesChanged($event)"
                            [displayExpr]="getDisplayExprCities" [maxDisplayedTags]="2"  [showSelectionControls]="true"
                            [showMultiTagOnly]="false" applyValueMode="instantly" [searchEnabled]="true"
                            [hideSelectedItems]="false" [selectAllMode]="'allPages'" [dropDownOptions]="{ minWidth: '400' }">
                        </dx-tag-box>
                    </div>
                </div>
            </div> 

            <div class="col-md-6 col-lg-6">
                <div class="row">
                    <div class="col-1 dx-field-label text-md-right" title="Limba">Limba:</div>
                    <div class="col-md-2 col-lg-2">
                        <dx-tag-box [dataSource]="language" [(ngModel)]="partnerSearchFilter.languageIds" valueExpr="id"
                        [displayExpr]="getDisplayExprCities" [maxDisplayedTags]="2"  [showSelectionControls]="true"
                        [showMultiTagOnly]="false" applyValueMode="instantly" [searchEnabled]="true" (onValueChanged)="onMultiTagLanguageChange($event)"
                        [hideSelectedItems]="false" [selectAllMode]="'allPages'" [dropDownOptions]="{ minWidth: '300' }">
                       </dx-tag-box>
                    </div>
          
                    <div id="itemGroupCategoriesFilter" class="col-1 dx-field-label text-md-right" title="Categorii">Categorii:</div>                     
                    <div class="col-md-2 col-lg-2">
                        <dx-tag-box [dataSource]="itemGroupCategories" [(ngModel)]="partnerSearchFilter.itemGroupCategoryIds" valueExpr="id"
                            [displayExpr]="itemGroupCategoryDisplayExpr" [showSelectionControls]="true" [maxDisplayedTags]="2"
                            [showMultiTagOnly]="false" applyValueMode="instantly" [searchEnabled]="true" [hideSelectedItems]="false" [dropDownOptions]="{ minWidth: '300' }">
                        </dx-tag-box>
                    </div>
          
                    <div id="itemGroupCodesFilter" class="col-1 dx-field-label text-md-right" title="Grupe">Grupe:</div>                       
                    <div class="col-md-2 col-lg-2">
                        <dx-tag-box [dataSource]="itemGroupCodesDS" [(ngModel)]="partnerSearchFilter.itemGroupCodeIds" valueExpr="id"
                            [displayExpr]="itemGroupCodeDisplayExpr" [showSelectionControls]="true" [maxDisplayedTags]="2"
                            [showMultiTagOnly]="false" applyValueMode="instantly" [searchEnabled]="true" [hideSelectedItems]="false" [dropDownOptions]="{ minWidth: '300' }">         
                        </dx-tag-box>
                    </div> 

                    <div class="col-md-1 col-lg-1 dx-field-label text-md-right" title="CAEN">CAEN:</div>
                    <div class="col-md-2 col-lg-2">
                        <dx-tag-box [dataSource]="caenGridDataSource" [(ngModel)]="partnerSearchFilter.caenCodeIds" valueExpr="id"
                            [displayExpr]="caenGridBoxDisplayExpr" [showSelectionControls]="true" [maxDisplayedTags]="2"
                            [showMultiTagOnly]="false" applyValueMode="instantly" [searchEnabled]="true" [hideSelectedItems]="false" [dropDownOptions]="{ minWidth: '700' }">         
                        </dx-tag-box>
                    </div> 
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-6 col-lg-6">
                <div class="row">
                    <div id="globalSearchFilter" class="col-1 dx-field-label text-md-right" title="Cautare globala">Cautare globala:</div>
                    <div class="col-md-2 col-lg-2">
                        <dx-text-box [(ngModel)]="partnerSearchFilter.globalSearch" [maxLength]="1000">
                        </dx-text-box>
                    </div>

                    <div class="col-md-1 col-lg-1 dx-field-label text-md-right" title="Cod produs asociat/inactiv/in trecut">Cod Produs:</div>
                    <div class="col-md-2 col-lg-2">
                        <dx-text-box [(ngModel)]="partnerSearchFilter.itemCode" [maxLength]="50"></dx-text-box>
                    </div>

                    <div id="agentFilter" class="col-1 dx-field-label text-md-right" title="Post (CRM)">Post (CRM):</div>
                    <div class="col-md-2 col-lg-2">
                        <dx-tag-box [dataSource]="postsDS" [(ngModel)]="partnerSearchFilter.postIds" valueExpr="id"
                        displayExpr="companyPost" [maxDisplayedTags]="2"  [showSelectionControls]="true" [showClearButton]="true"
                        [showMultiTagOnly]="false" applyValueMode="instantly" [searchEnabled]="true" [dropDownOptions]="{ minWidth: '240' }"
                        [hideSelectedItems]="false" [selectAllMode]="'allPages'" (onValueChanged)="onMultiTagPostChange($event)">
                       </dx-tag-box>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="row">
                    <div class="d-flex flex-wrap align-items-center ml-0 ml-md-5">
                        <div class="d-flex flex-wrap">
                            <div class="d-flex align-items-center mr-3" title="Toti Clientii">
                                <label class="mb-0" style="color: black">Toti:</label>
                            </div>
                            <div class="d-flex align-items-center mr-3">
                                <dx-check-box [(ngModel)]="partnerSearchFilter.isAllTurnoverSelected" [ngModelOptions]="{standalone: true}" (onValueChanged)="toggleTurnoverCheckbox('all', $event)"></dx-check-box>
                            </div>
                    
                            <div class="d-flex align-items-center mr-3" title="Clienti cu Rulaj">
                                <label class="mb-0" style="color: black">Cu:</label>
                            </div>
                            <div class="d-flex align-items-center mr-3">
                                <dx-check-box [(ngModel)]="partnerSearchFilter.isWithTurnoverSelected" [ngModelOptions]="{standalone: true}" (onValueChanged)="toggleTurnoverCheckbox('with', $event)"></dx-check-box>
                            </div>
                    
                            <div class="d-flex align-items-center mr-3" title="Clienti fara Rulaj">
                                <label class="mb-0" style="color: black">Fara:</label>
                            </div>
                            <div class="d-flex align-items-center">
                                <dx-check-box [(ngModel)]="partnerSearchFilter.isWithoutTurnoverSelected" [ngModelOptions]="{standalone: true}" (onValueChanged)="toggleTurnoverCheckbox('without', $event)"></dx-check-box>
                            </div>
                        </div>
                    </div>

                    <div class="col-1 dx-field-label text-md-right" title="Stare CLI" *ngIf="clientsCountData">Stare CLI:</div>
                    <div class="col-md-5 col-lg-5" *ngIf="clientsCountData">
                        <div class="row">
                            <div id="activeClients" class="col-2 dx-field-label text-md-right" [title]="'CLI Activi ' + clientsCountData.activeClientsCount">
                                Activi
                                <span [ngClass]="{'text-danger': clientsCountData.activeClientsCount === 0, 'text-success': clientsCountData.activeClientsCount > 0}">
                                    ({{ clientsCountData.activeClientsCount | number: '1.0-0' }})
                                </span>
                            </div>
                            <div class="col-md-1 col-lg-1">
                                <dx-check-box [(ngModel)]="partnerSearchFilter.isActiveClientsSelected" [ngModelOptions]="{standalone: true}"></dx-check-box>
                            </div>

                            <div id="inactiveClients" class="col-2 dx-field-label text-md-right" [title]="'CLI Pierduti ' + clientsCountData.inactiveClientsCount">
                                Pierduti
                                <span [ngClass]="{'text-danger': clientsCountData.inactiveClientsCount === 0, 'text-success': clientsCountData.inactiveClientsCount > 0}">
                                    ({{ clientsCountData.inactiveClientsCount | number: '1.0-0' }})
                                </span>
                            </div>
                            <div class="col-md-1 col-lg-1">
                                <dx-check-box [(ngModel)]="partnerSearchFilter.isInactiveClientsSelected" [ngModelOptions]="{standalone: true}"></dx-check-box>
                            </div>
                        
                            <div id="possibleClients" class="col-2 dx-field-label text-md-right" [title]="'CLI Posibili ' + clientsCountData.possibleClientsCount">
                                Posibili
                                <span [ngClass]="{'text-danger': clientsCountData.possibleClientsCount === 0, 'text-success': clientsCountData.possibleClientsCount > 0}">
                                    ({{ clientsCountData.possibleClientsCount | number: '1.0-0' }})
                                </span>
                            </div>
                            <div class="col-md-1 col-lg-1">
                                <dx-check-box [(ngModel)]="partnerSearchFilter.isPossibleClientsSelected" [ngModelOptions]="{standalone: true}"></dx-check-box>
                            </div>
        
                            <div id="newClients" class="col-2 dx-field-label text-md-right" [title]="'CLI Noi ' + clientsCountData.newClientsCount">
                                Noi
                                <span [ngClass]="{'text-danger': clientsCountData.newClientsCount === 0, 'text-success': clientsCountData.newClientsCount > 0}">
                                    ({{ clientsCountData.newClientsCount | number: '1.0-0' }})
                                </span>
                            </div>
                            <div class="col-md-1 col-lg-1">
                                <dx-check-box [(ngModel)]="partnerSearchFilter.isNewClientsSelected" [ngModelOptions]="{standalone: true}"></dx-check-box>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-1 col-lg-1 dx-field-label text-md-right" title="Valid">Valid:</div>
                    <div class="col-md-1 col-lg-1">
                        <dx-check-box [(ngModel)]="partnerSearchFilter.isActive" [ngModelOptions]="{standalone: true}"></dx-check-box>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-6 col-lg-6">
                <div class="row">
                    <div id="subscriptionFilter" class="col-md-1 col-lg-1 dx-field-label text-md-right" title="Valid">Abonari:</div>
                    <div class="col-md-1 col-lg-1">
                        <dx-check-box [(ngModel)]="partnerSearchFilter.haveSubscriptions" [ngModelOptions]="{standalone: true}"></dx-check-box>
                    </div> 
                </div>
            </div>
        </div>
    </dx-validation-group>
     
      <hr>
      <div class="form-group row filter-buttons">
          <dx-button text="{{'search' | translate}}" (onClick)="searchPartners()">
          </dx-button>
          <dx-button text="Resetare filtru" (onClick)="resetFilters()">
          </dx-button>
          <i class="fa fa-pencil fa-2x" style='padding-right : 15px' *ngIf="(nameOrCodeSelectedPartner && partnerSearchFilter.customNameOrCode && partnerSearchFilter.customNameOrCode.length >= 6) || (fiscalCodeSelectedPartner && partnerSearchFilter.fiscalCode && partnerSearchFilter.fiscalCode.length >= 4) 
                || (emailSelectedPartner && partnerSearchFilter.email && partnerSearchFilter.email.length >= 6)" href="javascript:void(0)" title="Detalii client" (click)="openDetails()"></i>
          <i class="fa fa-registered fa-2x" style='padding-right : 15px' *ngIf="(nameOrCodeSelectedPartner && partnerSearchFilter.customNameOrCode && partnerSearchFilter.customNameOrCode.length >= 6) || (fiscalCodeSelectedPartner && partnerSearchFilter.fiscalCode && partnerSearchFilter.fiscalCode.length >= 4) 
                || (emailSelectedPartner && partnerSearchFilter.email && partnerSearchFilter.email.length >= 6)" href="javascript:void(0)" title="Rulaj client" (click)="goToTurnoverDetails()"></i>
      </div>
      </div>

<dx-tooltip target="#subscriptionFilter" showEvent="dxhoverstart" hideEvent="dxhoverend">
    <dxo-position
            my="bottom"
            at="top"
            of="#subscriptionFilter">
    </dxo-position>
        <div *dxTemplate="let data of 'content'" class="partner-search-filter-tooltip" position="top">
            Cauta toti partenerii care au cereri de abonare inca nevalidate
        </div>
</dx-tooltip>

<dx-tooltip target="#emailFilter" showEvent="dxhoverstart" hideEvent="dxhoverend">
  <dxo-position
      my="bottom"
      at="top"
      of="#emailFilter">
  </dxo-position>
  <div *dxTemplate="let data of 'content'" class="partner-search-filter-tooltip" position="top">
      Cauta in toate campurile de email si in toate locatiile
  </div>
</dx-tooltip>

<dx-tooltip target="#phoneFilter" showEvent="dxhoverstart" hideEvent="dxhoverend">
  <dxo-position
      my="bottom"
      at="top"
      of="#phoneFilter">
  </dxo-position>
  <div *dxTemplate="let data of 'content'" class="partner-search-filter-tooltip" position="top">
      Cauta in toate campurile de telefon si in toate locatiile
  </div>
</dx-tooltip>

<dx-tooltip target="#itemGroupCategoriesFilter" showEvent="dxhoverstart" hideEvent="dxhoverend">
  <dxo-position
      my="bottom"
      at="top"
      of="#itemGroupCategoriesFilter">
  </dxo-position>
  <div *dxTemplate="let data of 'content'" class="partner-search-filter-tooltip" position="top">
      Proces Tehnologic
  </div>
</dx-tooltip>

<dx-tooltip target="#itemGroupCodesFilter" showEvent="dxhoverstart" hideEvent="dxhoverend">
  <dxo-position
      my="bottom"
      at="top"
      of="#itemGroupCodesFilter">
  </dxo-position>
  <div *dxTemplate="let data of 'content'" class="partner-search-filter-tooltip" position="top">
      Destinatie Finala
  </div>
</dx-tooltip>

<dx-tooltip target="#globalSearchFilter" showEvent="dxhoverstart" hideEvent="dxhoverend">
  <dxo-position
      my="bottom"
      at="top"
      of="#globalSearchFilter">
  </dxo-position>
  <div *dxTemplate="let data of 'content'" class="partner-search-filter-tooltip" position="top">
      Cauta un cuvant in toate campurile de Denumire si Observatii ale CLI <br />
      Atentie! Cautarea cu acest filtru poate fi lenta!
  </div>
</dx-tooltip>

<dx-tooltip target="#turnoverFilter" showEvent="dxhoverstart" hideEvent="dxhoverend">
  <dxo-position
      my="bottom"
      at="top"
      of="#turnoverFilter">
  </dxo-position>
  <div *dxTemplate="let data of 'content'" class="partner-search-filter-tooltip" position="top">
      Rulaj = S-a vandut la CLI
  </div>
</dx-tooltip>

<dx-tooltip target="#agentFilter" showEvent="dxhoverstart" hideEvent="dxhoverend">
  <dxo-position
      my="bottom"
      at="top"
      of="#agentFilter">
  </dxo-position>
  <div *dxTemplate="let data of 'content'" class="partner-search-filter-tooltip" position="top">
      Post Vanzare
  </div>
</dx-tooltip>

<dx-tooltip target="#activeClients" showEvent="dxhoverstart" hideEvent="dxhoverend">
    <dxo-position
        my="bottom"
        at="top"
        of="#activeClients">
    </dxo-position>
    <div *dxTemplate="let data of 'content'" class="partner-search-filter-tooltip" position="top">
        Clienti care au cumparat cel putin o data
    </div>
</dx-tooltip>

<dx-tooltip target="#inactiveClients" showEvent="dxhoverstart" hideEvent="dxhoverend">
    <dxo-position
        my="bottom"
        at="top"
        of="#inactiveClients">
    </dxo-position>
    <div *dxTemplate="let data of 'content'" class="partner-search-filter-tooltip" position="top">
        Clienti activi care nu au mai cumparat de 3 luni (fara luna curenta)
    </div>
</dx-tooltip>

<dx-tooltip target="#possibleClients" showEvent="dxhoverstart" hideEvent="dxhoverend">
    <dxo-position
        my="bottom"
        at="top"
        of="#possibleClients">
    </dxo-position>
    <div *dxTemplate="let data of 'content'" class="partner-search-filter-tooltip" position="top">
        Clienti care nu au cumparat niciodata de la Vetro (2008-prezent)
    </div>
</dx-tooltip>

<dx-tooltip target="#newClients" showEvent="dxhoverstart" hideEvent="dxhoverend">
    <dxo-position
        my="bottom"
        at="top"
        of="#newClients">
    </dxo-position>
    <div *dxTemplate="let data of 'content'" class="partner-search-filter-tooltip" position="top">
        Clienti activi care au cumparat in ultimele 3 luni prima data
    </div>
</dx-tooltip>

<dx-tooltip target="#nameOrCodeFilter" showEvent="dxhoverstart" hideEvent="dxhoverend">
    <dxo-position
        my="bottom"
        at="top"
        of="#nameOrCodeFilter">
    </dxo-position>
    <div *dxTemplate="let data of 'content'" class="partner-search-filter-tooltip" position="top">
        Introduceti cel putin 6 caractere pentru a afisa partenerii in drop-down
    </div>
</dx-tooltip>

<dx-tooltip target="#fiscalCodeFilter" showEvent="dxhoverstart" hideEvent="dxhoverend">
    <dxo-position
        my="bottom"
        at="top"
        of="#fiscalCodeFilter">
    </dxo-position>
    <div *dxTemplate="let data of 'content'" class="partner-search-filter-tooltip" position="top">
        Introduceti cel putin 4 caractere pentru a afisa codurile fiscale in drop-down
    </div>
</dx-tooltip>

<dx-tooltip target="#emailFilter" showEvent="dxhoverstart" hideEvent="dxhoverend">
    <dxo-position
        my="bottom"
        at="top"
        of="#emailFilter">
    </dxo-position>
    <div *dxTemplate="let data of 'content'" class="partner-search-filter-tooltip" position="top">
        Introduceti cel putin 6 caractere pentru a afisa email-urile persoanelor de contact in drop-down
    </div>
</dx-tooltip>