<div *ngIf="showCharts">
   <dx-scheduler timeZone="Europe/Paris" [dataSource]="partnerCallReminders" [views]="['week', 'month']"
      currentView="week" [currentDate]="currentDate" [startDayHour]="8" [height]="600">
   </dx-scheduler>
</div>
<div *ngIf="!showCharts">
   <app-spinner [visible]="loaded" [zone]="'#partnerCallReminder'"></app-spinner>
   <div class="form-group d-flex flex-wrap align-items-center" style="gap: 15px;">
      <div class="d-flex align-items-center">
         <label class="mb-0 mr-2" style="color: black"><b>De Revenit:</b></label>
         <dx-date-box [(ngModel)]="callReminderDate" type="datetime" displayFormat="dd-MM-yyyy HH:mm" (onValueChanged)="updateCallReminder($event)"></dx-date-box>
      </div>

      <div class="d-flex align-items-center">
         <label class="mb-0 mr-2" style="color: black"><b>Persoana de contact:</b></label>
         <dx-select-box [dataSource]="locationContactPersons" valueExpr="id" [displayExpr]="getDisplayExprContact" [searchEnabled]="true"
            [(ngModel)]="locationContactId" (onValueChanged)="updateContactPerson($event)" [dropDownOptions]="{ minWidth: '200' }" [width]="300">
          </dx-select-box>
      </div>
   </div>
    
   <!-- <div id="partnerCallReminder">
      <div>
         <app-grid-toolbar #gridToolbar [actions]="partnerCallReminderActions" [showColumnSettings]="true"
            [showExcel]="true" [fileName]="'partnerCallReminder'" [showPrint]="true" (addEvent)="add()"
            (refreshEvent)="refreshDataGrid()" (deleteEvent)="deleteRecords($event)">
         </app-grid-toolbar>
         <div class="float-none" style="clear: both;"></div>
      </div>
      <div>
         <dx-data-grid #dataGrid [dataSource]="partnerCallReminders" [rowAlternationEnabled]="true"
            [showBorders]="false" [allowColumnReordering]="true" (onSelectionChanged)="selectionChanged($event)"
            (onCellPrepared)="onCellPrepared($event)" (onEditorPreparing)="onEditorPreparing($event)"
            (onRowInserting)="onRowInserting($event)" (onRowUpdated)="onRowUpdated($event)">
            <dxo-selection mode="multiple" showCheckBoxesMode="always"></dxo-selection>
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-filter-panel [visible]="true">
            </dxo-filter-panel>
            <dxo-header-filter [visible]="true">
            </dxo-header-filter>
            <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
            <dxo-load-panel [enabled]="true"></dxo-load-panel>
            <dxo-sorting mode="multiple"></dxo-sorting>
            <dxo-editing mode="form">
               <dxo-form>
                  <dxi-item dataField="dateAndTimeToRecall"></dxi-item>
               </dxo-form>
            </dxo-editing>
            <dxo-paging [pageSize]="5"></dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 25, 50, 100]"></dxo-pager>
            <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>

            <dxi-column dataField="dateAndTimeToRecall" caption="De revenit in data" dataType="datetime"
               format="dd-MM-yyyy HH:mm" alignment="center">
               <dxi-validation-rule type="required" message="{{'required' | translate}}"></dxi-validation-rule>
            </dxi-column>

            <dxi-column dataField="created" caption="Creat la" dataType="datetime" format="dd-MM-yyyy HH:mm"
               alignment="center">
            </dxi-column>

            <dxi-column caption="Actiuni" cellTemplate="cellTemplate" [width]="250" [minWidth]="250" alignment="center">
            </dxi-column>
            <div *dxTemplate="let data of 'cellTemplate'">
               <i class="fa fa-pencil fa-2x" style='padding-right : 15px' *ngIf="canUpdate()" href="javascript:void(0)"
                  title="Edit" (click)="openDetails(data)"></i>
               &nbsp;
               <i class="fa fa-ban fa-2x" style='padding-right : 15px' *ngIf="canDelete()" href="javascript:void(0)"
                  title="Stergere" (click)="deleteRow(data)"></i>
            </div>
         </dx-data-grid>
      </div>
   </div> -->
</div>