.fa-pencil, .fa-clone, .fa-ban, .fa-plus  {
    color: rgb(196, 0, 0);
  }

.adjust-width {
  width: 8%;
  min-width: 8%;
}

.adjust-width-location-contact {
  width: 9%;
  min-width: 9%;
}

.row {
  margin-left: -10px;
  margin-right: -10px; 
}

.row > .col,
.row > [class*='col-'] {
  padding-left: 5px; 
  padding-right: 5px;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.flex-item {
  margin-bottom: 10px;
}

.label {
  flex-grow: 1;         
  text-align: right;      
  margin-right: 10px;  
  white-space: nowrap;    
  overflow: hidden;      
  text-overflow: ellipsis; 
}

.input {
  flex-shrink: 1;      
  flex-grow: 1;          
  min-width: 150px;    
  overflow: hidden;   
  text-overflow: ellipsis;
  white-space: nowrap;    
}