<div class="main-content">
    <div class="container-fluid">
        <div class="card card-plain">
            <app-title [title]="'Rulaj'"></app-title>
            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-6">
                    <div class="form-group d-flex align-items-center">
                        <!-- Back to Partner button -->
                        <div>
                            <a class="nav-link" href="javascript:void(0)" id="dashbord" data-toggle="dropdown"
                                title="Inapoi la fisa partenerului">
                                <i class="material-icons" (click)="backToPartner()">reply_all</i>
                            </a>
                        </div>
                        <!-- Refresh button -->
                        <div>
                                <a class="nav-link" href="javascript:void(0)" id="dashbord" data-toggle="dropdown"
                                title="Refresh la toate datele din rulaj">
                                <i class="material-icons" (click)="onRefresh()">refresh</i>
                            </a>
                        </div>
                        <!-- Client label and select box -->
                        <div class="d-flex align-items-center">
                            <span class="dx-field-label mr-1">Client:</span>
                            <div style="flex-grow: 1; min-width: 350px;">
                                <dx-select-box [dataSource]="partners" [(ngModel)]="partnerId" valueExpr="id"
                                    [displayExpr]="getDisplayExprPartners" [searchEnabled]="true"
                                    (input)="onPartnerChanged($event)" (onValueChanged)="partnerChange($event)">
                                </dx-select-box>
                            </div>
                        </div>

                        &nbsp;

                        <dx-button *ngIf="clientId && showPartnerSuggestion" text="Sugestie" (onClick)="openPartnerSugestion()">
                        </dx-button>

                        &nbsp;

                        <div>
                            <i class="fa fa-clock-o" aria-hidden="true" (click)="openPartnerSchedule()"></i>
                        </div>

                    </div>
                    <hr>
                    <div [hidden]="!clientId">
                        <app-turnover-details #turnoverDetails [(clientIdPartnerDetails)]="clientId" [showYearlyTurnover]="true"
                            [hideTarlyTurnoverTable]="true" [showPartnerCallReminder]="true"
                            [showClientTurnover]="true"
                            [showPartnerActivityTurnover]="true" [showNewItemsTurnover]="true"
                            [showOfficeItemsTurnover]="true" [showMandatoryPromotionTurnover]="true"
                            [showLiquidationOfferTurnover]="true" [showAgentOtherItemTurnover]="true"
                            [showNewProductBtn]="true" [showOtherProductBtn]="true" [partners]="partners"
                            [isSpecialPriceRequest]="isSpecialPriceRequest">
                        </app-turnover-details>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<dx-popup *ngIf="clientId && showPartnerSuggestion" [showTitle]="true" [resizeEnabled]="true" title="Sugestie" [dragEnabled]="true" [closeOnOutsideClick]="true"
    [(visible)]="partnerSugestionPopup" width="20%" height="90%" class="custom-popup">
    <dx-scroll-view width="100%" height="100%">
        <div class="row">
            <div *ngIf="showPartnerSuggestion && clientId && postId">
                <app-partner-suggestion #partnerSuggestionComponent [(postId)]="postId" [(clientId)]="clientId"
                    [(customerId)]="customerId" [(partnerSugestionsActions)]="actions"></app-partner-suggestion>
            </div>
        </div>
    </dx-scroll-view>
</dx-popup>

<dx-popup *ngIf="showPartnerSchedule && clientId" [showTitle]="true" [resizeEnabled]="true" [dragEnabled]="true" [closeOnOutsideClick]="true"
    [(visible)]="showPartnerSchedule" width="60%" height="65%" class="custom-popup">
    <dx-scroll-view width="100%" height="100%">
        <div>
            <div class="company-schedule"><b>Orar Companie</b></div>
            <app-partner-location-schedule #partnerLocationScheduleComponent [showSaveBtn]="false"
                [customerId]="customerId"></app-partner-location-schedule>

            <div class="company-schedule"><hr /><b>Cand este cel mai bine sa fii contactat/a ?</b></div>
            <div class="partner-contact-preference">
                <dx-radio-group
                    [dataSource]="daysOfWeek"
                    layout="horizontal"
                    displayExpr="label"
                    valueExpr="value"
                    [(ngModel)]="partnerContactPreferences.dayOfWeek">
                </dx-radio-group>

                <div class="flex-container">
                    <div class="flex-item label">De la:</div>
                    <div class="flex-item">
                        <dx-date-box [(ngModel)]="partnerContactPreferences.fromTime" type="datetime" displayFormat="HH:mm" [calendarOptions]="{visible: false}">
                            <dxo-drop-down-options
                                [onInitialized]="customizeDateBoxButtons"
                            ></dxo-drop-down-options>
                        </dx-date-box>
                    </div>
                
                    <div class="flex-item label">Pana la:</div>
                    <div class="flex-item">
                        <dx-date-box [(ngModel)]="partnerContactPreferences.toTime" type="datetime" displayFormat="HH:mm" [calendarOptions]="{visible: false}">
                            <dxo-drop-down-options
                                [onInitialized]="customizeDateBoxButtons"
                            ></dxo-drop-down-options>
                        </dx-date-box>
                    </div>
                </div>
                
            </div>

            <div class="company-schedule"><hr /><b>In ce mod preferi sa primesti Oferta ?</b></div>
            <div class="offer-method-flex-container">
                <dx-radio-group
                    [dataSource]="deliveryOfferPreferences"
                    layout="horizontal"
                    displayExpr="label"
                    valueExpr="value"
                    [(ngModel)]="partnerContactPreferences.preferredOfferDeliveryMethod">
                </dx-radio-group>
            
                <div class="offer-method-flex-item">
                    <dx-validation-group #validationGroup>
                        <div *ngIf="partnerContactPreferences.preferredOfferDeliveryMethod === 4">
                            <dx-text-box [(ngModel)]="partnerContactPreferences.otherPreferredOfferDeliveryMethodDetails" [maxLength]="100">
                                <dx-validator>
                                    <dxi-validation-rule type="required" message="{{'required' | translate}}"></dxi-validation-rule>
                                </dx-validator>
                            </dx-text-box>
                        </div>
                    </dx-validation-group>
                </div>
            </div>

            <dx-button text="Salveaza" (onClick)="onSavePartnerContactAndPreferences()" class="save-btn">
            </dx-button>
        </div>
    </dx-scroll-view>
</dx-popup>