.adjust-width {
    width: 8%; 
    max-width: 8%;
}

.adjust-margin {
    margin-left: -5.8rem;
}
  
.fa-clock-o {
    color: #d9534f;
    font-size: 26px;
}

.company-schedule {
    font-size: 20px;
}

.save-btn {
    float: right;
    background-color: #ffe596;
}

.flex-container {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.flex-item {
    margin-right: 10px;
}

.label {
    flex-basis: 50px; 
}

.flex-item {
    
}

.offer-method-flex-container {
    display: flex;
    align-items: center; 
    gap: 20px; 
    margin-bottom: 16px; 
}

.offer-method-flex-item {

}