<div class="main-content">
    <div class="container-fluid">
        <div class="card card-plain">
            <div class="card-header card-header-success">
                <h3 class="card-title">{{'header.logs' | translate}}</h3>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-6">
                    <div class="mt-4">
                        <app-grid-toolbar #gridToolbar [actions]="actions" [showColumnSettings]="true" [showExcel]="true"
                            [fileName]="'none'" [showPrint]="true" (addEvent)="addRole()"
                            (refreshEvent)="refreshDataGrid()">
                        </app-grid-toolbar>
                        <div class="float-none" style="clear: both;"></div>
                    </div>
                    <div class="mt-4"></div>
                    <dx-data-grid id="gridContainer" #dataGrid [dataSource]="logs" [rowAlternationEnabled]="false" [showBorders]="false"
                        [allowColumnReordering]="true" (onSelectionChanged)="selectionChanged($event)">
                        <dxo-selection mode="multiple" showCheckBoxesMode="always"></dxo-selection>
                        <dxo-filter-row [visible]="true"></dxo-filter-row>
                        <dxo-filter-panel [visible]="true">
                        </dxo-filter-panel>
                        <dxo-export [enabled]="canExport()" [allowExportSelectedData]="true"></dxo-export>
                        <dxo-header-filter [visible]="true">
                        </dxo-header-filter>
                        <dxo-group-panel [visible]="true" [emptyPanelText]="groupedText"></dxo-group-panel>
                        <dxo-load-panel [enabled]="true"></dxo-load-panel>
                        <dxo-sorting mode="multiple"></dxo-sorting>
                        <dxo-editing
                            mode="form">
                            <dxo-form>
                                <dxi-item dataField="name"></dxi-item>
                                <dxi-item dataField="description"></dxi-item>
                                <dxi-item dataField="departmentId"></dxi-item>
                            </dxo-form>
                        </dxo-editing>
                        <dxo-paging [pageSize]="15"></dxo-paging>
                        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>
                        <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
                        <dxi-column dataField="created" caption="Data" dataType="date" format="dd-MM-yyyy HH:mm" alignment="left"></dxi-column>
                        <dxi-column dataField="actionType" caption="Actiunea" dataType="string" alignment="center" [width]="300"></dxi-column>
                        <dxi-column dataField="user" caption="User" dataType="string" alignment="center"></dxi-column>
                        <dxi-column dataField="customer" caption="Client">
                            <dxo-lookup [dataSource]="customers" valueExpr="id" displayExpr="name">
                            </dxo-lookup>
                        </dxi-column>
                        <dxi-column dataField="exception" caption="Eroare" dataType="string" alignment="center"></dxi-column>
                        <dxi-column dataField="performance" caption="Timp executie" dataType="string" alignment="center" [width]="200"></dxi-column>
                        <dxi-column dataField="body" caption="Corp" dataType="string" alignment="center" [width]="600"></dxi-column>
                    </dx-data-grid>
                    <br>
                </div>
            </div>
        </div>
    </div>
  </div>