<app-spinner [visible]="loaded"></app-spinner>
<div class="mt-4">
    <app-grid-toolbar #partnerAuthorizationGridToolbar [actions]="actions" [showColumnSettings]="true" [showInfo]="true" [infoText]="partnerAuthorizationInfo"
        [showExcel]="true" [fileName]="'partner-Authorization'" [showPrint]="true"
        (addEvent)="addPartnerAuthorization()" (refreshEvent)="refreshPartnerAuthorizationDataGrid()"
        (deleteEvent)="deleteRecords($event)">
    </app-grid-toolbar>
    <div class="float-none" style="clear: both;"></div>
</div>
<dx-data-grid id="gridContainer" #partnerAuthorizationDataGrid [dataSource]="partnerAuthorizations" [rowAlternationEnabled]="true"
    [allowColumnReordering]="true" (onRowInserting)="onRowInserting($event)" (onRowUpdating)="onRowUpdating($event)"
    (onSelectionChanged)="selectionChanged($event)" (onEditorPreparing)="onEditorPreparing($event)"
    (onInitNewRow)="onInitNewRow($event)" (onRowPrepared)="onRowPrepared($event)"> 
    <dxo-selection mode="multiple" showCheckBoxesMode="always"></dxo-selection>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-filter-panel [visible]="true"></dxo-filter-panel>
    <dxo-export [enabled]="canExport()"  [allowExportSelectedData]="true"></dxo-export>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
    <dxo-group-panel [visible]="true" [emptyPanelText]="groupedText"></dxo-group-panel>
    <dxo-load-panel [enabled]="true"></dxo-load-panel>
    <dxo-sorting mode="multiple"></dxo-sorting>
    <dxo-paging [pageSize]="15"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>
    <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>

    <dxo-editing mode="cell" [allowUpdating]="true">
    </dxo-editing>

    
    <dxi-column dataField="authorizationTypeId" caption="Tip" dataType="number" alignment="left">
        <dxo-lookup [dataSource]="authorizationTypes" valueExpr="id" [displayExpr]="getDisplayExprAuthorization">
        </dxo-lookup>
        <dxi-validation-rule type="required" message="{{'required' | translate}}"></dxi-validation-rule>
    </dxi-column>
    <dxi-column dataField="number" caption="Numar" dataType="string" alignment="left">
        <dxi-validation-rule type="required" message="{{'required' | translate}}"></dxi-validation-rule>
    </dxi-column>
    <dxi-column dataField="dateObtained" caption="Data obtinerii" dataType="date" format="dd/MM/yyyy" alignment="right"></dxi-column>
    <dxi-column dataField="isActive" caption="Activa" dataType="boolean" alignment="center" [width]="160" [minWidth]="160">
    </dxi-column>

    <dxi-column caption="Actiuni" cellTemplate="cellTemplate" [width]="160" [minWidth]="160" alignment="center">
    </dxi-column>   
    <div *dxTemplate="let data of 'cellTemplate'">

        <i class="fa fa-ban fa-2x" style='padding-right : 15px' *ngIf="canDelete()" href="javascript:void(0)" title="Stergere"
            (click)="deletePartnerAuthorizationRow(data)"></i>

    </div>
</dx-data-grid>

