.fa-pencil, .fa-clone, .fa-ban  {
    color: rgb(196, 0, 0);
  }

.updateLastYearsButton {
  color: white;
  background-color: red;
}

.creditIncreaseRequest {
  background-color: red;
  padding: 7px 18px 8px;
  text-decoration: none;
}

.creditIncreaseRequest-text {
  color: white;
}

.buttons-wrapper {
  display: flex;
  gap: 0.7rem;
}

.label-tooltip {
  text-align: left;
  font-size: 16px;
}