<app-spinner [visible]="loaded"></app-spinner>
<div class="mt-4">
    <app-grid-toolbar #partnerFinancialGridToolbar [actions]="actions" [showColumnSettings]="true" [showExcel]="true"
        [fileName]="'partnerSelfServiceUsers'" [showPrint]="true"
        (refreshEvent)="refresh()">
    </app-grid-toolbar>
    <div class="float-none" style="clear: both;"></div>
</div>
<div class="mt-4"></div>

<div>
    <hr>
    <div class="buttons-wrapper">
        <dx-button id="updateLastYearsButtonId" class="updateLastYearsButton" text="{{ 'partner.partnerFinancialInfo.updateLast5Years' | translate }}" (onClick)="updatePartnerFinancialInfoForTheLastYears()"></dx-button>
    </div>

    <hr>
</div>

<dx-data-grid id="gridContainer" #partnerFinancialDataGrid [dataSource]="partnerFinancialInfo" [rowAlternationEnabled]="true"
    [showBorders]="false" [allowColumnReordering]="true" (onSelectionChanged)="selectionChanged($event)" (onRowUpdated)="onRowFinancialInfoUpdated($event)">
    <dxo-selection mode="multiple" showCheckBoxesMode="always"></dxo-selection>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-filter-panel [visible]="true">
    </dxo-filter-panel>
    <dxo-export [enabled]="canExport()" [allowExportSelectedData]="true"></dxo-export>
    <dxo-header-filter [visible]="true">
    </dxo-header-filter>
    <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
    <dxo-group-panel [visible]="true" [emptyPanelText]="groupedText"></dxo-group-panel>
    <dxo-load-panel [enabled]="true"></dxo-load-panel>
    <dxo-sorting mode="multiple"></dxo-sorting>
    <dxo-editing mode="form">
        <dxo-form>
            <dxi-item dataField="ca"></dxi-item>
            <dxi-item dataField="profitLoss"></dxi-item>
        <dxi-item dataField="numberOfEmployees"></dxi-item>
            <dxi-item dataField="numberOfCars"></dxi-item>
            <dxi-item dataField="numberOfWorkingPoints"></dxi-item>

        </dxo-form>
    </dxo-editing>
    <dxo-paging [pageSize]="15"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>
    <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>

    <dxi-column dataField="year" caption="An" dataType="number" alignment="right" cellTemplate="yearCellTemplate"></dxi-column>
    <dxi-column dataField="ca" caption="CA" cellTemplate="caCellTemplate" dataType="number" alignment="right"></dxi-column>
    <dxi-column dataField="turnover" caption="Rulaj" cellTemplate="turnoverCellTemplate" dataType="number" alignment="right"></dxi-column>
    <dxi-column dataField="numberOfItems" caption="Produse" dataType="number" alignment="right"></dxi-column>
    <dxi-column dataField="profitLoss" caption="Pft.Net/Pierdere" cellTemplate="profitCellTemplate" dataType="number" alignment="right"></dxi-column>
    <dxi-column dataField="numberOfEmployees" caption="N.A" dataType="number" alignment="right"></dxi-column>
    <dxi-column dataField="numberOfCars" caption="N.Masini" dataType="number" alignment="right"></dxi-column>
    <dxi-column dataField="numberOfWorkingPoints" caption="Pcte. de lucru" dataType="number" alignment="right"></dxi-column>
    <div *dxTemplate="let data of 'caCellTemplate'">
        {{getCAExpr(data.data)}}
    </div>
    <div *dxTemplate="let data of 'turnoverCellTemplate'">
        {{getTurnoverExpr(data.data)}}
    </div>
    <div *dxTemplate="let data of 'profitCellTemplate'">
        {{getProfitExpr(data.data)}}
    </div>
    <div *dxTemplate="let data of 'yearCellTemplate'">
        {{data.data.year}}
        <i class="fa fa-pencil fa-2x" *ngIf="canUpdate() && data.data.isActive" href="javascript:void(0)" title="Edit" (click)="openDetails(data)"></i>
    </div>
</dx-data-grid>

<hr>

<div class="form-group d-flex flex-wrap align-items-center" style="gap: 30px; margin-bottom: 1rem">
    <div class="d-flex align-items-center">
        <dx-button [disabled]="!partnerCIPCheck" text="Verificare CIP Noua" stylingMode="contained" (onClick)="openCIPCheck()">
        </dx-button>
    </div>

    <div *ngIf="lastCIPCheck" class="d-flex align-items-center">
        <label class="mb-0 mr-1" style="color: black">CIP:</label>
        <dx-text-box [(ngModel)]="'VCIP' + lastCIPCheck.id" [ngModelOptions]="{standalone: true}" [disabled]="true"></dx-text-box>
    </div>

    <div *ngIf="lastCIPCheck" class="d-flex align-items-center">
        <label class="mb-0 mr-1" style="color: black">Data ultimei interogari:</label>
        <dx-date-box [(ngModel)]="lastCIPCheck.dateOfCIPCheck" type="date" displayFormat="dd-MM-yyyy" [disabled]="true"></dx-date-box>
    </div>

    <div *ngIf="lastCIPCheck" class="d-flex align-items-center">
        <label class="mb-0 mr-1" style="color: black">Mai vechi de 2 ani:</label>
        <dx-text-box [(ngModel)]="lastCIPCheck.numberOfIncidentsBelow" [ngModelOptions]="{standalone: true}" [disabled]="true"></dx-text-box>
    </div>

    <div *ngIf="lastCIPCheck" class="d-flex align-items-center">
        <label class="mb-0 mr-1" style="color: black">Mai noi de 2 ani:</label>
        <dx-text-box [(ngModel)]="lastCIPCheck.numberOfIncidentsAbove" [ngModelOptions]="{standalone: true}" [disabled]="true"></dx-text-box>
    </div>

    <!-- <div *ngIf="lastCIPCheck" class="d-flex align-items-center">
        <label class="mb-0 mr-1" style="color: black">Expira:</label>
        <dx-date-box [(ngModel)]="lastCIPCheck.dateOfCIPCheck" type="date" displayFormat="dd-MM-yyyy" [disabled]="true"></dx-date-box>
    </div> -->
</div>

<div class="form-group d-flex flex-wrap align-items-center" style="gap: 30px; margin-bottom: 1rem">
    <div class="d-flex align-items-center">
        <dx-button  text="Verificare Insolventa" stylingMode="contained"></dx-button>
    </div>
</div>

<div class="form-group d-flex flex-wrap align-items-center" style="gap: 30px; margin-bottom: 1rem">
    <div class="d-flex align-items-center">
        <dx-button  text="Verificare Dosare Judecata" stylingMode="contained"></dx-button>
    </div>
</div>

<div class="form-group d-flex flex-wrap align-items-center" style="gap: 30px;">
    <div class="d-flex align-items-center">
        <label class="mb-0 mr-1" style="color: black">Furnizor Acceptat:</label>
        <dx-check-box [(ngModel)]="supplierAcceptedBool" (onValueChanged)="supplierAcceptedEventChange($event)"></dx-check-box>
    </div>

    <div *ngIf="supplierAccepted" class="d-flex align-items-center">
        <label class="mb-0 mr-1" style="color: black">Cod:</label>
        <dx-text-box [disabled]="true" [value]="getFormattedText()"></dx-text-box>
    </div>

    <div *ngIf="supplierAccepted" class="d-flex align-items-center">
        <label class="mb-0 mr-1" style="color: black">De Postul:</label>
        <dx-select-box [dataSource]="posts"  [disabled]="true"
            [displayExpr]="getPostExpr" valueExpr="id" [(ngModel)]="supplierAccepted.postId"
            [ngModelOptions]="{standalone: true}" [searchEnabled]="true">
        </dx-select-box>
    </div>

    <div *ngIf="supplierAccepted" class="d-flex align-items-center">
        <label class="mb-0 mr-1" style="color: black">In data:</label>
        <dx-date-box [(ngModel)]="supplierAccepted.created" [disabled]="true" displayFormat="dd-MM-yyyy HH:mm"></dx-date-box>
    </div>
</div>

<dx-popup [width]="1200" [height]="1000" [showTitle]="true" [resizeEnabled]="true" title="Verificare CIP Noua" [dragEnabled]="false"
    [closeOnOutsideClick]="true" [(visible)]="cipCheckPopup">
    <div>
        <app-grid-toolbar #cipGridToolbar [actions]="cipActions" [showColumnSettings]="true" [showExcel]="true"
            [fileName]="'cip'" [showPrint]="true" (addEvent)="addCIPCheck()" (refreshEvent)="refreshCIPGrid()">
        </app-grid-toolbar>
        <div class="float-none" style="clear: both;"></div>
    </div>
    <div>
        <dx-data-grid #cipDataGrid [dataSource]="partnerCIPCheck" [width]="1100" [rowAlternationEnabled]="true"
            [showBorders]="false" [allowColumnReordering]="true" (onSelectionChanged)="selectionCIPChanged($event)"
            (onEditorPreparing)="onEditorPreparing($event)" (onRowInserting)="onRowCIPInserting($event)">
            <dxo-selection mode="multiple" showCheckBoxesMode="always"></dxo-selection>
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-filter-panel [visible]="true">
            </dxo-filter-panel>
            <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
            <dxo-header-filter [visible]="true">
            </dxo-header-filter>
            <dxo-group-panel [visible]="true" [emptyPanelText]="groupedText"></dxo-group-panel>
            <dxo-load-panel [enabled]="true"></dxo-load-panel>
            <dxo-sorting mode="multiple"></dxo-sorting>
            <dxo-editing mode="form">
                <dxo-form>
                    <dxi-item dataField="numberOfIncidentsAbove"></dxi-item>
                    <dxi-item dataField="numberOfIncidentsBelow"></dxi-item>
                    <!-- <dxi-item dataField="dateOfLastIncident"></dxi-item> -->
                </dxo-form>
            </dxo-editing>
            <dxo-paging [pageSize]="15"></dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>
            <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>

            <dxi-column dataField="id" caption="Nr.Verificare" cellTemplate="cellDisplayTemplate" dataType="string" alignment="left"></dxi-column>
            <dxi-column dataField="dateOfCIPCheck" caption="Data" dataType="date" format="dd-MM-yyyy" alignment="center"></dxi-column>
            <dxi-column dataField="numberOfIncidentsAbove" caption="Incidente mai vechi de 2 ani" dataType="number" alignment="center"></dxi-column>
            <dxi-column dataField="numberOfIncidentsBelow" caption="Incidente mai noi de 2 ani" dataType="number" alignment="center"></dxi-column>
            <dxi-column dataField="dateOfCIPCheck" caption="Ultimul Incident" dataType="date" format="dd-MM-yyyy" alignment="center"></dxi-column>
           
            <div *dxTemplate="let data of 'cellDisplayTemplate'">
                {{getDisplayExpr(data.data)}}
            </div>
           
        </dx-data-grid>
    </div>
</dx-popup>

<hr>

<dx-tooltip target="#updateLastYearsButtonId" showEvent="dxhoverstart" hideEvent="dxhoverend">
    <div *dxTemplate="let data of 'content'" class="label-tooltip" position="top">
        Calculeaza automat rulajul valoric si numeric (coloanele Rulaj si Produse) din ultimii 5 ani si il adaugam in tabelul de mai jos. <br />
        Celelalte coloane (CA, Pft.Net/Pierdere, N.A, N.Masini, Pcte. de lucru) se intretin manual.
    </div>
 </dx-tooltip>