.fa-pencil, .fa-clone, .fa-ban, .fa-bars  {
    color: rgb(196, 0, 0);
  }

  .success {
    color: #fcfcfc;
    background-color: #4caf50;
  }
  
  .danger {
    color: #fcfcfc;
    background-color: #f44336;
  }  
  
  .warning {
    color: #fcfcfc;
    background-color: #ffeb3b;
  } 

  .primary {
    color: #fcfcfc;
    background-color: #2196f3;
  } 

  .info {
    color: #fcfcfc;
    background-color: #00bcd4;
  } 

  .secondary {
    color: #fcfcfc;
    background-color: #6c757d;
  } 

  ::ng-deep .options {
    padding: 20px;
    margin-top: 20px;
    background-color: rgba(191, 191, 191, 0.15);
  }
  
  ::ng-deep .caption {
    font-size: 18px;
    font-weight: 500;
  }
  
  ::ng-deep .option {
    margin-top: 10px;
  }
  