<app-spinner [visible]="loaded"></app-spinner>
<div class="main-content">
    <div class="container-fluid" [ngClass]="{'maxWidth':  displayData}">
        <div class="card card-plain">
            <app-title [title]="'Export-Import Date'"></app-title>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-6">
                    <br>
                    <ng-container *ngFor="let tab of tabs">
                        <dx-button text="{{tab.text | translate}}" [ngClass]="tab.isActive ? isTabActive : null"
                            (onClick)="toggleMode(tab)">
                        </dx-button>
                        &nbsp;
                    </ng-container>
                    <br>
                    <hr>
                    <div [hidden]="!tabs[0].isActive">
                        <div class="mt-4">
                            <app-grid-toolbar #gridToolbar [actions]="actions" [showColumnSettings]="true"
                                [showEditMultiple]="true" [showExcel]="true" [fileName]="'importExportItems'"
                                [showPrint]="true" (editMultipleEvent)="editMultiple()" (addEvent)="openDetails(null)"
                                (refreshEvent)="refreshDataGrid()" (displayEvent)="displayDataEvent($event)"
                                (deleteEvent)="deleteRecords($event)">
                            </app-grid-toolbar>
                            <div class="float-none" style="clear: both;"></div>
                        </div>
                        <hr>
                        <div class="flex-box">
                            <div class="form-group row">
                                <div class="col-md-6 col-lg-6">
                                    <span>
                                        <div *ngIf="importExportItems.length > 0">
                                            <b>Afisate in tabel: {{importExportItems.length}}</b> <br>
                                            <b>Nemapate sau fara Pret / UM / CPV: {{getDataWithoutPrice()}}</b>
                                        </div>
                                    </span>
                                </div>
                                <div class="col-3 dx-field-label text-md-right">Afiseaza daor referinte fara Divizate:</div>
                                <div class="col-md-2 col-lg-2">
                                    <dx-switch [(ngModel)]="hideWithoutDivided" (onValueChanged)="hideWithoutDividedEvent()"></dx-switch>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <dx-data-grid id="gridContainer" #dataGrid [dataSource]="importExportItems" [showRowLines]="true"
                            [rowAlternationEnabled]="false" [showBorders]="false" [allowColumnReordering]="true"
                            (onSelectionChanged)="selectionChanged($event)" (onRowPrepared)="onRowPrepared($event)"
                            (onEditorPreparing)="onEditorPreparing($event)" (onRowUpdated)="onRowUpdated($event)">
                            <dxo-selection mode="multiple" showCheckBoxesMode="always"></dxo-selection>
                            <dxo-filter-row [visible]="true"></dxo-filter-row>
                            <dxo-filter-panel [visible]="true">
                            </dxo-filter-panel>
                            <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
                            <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
                            <dxo-header-filter [visible]="true">
                            </dxo-header-filter>
                            <dxo-group-panel [visible]="true" [emptyPanelText]="groupedText"></dxo-group-panel>
                            <dxo-load-panel [enabled]="true"></dxo-load-panel>
                            <dxo-sorting mode="multiple"></dxo-sorting>

                            <dxo-editing mode="cell" [allowUpdating]="true">
                            </dxo-editing>

                            <dxo-paging [pageSize]="15"></dxo-paging>
                            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>
                            <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>

                            <dxi-column dataField="itemType" [allowEditing]="false" caption="Tip" dataType="id" alignment="center">
                                <dxo-lookup [dataSource]="exportImportItemType" valueExpr="id" displayExpr="name">
                                </dxo-lookup>
                            </dxi-column>

                            <dxi-column dataField="itemId" [allowEditing]="false" caption="Produs (PMW)" dataType="id" alignment="center" [width]="400">
                                <dxo-lookup [dataSource]="items" valueExpr="id" [displayExpr]="itemExpr">
                                </dxo-lookup>
                            </dxi-column>

                            <dxi-column dataField="referenceNumber" [allowEditing]="false" caption="Numar Referinta(XML)" dataType="string"
                                alignment="center">
                            </dxi-column>
                            
                            <dxi-column dataField="referenceNumber" [allowEditing]="false" caption="De Verificat Cod" cellTemplate="checkCodeTemplate" dataType="string" alignment="center" [visible]="false">
                            </dxi-column>

                            <dxi-column dataField="name" [allowEditing]="false" caption="Nume" dataType="string" alignment="center">
                            </dxi-column>
                            <dxi-column dataField="gtinCode" [allowEditing]="false" caption="Gtin Code" dataType="string" alignment="center" [visible]="false">
                            </dxi-column>
                            <dxi-column dataField="description" [allowEditing]="false" caption="Descriere(XML)" dataType="string" [width]="400"
                                alignment="center">
                            </dxi-column>
                            <dxi-column dataField="termsOfDelivery" [allowEditing]="false" caption="Conditii de livrare" dataType="string" [visible]="false"
                                alignment="center">
                            </dxi-column>
                            <dxi-column dataField="paymentTerms" [allowEditing]="false" caption="Conditii de plata" dataType="string" [visible]="false"
                                alignment="center">
                            </dxi-column>
                            <dxi-column dataField="price" [allowEditing]="false" caption="Pret (RON)" dataType="number" alignment="center">
                            </dxi-column>
                            <dxi-column dataField="measurmentUnit" [allowEditing]="false" caption="UM (XML)" dataType="string"
                                alignment="center">
                            </dxi-column>
                            <dxi-column dataField="itemMeasurmentUnit" [allowEditing]="false" caption="UM (PMW)" dataType="int"
                                alignment="center">
                                <dxo-lookup [dataSource]="measurementUnits" valueExpr="id" [displayExpr]="measurementUnitExpr">
                                </dxo-lookup>
                                <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                </dxi-validation-rule>
                            </dxi-column>
                            <dxi-column dataField="site" [allowEditing]="false" caption="Site de prezentare" dataType="string" [visible]="false"
                                alignment="center">
                            </dxi-column>

                            <dxi-column dataField="cpvId" [allowEditing]="false" caption="Cod CPV(PMW)" dataType="id" alignment="center" [visible]="false">
                                <dxo-lookup [dataSource]="cpvCodes" valueExpr="id" [displayExpr]="cpvExpr">
                                </dxo-lookup>
                            </dxi-column>
                            <dxi-column dataField="cpv" [allowEditing]="false" caption="Cod CPV(XML)" dataType="string" alignment="center" [visible]="false">
                            </dxi-column>

                            <dxi-column dataField="itemKeywords" [allowEditing]="false" caption="Cuvinte Cheie" dataType="string" alignment="center" [visible]="false">
                            </dxi-column>
                            
                            <dxi-column dataField="inStock" [allowEditing]="false" caption="In Stoc" dataType="boolean" alignment="center">
                            </dxi-column>
                            <dxi-column dataField="isExclusive" [allowEditing]="true" caption="Exclusiv" dataType="boolean" alignment="center">
                            </dxi-column>
                            <dxi-column dataField="isActive" [allowEditing]="true" caption="Activ / Se exporta" dataType="boolean" alignment="center">
                            </dxi-column>

                            <dxi-column caption="Actiuni" cellTemplate="cellTemplate" [width]="250" [minWidth]="250"
                                alignment="center">
                            </dxi-column>
                            <div *dxTemplate="let data of 'cellTemplate'">
                                <i class="fa fa-pencil fa-2x" style='padding-right : 15px' *ngIf="canUpdate()" href="javascript:void(0)"
                                    title="Edit" (click)="openDetails(data.data)"></i>
                                &nbsp;
                                <i class="fa fa-ban fa-2x" style='padding-right : 15px' href="javascript:void(0)" title="Stergere"
                                    (click)="deleteRow(data)"></i>
                                &nbsp;
                                <i class="fa fa-clone fa-2x" *ngIf="isValidForDiveded(data.data)" style='padding-right : 15px'
                                    href="javascript:void(0)" title="Adauga Produs Divizat" (click)="createDivided(data.data)"></i>
                                &nbsp;
                                <i class="fa fa-bars fa-2x" *ngIf="isValidForGrouped(data.data)" style='padding-right : 15px'
                                    href="javascript:void(0)" title="Adauga Produs Grupat" (click)="createGrouped(data.data)"></i>
                            </div>

                            <div *dxTemplate="let data of 'checkCodeTemplate'">
                                {{checkCodeExpr(data.data)}}
                             </div>
                        </dx-data-grid>
                        <br>

                        <dx-popup *ngIf="multipleItemUpdate" [width]="800" [height]="400" [showTitle]="true" [resizeEnabled]="true" title="Editare Multipla"
                            [dragEnabled]="true" [closeOnOutsideClick]="true" [(visible)]="editMultipleItemsPopupVisible">
                            <div>
                                <div class="form-group row">
                                    <div class="col-3 dx-field-label text-md-right">Conditii de livrare:</div>
                                    <div class="col-md-8 col-lg-8">
                                        <dx-text-box [(ngModel)]="multipleItemUpdate.termsOfDelivery" [ngModelOptions]="{standalone: true}">
                                        </dx-text-box>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-3 dx-field-label text-md-right">Conditii de plata:</div>
                                    <div class="col-md-8 col-lg-8">
                                        <dx-text-box [(ngModel)]="multipleItemUpdate.paymentTerms" [ngModelOptions]="{standalone: true}">
                                        </dx-text-box>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-3 dx-field-label text-md-right">UM (XML):</div>
                                    <div class="col-md-8 col-lg-8">
                                        <dx-text-box [(ngModel)]="multipleItemUpdate.measurmentUnit" [ngModelOptions]="{standalone: true}">
                                        </dx-text-box>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-3 dx-field-label text-md-right">Site de prezentare:</div>
                                    <div class="col-md-8 col-lg-8">
                                        <dx-text-box [(ngModel)]="multipleItemUpdate.site" [ngModelOptions]="{standalone: true}">
                                        </dx-text-box>
                                    </div>
                                </div>
                                <hr>
                                <dx-button text="{{'buttons.update' | translate}}"
                                    (onClick)="updateMultipleItems()">
                                </dx-button>
                            </div>
                        </dx-popup>

                        <dx-popup *ngIf="selectedRefItem" [width]="800" [height]="400" [showTitle]="true" [resizeEnabled]="true" title="Adauga Divizat"
                        [dragEnabled]="true" [closeOnOutsideClick]="true" [(visible)]="createDividedItemPopupVisible">
                        <div>
                            <div class="form-group row">
                                <div class="col-3 dx-field-label text-md-right">Divizat din:</div>
                                <div class="col-md-8 col-lg-8">
                                    <dx-text-box [(ngModel)]="selectedRefItem.name" [disabled]="true" [ngModelOptions]="{standalone: true}">
                                    </dx-text-box>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-3 dx-field-label text-md-right">Factor Divizare*:</div>
                                <div class="col-md-8 col-lg-8">
                                    <dx-number-box [(ngModel)]="divideFactor" [ngModelOptions]="{standalone: true}">
                                    </dx-number-box>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-3 dx-field-label text-md-right">UM Diviziune*:</div>
                                <div class="col-md-8 col-lg-8">
                                    <dx-text-box [(ngModel)]="divideUM" [ngModelOptions]="{standalone: true}">
                                    </dx-text-box>
                                </div>
                            </div>
                            
                            <hr>
                            <dx-button text="{{'buttons.save' | translate}}"
                                (onClick)="createDividedItem()">
                            </dx-button>
                        </div>
                       </dx-popup>

                    <dx-popup *ngIf="selectedItem" width="85%" height="85%" [showTitle]="true" [resizeEnabled]="true"
                        title="Detalii Inregistrare" [dragEnabled]="true" [closeOnOutsideClick]="true" [(visible)]="createItemPopupVisible">
                        <div>
                            <dx-validation-group #validationEditGroup>
                                <div class="form-group row" *ngIf="selectedItem.itemType != 3 && !selectedItem.id">
                                    <div class="col-2 dx-field-label text-md-right">Creare produse multiple:</div>
                                    <div class="col-md-4 col-lg-4">
                                        <dx-check-box [(ngModel)]="isMultipleCreate"></dx-check-box>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-2 dx-field-label text-md-right">Tip*:</div>
                                    <div class="col-md-4 col-lg-4">
                                        <dx-select-box [dataSource]="exportImportItemType" displayExpr="name" valueExpr="id" [disabled]="true"
                                            [(ngModel)]="selectedItem.itemType" [searchEnabled]="true">
                                            <dx-validator>
                                                <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                                </dxi-validation-rule>
                                            </dx-validator>
                                        </dx-select-box>
                                    </div>
    
                                    <div *ngIf="selectedItem.itemType == 1 && !isMultipleCreate" class="col-2 dx-field-label text-md-right">Produs (PMW):</div>
                                    <div *ngIf="selectedItem.itemType == 1 && !isMultipleCreate" class="col-md-4 col-lg-4">
                                        <dx-select-box [dataSource]="items" [displayExpr]="itemExpr" valueExpr="id" [disabled]="selectedItem.itemType != 1 || selectedItem.id" [searchEnabled]="true" [itemTemplate]="itemTemplate" (onValueChanged)="itemChangeEvent($event)"
                                            [(ngModel)]="selectedItem.itemId">
                                        </dx-select-box>
                                    </div>

                                    <div *ngIf="isMultipleCreate" class="col-2 dx-field-label text-md-right">Produse (PMW)*:</div>
                                    <div *ngIf="isMultipleCreate" class="col-md-4 col-lg-4">
                                        <dx-tag-box [dataSource]="items" [(ngModel)]="multipleItemsIds" valueExpr="id"
                                        [displayExpr]="itemExpr" [maxDisplayedTags]="4" [showSelectionControls]="true" [showMultiTagOnly]="false"
                                            applyValueMode="useButtons" [searchEnabled]="true" [hideSelectedItems]="false" [selectAllMode]="'allPages'">
                                            <dx-validator>
                                                <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                                </dxi-validation-rule>
                                            </dx-validator>
                                        </dx-tag-box>
                                    </div>
                                </div>

                                <div *ngIf="selectedItem.itemType == 3" class="form-group row">
                                    <div class="col-2 dx-field-label text-md-right">Produsele*:</div>
                                    <div class="col-md-4 col-lg-4">
                                        <dx-tag-box [dataSource]="nonGrupedImportExportItems" [(ngModel)]="groupedItemsIds" valueExpr="id"
                                            displayExpr="referenceNumber" [maxDisplayedTags]="4" [showSelectionControls]="true" [showMultiTagOnly]="false"
                                            applyValueMode="useButtons" [searchEnabled]="true" [hideSelectedItems]="false"
                                            [selectAllMode]="'allPages'">
                                            <dx-validator>
                                                <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                                </dxi-validation-rule>
                                            </dx-validator>
                                        </dx-tag-box>
                                    </div>
                                </div>
    
                                <div class="form-group row">
                                    <div *ngIf="!isMultipleCreate" class="col-2 dx-field-label text-md-right">Numar Referinta(XML)*:</div>
                                    <div *ngIf="!isMultipleCreate" class="col-md-4 col-lg-4">
                                        <dx-text-box [(ngModel)]="selectedItem.referenceNumber" [ngModelOptions]="{standalone: true}">
                                            <dx-validator>
                                                <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                                </dxi-validation-rule>
                                            </dx-validator>
                                        </dx-text-box>
                                    </div>
                                    <div class="col-2 dx-field-label text-md-right">Gtin Code:</div>
                                    <div class="col-md-4 col-lg-4">
                                        <dx-text-box [(ngModel)]="selectedItem.gtinCode" [ngModelOptions]="{standalone: true}">
                                        </dx-text-box>
                                    </div>
                                </div>
    
                                <div class="form-group row">
                                    <div class="col-2 dx-field-label text-md-right">Nume:</div>
                                    <div class="col-md-4 col-lg-4">
                                        <dx-text-area [height]="350" [(ngModel)]="selectedItem.name" [ngModelOptions]="{standalone: true}">
                                        </dx-text-area>
                                    </div>
                                    <div class="col-2 dx-field-label text-md-right">Descriere(XML):</div>
                                    <div class="col-md-4 col-lg-4">
                                        <dx-text-area [height]="350" [(ngModel)]="selectedItem.description" [ngModelOptions]="{standalone: true}">
                                        </dx-text-area>
                                    </div>
                                </div>
    
                                <div class="form-group row">
                                    <div class="col-2 dx-field-label text-md-right">Conditii de livrare:</div>
                                    <div class="col-md-4 col-lg-4">
                                        <dx-text-area [height]="350" [(ngModel)]="selectedItem.termsOfDelivery" [ngModelOptions]="{standalone: true}">
                                        </dx-text-area>
                                    </div>
                                    <div class="col-2 dx-field-label text-md-right">Conditii de plata:</div>
                                    <div class="col-md-4 col-lg-4">
                                        <dx-text-area [height]="350" [(ngModel)]="selectedItem.paymentTerms" [ngModelOptions]="{standalone: true}">
                                        </dx-text-area>
                                    </div>
                                </div>
    
                                <div class="form-group row">
                                    <div *ngIf="selectedItem.itemType == 1" class="col-2 dx-field-label text-md-right">UM (PMW):</div>
                                    <div *ngIf="selectedItem.itemType == 1" class="col-md-4 col-lg-4">
                                        <dx-select-box [dataSource]="measurementUnits" [displayExpr]="measurementUnitExpr" valueExpr="id" [disabled]="true"
                                            [(ngModel)]="selectedItem.itemMeasurmentUnit" [searchEnabled]="true">
                                        </dx-select-box>
                                    </div>
                                    <div class="col-2 dx-field-label text-md-right">UM (XML):</div>
                                    <div class="col-md-4 col-lg-4">
                                        <dx-text-box [(ngModel)]="selectedItem.measurmentUnit" [ngModelOptions]="{standalone: true}" [disabled]="selectedItem.itemType == 3">
                                        </dx-text-box>
                                    </div>
                                </div>
    
                                <div class="form-group row">
                                    <div *ngIf="!selectedItem.id" class="col-2 dx-field-label text-md-right">Pret (RON):</div>
                                    <div *ngIf="!selectedItem.id" class="col-md-4 col-lg-4">
                                        <dx-number-box [(ngModel)]="selectedItem.price" [ngModelOptions]="{standalone: true}">
                                        </dx-number-box>
                                    </div>
    
                                    <div class="col-2 dx-field-label text-md-right">Site de prezentare:</div>
                                    <div class="col-md-4 col-lg-4">
                                        <dx-text-box [(ngModel)]="selectedItem.site" [ngModelOptions]="{standalone: true}">
                                        </dx-text-box>
                                    </div>
                                </div>
    
                                <div class="form-group row">
                                    <div class="col-2 dx-field-label text-md-right">Cod CPV(PMW)*:</div>
                                    <div class="col-md-4 col-lg-4">
                                        <dx-select-box [dataSource]="cpvCodes" [displayExpr]="cpvExpr" valueExpr="id" [searchEnabled]="true" (onValueChanged)="itemCPVChangeEvent($event)"
                                            [(ngModel)]="selectedItem.cpvId">
                                        </dx-select-box>
                                    </div>
    
                                    <div class="col-2 dx-field-label text-md-right">Cod CPV(XML):</div>
                                    <div class="col-md-4 col-lg-4">
                                        <dx-text-box [(ngModel)]="selectedItem.cpv" [ngModelOptions]="{standalone: true}">
                                        </dx-text-box>
                                    </div>
                                </div>
    
                                <div class="form-group row">
                                    <div class="col-2 dx-field-label text-md-right">In stoc:</div>
                                    <div class="col-md-4 col-lg-4">
                                        <dx-check-box [(ngModel)]="selectedItem.inStock"></dx-check-box>
                                    </div>
                                    <div class="col-2 dx-field-label text-md-right">Activ:</div>
                                    <div class="col-md-4 col-lg-4">
                                        <dx-check-box [(ngModel)]="selectedItem.isActive"></dx-check-box>
                                    </div>
                                </div>
    
                                <div class="form-group row">
                                    <div class="col-2 dx-field-label text-md-right">Cuvinte Cheie:</div>
                                    <div class="col-md-4 col-lg-4">
                                        <dx-area-box [height]="120" [(ngModel)]="selectedItem.itemKeywords" [ngModelOptions]="{standalone: true}">
                                        </dx-area-box>
                                    </div>
                                    <div *ngIf="selectedItem.itemType == 2 || selectedItem.itemType == 3" class="col-2 dx-field-label text-md-right">Exclusiv:</div>
                                    <div *ngIf="selectedItem.itemType == 2 || selectedItem.itemType == 3" class="col-md-4 col-lg-4">
                                        <dx-check-box [(ngModel)]="selectedItem.isExclusive"></dx-check-box>
                                    </div>
                                </div>
                            </dx-validation-group>

                            <hr>
                            <dx-button *ngIf="!selectedItem.id" text="{{'buttons.save' | translate}}" (onClick)="save()">
                            </dx-button>
                            <dx-button *ngIf="selectedItem.id" text="{{'buttons.update' | translate}}" (onClick)="update()">
                            </dx-button>
                            &nbsp;
                            <dx-button text="{{'buttons.cancel' | translate}}" (onClick)="cancelPopup()">
                            </dx-button>
                        </div>
                    </dx-popup>

                        <hr>
                        <div class="form-group row" *ngIf="importExportItems && importExportItems.length > 0">
                            <div class="col-md-3 col-lg-3">
                                <dx-select-box [dataSource]="exportType" displayExpr="name" valueExpr="id"
                                    [(ngModel)]="selectedExportType" [searchEnabled]="true">
                                </dx-select-box>
                            </div>
                            <div class="col-md-3 col-lg-3">
                                <dx-button type="danger" text="Export XML" (onClick)="export()">
                                </dx-button>
                            </div>
                        </div>
                    </div>
                    <div [hidden]="!tabs[1].isActive">
                        <div class="row">
                            <div class="col-1 dx-field-label text-md-right">Liste de pret:</div>
                            <div class="col-md-3 col-lg-3">
                                <dx-tag-box [dataSource]="salePriceLists" [(ngModel)]="salePriceListIds"
                                    [displayExpr]="salePriceListExpr" valueExpr="id" [showSelectionControls]="true"
                                    [maxDisplayedTags]="3" [showMultiTagOnly]="false" applyValueMode="useButtons"
                                    [searchEnabled]="true" [hideSelectedItems]="false">
                                </dx-tag-box>
                            </div>
                        </div>
                        <hr>
                        <dx-button type="danger" text="Salveaza" (onClick)="saveSalePriceLists()">
                        </dx-button>
                    </div>
                    <div [hidden]="!tabs[2].isActive">
                        <hr>
                        <h5>Atentie! Datele vechi din tabela se vor sterge la fiecare import nou! Daca doriti sa pastrati datele, faceti un export inainte.
                            Articolele cod4 simplu din SICAP sunt urmate de '-', care nu se va importa in aplicatie. La export, articolele cod4 simplu se vor exporta urmate de '-'.
                            Aceasta datorita unei erori de import in SICAP.
                        </h5>
                        <hr>
                        <!-- <input type='file' accept='text/xml' multiple (change)='openFile($event)'>
                        <hr>
                        <dx-button *ngIf="showImportBtn" type="danger" text="Import" (onClick)="import()">
                        </dx-button> -->
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>