.adjust-width-endure-transport {
  max-width: 8.3%;
}

.table-title {
  font-size: 19px;
  color: rgb(196, 0, 0);
  font-weight: bold;
}

.fa-floppy-o, .fa-registered, .fa-ban, .fa-close {
  color: rgb(196, 0, 0);
}

.add-special-price-request-btn, .validate-requests-btn {
  color: white;
  background-color: red;
}

.info-tooltip {
  font-size: 16px;
  text-align: left;
}

.fa-info-circle.history {
  color: rgb(0, 100, 231);
  font-size: 20px;
}

.fa-info-circle.auction {
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th, .styled-table td {
  padding: 3px 3px;
  border: 1px solid #dddddd;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table td.align-right {
  text-align: right;
}

.price-approved-info-buttons {
  display: flex;
  align-items: center;
}

.custom-tooltip {
  position: absolute;
  z-index: 9999;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  max-width: 300px;
  display: none;
}

.tooltip-content {
  max-height: 300px;
  overflow-y: auto;
}

.tooltip-table {
  width: 100%;
}

.align-right {
  text-align: right;
}

.hidden {
  display: none;
}

.adjust-style-client-name {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.request-items-section-title {
  cursor: pointer;
  text-decoration: underline;
  font-size: 16px;
  color: rgb(196, 0, 0);
  font-weight: bold;
}

.no-padding-margin {
  margin: 0;
  padding: 0;
}

.fa-check, .fa-copy {
  color: green;
  font-size: 25px;
}

.fa-close, .fa-copy {
  font-size: 25px;
}

.rejected-header-template {
  display: flex; 
  align-items: center;
}

.tooltip.financial-info {
  font-size: 14px;
}

.negative-number {
  color: red;
}

.price-style {
  font-weight: bold;
}

.quantity-width {
  max-width: 400;
}

.item-turnover-data-loading {
  font-size: 16px;
}

.item-turnover-wrapper {
  overflow: auto;
}

.financial-info-popup-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.financial-info-text {
  color: #f44336;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.financial-info-label {
  border: 2px solid black;
}

.client-request-info-btn, .client-request-comments-btn {
  font-size: 17px;
  font-weight: bold;
  color: #00bcd4;
  border-radius: 50%;
  border: 1px solid white;
}

.client-request-info-btn:hover, .client-request-comments-btn:hover {
  cursor: pointer;
}

.client-requests-btns-wrapper {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.vip-button {
  background-color: red;
  color: white;
  border: none;
  padding: 2px 5px;
  font-size: 10px;
  cursor: pointer;
  border-radius: 3px;
}

.request-details {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
  background-color: #f5f5f5;
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.label {
  font-weight: bold;
  color: #000000;
}

.label.approved {
  color: #28a745;
}

.row > .col,
.row > [class*='col-'] {
    padding-left: 5px; 
    padding-right: 5px;
}

