<app-spinner [visible]="loaded"></app-spinner>
<div class="main-content">
    <div class="container-fluid">
        <div class="card card-plain">
            <app-title [title]="'Cerere Pret Special'"></app-title>
            <div *ngIf="isDataLoaded" class="row">

                <div class="col-lg-12 col-md-12 col-sm-6">
                    <div class="form-group row" *ngIf="!isGeneralDirectorFlag">
                        <div class="col-auto dx-field-label text-md-right">
                            <button type="button" id="infoTooltipAgent" class="btn btn-primary mt-0 btn-round" data-placement="top" [ngClass]="'btn-danger'" data-toggle="tooltip">
                                Informatii Utilizare
                            </button>
                        
                            <i class="fa fa-registered ml-2" style="cursor: pointer;font-size: 25px;" href="javascript:void(0)" title="Rulaj Client" (click)="openTurnover()"></i> 
                        </div>                                 
                    </div>
                    
                    <div class="form-group row" *ngIf="isGeneralDirectorFlag">
                        <div class="col-auto dx-field-label text-md-right">
                            <button type="button" id="infoTooltipDg" class="btn btn-primary mt-0 btn-round" data-placement="top" [ngClass]="'btn-danger'" data-toggle="tooltip">
                                Informatii Utilizare
                            </button>
                        
                            <i class="fa fa-registered ml-2" style="cursor: pointer;font-size: 25px;" href="javascript:void(0)" title="Rulaj Client" (click)="openTurnover()"></i> 
                        </div>
                    </div>

                    <div class="form-group row mb-2 ml-3">
                        <div class="col-md-12">
                            <div class="row align-items-center">
                                <div class="col-auto dx-field-label text-md-right" title="Client">Client:</div>
                                <div class="col-2" (click)="openPartnerDetails()" [title]="selectedPartner.name">
                                    <dx-text-box [(ngModel)]="selectedPartner.name" [maxLength]="50" [disabled]="true">
                                    </dx-text-box>
                                </div>
                    
                                <div class="col-auto dx-field-label text-md-right">Tip Client:</div>
                                <div class="col-1" [title]="selectedPartnerActivityAllocation">
                                    <dx-text-box [(ngModel)]="selectedPartnerActivityAllocation" [maxLength]="50" [disabled]="true">
                                    </dx-text-box>
                                </div>
                    
                                <div class="col-auto dx-field-label text-md-right">Inregistrare J:</div>
                                <div class="col-1" [title]="selectedPartner.tradeRegisterNumber">
                                    <dx-text-box [(ngModel)]="selectedPartner.tradeRegisterNumber" [maxLength]="25" [disabled]="true">
                                    </dx-text-box>
                                </div>
                    
                                <div class="col-auto dx-field-label text-md-right">Locatie:</div>
                                <div class="col-2" [title]="selectedPartnerComputedLocation">
                                    <dx-text-box [(ngModel)]="selectedPartnerComputedLocation" [maxLength]="25" [disabled]="true">
                                    </dx-text-box>
                                </div>
            
                                <div id="financialInfo" class="col-auto dx-field-label text-md-right financial-info-label" title="CA/Pf/NA">CA/Pf/NA:</div>
                                <div class="col-1" [title]="selectedPartnerComputedFinancialInfo">
                                    <dx-text-box [(ngModel)]="selectedPartnerComputedFinancialInfo" [maxLength]="25" [disabled]="true">
                                    </dx-text-box>
                                </div>
            
                                <div class="col-auto dx-field-label text-md-right" title="Post/Nume">Post/Nume:</div>
                                <div class="col-auto" [title]="selectedPartnerComputedAgent">
                                    <dx-text-box [(ngModel)]="selectedPartnerComputedAgent" [maxLength]="25" [disabled]="true">
                                    </dx-text-box>
                                </div>
                            </div>
                        </div>
                    </div>

                    <dx-validation-group #specialPriceRequestValidationGroup>
                        <div class="form-group row mb-2 ml-3">
                            <div class="col-md-12">
                                <div class="row align-items-center">
                                    <div class="col-auto dx-field-label text-md-right" title="Transport"><b>Transport:</b></div>
                                    <div class="col-auto">
                                        <dx-select-box [dataSource]="endureTransportEnum" displayExpr="name" valueExpr="id"
                                                [(ngModel)]="specialPriceRequest.endureTransportId" [searchEnabled]="true" [disabled]="selectedSpecialPriceRequestId">
                                            <dx-validator>
                                                <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                                </dxi-validation-rule>
                                            </dx-validator>
                                        </dx-select-box>
                                    </div>
                        
                                    <div class="col-auto dx-field-label text-md-right"><b>Tip Livrare:</b></div>
                                    <div class="col-1">
                                        <dx-select-box [dataSource]="deliveryTypeEnum" displayExpr="name" valueExpr="id"
                                                [(ngModel)]="specialPriceRequest.deliveryTypeId" [searchEnabled]="true" [disabled]="selectedSpecialPriceRequestId">
                                            <dx-validator>
                                                <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                                </dxi-validation-rule>
                                            </dx-validator>
                                        </dx-select-box>
                                    </div>
                        
                                    <div class="col-auto dx-field-label text-md-right"><b>Mod Plata:</b></div>
                                    <div class="col-1">
                                        <dx-select-box [dataSource]="paymentInstruments"
                                            [displayExpr]="getDisplayExprPaymentInstruments" valueExpr="id"
                                            [(ngModel)]="specialPriceRequest.paymentInstrumentId" [searchEnabled]="true" [disabled]="selectedSpecialPriceRequestId">
                                            <dx-validator>
                                                <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                                </dxi-validation-rule>
                                            </dx-validator>
                                        </dx-select-box>
                                    </div>
                        
                                    <div class="col-auto dx-field-label text-md-right"><b>Termen plata (zile):</b></div>
                                    <div class="col-auto">
                                        <dx-number-box [(ngModel)]="specialPriceRequest.paymentTerm" [min]="0" [disabled]="selectedSpecialPriceRequestId">
                                            <dx-validator>
                                                <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                                </dxi-validation-rule>
                                            </dx-validator>
                                        </dx-number-box>
                                    </div>
                
                                    <div class="col-auto dx-field-label text-md-right" title="CA/Pf/NA"><b>Termen livrare (zile):</b></div>
                                    <div class="col-auto">
                                        <dx-number-box [(ngModel)]="specialPriceRequest.deliveryTerm" [min]="0" [disabled]="selectedSpecialPriceRequestId">
                                            <dx-validator>
                                                <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                                </dxi-validation-rule>
                                            </dx-validator>
                                        </dx-number-box>
                                    </div>

                                    <div class="col-auto dx-field-label text-md-right" title="Localitate" *ngIf="specialPriceRequest.endureTransportId === 2">Localitate:</div>
                                    <div class="col-auto" *ngIf="specialPriceRequest.endureTransportId === 2">
                                        <dx-select-box [dataSource]="citiesDS" displayExpr="name" valueExpr="id" [displayExpr]="getDisplayExprCities"
                                            [(ngModel)]="specialPriceRequest.transportCityId" [searchEnabled]="true" [disabled]="selectedSpecialPriceRequestId">
                                        </dx-select-box>
                                    </div>

                                    <div class="col-auto dx-field-label text-md-right" title="Localitate" *ngIf="specialPriceRequest.endureTransportId === 2">Distanta Oras-Nemo:</div>
                                    <div class="col-auto" *ngIf="specialPriceRequest.endureTransportId === 2">
                                        <dx-text-box [(ngModel)]="specialPriceRequest.cityNemoDistance" [maxLength]="25" [disabled]="selectedSpecialPriceRequestId">
                                        </dx-text-box>
                                    </div>

                                    <div class="col-auto dx-field-label text-md-right" title="Localitate" *ngIf="specialPriceRequest.endureTransportId === 2">Tip Comanda:</div>
                                    <div class="col-auto" *ngIf="specialPriceRequest.endureTransportId === 2">
                                        <dx-select-box [dataSource]="orderTypeEnum" displayExpr="name" valueExpr="id"
                                                [(ngModel)]="specialPriceRequest.orderTypeId" [searchEnabled]="true" [disabled]="selectedSpecialPriceRequestId">
                                        </dx-select-box>
                                    </div>

                                    <div class="col-auto dx-field-label text-md-right" title="Greutate Bruta/Volumetrica" *ngIf="isGeneralDirectorFlag && selectedSpecialPriceRequestId"><b>Greutate Bruta/Volumetrica:</b></div>
                                    <div class="col-auto" *ngIf="isGeneralDirectorFlag && selectedSpecialPriceRequestId" [title]="(requestItemsGrossWeight | number: '1.2-2') + ' Kg/' + (requestItemsVolumetricWeight | number: '1.2-2') + ' Kg'">
                                        {{ (requestItemsGrossWeight | number: '1.2-2') }} Kg/{{ (requestItemsVolumetricWeight | number: '1.2-2') }} Kg
                                    </div>

                                    <div class="col-auto dx-field-label text-md-right" title="Transport Estimat -> Calcul aproximativ: (1 Kg - 10 Lei + 1 leu/Kg) * Max(Greutate Bruta, Volumetrica). Greutate Volumetrica = Volum(cm)/4000 se exprima in Kg. Divizorul de greutate poate fi: 4000, 5000, 6000" *ngIf="isGeneralDirectorFlag && selectedSpecialPriceRequestId"><b>Transport Estimat:</b></div>
                                    <div class="col-auto" *ngIf="isGeneralDirectorFlag && selectedSpecialPriceRequestId">
                                        {{ (estimatedTransport | number: '1.0-0') + ' ' + currencyName }}
                                    </div>

                                    <div class="col-auto dx-field-label text-md-right" title="% transport -> (Transport Estimat/Valoare Aprobata) * 100" *ngIf="isGeneralDirectorFlag && selectedSpecialPriceRequestId"><b>% transport:</b></div>
                                    <div class="col-auto" *ngIf="isGeneralDirectorFlag && selectedSpecialPriceRequestId">
                                        {{ (transportPercentage | number: '1.2-2') }} %
                                    </div>
                                </div>
                            </div>
                        </div>
                    </dx-validation-group>
                    
                    <hr />
        
                    <div class="form-group row">
                        <div class="col-md-7 col-lg-7">
                            <dx-text-area [(ngModel)]="specialPriceRequest.clientRequestInfo" [ngModelOptions]="{standalone: true}" 
                                [height]="100" [readOnly]="selectedSpecialPriceRequestId" placeholder="Clientul solicita (DOAR MOTIVUL!!! - De ce doreste acest pret? Ce firma ii da acest pret? ... (NU SCRIE: ce produse vrea, cand plateste... lucruri care exista deja in cerere!)):">
                            </dx-text-area>
                        </div>
        
                        <div class="col-md-5 col-lg-5">
                            <dx-text-area [(ngModel)]="specialPriceRequest.clientRequestComments" [ngModelOptions]="{standalone: true}" [height]="100"
                                [disabled]="!isGeneralDirectorFlag" placeholder="Comentarii la solicitare:">
                            </dx-text-area>
                        </div>
                    </div>
        
                    <hr />

                    <div class="table-title">
                        <span>Articole Cerute</span>  &nbsp; &nbsp;
                        <span class="request-items-section-title" (click)="openSpecialPriceRequestSection()" [innerHTML]="isRequestItemsSectionHidden ? 'Arata <i class=\'fa fa-long-arrow-down\'></i>' : 'Ascunde <i class=\'fa fa-long-arrow-up\'></i>'"></span> &nbsp; &nbsp;
                        <dx-button text="Adauga Cerere Pret Special" class="add-special-price-request-btn" (click)="onAddSpecialPriceRequestClick()" [disabled]="!requestItems || requestItems.length === 0"
                            *ngIf="!isRequestItemsSectionHidden"></dx-button>
                    </div> 
        
                    <div class="mt-4" *ngIf="!isRequestItemsSectionHidden">
                        <app-grid-toolbar #requestItemsGridToolbar [actions]="requestItemsActions" (addEvent)="addRequestItem()" (deleteEvent)="deleteRecords($event)">
                        </app-grid-toolbar>
                        <div class="float-none" style="clear: both;"></div>
                    </div>
                    <dx-data-grid *ngIf="!isRequestItemsSectionHidden" id="gridContainer" #requestItemsDataGrid [dataSource]="requestItems" [rowAlternationEnabled]="true"
                        [showBorders]="false" [allowColumnReordering]="true" (onEditorPreparing)="onEditorPreparing($event)" (onSelectionChanged)="selectionChanged($event)" (onContentReady)="contentReadyNewItems($event)">
        
                        <dxo-filter-panel [visible]="true">
                        </dxo-filter-panel>
                        <dxo-header-filter [visible]="true">
                        </dxo-header-filter>
                        <dxo-load-panel [enabled]="true"></dxo-load-panel>
                        <dxo-sorting mode="multiple"></dxo-sorting>
                        <dxo-editing mode="cell" [allowUpdating]="true"></dxo-editing>
                        <dxo-paging [pageSize]="15"></dxo-paging>
                        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>
                        <dxi-column dataField="itemId" caption="Articol" alignment="left" [width]="500">
                            <dxo-lookup [dataSource]="itemDS" valueExpr="id" [displayExpr]="getDisplayExprItems">
                            </dxo-lookup>
                            <dxi-validation-rule type="required" message="{{'required' | translate}}"></dxi-validation-rule>
                        </dxi-column>
                        <dxi-column dataField="quantity" caption="Solicitata" dataType="number" headerCellTemplate="quantityHeaderCellTemplate" alignment="right">
                            <dxo-format type="fixedPoint" [precision]="0"></dxo-format>  
                            <dxi-validation-rule type="required" message="{{'required' | translate}}"></dxi-validation-rule>
                        </dxi-column>
                        <dxi-column dataField="priceOfferedWithoutTva" caption="Pret Ofertat (fara tva)" dataType="number" alignment="right" cellTemplate="priceOfferedWithoutTvaCellTemplate">
                            <dxo-format type="fixedPoint" [precision]="2"></dxo-format>  
                            <dxi-validation-rule type="required" message="{{'required' | translate}}"></dxi-validation-rule>
                        </dxi-column>
                        <dxi-column dataField="priceRequestedWithoutTva" caption="Pret Solicitat (fara tva)" dataType="number" alignment="right" cellTemplate="priceRequestedWithoutTvaCellTemplate">
                            <dxo-format type="fixedPoint" [precision]="2"></dxo-format>  
                            <dxi-validation-rule type="required" message="{{'required' | translate}}"></dxi-validation-rule>
                        </dxi-column>
                        <dxi-column dataField="competingPartnerId" caption="Firma concurenta care i-a oferit pretul" dataType="number" alignment="left">
                            <dxo-lookup [dataSource]="partnersDS" valueExpr="id" [displayExpr]="getDisplayExprPartners">
                            </dxo-lookup>
                        </dxi-column>
                        <dxi-column caption="" cellTemplate="cellTemplate" [width]="50" [minWidth]="50"
                                alignment="center">
                        </dxi-column>
                        <div *dxTemplate="let data of 'cellTemplate'">
                            <i class="fa fa-ban fa-2x" style='padding-right : 15px' href="javascript:void(0)"
                                title="Stergere" (click)="deleteRow(data)"></i>
                        </div>
                        <div *dxTemplate="let info of 'quantityHeaderCellTemplate'">
                            <p id="quantityHeaderCaptionNewItems" style="margin: 0">{{info.column.caption}}</p>
                        </div> 
                        <div *dxTemplate="let data of 'priceOfferedWithoutTvaCellTemplate'">
                            {{ data.data.priceOfferedWithoutTva ? (data.data.priceOfferedWithoutTva | number:'1.2-2') + ' ' + currencyName : '' }}
                        </div>
                        <div *dxTemplate="let data of 'priceRequestedWithoutTvaCellTemplate'">
                            {{ data.data.priceRequestedWithoutTva ? (data.data.priceRequestedWithoutTva | number:'1.2-2') + ' ' + currencyName : '' }}
                        </div>
                    </dx-data-grid>
        
                    <hr />
        
                    <div *ngIf="isGeneralDirectorFlag && selectedSpecialPriceRequestId" class="mt-4">
                            <app-grid-toolbar #specialPriceRequestsGridToolbar [actions]="specialPriceRequestHistoryActions" (refreshEvent)="refreshSpecialPriceRequests()"
                                [showSpecialButton]="isGeneralDirectorFlag && selectedSpecialPriceRequestId" [specialButtonText]="'Valideaza Cererile'" [specialButtonDescription]="'Valideaza Cererile'"
                                [specialButtonIcon]="'fa fa-check-circle'" (specialEvent)="validateSpecialPriceRequest()"
                                
                                [showSecondSpecialButton]="true"
                                [secondSpecialButtonText]="'Vezi Istoric'" [secondSpecialButtonDescription]="'ISTORIC (Atentie! Toate datele sunt valabile la data procesarii Cererii de Pret Special)'"
                                [secondSpecialButtonIcon]="'fa fa-history'" (secondSpecialEvent)="viewSpecialPriceRequestsHistory()">
                            </app-grid-toolbar>
                        <div class="float-none" style="clear: both;"></div>
                    </div>
                    <dx-data-grid id="specialPriceRequestsGridContainer" #specialPriceRequestsDataGrid [dataSource]="specialPriceRequests"
                        (onRowUpdated)="onRowUpdated($event)" [rowAlternationEnabled]="true" (onContentReady)="contentReadyRequestedItems($event)" (onCellPrepared)="onCellPreparedRequestedItems($event)">
                        <dxo-sorting mode="none"></dxo-sorting> 
                        <dxo-filter-row [visible]="true"></dxo-filter-row> 
                        <dxo-filter-panel [visible]="true">
                        </dxo-filter-panel>
                        <dxo-header-filter [visible]="true">
                        </dxo-header-filter> 
                        <dxo-load-panel [enabled]="true"></dxo-load-panel>
                        <dxo-editing mode="cell" [allowUpdating]="true"></dxo-editing>
                        <dxo-paging [pageSize]="15"></dxo-paging>
                        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>
                        <dxi-column dataField="" caption="" [allowEditing]="false" cellTemplate="itemHistoryTemplate" alignment="center" [width]="90"></dxi-column>
                        <dxi-column dataField="itemId" caption="Articol (Cod - Denumire) - Cereri Nevalidate/In curs de aprobare" [allowEditing]="false" alignment="left" [width]="500">
                            <dxo-lookup [dataSource]="itemDS" valueExpr="id" [displayExpr]="getDisplayExprItems">
                            </dxo-lookup>
                        </dxi-column>
                        <dxi-column dataField="quantity" caption="Solicitata (Bax)" [allowEditing]="false" dataType="number" alignment="right" format="#,###" headerCellTemplate="quantityHeaderCellTemplate" cellTemplate="quantityCellTemplate" [width]="100">
                        </dxi-column>
                        <!-- <dxi-column dataField="baxValueComputed" caption="Bax" [allowEditing]="false" dataType="string" alignment="right" format="#,###.##" [minWidth]="70" [width]="70"></dxi-column> -->
                        <dxi-column dataField="itemGrossWeight" caption="GU" [allowEditing]="false" dataType="number" alignment="right" format="#,###.##" [minWidth]="70" [width]="70" cellTemplate="itemGrossWeightCellTemplate"></dxi-column>
                        <dxi-column dataField="isAtOrder" caption="LaComanda" dataType="boolean" alignment="center" headerCellTemplate="isAtOrderHeaderCellTemplate" [width]="70"></dxi-column>
                        <dxi-column dataField="stock" caption="Stoc" dataType="number" [allowEditing]="false" alignment="right" format="#,###" [minWidth]="70" [width]="100"></dxi-column>
                        <dxi-column dataField="isStockAvailable" caption="Disponibil" dataType="boolean" [allowEditing]="false" alignment="left" cellTemplate="isStockAvailableCellTemplate" headerCellTemplate="isStockAvailableHeaderCellTemplate" [minWidth]="80" [width]="80"></dxi-column>
                        <dxi-column dataField="turnoverRsComputed" caption="R3/6/9/12" dataType="string" [allowEditing]="false" alignment="right" [minWidth]="100" [width]="200"></dxi-column>
                        <dxi-column dataField="d0Andc0" caption="D0 (C0)" dataType="string" [allowEditing]="false" alignment="right" [width]="100"></dxi-column>
                        <dxi-column dataField="priceOfferedWithoutTva" caption="Pret Ofertat" dataType="number" [allowEditing]="false" alignment="right" format="#,###.##" cellTemplate="priceOfferedWithoutTvaTemplate" [width]="100">
                            <dxo-format type="fixedPoint" [precision]="2"></dxo-format>  
                        </dxi-column>
                        <dxi-column dataField="discountGridCmpComputed" caption="% Grila(CMP)" dataType="string" [allowEditing]="false" alignment="left" cellTemplate="discountGridCmpComputedTemplate" [minWidth]="100" [width]="150"></dxi-column>
                        <dxi-column dataField="priceRequestedWithoutTva" caption="Pret Solicitat" dataType="number" [allowEditing]="false" alignment="right" format="#,###.##" cellTemplate="priceRequestedWithoutTvaTemplate" [width]="100">
                            <dxo-format type="fixedPoint" [precision]="2"></dxo-format>  
                        </dxi-column>
                        <dxi-column dataField="discountGridCmpRequestedComputed" caption="% Cerere(CMP)" dataType="string" [allowEditing]="false" alignment="left" cellTemplate="discountGridCmpRequestedComputedTemplate" [minWidth]="100" [width]="150"></dxi-column>
                        <dxi-column dataField="competingPartnerId" caption="Firma Concurenta" dataType="string" alignment="left" [allowEditing]="false" [width]="300">
                            <dxo-lookup [dataSource]="partnersDS" valueExpr="id" [displayExpr]="getDisplayExprPartners">
                            </dxo-lookup>            
                        </dxi-column>
                        <dxi-column dataField="priceApproved" caption="Pret Aprobat" dataType="number" [allowEditing]="isGeneralDirectorFlag" alignment="right" headerCellTemplate="priceApprovedHeaderTemplate" format="#,###.##" cellTemplate="priceApprovedTemplate" [width]="170">
                            <dxo-format type="fixedPoint" [precision]="2"></dxo-format>  
                        </dxi-column>
                        <dxi-column dataField="approvedDiscountGridCmp" caption="% Grila Aprobat(CMP)" dataType="string" [allowEditing]="false" alignment="left" cellTemplate="approvedDiscountGridCmpTemplate" [minWidth]="100" [width]="150"></dxi-column>
                        <dxi-column dataField="approvedQuantity" caption="Cantitate Aprobata" [allowEditing]="isGeneralDirectorFlag" dataType="number" alignment="right" cellTemplate="approvedQuantityCellTemplate" headerCellTemplate="approvedQuantityHeaderTemplate" format="#,###" [width]="210"
                            [editorOptions]="{ format: { type: 'fixedPoint', precision: 0 } }">
                        </dxi-column>
                        <dxi-column dataField="approvedPaymentConditions" caption="Conditii Comerciale Aprobate" dataType="string" [allowEditing]="isGeneralDirectorFlag" alignment="left" [width]="200"></dxi-column>
                        <dxi-column dataField="created" caption="Creat" dataType="date" format="dd.MM.yyyy" [allowEditing]="false" alignment="center" [width]="100"></dxi-column>

                        <div *dxTemplate="let data of 'itemHistoryTemplate'; let i = index">                     
                            <div class="price-approved-info-buttons">
                                <div>
                                    <i class="fa fa-info-circle history" [attr.id]="generateTooltipHistoryId(data.data.id)" aria-hidden="true" (mouseenter)="onMouseEnterHistory(data.data.itemId, data.data.id)"></i>
                                </div>
                                &nbsp;
                                <div>
                                    <i class="fa fa-registered fa-2x" href="javascript:void(0)" title="Rulaj" (click)="openItemTurnover(data.data.itemId)"></i>
                                </div>
                                &nbsp;
                                <div *ngIf="isItemOnVIP(data.data.itemId)">
                                    <button class="vip-button">VIP</button>
                                </div>
                            </div>
                        </div>
                        <div *dxTemplate="let info of 'priceApprovedHeaderTemplate'" class="rejected-header-template">
                            <i id="copyPriceRequestedAllRequestsTooltip" class="fa fa-check" aria-hidden="true" (click)="copyPriceRequestedAllRequests()" *ngIf="isGeneralDirectorFlag"></i> &nbsp;
                            <p style="margin: 0">{{info.column.caption}}</p> &nbsp;
                            <i id="rejectAllRequestsTooltip" class="fa fa-close" (click)="rejectAllRequests()" *ngIf="isGeneralDirectorFlag"></i>
                        </div>    
                        <div *dxTemplate="let info of 'approvedQuantityHeaderTemplate'" class="rejected-header-template">
                            <i id="copyQuantityAllRequestsTooltip" class="fa fa-check" aria-hidden="true" (click)="copyQuantityAllRequests()" *ngIf="isGeneralDirectorFlag"></i>
                            <p style="margin: 0">{{info.column.caption}}</p> &nbsp;
                            <i id="rejectQuantityAllRequestsTooltip" class="fa fa-close" (click)="rejectQuantityAllRequests()" *ngIf="isGeneralDirectorFlag"></i>
                        </div>     
                        <div *dxTemplate="let data of 'discountGridCmpComputedTemplate'">
                            <ng-container>
                                <div [title]="data.data.discountGridCmpComputed">
                                    {{ data.data.salePriceListCode }}
                                    <span [ngStyle]="{ 'color': data.data.auxDiscountGrid < 0 ? 'red' : 'inherit' }">
                                        {{ data.data.auxDiscountGrid }}%
                                    </span>
                                    <span>
                                        (<span [ngStyle]="{ 'color': data.data.auxCmp < 0 ? 'red' : 'inherit' }">
                                            {{ data.data.auxCmp }}%
                                        </span>)
                                    </span>
                                </div>
                            </ng-container>
                        </div> 
                        <div *dxTemplate="let data of 'discountGridCmpRequestedComputedTemplate'">
                            <ng-container>
                                <div [title]="data.data.discountGridCmpRequestedComputed">
                                    {{ data.data.salePriceListCode }}
                                    <span [ngStyle]="{ 'color': data.data.auxDiscountGridRequested < 0 ? 'red' : 'inherit' }">
                                        {{ data.data.auxDiscountGridRequested }}%
                                    </span>
                                    <span>
                                        (<span [ngStyle]="{ 'color': data.data.auxCmpRequested < 0 ? 'red' : 'inherit' }">
                                            {{ data.data.auxCmpRequested }}%
                                        </span>)
                                    </span>
                                </div>
                            </ng-container>
                        </div>  
                        <div *dxTemplate="let data of 'approvedDiscountGridCmpTemplate'">
                            <ng-container *ngIf="data.data.priceApproved">
                                <div [title]="data.data.approvedDiscountGridCmp">
                                    {{ data.data.salePriceListCode }}
                                    <span [ngStyle]="{ 'color': data.data.auxDiscountGridApproved < 0 ? 'red' : 'inherit' }">
                                        {{ data.data.auxDiscountGridApproved }}%
                                    </span>
                                    <span>
                                        (<span [ngStyle]="{ 'color': data.data.auxCmpRequestedApproved < 0 ? 'red' : 'inherit' }">
                                            {{ data.data.auxCmpRequestedApproved }}%
                                        </span>)
                                    </span>
                                </div>
                            </ng-container>
                        </div>              
                        <div *dxTemplate="let data of 'priceRequestedWithoutTvaTemplate'">
                            <div class="price-style" [ngStyle]="{ 'color': data.data.priceRequestedWithoutTva == data.data.priceApproved ? 'blue' : 'inherit' }">{{ (data.data.priceRequestedWithoutTva | number:'1.2-2') + ' ' + currencyName }}</div>
                        </div>   
                        <div *dxTemplate="let data of 'priceOfferedWithoutTvaTemplate'">
                            <div class="price-style" [ngStyle]="{ 'color': (data.data.isRejected) ? 'red' : 'inherit' }">{{ (data.data.priceOfferedWithoutTva | number:'1.2-2') + ' ' + currencyName }}</div>
                        </div>   
                        <div *dxTemplate="let data of 'priceApprovedTemplate'">
                            <div class="price-style" [ngStyle]="{ 'color': (data.data.priceApproved != data.data.priceRequestedWithoutTva && !data.data.isRejected) 
                                ? 'green' 
                                : (data.data.isRejected)
                                ? 'red' : 'inherit' }">{{ data.data.priceApproved ? ((data.data.priceApproved | number:'1.2-2') + ' ' + currencyName) : '' }}</div>
                        </div>  
                        <div *dxTemplate="let data of 'approvedQuantityCellTemplate'">
                            <div class="price-style">{{ data.data.approvedQuantity | number:'1.0-0' }}</div>
                        </div>   
                        
                        <div *dxTemplate="let info of 'quantityHeaderCellTemplate'">
                            <p id="quantityHeaderCaptionRequestedItems" style="margin: 0">{{info.column.caption}}</p>
                        </div>
                        <div *dxTemplate="let data of 'isStockAvailableCellTemplate'">
                            <div [ngStyle]="{ 'color': data.data.isStockAvailable ? 'black' : 'red' }">
                                {{ data.data.isStockAvailable ? 'Da' : 'Nu' }}
                            </div>
                        </div>  
                        <div *dxTemplate="let info of 'isStockAvailableHeaderCellTemplate'">
                            <p id="isStockAvailableHeaderCaptionRequestedItems" style="margin: 0">{{info.column.caption}}</p>
                        </div>
                        <div *dxTemplate="let info of 'isAtOrderHeaderCellTemplate'">
                            <p id="isAtOrderHeaderCaptionRequestedItems" style="margin: 0">{{info.column.caption}}</p>
                        </div>
                        <div *dxTemplate="let data of 'quantityCellTemplate'">
                            {{ data.data.quantity | number: '1.0-0' }} ({{ data.data.baxValueComputed | number: '1.2-2' }})
                        </div>  

                        <div *dxTemplate="let data of 'itemGrossWeightCellTemplate'">
                            <div *ngIf="data.data.itemGrossWeight">
                                {{ data.data.itemGrossWeight | number: '1.2-2' }} Kg
                            </div>
                        </div>
                    </dx-data-grid>    

                    <div class="request-details" *ngIf="isGeneralDirectorFlag && selectedSpecialPriceRequestId">
                        <span class="label" title="Cantitate Solicitata * Pret Ofertat">Valoare Ofertata:</span> {{ (offeredValue | number: '1.2-2') + ' ' + currencyName }},  
                        <span class="label" title="Cantitate Solicitata * (Pret Ofertat - Pret Solicitat)"> % solicitat:</span> {{ (requestedPercentage | number: '1.2-2') + ' ' + currencyName }}  
                        (<span class="label" title="Cantitate Solicitata * (Pret Solicitat - CMP)">adaos:</span> {{ (requestedAddition | number: '1.2-2') + ' ' + currencyName }}),  
                        <span class="label approved" title="Cantitate Solicitata * Pret Aprobat">Valoare Aprobata:</span> {{ (approvedValue | number: '1.2-2') + ' ' + currencyName }},  
                        <span class="label approved" title="Cantitate Solicitata * (Pret Ofertat - PretAprobat)"> % acordat:</span> {{ (approvedPercentage | number: '1.2-2') + ' ' + currencyName }}  
                        (<span class="label approved" title="Cantitate Solicitata * (Pret Aprobat - CMP)">adaos:</span> {{ (approvedAddition | number: '1.2-2') + ' ' + currencyName }})
                    </div>
                    
                    <hr />
        
                    <!-- <div class="mt-4">
                            <app-grid-toolbar #specialPriceRequestHistoryGridToolbar [actions]="specialPriceRequestHistoryActions" (refreshEvent)="refreshSpecialPriceRequestHistory()"
                                [showSpecialButton]="true" [specialButtonText]="'Vezi Istoric'" [specialButtonDescription]="'ISTORIC (Atentie! Toate datele sunt valabile la data procesarii Cererii de Pret Special)'"
                                [specialButtonIcon]="'fa fa-history'" (specialEvent)="viewSpecialPriceRequestsHistory()">
                            </app-grid-toolbar>
                        <div class="float-none" style="clear: both;"></div>
                    </div> -->
                    
                    <div *ngIf="specialPriceRequestHistory && isHistoryButtonClicked">
                        <dx-data-grid id="specialPriceRequestHistoryGridContainer" #specialPriceRequestHistoryDataGrid [dataSource]="specialPriceRequestHistory" 
                        [rowAlternationEnabled]="true" [showBorders]="false" [allowColumnReordering]="true" (onContentReady)="contentReadyHistoryItems($event)" (onCellPrepared)="onCellPreparedHistoryItems($event)">
                        <dxo-filter-row [visible]="true"></dxo-filter-row>
                        <dxo-filter-panel [visible]="true">
                        </dxo-filter-panel>
                        <dxo-header-filter [visible]="true">
                        </dxo-header-filter>
                        <dxo-load-panel [enabled]="true"></dxo-load-panel>
                        <dxo-sorting mode="multiple"></dxo-sorting>
                        <dxo-editing mode="cell" [allowUpdating]="true"></dxo-editing>
                        <dxo-paging [pageSize]="15"></dxo-paging>
                        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>
                        <dxi-column dataField="" caption="" [allowEditing]="false" cellTemplate="itemHistoryTemplate" alignment="center" [width]="90"></dxi-column>
                        <dxi-column dataField="itemId" caption="Articol (Cod - Denumire) - Istoric Cereri" [allowEditing]="false" alignment="left" [width]="500">
                            <dxo-lookup [dataSource]="itemDS" valueExpr="id" [displayExpr]="getDisplayExprItems">
                            </dxo-lookup>           
                        </dxi-column>
                        <dxi-column dataField="quantity" caption="Solicitata (Bax)" [allowEditing]="false" dataType="number" alignment="right" format="#,###" headerCellTemplate="quantityHeaderCellTemplate" cellTemplate="quantityCellTemplate" [width]="100"></dxi-column>
                        <!-- <dxi-column dataField="baxValueComputed" caption="Bax" [allowEditing]="false" dataType="string" alignment="right" format="#,###.##" [minWidth]="70" [width]="70"></dxi-column> -->
                        <dxi-column dataField="itemGrossWeight" caption="GU" [allowEditing]="false" dataType="number" alignment="right" format="#,###.##" [minWidth]="70" [width]="70" cellTemplate="itemGrossWeightCellTemplate"></dxi-column>
                        <dxi-column dataField="stock" caption="Stoc" dataType="number" [allowEditing]="false" alignment="right" format="#,###" [minWidth]="70" [width]="100"></dxi-column>
                        <dxi-column dataField="isStockAvailable" caption="Disponibil" dataType="boolean" [allowEditing]="false" alignment="left" cellTemplate="isStockAvailableCellTemplate" headerCellTemplate="isStockAvailableHeaderCellTemplate" [minWidth]="80" [width]="80"></dxi-column>
                        <dxi-column dataField="turnoverRsComputed" caption="R3/6/9/12" dataType="string" [allowEditing]="false" alignment="right" [minWidth]="100" [width]="200"></dxi-column>
                        <dxi-column dataField="d0Andc0" caption="D0 (C0)" dataType="string" [allowEditing]="false" alignment="right" [width]="100"></dxi-column>
                        <dxi-column dataField="priceOfferedWithoutTva" caption="Pret Ofertat" dataType="number" [allowEditing]="false" alignment="right" format="{ type: 'fixedPoint', precision: 2 }" cellTemplate="priceOfferedWithoutTvaTemplate" [width]="100">
                            <dxo-format type="fixedPoint" [precision]="2"></dxo-format>  
                        </dxi-column>
                        <dxi-column dataField="discountGridCmpComputed" caption="% Grila(CMP)" dataType="string" [allowEditing]="false" alignment="left" cellTemplate="discountGridCmpComputedTemplate" [minWidth]="100" [width]="150"></dxi-column>
                        <dxi-column dataField="priceRequestedWithoutTva" caption="Pret Solicitat" dataType="number" [allowEditing]="false" alignment="right" format="{ type: 'fixedPoint', precision: 2 }"  cellTemplate="priceRequestedWithoutTvaTemplate" [width]="100">
                            <dxo-format type="fixedPoint" [precision]="2"></dxo-format>  
                        </dxi-column>
                        <dxi-column dataField="discountGridCmpRequestedComputed" caption="% Cerere(CMP)" dataType="string" [allowEditing]="false" alignment="left" cellTemplate="discountGridCmpRequestedComputedTemplate" [minWidth]="100" [width]="150"></dxi-column>
                        <dxi-column dataField="competingPartnerId" caption="Firma Concurenta" dataType="string" alignment="left" [allowEditing]="false" [width]="300">
                            <dxo-lookup [dataSource]="partnersDS" valueExpr="id" [displayExpr]="getDisplayExprPartners">
                            </dxo-lookup>            
                        </dxi-column>
                        <dxi-column dataField="priceApproved" caption="Pret Aprobat" dataType="number" [allowEditing]="false" alignment="right" format="#,###.##" cellTemplate="priceApprovedTemplate" [width]="100">
                            <dxo-format type="fixedPoint" [precision]="2"></dxo-format>  
                        </dxi-column>
                        <dxi-column dataField="approvedDiscountGridCmp" caption="% Grila Aprobat(CMP)" dataType="string" [allowEditing]="false" alignment="left" cellTemplate="approvedDiscountGridCmpTemplate" [minWidth]="100" [width]="150"></dxi-column>
                        <dxi-column dataField="approvedQuantity" caption="Cantitate Aprobata" [allowEditing]="false" dataType="number" alignment="right" format="#,###" cellTemplate="approvedQuantityCellTemplate" [width]="100"></dxi-column>
                        <dxi-column dataField="approvedPaymentConditions" caption="Conditii Comerciale Aprobate" dataType="string" [allowEditing]="false" cellTemplate="approvedPaymentConditionsTemplate" alignment="left" [width]="200"></dxi-column>
                        <dxi-column dataField="created" caption="Creat" dataType="date" format="dd.MM.yyyy" [allowEditing]="false" alignment="center" [width]="100"></dxi-column>
                        <dxi-column dataField="approvingUser" caption="Validat de catre" dataType="string" alignment="left" [allowEditing]="false" [width]="100"></dxi-column>

                        <div *dxTemplate="let data of 'itemHistoryTemplate'; let i = index">                     
                            <div class="price-approved-info-buttons">
                                <div>
                                    <i class="fa fa-info-circle history" [attr.id]="generateTooltipHistoryId(data.data.id)" aria-hidden="true" (mouseenter)="onMouseEnterHistory(data.data.itemId, data.data.id)"></i>
                                </div>
                                &nbsp;
                                <div>
                                    <i class="fa fa-registered fa-2x" href="javascript:void(0)" title="Rulaj" (click)="openItemTurnover(data.data.itemId)"></i>
                                </div>
                                &nbsp;
                                <div *ngIf="isItemOnVIP(data.data.itemId)">
                                    <button class="vip-button">VIP</button>
                                </div>
                            </div>
                        </div>
                        <div *dxTemplate="let data of 'discountGridCmpComputedTemplate'">
                            <ng-container>
                                <div [title]="data.data.discountGridCmpComputed">
                                    {{ data.data.salePriceListCode }}
                                    <span [ngStyle]="{ 'color': data.data.auxDiscountGrid < 0 ? 'red' : 'inherit' }">
                                        {{ data.data.auxDiscountGrid }}%
                                    </span>
                                    <span>
                                        (<span [ngStyle]="{ 'color': data.data.auxCmp < 0 ? 'red' : 'inherit' }">
                                            {{ data.data.auxCmp }}%
                                        </span>)
                                    </span>
                                </div>
                            </ng-container>
                        </div> 
                        <div *dxTemplate="let data of 'discountGridCmpRequestedComputedTemplate'">
                            <ng-container>
                                <div [title]="data.data.discountGridCmpRequestedComputed">
                                    {{ data.data.salePriceListCode }}
                                    <span [ngStyle]="{ 'color': data.data.auxDiscountGridRequested < 0 ? 'red' : 'inherit' }">
                                        {{ data.data.auxDiscountGridRequested }}%
                                    </span>
                                    <span>
                                        (<span [ngStyle]="{ 'color': data.data.auxCmpRequested < 0 ? 'red' : 'inherit' }">
                                            {{ data.data.auxCmpRequested }}%
                                        </span>)
                                    </span>
                                </div>
                            </ng-container>
                        </div>  
                        <div *dxTemplate="let data of 'approvedDiscountGridCmpTemplate'">
                            <ng-container *ngIf="data.data.priceApproved">
                                <div [title]="data.data.approvedDiscountGridCmp">
                                    {{ data.data.salePriceListCode }}
                                    <span [ngStyle]="{ 'color': data.data.auxDiscountGridApproved < 0 ? 'red' : 'inherit' }">
                                        {{ data.data.auxDiscountGridApproved }}%
                                    </span>
                                    <span>
                                        (<span [ngStyle]="{ 'color': data.data.auxCmpRequestedApproved < 0 ? 'red' : 'inherit' }">
                                            {{ data.data.auxCmpRequestedApproved }}%
                                        </span>)
                                    </span>
                                </div>
                            </ng-container>
                        </div>     
                        <div *dxTemplate="let data of 'priceRequestedWithoutTvaTemplate'">
                            <div class="price-style" [ngStyle]="{ 'color': data.data.priceRequestedWithoutTva == data.data.priceApproved ? 'blue' : 'inherit' }">{{ (data.data.priceRequestedWithoutTva | number:'1.2-2') + ' ' + currencyName }}</div>
                        </div>   
                        <div *dxTemplate="let data of 'priceOfferedWithoutTvaTemplate'">
                            <div class="price-style" [ngStyle]="{ 'color': (data.data.isRejected) ? 'red' : 'inherit' }">{{ (data.data.priceOfferedWithoutTva | number:'1.2-2') + ' ' + currencyName }}</div>
                        </div>   
                        <div *dxTemplate="let data of 'priceApprovedTemplate'">
                            <div [attr.id]="generatePriceApprovedTooltip(data.data.id)" class="price-style" [ngStyle]="{ 'color': (data.data.priceApproved != data.data.priceRequestedWithoutTva && !data.data.isRejected) 
                                ? 'green' 
                                : (data.data.isRejected)
                                ? 'red' : 'inherit' }" (mouseenter)="onMouseEnterPriceApprovedHistory(data.data.id)">{{ data.data.priceApproved ? ((data.data.priceApproved | number:'1.2-2') + ' ' + currencyName) : '' }}</div>
                        </div>  
                        <div *dxTemplate="let data of 'approvedQuantityCellTemplate'">
                            <div class="price-style">{{ data.data.approvedQuantity | number:'1.0-0' }}</div>
                        </div>     
                        <div *dxTemplate="let data of 'approvedPaymentConditionsTemplate'">
                            <div class="client-requests-btns-wrapper">
                                <span class="client-request-info-btn" (click)="copyToClipboard(data.data.clientRequestInfo)" title="{{ data.data.clientRequestInfo ? 'Solicitare: ' + data.data.clientRequestInfo : 'Nu are comentarii la solicitare' }}">s</span>
                                <span class="client-request-comments-btn" (click)="copyToClipboard(data.data.clientRequestComments)" title="{{ data.data.clientRequestComments ? 'Raspuns: ' + data.data.clientRequestComments : 'Nu are comentarii la raspuns' }}">r</span>
                                <span [title]="data.data.approvedPaymentConditions">{{ data.data.approvedPaymentConditions }}</span>
                            </div>
                        </div>  
                             
                        <div *dxTemplate="let info of 'quantityHeaderCellTemplate'">
                            <p id="quantityHeaderCaptionHistoryItems" style="margin: 0">{{info.column.caption}}</p>
                        </div>
                        <div *dxTemplate="let data of 'isStockAvailableCellTemplate'">
                            <div [ngStyle]="{ 'color': data.data.isStockAvailable ? 'black' : 'red' }">
                                {{ data.data.isStockAvailable ? 'Da' : 'Nu' }}
                            </div>
                        </div>
                        <div *dxTemplate="let info of 'isStockAvailableHeaderCellTemplate'">
                            <p id="isStockAvailableHeaderCaptionHistoryItems" style="margin: 0">{{info.column.caption}}</p>
                        </div>
                        <div *dxTemplate="let data of 'quantityCellTemplate'">
                            {{ data.data.quantity | number: '1.0-0' }} ({{ data.data.baxValueComputed | number: '1.2-2' }})
                        </div> 
                        <div *dxTemplate="let data of 'itemGrossWeightCellTemplate'">
                            <div *ngIf="data.data.itemGrossWeight">
                                {{ data.data.itemGrossWeight | number: '1.2-2' }} Kg
                            </div>
                        </div>
                    </dx-data-grid>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<dx-tooltip target="#infoTooltipAgent" showEvent="dxhoverstart" hideEvent="dxhoverend">
    <div *dxTemplate="let data of 'content'" class="info-tooltip" position="top">
        <b>Informatii Adaugare Cerere Pret Special</b>
        <br />
        Se completeaza formularul din partea de sus cu datele necesare. <br />
        Se adauga cel putin 1 produs in tabelul "Articole Cerute" prin apasarea butonului "Adauga". <br />
        Dupa completarea header-ului si adaugarea produselor dorite, se apasa pe butonul "Adauga Cerere Pret Special".
    </div>
</dx-tooltip>

<dx-tooltip target="#infoTooltipDg" showEvent="dxhoverstart" hideEvent="dxhoverend">
    <div *dxTemplate="let data of 'content'" class="info-tooltip" position="top">
        <b>Informatii Adaugare Cerere Pret Special</b>
        <br />
        Se completeaza formularul din partea de sus cu datele necesare. <br />
        Se adauga cel putin 1 produs in tabelul "Articole Cerute" prin apasarea butonului "Adauga". <br />
        Dupa completarea header-ului si adaugarea produselor dorite, se apasa pe butonul "Adauga Cerere Pret Special". <br />

        <br />
        <b>Informatii Aprobare Cerere Pret Special</b>
        <br />
        Pentru a aproba o cerere de pret special se apasa pe butonul "Aproba" din email-ul primit sau se intra manual in pagina de cerere de pret special din Rulajul partenerului.<br />
        Pentru aprobarea prin email, trebuie sa fiti logati in proiectul CRM. <br />
        Se aproba/resping cererile in tabelul "Istoric Cereri", dupa care se apasa pe butonul "Valideaza cererile".
    </div>
</dx-tooltip>

<ng-container *ngFor="let item of specialPriceRequests; let i = index">
    <dx-popover position="left" [target]="'#' + generateTooltipHistoryId(item.id)" showEvent="mouseenter" [hideEvent]="{ name: 'mouseleave' }" (onHiding)="onHidingHistory($event)">
      <div *dxTemplate="let data of 'content'" class="info-tooltip">
        <div *ngIf="priceApprovedTooltipData[item.id] && priceApprovedTooltipData[item.id].length > 0; else noHistory">
        <div>
            {{ (priceApprovedTooltipData[item.id] && priceApprovedTooltipData[item.id].length > 0) && priceApprovedTooltipData[item.id][0].itemData }}
        </div>
          <dx-scroll-view width="100%" height="350px">
            <table class="styled-table no-padding-margin">
              <tr>
                <th>Data</th>
                <th>Firma</th>
                <th>Pret Solicitat</th>
                <th>Pret Aprobat</th>
                <th>Cantitate Solicitata</th>
                <th>Cantitate Aprobata</th>
                <th>Tip Aprobare DG</th>
              </tr>
              <tr *ngFor="let entry of priceApprovedTooltipData[item.id]">
                <td>{{ entry.created }}</td>
                <td>{{ entry.partner }}</td>
                <td class="align-right">{{ entry.priceRequested }}</td>
                <td class="align-right">{{ entry.priceApproved }}</td>
                <td class="align-right">{{ entry.quantity }}</td>
                <td class="align-right">{{ entry.approvedQuantity }}</td>
                <td>{{ entry.rejectedStatus }}</td>
              </tr>
            </table>
          </dx-scroll-view>
        </div>
        <ng-template #noHistory>
          <div>
            Nu are istoric
          </div>
        </ng-template>
      </div>
    </dx-popover>
</ng-container>

<ng-container *ngFor="let item of specialPriceRequestHistory; let i = index">
    <dx-popover position="left" [target]="'#' + generateTooltipHistoryId(item.id)" showEvent="mouseenter" [hideEvent]="{ name: 'mouseleave' }" (onHiding)="onHidingHistory($event)">
      <div *dxTemplate="let data of 'content'" class="info-tooltip">
        <div *ngIf="priceApprovedTooltipData[item.id] && priceApprovedTooltipData[item.id].length > 0; else noHistory">
        <div>
            {{ (priceApprovedTooltipData[item.id] && priceApprovedTooltipData[item.id].length > 0) && priceApprovedTooltipData[item.id][0].itemData }}
        </div>
          <dx-scroll-view width="100%" height="350px">
            <table class="styled-table no-padding-margin">
              <tr>
                <th>Data</th>
                <th>Firma</th>
                <th>Pret Solicitat</th>
                <th>Pret Aprobat</th>
                <th>Cantitate Solicitata</th>
                <th>Cantitate Aprobata</th>
                <th>Tip Aprobare DG</th>
              </tr>
              <tr *ngFor="let entry of priceApprovedTooltipData[item.id]">
                <td>{{ entry.created }}</td>
                <td>{{ entry.partner }}</td>
                <td class="align-right">{{ entry.priceRequested }}</td>
                <td class="align-right">{{ entry.priceApproved }}</td>
                <td class="align-right">{{ entry.quantity }}</td>
                <td class="align-right">{{ entry.approvedQuantity }}</td>
                <td>{{ entry.rejectedStatus }}</td>
              </tr>
            </table>
          </dx-scroll-view>
        </div>
        <ng-template #noHistory>
          <div>
            Nu are istoric
          </div>
        </ng-template>
      </div>
    </dx-popover>
</ng-container>

<dx-tooltip target="#approveAllRequestsTooltip" showEvent="dxhoverstart" hideEvent="dxhoverend">
    <div *dxTemplate="let data of 'content'" class="info-tooltip" position="bottom">
        Aproba toate cererile
    </div>
</dx-tooltip>

<dx-tooltip target="#rejectAllRequestsTooltip" showEvent="dxhoverstart" hideEvent="dxhoverend">
    <div *dxTemplate="let data of 'content'" class="info-tooltip" position="bottom">
        Respinge toate cererile
    </div>
</dx-tooltip>

<dx-tooltip target="#copyPriceRequestedAllRequestsTooltip" showEvent="dxhoverstart" hideEvent="dxhoverend">
    <div *dxTemplate="let data of 'content'" class="info-tooltip" position="bottom">
        Aproba toate cererile
    </div>
</dx-tooltip>

<dx-tooltip target="#copyQuantityAllRequestsTooltip" showEvent="dxhoverstart" hideEvent="dxhoverend">
    <div *dxTemplate="let data of 'content'" class="info-tooltip" position="bottom">
        Aproba cantitatile <br />
        Daca stocul este disponibil -> pune Cantitatea solicitata sau daca stocul e mai mic, cantitatea din stoc <br />
        Daca stocul nu este disponibil -> pune Cantitatea din stoc - (Media R3/6/9/12 * 3) <br />
        Daca bifati "LaComanda", puteti accepta cantitatea solicitata sau trece orice cantitate doriti
    </div>
</dx-tooltip>

<dx-tooltip target="#rejectQuantityAllRequestsTooltip" showEvent="dxhoverstart" hideEvent="dxhoverend">
    <div *dxTemplate="let data of 'content'" class="info-tooltip" position="bottom">
        Respinge cantitatile <br />
        Se completeaza automat cu 0
    </div>
</dx-tooltip>

<dx-tooltip target="#financialInfo" showEvent="dxhoverstart" hideEvent="dxhoverend">
    <dxo-position
        my="bottom"
        at="top"
        of="#financialInfo">
    </dxo-position>
    <div *dxTemplate="let data of 'content'" class="tooltip-financial-info" position="top">
        Daca suntem in Ian - Iun citeste An-2 <br />
        Daca suntem in Iul - Dec citeste An-1
    </div>
</dx-tooltip>

<dx-popup *ngIf="isItemTurnoverPopupOpened" [showTitle]="true" [resizeEnabled]="true" title="Rulaj Produs" [dragEnabled]="true"
    [closeOnOutsideClick]="false" [(visible)]="isItemTurnoverPopupOpened" width="72%" height="60%" class="custom-popup" [shading]="false">   
    <dx-scroll-view width="100%" height="100%" direction="both">
        <div class="item-turnover-data-loading" *ngIf="!isDataLoading">Se incarca...</div>
        <div class="item-turnover-wrapper">
            <app-item-turnover [filterItemCode]="filterTurnoverItemCode" #itemTurnoverComponent
                (displayItemTurnoverPopup)="displayItemTurnoverPopupChange($event)">
            </app-item-turnover>
        </div> 
    </dx-scroll-view> 
</dx-popup>

<ng-container *ngFor="let item of specialPriceRequestHistory; let i = index">
    <dx-popover *ngIf="rejectedRequestPriceApprovedTooltipData[item.id] != ''" position="left" [target]="'#' + generatePriceApprovedTooltip(item.id)" showEvent="mouseenter" [hideEvent]="{ name: 'mouseleave' }" 
        (onHiding)="onHidingPriceApprovedHistory($event)">
      <div *dxTemplate="let data of 'content'" class="info-tooltip">
        <div>
            {{ rejectedRequestPriceApprovedTooltipData[item.id] }}
        </div>
      </div>
    </dx-popover>
</ng-container>

<dx-popup [width]="'45%'" [height]="'15%'" [showCloseButton]="true" [visible]="showFinancialInfoPopup">
    <div *dxTemplate="let data of 'content'" class="financial-info-wrapper">  
        <dx-scroll-view width="100%" height="80%">
            <div class="financial-info-text">
                Partenerul nu are CA/Pf/NA. Completeaza si revino, este posibil sa nu se poata acorda Pret Special
            </div>
         
            <div class="financial-info-popup-btns">
                <dx-button text="Revenire" (onClick)="stayOnSpecialPriceRequest()">
                </dx-button>
                <dx-button text="Continua" (onClick)="completePartnerFinancialInfo()">
                </dx-button>
            </div>
        </dx-scroll-view>
    </div>
</dx-popup>

<dx-tooltip  #tooltipItemCode position="right">
    <div *dxTemplate="let data of 'content'">
      <div class='tooltipContent'>
        <table border="1" *ngIf="tooltipData && tooltipData.length > 0">
          <tr>
            <th>Item Code</th>
            <th *ngFor="let item of tooltipData[0].tiers">VIP</th>
          </tr>
          <tr *ngFor="let item of tooltipData">
            <td>{{item.itemCode}}</td>
            <td *ngFor="let tier of item.tiers">{{tier.salePriceListCode}} {{tier.price}} RON {{tier.baxValue}} buc</td>
          </tr>
        </table>
      </div>
    </div>
  </dx-tooltip>

<dx-tooltip target="#quantityHeaderCaptionNewItems" showEvent="dxhoverstart" hideEvent="dxhoverend" position="top">
    <div *dxTemplate="let data of 'content'" class="info-tooltip">
        Cantitate Solicitata 
    </div>
</dx-tooltip>

<dx-tooltip target="#quantityHeaderCaptionRequestedItems" showEvent="dxhoverstart" hideEvent="dxhoverend" position="top">
    <div *dxTemplate="let data of 'content'" class="info-tooltip">
        Cantitate Solicitata (Bax)
    </div>
</dx-tooltip>

<dx-tooltip target="#quantityHeaderCaptionHistoryItems" showEvent="dxhoverstart" hideEvent="dxhoverend" position="top">
    <div *dxTemplate="let data of 'content'" class="info-tooltip">
        Cantitate Solicitata (Bax)
    </div>
</dx-tooltip>

<dx-tooltip target="#isStockAvailableHeaderCaptionRequestedItems" showEvent="dxhoverstart" hideEvent="dxhoverend" position="top">
    <div *dxTemplate="let data of 'content'" class="info-tooltip">
        Stoc Disponibil <br />
        Daca Stoc - (Cantitate Solicitata) > (Medie R3/6/9/12 * 3) = Da; Altfel: Nu
    </div>
</dx-tooltip>

<dx-tooltip target="#isStockAvailableHeaderCaptionHistoryItems" showEvent="dxhoverstart" hideEvent="dxhoverend" position="top">
    <div *dxTemplate="let data of 'content'" class="info-tooltip">
        Stoc Disponibil <br />
        Daca Stoc - (Cantitate Solicitata) > (Medie R3/6/9/12 * 3) = Da; Altfel: Nu
    </div>
</dx-tooltip>

<dx-tooltip target="#isAtOrderHeaderCaptionRequestedItems" showEvent="dxhoverstart" hideEvent="dxhoverend" position="top">
    <div *dxTemplate="let data of 'content'" class="info-tooltip">
        La Comanda
    </div>
</dx-tooltip>