.fa-pencil, .fa-clone, .fa-ban, .fa-info-circle, .fa-registered {
  color: rgb(196, 0, 0);
}

.adjust-width {
  width: 8%;
  max-width: 8%;
}

.row {
  margin-left: -10px;
  margin-right: -10px; 
}

.row > .col,
.row > [class*='col-'] {
  padding-left: 5px; 
  padding-right: 5px;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.flex-item {
  margin-bottom: 10px;
}

.label {
  flex-grow: 1;        
  text-align: right;       
  margin-right: 10px;     
  white-space: nowrap;    
  overflow: hidden;    
  text-overflow: ellipsis; 
}

.input {
  flex-shrink: 1;       
  flex-grow: 1;      
  min-width: 150px;
  overflow: hidden;       
  text-overflow: ellipsis;
  white-space: nowrap;    
}

.custom-small-btn {
  padding: 2px 6px; 
  font-size: 10px;  
  border-radius: 2px; 
  min-width: 30px;
  height: 24px; 
}

.info-btn {
  padding: 5px;
}

.info-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  padding: 0 10px;
  gap: 6px;
}

.btn-content {
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;
}

.btn-icon {
  font-size: 16px;
  vertical-align: middle;
  line-height: 1;
}

.btn-text {
  font-size: 14px;
  line-height: 1;
}

.discount-grids-btn {
  font-size: 20px;
  font-weight: bold;
  color: rgb(196, 0, 0);
  border-radius: 50%;
  border: 1px solid white;
}

.discount-grids-btn:hover {
  cursor: pointer;
}

.fa-shopping-basket {
  font-size: 30px;
  color: rgb(196, 0, 0);
}

.order-for-the-amount {
  display: flex;
  align-items: center;
  gap: 1rem;
}

::ng-deep #orderForTheAmountCheck .dx-checkbox-container .dx-checkbox-icon {
  border-color: red;
}