<div *ngIf="showCharts">
    grafice
</div>
<div *ngIf="!showCharts">
    <div class="form-group d-flex flex-wrap align-items-center" style="gap: 15px;" *ngIf="partners && partners.store && isClient && !isTurnoverPage">
        <div class="d-flex align-items-center" style="gap: 5px">
            <label class="mb-0 mr-2" style="color: black">
                <b>Medie 3 Luni:</b>
            </label>
            <dx-number-box [(ngModel)]="sumOfLastThreeMonths" format="#,##0.##" [step]="1" [readOnly]="true"></dx-number-box>
        </div>
    
        <div class="d-flex align-items-center">
            <label class="mb-0 mr-2" style="color: black">
                <b>Luna Trecuta:</b>
            </label>
            <dx-number-box [(ngModel)]="previousMonthValue" format="#,##0.##" [step]="1" [readOnly]="true"></dx-number-box>
        </div>
    
        <div class="d-flex align-items-center">
            <label class="mb-0 mr-2" style="color: black">
                <b>Luna Curenta:</b>
            </label>
            <dx-number-box [(ngModel)]="currentMonthValue" format="#,##0.##" [step]="1" [readOnly]="true"></dx-number-box>
        </div>
    
        <div class="d-flex align-items-center">
            <label class="mb-0 mr-2" style="color: black">
                <b>Discount:</b>
            </label>
            <dx-text-box [(ngModel)]="discountName" [readOnly]="true"></dx-text-box>
        </div>

        <div class="d-flex align-items-center">
            <span class="discount-grids-btn" id="discountGridsTooltipYearlyTurnover" (mouseenter)="toggleTemplate()" (mouseleave)="toggleTemplate()">GRILE</span>
        </div>

        <div class="d-flex align-items-center">
            <i id="openNewTab" class="fa fa-registered fa-2x" href="javascript:void(0)" title="Rulaj" (click)="openInNewTab(d)" style="font-size: 30px !important"></i>
        </div>

        <div class="d-flex align-items-center" *ngIf="!isTurnoverPage">
            <div class="d-flex align-items-center">
                <i class="fa fa-shopping-basket" style="cursor: pointer;" id="openBasket" (click)="openBasketPopup()" title="Cos"></i>
            </div>
        </div> 

        <div class="d-flex align-items-center" *ngIf="!isTurnoverPage">
            <dx-button class="info-btn" type="danger" id="specialPrice" (click)="openSpecialPriceRequest()">
                CERE PRET SPECIAL
            </dx-button> 
        </div>
    </div>

    <div class="form-group d-flex flex-wrap align-items-center" style="gap: 30px;" *ngIf="partners && partners.store && isClient && !isTurnoverPage">
        <div class="order-for-the-amount" *ngIf="!isOrderAmountCommunicatedToClient">
            <div *ngIf="orderForTheAmount">
                <b style="color: red; font-size: 19px;">Comunica: La o {{orderForTheAmount}}</b>
            </div>
            <div id="orderForTheAmountCheckBox" *ngIf="orderForTheAmount">
                <dx-check-box id="orderForTheAmountCheck" [(ngModel)]="isOrderAmountCommunicatedToClient" (onValueChanged)="onOrderAmountCheckBoxChange($event)"></dx-check-box>
            </div>
        </div>
        <div *ngIf="isOrderAmountCommunicatedToClient">
            <div *ngIf="orderForTheAmount">
                <b style="color: #00acc1; font-size: 19px;">{{ alreadyCommunicatedOrderForTheAmount }}</b>
            </div>
        </div>
    </div>
    
    <div class="form-group d-flex flex-wrap align-items-center" style="gap: 15px;" *ngIf="partners && partners.store && isClient && isTurnoverPage">
        <div class="d-flex align-items-center" style="gap: 5px">
            <label class="mb-0 mr-2" style="color: black">
                <b>Medie 3 Luni:</b>
            </label>
            <dx-number-box [(ngModel)]="sumOfLastThreeMonths" format="#,##0.##" [step]="1" [readOnly]="true"></dx-number-box>
        </div>
    
        <div class="d-flex align-items-center">
            <label class="mb-0 mr-2" style="color: black">
                <b>Luna Trecuta:</b>
            </label>
            <dx-number-box [(ngModel)]="previousMonthValue" format="#,##0.##" [step]="1" [readOnly]="true"></dx-number-box>
        </div>
    
        <div class="d-flex align-items-center">
            <label class="mb-0 mr-2" style="color: black">
                <b>Luna Curenta:</b>
            </label>
            <dx-number-box [(ngModel)]="currentMonthValue" format="#,##0.##" [step]="1" [readOnly]="true"></dx-number-box>
        </div>
    
        <div class="d-flex align-items-center">
            <label class="mb-0 mr-2" style="color: black">
                <b>Discount:</b>
            </label>
            <dx-text-box [(ngModel)]="discountName" [readOnly]="true"></dx-text-box>
        </div>
    </div>
      
      <div class="d-flex align-items-center" *ngIf="partners && partners.store && !hideTable && isClient" class="form-group row">    
        <dx-data-grid id="gridContainer" #dataGrid [dataSource]="yearlyTurnOvers" [rowAlternationEnabled]="true"
            [showBorders]="false" [allowColumnReordering]="true" [allowColumnResizing]="true" (onRowPrepared)="onRowPreparedClientYearlyTurnovers($event)">
            <dxo-sorting mode="multiple"></dxo-sorting>
    
            <dxo-paging [pageSize]="15"></dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>
    
            <dxi-column dataField="year" [caption]="'Client - VALORIC - An'" dataType="string" alignment="right" [minWidth]="70"
            [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l1" [caption]="'Ianuarie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l2" [caption]="'Februarie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l3" [caption]="'Martie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l4" [caption]="'Aprilie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l5" [caption]="'Mai'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l6" [caption]="'Iunie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l7" [caption]="'Iulie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l8" [caption]="'August'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l9" [caption]="'Septembrie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l10" [caption]="'Octombrie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l11" [caption]="'Noiembrie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l12" [caption]="'Decembrie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
      
            <dxi-column dataField="total" [caption]="'Total'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false"></dxi-column>
        </dx-data-grid>
       
    </div>

    <div class="d-flex align-items-center" *ngIf="partners && partners.store && !hideTable && isClient" class="form-group row">
        
        <dx-data-grid id="gridContainer" #dataGrid [dataSource]="numericTurnOvers" [rowAlternationEnabled]="true"
            [showBorders]="false" [allowColumnReordering]="true" [allowColumnResizing]="true" (onRowPrepared)="onRowPreparedClientNumericTurnovers($event)">
            <dxo-sorting mode="multiple"></dxo-sorting>
    
            <dxo-paging [pageSize]="15"></dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>
    
            <dxi-column dataField="year" [caption]="'Client - NUMERIC(PRODUSE) - An'" dataType="string" alignment="right" [minWidth]="70"
            [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l1" [caption]="'Ianuarie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l2" [caption]="'Februarie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l3" [caption]="'Martie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l4" [caption]="'Aprilie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l5" [caption]="'Mai'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l6" [caption]="'Iunie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l7" [caption]="'Iulie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l8" [caption]="'August'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l9" [caption]="'Septembrie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l10" [caption]="'Octombrie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l11" [caption]="'Noiembrie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l12" [caption]="'Decembrie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
      
            <dxi-column dataField="total" [caption]="'Total DISTINCTE'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false"></dxi-column>
        </dx-data-grid>
        
    </div>
</div>

<dx-tooltip target="#discountGridsTooltipYearlyTurnover" position="right" [(visible)]="templateVisible" [closeOnOutsideClick]="false">
    <div *dxTemplate="let data = data of 'content'">
      <h4><b>Grile</b></h4> <br>
      <h5 id="discountGridsTooltipYearlyTurnoverInfo"></h5>
    </div>
  </dx-tooltip>

  <dx-tooltip target="#infoTooltip" position="right" [(visible)]="infoTemplateVisible" [closeOnOutsideClick]="false">
    <div *dxTemplate="let data = data of 'content'">
      <h4><b>Info</b></h4> <br>
      <h5 id="infoTooltipInfo"></h5>
    </div>
  </dx-tooltip>


  <div *ngIf="isShoppingCartPopupOpen && managements && managements.length > 0">
    <app-partner-shopping-cart
        [isShoppingCartPopupOpen]="isShoppingCartPopupOpen"
        [partnerId]="clientId"
        [tableHtml]="tableHtml"
        [orderForTheAmount]="orderForTheAmount"
        [sites]="sites"
        [managements]="managements"
        [itemsDS]="itemsDS"
        [items]="items"
        [selectedPartner]="partners.store[0]"
        [customerId]="customerId"
        (isShoppingCartPopupOpenOutput)="isShoppingCartPopupOpenOutputChange($event)"
        [isOrderAmountCommunicatedToClient]="isOrderAmountCommunicatedToClient"
        [alreadyCommunicatedOrderForTheAmount]="alreadyCommunicatedOrderForTheAmount"
    >

    </app-partner-shopping-cart>
</div>

<dx-tooltip  #stockTooltipItemCode position="right">
    <div *dxTemplate="let data of 'content'">
      <div class='tooltipContent'>
        <div *ngFor="let item of stockTooltipData">
          <b><div>Stoc total locatie {{item.siteCode}}: {{item.totalStockOnSite}}</div></b>
          <div *ngFor="let stock of item.stocksOnManagement" style="margin-left: 20px;">Stoc gestiune {{stock.managementCode}}: {{stock.stockOnManagement}}</div>
        </div>
      </div>
    </div>
  </dx-tooltip>

  <div *ngIf="!showCharts">
    
    <div class="d-flex align-items-center" *ngIf="partners && partners.store && !hideTable && isSupplier" class="form-group row">

        <dx-data-grid id="supplierYearlyTurnOversGridContainer" #supplierYearlyTurnOversDataGrid [dataSource]="supplierYearlyTurnOvers" [rowAlternationEnabled]="true"
            [showBorders]="false" [allowColumnReordering]="true" [allowColumnResizing]="true" (onRowPrepared)="onRowPreparedSupplierYearlyTurnovers($event)">
            <dxo-sorting mode="multiple"></dxo-sorting>
    
            <dxo-paging [pageSize]="15"></dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>
    
            <dxi-column dataField="year" [caption]="'Furnizor - VALORIC - An'" dataType="string" alignment="right" [minWidth]="70"
            [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l1" [caption]="'Ianuarie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l2" [caption]="'Februarie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l3" [caption]="'Martie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l4" [caption]="'Aprilie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l5" [caption]="'Mai'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l6" [caption]="'Iunie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l7" [caption]="'Iulie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l8" [caption]="'August'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l9" [caption]="'Septembrie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l10" [caption]="'Octombrie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l11" [caption]="'Noiembrie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l12" [caption]="'Decembrie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
      
            <dxi-column dataField="total" [caption]="'Total'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false"></dxi-column>
        </dx-data-grid>
    </div>

    <div class="d-flex align-items-center" *ngIf="partners && partners.store && !hideTable && isSupplier" class="form-group row">

        <dx-data-grid id="supplierNumericTurnOversGridContainer" #supplierNumericTurnOversDataGrid [dataSource]="supplierNumericTurnOvers" [rowAlternationEnabled]="true"
            [showBorders]="false" [allowColumnReordering]="true" [allowColumnResizing]="true" (onRowPrepared)="onRowPreparedSupplierNumericTurnovers($event)">
            <dxo-sorting mode="multiple"></dxo-sorting>
    
            <dxo-paging [pageSize]="15"></dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>
    
            <dxi-column dataField="year" [caption]="'Furnizor - NUMERIC(PRODUSE) - An'" dataType="string" alignment="right" [minWidth]="70"
            [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l1" [caption]="'Ianuarie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l2" [caption]="'Februarie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l3" [caption]="'Martie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l4" [caption]="'Aprilie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l5" [caption]="'Mai'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l6" [caption]="'Iunie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l7" [caption]="'Iulie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l8" [caption]="'August'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l9" [caption]="'Septembrie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l10" [caption]="'Octombrie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l11" [caption]="'Noiembrie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l12" [caption]="'Decembrie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
      
            <dxi-column dataField="total" [caption]="'Total DISTINCTE'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false"></dxi-column>
        </dx-data-grid>
    </div>
</div>