<app-spinner [visible]="loaded"></app-spinner>
<div class="main-content">
    <div class="container-fluid" [ngClass]="{'maxWidth':  displayData}">
        <div class="card card-plain">
            <app-title [title]="'Alocare Campanii Contactare'"></app-title>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-6">
                    <div [hidden]="detailsVisibility">
                        <div class="mt-4">
                            <app-grid-toolbar #gridToolbar [actions]="actions" [showColumnSettings]="true"
                                (displayEvent)="displayDataEvent($event)" [showExcel]="true" [fileName]="'departments'"
                                [showPrint]="true" (addEvent)="openDetails(null)" [showInfo]="true"
                                [infoText]="infoButton" (refreshEvent)="refreshDataGrid()"
                                (deleteEvent)="deleteRecords($event)">
                            </app-grid-toolbar>
                            <div class="float-none" style="clear: both;"></div>
                        </div>
                        <div class="mt-4"></div>
                        <dx-data-grid id="gridContainer" #dataGrid [dataSource]="contactCampaignAllocations"
                            [rowAlternationEnabled]="false" showBorders="true" showRowLines="true" [allowColumnReordering]="true"
                            (onSelectionChanged)="selectionChanged($event)" (onRowPrepared)="onRowPrepared($event)"
                            (onEditorPreparing)="onEditorPreparing($event)">
                            <dxo-selection mode="multiple" showCheckBoxesMode="always"></dxo-selection>
                            <dxo-filter-row [visible]="true"></dxo-filter-row>
                            <dxo-filter-panel [visible]="true">
                            </dxo-filter-panel>
                            <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
                            <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
                            <dxo-header-filter [visible]="true">
                            </dxo-header-filter>
                            <dxo-group-panel [visible]="true" [emptyPanelText]="groupedText"></dxo-group-panel>
                            <dxo-load-panel [enabled]="true"></dxo-load-panel>
                            <dxo-sorting mode="multiple"></dxo-sorting>

                            <dxo-paging [pageSize]="15"></dxo-paging>
                            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>
                            <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>

                            <dxi-column dataField="postId" caption="Post" alignment="left">
                                <dxo-lookup [dataSource]="posts" valueExpr="id" [displayExpr]="getDisplayExprPosts">
                                </dxo-lookup>
                                <dxi-validation-rule type="required" message="{{'required' | translate}}"></dxi-validation-rule>
                            </dxi-column>

                            <dxi-column dataField="contactCampaignId" caption="Campanie" alignment="left">
                                <dxo-lookup [dataSource]="contactCampaigns" valueExpr="id" [displayExpr]="getDisplayExprContactCampaigns">
                                </dxo-lookup>
                                <dxi-validation-rule type="required" message="{{'required' | translate}}"></dxi-validation-rule>
                            </dxi-column>

                            <dxi-column dataField="orderNumber" caption="Numar ordine" dataType="string" alignment="right" [width]="70">
                            </dxi-column>

                            <dxi-column dataField="numberFromCampaign" caption="Numar maxim clienti" dataType="string" alignment="right" [width]="70">
                            </dxi-column>

                            <dxi-column caption="Actiuni" cellTemplate="cellTemplate" [width]="100" [minWidth]="100"
                                alignment="center">
                            </dxi-column>
                            <div *dxTemplate="let data of 'cellTemplate'">
                                <i class="fa fa-pencil fa-2x" style='padding-right : 15px' *ngIf="canUpdate()"
                                    href="javascript:void(0)" title="Edit" (click)="openDetails(data.data)"></i>
                                &nbsp;
                                <i class="fa fa-ban fa-2x" style='padding-right : 15px' href="javascript:void(0)"
                                    title="Stergere" (click)="deleteRow(data)"></i>
                            </div>
                        </dx-data-grid>
                        <br>
                    </div>
                    <div [hidden]="!detailsVisibility">
                        <app-contact-campaign-allocation-details #contactCampaignAllocationDetails
                            [(selectedContactCampaignAllocation)]="selectedContactCampaignAllocation"
                             [(items)]="items"
                            [(itemsGroup)]="itemsGroup" [(actions)]="actions"
                            (visible)="changeVisible()"></app-contact-campaign-allocation-details>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>