.fa-pencil, .fa-clone, .fa-ban  {
  color: rgb(196, 0, 0);
}

.isTabActive {
  color: #fcfcfc;
  background-color: #f44336;
} 

.success {
  color: #fcfcfc;
  background-color: #4caf50;
}

.danger {
  color: #fcfcfc;
  background-color: #f44336;
}  

.warning {
  color: #fcfcfc;
  background-color: #ffeb3b;
} 

.primary {
  color: #fcfcfc;
  background-color: #2196f3;
} 

.info {
  color: #fcfcfc;
  background-color: #00bcd4;
} 

.secondary {
  color: #fcfcfc;
  background-color: #6c757d;
} 

.tabError {
  color: #fcfcfc;
  background-color: #d32323;
}  

.redFont {
  color:red;
}

body .custom-item {
  padding-left: 7px;
  padding-right: 7px;
}
::ng-deep .custom-item > img {
  height: 30px;
  width: 40px;
  float: left;
  margin-top: 2px;
}
::ng-deep .custom-item > div.product-name {
  margin-left: 40px;
  line-height: 34px;
  font-size: 14px;
}

body .custom-item input {
  background-color: transparent;
}

body .dx-popup-content .custom-item {
  padding-top: 7px;
  padding-bottom: 8px;
}
::ng-deep .dx-popup-content .custom-item > div {
  padding-left: 8px;
  text-indent: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}

.box {
height: 20px;
width: 20px;
margin-bottom: 15px;
border: 1px solid black;
}

div.inline { float:left; }

.invalid-specialization, .invalid-salespricelist {
  font-weight: bold;
  border: 2px solid black;
}

.unique-pricipal-activity {
  gap: 2rem;
  font-weight: bold;
}

.custom-button .fa-exclamation-circle {
  margin-left: 5px; 
  /* color: #e53935;  */
  color: black;
  font-size: 21px;
}

.custom-button {
  padding: 8px;
  display: inline-block;
  text-align: center;
}

.custom-button .button-content {
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-button .button-content i {
  margin-left: 5px; 
}

.custom-button.no-padding {
  padding: 0;
}

.is-principal-activity-tooltip {
  font-size: 16px;
}

.partner-header-container .row {
  margin-left: -10px;
  margin-right: -10px;
}

.partner-header-container .row > .col,
.partner-header-container .row > [class*='col-'] {
  padding-left: 5px;
  padding-right: 5px;
}

.label-tooltip {
  text-align: left;
  font-size: 16px;
}

.client-credit-control-header {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.creditIncreaseRequest {
  background-color: red;
  padding: 7px 18px 8px;
  text-decoration: none;
  cursor: pointer;
}

.creditIncreaseRequest-text {
  color: white;
}

.credit-increase-request-popup-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.credit-increase-request-popup-body-title {
  font-size: 20px; 
  margin-bottom: 10px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.credit-increase-request-popup-body-content {
  font-size: 16px; 
  margin-bottom: 50px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.onHover {
  transition: all 0.2s ease; /* Smooth transition for hover effects */
}

.onHover:hover {
  font-weight: bold; /* Make text bold on hover */
  font-size: 1.1em;  /* Increase font size on hover */
}