<app-spinner [visible]="loaded"></app-spinner>
<div *ngIf="auction">

    <dx-validation-group #validationGroup>
        <div class="modal-body">
            <div class="form-group row">
                <div class="col-md-6 col-lg-6">
                    <div class="row">
                        <div class=" col-md-2 col-lg-2 dx-field-label text-md-right">Numar (Autogenerat Intern):</div>
                        <div class=" col-md-4 col-lg-4">
                            <dx-text-box [(ngModel)]="auction.id" [ngModelOptions]="{standalone: true}" [disabled]="true"
                             >
                            </dx-text-box>
                        </div>
                        <div class=" col-md-2 col-lg-2 dx-field-label text-md-right">Numar (fisier Import):</div>
                        <div class=" col-md-4 col-lg-4">
                            <dx-text-box [(ngModel)]="auction.orderNumber" [ngModelOptions]="{standalone: true}" [disabled]="!isOnSave"
                             [maxLength]="5000">
                            </dx-text-box>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="row">
                        <div class=" col-md-2 col-lg-2 dx-field-label text-md-right">Numar Licitatie:</div>
                        <div class=" col-md-4 col-lg-4">
                            <dx-text-box [(ngModel)]="auction.acquisitionNumber" [ngModelOptions]="{standalone: true}" [disabled]="!(!auction.acquisitionNumber || auction.acquisitionNumber === '')"
                             [maxLength]="5000">
                            </dx-text-box>
                        </div>
                        <div class=" col-md-2 col-lg-2 dx-field-label text-md-right">Post:</div>
                        <div class=" col-md-4 col-lg-4">
                            <dx-select-box [dataSource]="salePosts" [displayExpr]="getDisplayPostExpr" valueExpr="id"
                            [searchEnabled]="true"
                            [(ngModel)]="auction.postId">
                            </dx-select-box>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6 col-lg-6">
                    <div class="row">
                        <div class=" col-md-2 col-lg-2 dx-field-label text-md-right">Grup CPV:</div>
                        <div class=" col-md-4 col-lg-4">
                            <dx-select-box [dataSource]="auctionGroups" [displayExpr]="getDisplayAuctionTypeExpr" valueExpr="id" [disabled]="true"
                            [searchEnabled]="true"
                            [(ngModel)]="auction.auctionGroupId">
                            </dx-select-box>
                        </div>
                        <div class=" col-md-2 col-lg-2 dx-field-label text-md-right">Denumire licitatie*:</div>
                        <div class=" col-md-4 col-lg-4">
                            <dx-text-box [(ngModel)]="auction.acquisitionName" [ngModelOptions]="{standalone: true}" [disabled]="!isOnSave && auction.acquisitionName"
                             [maxLength]="5000">
                             <dx-validator>
                                <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                </dxi-validation-rule>
                            </dx-validator>
                            </dx-text-box>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="row">
                        <div class=" col-md-2 col-lg-2 dx-field-label text-md-right">Denumire companie*:</div>
                        <div class=" col-md-4 col-lg-4">
                            <dx-text-box [(ngModel)]="auction.acquisitionerName" [ngModelOptions]="{standalone: true}" [disabled]="!isOnSave && auction.acquisitionerName"
                             [maxLength]="5000">
                             <dx-validator>
                                <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                </dxi-validation-rule>
                            </dx-validator>
                            </dx-text-box>
                        </div>
                        <div class=" col-md-2 col-lg-2 dx-field-label text-md-right">Tip Licitatie:</div>
                        <div class=" col-md-4 col-lg-4">
                            <dx-select-box [dataSource]="auctionTypes" [displayExpr]="getDisplayAuctionTypeExpr" valueExpr="id" [disabled]="!isOnSave && auction.auctionTypeId"
                            [searchEnabled]="true"
                            [(ngModel)]="auction.auctionTypeId">
                        </dx-select-box>
                        </div>

                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6 col-lg-6">
                    <div class="row">
                        <div class="col-md-2 col-lg-2 dx-field-label text-md-right">Tara:</div>
                        <div class="col-md-4 col-lg-4">
                            <dx-text-box [(ngModel)]="auction.country" [ngModelOptions]="{standalone: true}" [disabled]="!isOnSave && auction.country"
                             [maxLength]="5000">
                            </dx-text-box>
                        </div>
                        <div class="col-md-2 col-lg-2 dx-field-label text-md-right">Judet:</div>
                        <div class="col-md-4 col-lg-4">
                            <dx-text-box [(ngModel)]="auction.county" [ngModelOptions]="{standalone: true}" [disabled]="!isOnSave && auction.county"
                             [maxLength]="5000">
                            </dx-text-box>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="row">
                        <div class=" col-md-2 col-lg-2 dx-field-label text-md-right">Data Licitatie:</div>
                        <div class=" col-md-4 col-lg-4">
                            <dx-date-box [(ngModel)]="auction.acquisitionDate" type="datetime" displayFormat="dd-MM-yyyy HH:mm" [disabled]="!isOnSave && auction.acquisitionDate">
                            </dx-date-box>
                        </div>
                        <div class=" col-md-2 col-lg-2 dx-field-label text-md-right">Termen Licitatie:</div>
                        <div class=" col-md-4 col-lg-4">
                            <dx-date-box [(ngModel)]="auction.endDate" type="datetime" displayFormat="dd-MM-yyyy HH:mm" [disabled]="!isOnSave && auction.endDate">
                            </dx-date-box>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6 col-lg-6">
                    <div class="row">
                        <div class="col-md-2 col-lg-2 dx-field-label text-md-right">Valoare Estimata (RON):</div>
                        <div class="col-md-4 col-lg-4">
                            <dx-number-box [(ngModel)]="auction.estimatedValue" [ngModelOptions]="{standalone: true}" [disabled]="!isOnSave && auction.estimatedValue"
                            >
                            </dx-number-box>
                        </div>
                        <div class="col-md-2 col-lg-2 dx-field-label text-md-right">URL:</div>
                        <div class="col-md-4 col-lg-4">
                            <dx-text-box [(ngModel)]="auction.url" [ngModelOptions]="{standalone: true}" [disabled]="!isOnSave && auction.url"
                             [maxLength]="5000">
                            </dx-text-box>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-6">
                    <div class="row">
                        <div class="col-md-2 col-lg-2 dx-field-label text-md-right">Solicitat Preturi:</div>
                        <div class="col-md-1 col-lg-1">
                            <dx-check-box [(ngModel)]="auction.hasRequestedPrices" (onValueChanged)="modelChangeEvent(auction)"></dx-check-box>
                        </div>

                        <div class="col-md-2 col-lg-2 dx-field-label text-md-right">Primit Preturi:</div>
                        <div class="col-md-1 col-lg-1">
                            <dx-check-box [(ngModel)]="auction.hasReceivedPrices" (onValueChanged)="modelChangeEvent(auction)"></dx-check-box>
                        </div>

                        <div class="col-md-2 col-lg-2 dx-field-label text-md-right">Fara documente:</div>
                        <div class="col-md-1 col-lg-1">
                            <dx-check-box [(ngModel)]="auction.isWithoutDocuments" (onValueChanged)="modelChangeEvent(auction)"></dx-check-box>
                        </div>

                        <div *ngIf="!(auction.status > 4 && auction.status !== 10)" class="col-md-2 col-lg-2 dx-field-label text-md-right">Anulata:</div>
                        <div *ngIf="!(auction.status > 4 && auction.status !== 10)" class="col-md-1 col-lg-1">
                            <dx-check-box [(ngModel)]="auction.isCanceled" (onValueChanged)="auctionCancelEvent($event)" [disabled]="auction.isCanceled"></dx-check-box>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6 col-lg-6">
                    <div class="row">
                        <div class="col-md-2 col-lg-2 dx-field-label text-md-right">Tip participare:</div>
                        <div class="col-md-4 col-lg-4">
                            <dx-select-box [dataSource]="auctionParticipationTypes" displayExpr="name" valueExpr="id" (onValueChanged)="modelChangeEvent(auction)"
                                [(ngModel)]="auction.participationTypeId" [searchEnabled]="true">
                            </dx-select-box>
                        </div>
                        <div class="col-md-2 col-lg-2 dx-field-label text-md-right">Stare:</div>
                        <div class="col-md-4 col-lg-4">
                            <dx-select-box [dataSource]="auctionStatusTypes" displayExpr="name" valueExpr="id" [disabled]="true"
                                [(ngModel)]="auction.status" [searchEnabled]="true">
                            </dx-select-box>
                        </div>
                    </div>
                </div>
                <div *ngIf="auction.status > 4 && auction.status !== 10" class="col-md-6 col-lg-6">
                    <div class="row">
                        <div class="col-md-2 col-lg-2 dx-field-label text-md-right">Finalizare:</div>
                        <div class="col-md-4 col-lg-4">
                            <dx-select-box [dataSource]="auctionResultTypes" displayExpr="name" valueExpr="id" (onValueChanged)="resultChangeEvent($event)"
                                [(ngModel)]="auction.result" [searchEnabled]="true">
                            </dx-select-box>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6 col-lg-6">
                    <div class="row">
                        <div class="col-md-2 col-lg-2 dx-field-label text-md-right">Notite:</div>
                        <div class="col-md-10 col-lg-10">
                            <dx-text-area [height]="120" [maxLength]="5000" [(ngModel)]="auction.description">
                            </dx-text-area>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dx-validation-group>
    <hr>
</div>

<div>
    <ng-container *ngFor="let tab of detailsTabs">
        <dx-button text="{{tab.text | translate}}" [ngClass]="tab.isActive ? isTabActive : null"
            (onClick)="toggleDetailsTab(tab)">
        </dx-button>
        &nbsp;
    </ng-container> 
</div>
<hr>

<div *ngIf="auction"> 
    <div [hidden]="!detailsTabs[0].isActive">
        <div class="form-group row" *ngIf="auction.participationTypeId != 2">  
            <div class="col-md-6 col-lg-6">
                <div class="row">
                    <div class="col-md-2 col-lg-2 dx-field-label text-md-right">Text cu coduri CPV:</div>
                    <div class="col-md-6 col-lg-6">
                        <dx-text-box [(ngModel)]="cpvText">
                        </dx-text-box>
                    </div>
                    <dx-button text="Mapeaza CPV Specific" (onClick)="mapTexCPV()">
                    </dx-button>
                </div>
            </div>

            <div class="col-md-6 col-lg-6">
                <div class="row">
                    <div class="col-md-2 col-lg-2 dx-field-label text-md-right">Cod CPV Specific:</div>
                    <div class="col-md-4 col-lg-4">
                        <dx-tag-box [dataSource]="cpvCodes" [(ngModel)]="auction.cpvCodeIds" valueExpr="id"
                            [displayExpr]="getCpvCodeExpr" [maxDisplayedTags]="4" [showSelectionControls]="true"
                            [showMultiTagOnly]="false" applyValueMode="useButtons" [searchEnabled]="true"
                            [hideSelectedItems]="false" [selectAllMode]="'allPages'" (onValueChanged)="cpvCodeChangeEvent($event)">
                        </dx-tag-box>
                    </div>
                </div>
            </div>           
        </div>

        <dx-validation-group #thirdValidationGroup>
            <div class="form-group row" *ngIf="auction.participationTypeId != 2">  
                <div class="col-md-8 col-lg-8">
                    <div class="row">
                        <div class="col-md-2 col-lg-2 dx-field-label text-md-right">Loturi Participam:</div>
                        <dx-button text="Adauga Interval Loturi" (onClick)="openIntervalPopup()">
                        </dx-button>
                        <div class="col-md-1 col-lg-1">
                            <dx-text-box [(ngModel)]="lotsNr" [disabled]="true" >
                            </dx-text-box>
                        </div>
                        <div class="col-md-4 col-lg-4">
                           <dx-text-box [(ngModel)]="auction.lotsNumberTo" [disabled]="auction.participationTypeId === 3" (onValueChanged)="lotsNumberChange($event)">
                            <dx-validator>
                                <dxi-validation-rule type="pattern" [pattern]="validationPattern" message="Campul trebuie sa contina doar cifre si virgule!"></dxi-validation-rule>
                                <dxi-validation-rule type="stringLength" [max]="5000"
                                message="Lungimea maximă depășită!"></dxi-validation-rule>
                            </dx-validator>
                           </dx-text-box>
                        </div>
    
                        <div class="col-md-2 col-lg-2 dx-field-label text-md-right">Nr Loturi Participam din cate:</div>
                        <div class="col-md-1 col-lg-1">
                            <dx-number-box [(ngModel)]="auction.lotsNumberFrom" [disabled]="auction.participationTypeId === 3" [ngModelOptions]="{standalone: true}" >
                            </dx-number-box>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row" *ngIf="auction.participationTypeId === 3">  
                <div class="col-md-6 col-lg-6">
                    <div class="row">
                        <div class="col-md-2 col-lg-2 dx-field-label text-md-right">De analizat:</div>
                        <div class="col-md-1 col-lg-1">
                            <dx-check-box [(ngModel)]="isToAnalyze" [disabled]="true" >
                            </dx-check-box>
                        </div>
                        <div class="col-md-2 col-lg-2 dx-field-label text-md-right">Loturi:</div>
                        <div class="col-md-5 col-lg-5">
                            <dx-text-box [(ngModel)]="auction.lotsToAnalyze">
                                <dx-validator>
                                    <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                    </dxi-validation-rule>
                                    <dxi-validation-rule type="pattern" [pattern]="validationPattern" message="Campul trebuie sa contina doar cifre si virgule!"></dxi-validation-rule>
                                </dx-validator>
                           </dx-text-box>
                        </div>
                    </div>
                </div>
            </div>

        </dx-validation-group>
        
    </div>
    <div [hidden]="!detailsTabs[1].isActive">
        <app-auction-reviews #auctionReviews [(selectedAuction)]="auction" [users]="users"></app-auction-reviews>
    </div>
</div>


<dx-popup [width]="700" [height]="500" [resizeEnabled]="true" [showTitle]="true" title="Observatie" [showCloseButton]="false"
  [dragEnabled]="false" [closeOnOutsideClick]="false" [(visible)]="observationPopup">
  <h5>Descrie Motiv. Pentru a trece in aceasta stare este obligatoriu de salvat un motiv! </h5>
  <hr>
  <dx-validation-group #secondValidationGroup>
    <dx-text-area [height]="120" [maxLength]="200" [(ngModel)]="observation">
        <dx-validator>
            <dxi-validation-rule type="required" message="{{'required' | translate}}">
            </dxi-validation-rule>
        </dx-validator>
      </dx-text-area>
  </dx-validation-group>
  <hr>
  <dx-button stylingMode="contained" text="Adauga Motiv" type="normal" [width]="200"
    (onClick)="saveObservation()">
  </dx-button>
</dx-popup>

<dx-popup [width]="700" [height]="500" [resizeEnabled]="true" [showTitle]="true" title="Adauga Interval Loturi" [showCloseButton]="true"
  [dragEnabled]="false" [closeOnOutsideClick]="true" [(visible)]="intervalPopup">
  <h5>Intervalul se va genera in campul de loturi alaturat. In caz ca acesta nu este gol, se va forma in urma loturilor existente.</h5>
  <hr>
  <dx-validation-group #intervalValidationGroup>
    <div class="col-md-12 col-lg-12">
        <div class="row">
            <div class="col-md-2 col-lg-2 dx-field-label text-md-right">De la:</div>
            <div class="col-md-4 col-lg-4">
                <dx-number-box [(ngModel)]="intervalFrom">
                    <dx-validator>
                        <dxi-validation-rule type="required" message="{{'required' | translate}}">
                        </dxi-validation-rule>
                    </dx-validator>
               </dx-number-box>
            </div>
            <div class="col-md-2 col-lg-2 dx-field-label text-md-right">Pana la:</div>
            <div class="col-md-4 col-lg-4">
                <dx-number-box [(ngModel)]="intervalTo" [max]="999">
                    <dx-validator>
                        <dxi-validation-rule type="required" message="{{'required' | translate}}">
                        </dxi-validation-rule>
                    </dx-validator>
               </dx-number-box>
            </div>
        </div>
    </div>
  </dx-validation-group>
  <hr>
  <dx-button stylingMode="contained" text="Genereaza" type="normal" [width]="200"
    (onClick)="generateRange()">
  </dx-button>
</dx-popup>


<hr>
<dx-button *ngIf="isOnSave" text="{{'buttons.save' | translate}}" (onClick)="saveData()">
</dx-button>
&nbsp;
<dx-button *ngIf="!isOnSave"  text="{{'buttons.save' | translate}}" (onClick)="updateData()">
</dx-button>
&nbsp;
&nbsp;
&nbsp;
&nbsp;
&nbsp;
<dx-button text="Renunta / Inapoi" type="danger" (onClick)="backToAuctions()">
</dx-button>

