<app-spinner [visible]="loaded"></app-spinner>
<dx-popup
   width="90%" height="75%"
   [showTitle]="true"
   title="Solicita Certificate"
   [dragEnabled]="true"
   [closeOnOutsideClick]="true"
   [(visible)]="isItemsCertificatesPopupOpen"
   (onHiding)="onHidingPopup($event)">
   <dx-scroll-view width="100%" height="100%">
      <div class="popup-content">  
        <div class="certificates-btns-options">
            <dx-button id="excelImportBtn" [ngClass]="{'button-active': isExcelImportContentOpen}" text="Importa Excel" (onClick)="onExcelImportClick()"></dx-button> 
            <dx-button id="excelCopyBtn" [ngClass]="{'button-active': isExcelCopyContentOpen}" text="Copiaza Excel" (onClick)="onExcelCopyClick()"></dx-button> 
            <dx-button id="manuallyInsertBtn" [ngClass]="{'button-active': isManuallyInsertContentOpen}" text="Introdu Manual" (onClick)="onManuallyInsertClick()"></dx-button> 
        </div> 
        
        <div *ngIf="isExcelImportContentOpen">
            <div class="upload-container">
                <dx-file-uploader class="file-uploader" selectButtonText="Selecteaza un fisier" 
                    labelText="Incarca/trage un fisier aici" accept=".xls, .xlsx" uploadMode="useForm" (change)="onUploadExcelFileChange($event)" 
                    [allowedFileExtensions]="['.xls', '.xlsx']" invalidFileExtensionMessage="Tip fisier neacceptat">
                </dx-file-uploader>
            </div>

            <div class="buttons-container">       
               <dx-button class="save-button" text="Verifica Produse" (click)="onVerifyItemsCertificatesClick()" stylingMode="contained" type="normal" [disabled]="shouldDisableSaveExcelFileBtn"></dx-button>    
            </div>

           <div class="processed-items-certificates" *ngIf="(processedItemsCertificatesData && processedItemsCertificatesData.length > 0)">
            <dx-data-grid [dataSource]="processedItemsCertificatesData"
               [rowAlternationEnabled]="true" [allowColumnReordering]="false" showBorders="true" showRowLines="true">
               <dxo-paging [pageSize]="15"></dxo-paging>
               <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>
               <dxi-column dataField="invoiceNo" caption="Factura" dataType="string" width="160" alignment="left"></dxi-column>
               <dxi-column dataField="itemCode" caption="Cod Produs" dataType="string" width="160" alignment="left"></dxi-column>
               <dxi-column dataField="itemBatch" caption="LOT" dataType="string" width="160" alignment="left"></dxi-column>
               <dxi-column dataField="itemName" caption="Denumire Produs" dataType="string" alignment="left"></dxi-column>
               <dxi-column dataField="itemExpirationDate" caption="Data expirare" dataType="string" width="160" alignment="right"></dxi-column>
               <dxi-column dataField="itemCertificatesFilePath" caption="Cale Certificate" width="320" dataType="string" alignment="left"></dxi-column>
               <dxi-column dataField="observations" caption="Observatii" dataType="string" width="320" alignment="left"></dxi-column>
           
            </dx-data-grid>
           </div>
        </div>

        <div class="manually-insert-items" *ngIf="isManuallyInsertContentOpen">
         <div class="mb-1">
            <dx-button class="save-button" text="Adauga produs" (click)="addItemCertificateData()" stylingMode="contained" type="normal"></dx-button> &nbsp;
            <dx-button class="save-button" text="Verifica Produse" (click)="onVerifyItemsCertificatesClick()" stylingMode="contained" type="normal"></dx-button>  
         </div>
         <dx-data-grid id="manuallyInsertItemsCertificatesDataId" #manuallyInsertItemsCertificatesDataGrid [dataSource]="manuallyInsertItemsCertificatesData" (onRowInserting)="onRowInserting($event)"
            [rowAlternationEnabled]="true" [allowColumnReordering]="false" showBorders="true" showRowLines="true">
            <dxo-editing mode="cell" [allowUpdating]="isManuallyInsertContentOpen"></dxo-editing>
            <dxo-paging [pageSize]="15"></dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>
            <dxi-column dataField="invoiceNo" caption="Factura" dataType="string" width="160" alignment="left"></dxi-column>
            <dxi-column dataField="itemCode" caption="Cod Produs" dataType="string" width="160" alignment="left"></dxi-column>
            <dxi-column dataField="itemBatch" caption="LOT" dataType="string" width="160" alignment="left"></dxi-column>
            <dxi-column dataField="itemName" caption="Denumire Produs" dataType="string" [allowEditing]="false" alignment="left"></dxi-column>
            <dxi-column dataField="itemExpirationDate" caption="Data expirare" dataType="string" [allowEditing]="false" width="160" alignment="right"></dxi-column>
            <dxi-column dataField="itemCertificatesFilePath" caption="Cale Certificate" dataType="string" [allowEditing]="false" width="320" alignment="left"></dxi-column>
            <dxi-column dataField="observations" caption="Observatii" dataType="string" [allowEditing]="false" width="320" alignment="left"></dxi-column>
        
         </dx-data-grid>
        </div>

        <div class="excel-copy-items" *ngIf="isExcelCopyContentOpen">
         <div class="mb-1">
            <dx-button class="save-button" text="Verifica Produse" (click)="onVerifyItemsCertificatesClick()" stylingMode="contained" type="normal"></dx-button>  
         </div>
         <dx-data-grid id="excelCopyContentItemsCertificatesDataId" #excelCopyContentItemsCertificatesDataGrid [dataSource]="excelCopyContentItemsCertificatesData"
            [rowAlternationEnabled]="true" [allowColumnReordering]="false" showBorders="true" showRowLines="true" (onSelectionChanged)="onExcelCopySelectionChanged($event)">
            <dxo-selection mode="multiple" showCheckBoxesMode="always"></dxo-selection>
            <dxo-paging [pageSize]="15"></dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>
            <dxi-column dataField="invoiceNo" caption="Factura" dataType="string" width="160" alignment="left"></dxi-column>
            <dxi-column dataField="itemCode" caption="Cod Produs" dataType="string" width="160" alignment="left"></dxi-column>
            <dxi-column dataField="itemBatch" caption="LOT" dataType="string" width="160" alignment="left"></dxi-column>
            <dxi-column dataField="itemName" caption="Denumire Produs" dataType="string" [allowEditing]="false" alignment="left"></dxi-column>
            <dxi-column dataField="itemExpirationDate" caption="Data expirare" dataType="string" [allowEditing]="false" width="160" alignment="right"></dxi-column>
            <dxi-column dataField="itemCertificatesFilePath" caption="Cale Certificate" dataType="string" [allowEditing]="false" width="320" alignment="left"></dxi-column>
            <dxi-column dataField="observations" caption="Observatii" dataType="string" [allowEditing]="false" width="320" alignment="left"></dxi-column>
        
         </dx-data-grid>
        </div>

         <div class="form-group row send-certificates-btn" *ngIf="isExcelImportContentOpen || isExcelCopyContentOpen || isManuallyInsertContentOpen">
            <div class="col-3 dx-field-label text-md-right">Contact:</div>
            <div class="col-md-6 col-lg-6">
               <dx-select-box [(ngModel)]="selectedLocationContactPerson" [(dataSource)]="locationContactPersons" 
                  [displayExpr]="getDisplayExprContact" [searchEnabled]="true" [dropDownOptions]="{ minWidth: '350' }"></dx-select-box>
            </div>
            <div class="col-md-3 col-lg-3">
               <dx-button text="Trmite" (onClick)="onSendItemsCertificates()"></dx-button> 
            </div>

         </div>
      </div>
   </dx-scroll-view>
</dx-popup>

<dx-tooltip target="#excelImportBtn" showEvent="dxhoverstart" hideEvent="dxhoverend">
    <div *dxTemplate="let data of 'content'" class="label-tooltip" position="top">
       Fisierul Excel trebuie sa aiba campurile: Factura | Cod Produs | LOT
       <br />
       Cel putin unul din campurile Factura / LOT trebuie sa existe, altfel nu se vor putea gasi documente.
    </div>
 </dx-tooltip>

 <dx-tooltip target="#excelCopyBtn" showEvent="dxhoverstart" hideEvent="dxhoverend">
   <div *dxTemplate="let data of 'content'" class="label-tooltip" position="top">
      Copiaza celulele cu informatia despre Factura | Cod Produs | LOT si lipeste-o in tabelul alaturat.
      <br />
      Ordinea nu este importanta. Cel putin unul din campurile Factura / LOT trebuie sa existe, altfel nu se vor putea gasi documente.
   </div>
</dx-tooltip>

<dx-tooltip target="#manuallyInsertBtn" showEvent="dxhoverstart" hideEvent="dxhoverend">
   <div *dxTemplate="let data of 'content'" class="label-tooltip" position="top">
      Introdu Manual Informatia despre Factura | Cod Produs | LOT in campul Corespunzator din tabelul alaturat.
      <br />
      Cel putin unul din campurile Factura / LOT trebuie sa existe, altfel nu se vor putea gasi documente.
   </div>
</dx-tooltip>