.certificates-btns-options {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.label-tooltip {
  text-align: left;
  font-size: 16px;
}

.file-uploader {
  width: 100%;
  border: 2px dashed #ccc;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}

.buttons-container {
  float: left;
  margin-top: 1rem;
}

.processed-items-certificates {
  margin-top: 4rem;
}

.excel-copy-items, .manually-insert-items {
  margin-top: 1rem;
}

.button-active {
  background-color: red;
  color: white;
}

.send-certificates-btn {
  float: right;
}

.row {
  margin-left: -10px;
  margin-right: -10px; 
}

.row > .col,
.row > [class*='col-'] {
  padding-left: 5px; 
  padding-right: 5px;
}