<app-spinner [visible]="loaded"></app-spinner>
<div class="main-content">
    <div class="container-fluid">
        <div class="card card-plain">
            <app-title [title]="'Comenzi'"></app-title>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-6">
                    <div [hidden]="detailsVisibility">
                        <app-order-search-filter [(salesPosts)]="posts" [(orderTypes)]="orderTypes"
                            [(orderStatusTypes)]="orderStatusTypes" [(userPostId)]="userPostId"
                            [(isUserAdmin)]="isUserAdmin" [(items)]="items" [(sites)]="sites"
                            (searchEvent)="searchEvent($event)"
                            (refreshEvent)="refreshEvent($event)"></app-order-search-filter>
                        <div class="mt-4">
                            <app-grid-toolbar #orderToolbar [actions]="actions" [showColumnSettings]="true"
                                [showExcel]="true" [fileName]="'items'" [showPrint]="true"
                                (addEvent)="openDetails(null)" (refreshEvent)="refreshDataGrid()"
                                (deleteEvent)="deleteRecords($event)" [showInfo]="true" [infoText]="infoButton">
                            </app-grid-toolbar>
                            <div class="float-none" style="clear: both;"></div>
                        </div>
                        <div class="mt-4"></div>
                        <dx-data-grid id="gridContainer" #orderDataGrid [dataSource]="orders"
                            [rowAlternationEnabled]="false" [showBorders]="false" [allowColumnReordering]="true"
                            (onSelectionChanged)="selectionChanged($event)" (onRowPrepared)="onRowPrepared($event)"
                            (onEditorPreparing)="onEditorPreparing($event)">
                            <dxo-filter-row [visible]="true"></dxo-filter-row>
                            <dxo-filter-panel [visible]="true">
                            </dxo-filter-panel>
                            <dxo-export [enabled]="canExport()" [allowExportSelectedData]="true"></dxo-export>
                            <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
                            <dxo-header-filter [visible]="true">
                            </dxo-header-filter>
                            <dxo-selection mode="multiple" showCheckBoxesMode="always"></dxo-selection>
                            <dxo-group-panel [visible]="true"></dxo-group-panel>
                            <dxo-load-panel [enabled]="true"></dxo-load-panel>
                            <dxo-sorting mode="multiple"></dxo-sorting>

                            <dxo-paging [pageSize]="15"></dxo-paging>
                            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>
                            <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>

                            <dxi-column dataField="siteId" caption="Locatie" alignment="left" [visible]="false">
                                <dxo-lookup [dataSource]="sites" valueExpr="id" displayExpr="name">
                                </dxo-lookup>
                            </dxi-column>

                            <dxi-column dataField="date" caption="Data doc." dataType="date"
                                alignment="right"></dxi-column>
                            <dxi-column dataField="deliveryDate" caption="Data livrare" dataType="date"
                                alignment="right"></dxi-column>

                            <dxi-column dataField="number" caption="Nr doc." dataType="string"
                                alignment="right"></dxi-column>
                            <dxi-column dataField="status" caption="Stare" alignment="left">
                                <dxo-lookup [dataSource]="orderStatusTypes" valueExpr="id" displayExpr="name">
                                </dxo-lookup>
                            </dxi-column>

                            <dxi-column dataField="total" caption="Valoare fara TVA" dataType="number"
                                alignment="right"></dxi-column>
                            <dxi-column dataField="partnerCode" caption="Cod Client" dataType="string"
                                alignment="left"></dxi-column>
                            <dxi-column dataField="partnerName" caption="Nume Client" dataType="string"
                                alignment="left"></dxi-column>
                            <dxi-column dataField="syncExternalAppId" caption="Nr. Marketplace" dataType="string"
                                alignment="right"></dxi-column>
                            <dxi-column dataField="erpNumber" caption="Nr. ERP" dataType="string"
                                alignment="right"></dxi-column>
                            <dxi-column dataField="syncERPExternalId" caption="Trimisa la ERP" dataType="string"
                                alignment="center"></dxi-column>
                            <dxi-column dataField="salesAgentId" caption="Post/Agent" alignment="left">
                                <dxo-lookup [dataSource]="posts" valueExpr="id" [displayExpr]="getDisplayExprPostsName">
                                </dxo-lookup>
                            </dxi-column>

                            <dxi-column dataField="currencyId" caption="Valuta" alignment="center">
                                <dxo-lookup [dataSource]="currencies" valueExpr="id" displayExpr="name">
                                </dxo-lookup>
                            </dxi-column>

                            <dxi-column dataField="source" caption="Creata din" alignment="left">
                                <dxo-lookup [dataSource]="erpSyncSource" valueExpr="id" displayExpr="name">
                                </dxo-lookup>
                            </dxi-column>

                            <dxi-column dataField="isActive" caption="Activ" dataType="boolean" alignment="center">
                            </dxi-column>
                            <dxi-column caption="Actiuni" cellTemplate="cellTemplate" [width]="250" [minWidth]="250"
                                alignment="center">
                            </dxi-column>

                            <div *dxTemplate="let data of 'cellTemplate'">
                                <i class="fa fa-pencil fa-2x" style='padding-right : 15px' href="javascript:void(0)"
                                    title="Edit" (click)="openDetails(data.data)"></i>
                                &nbsp;
                                <i class="fa fa-ban fa-2x" style='padding-right : 15px' href="javascript:void(0)"
                                    title="Stergere" (click)="deleteRow(data)"></i>
                            </div>
                        </dx-data-grid>

                    </div>
                    <div [hidden]="!detailsVisibility">
                        <app-order-details #orderDetails [(selectedOrder)]="selectedOrder" [(currencies)]="currencies"
                            [(salesPosts)]="salesPosts" [(posts)]="posts" [(cities)]="cities" [(counties)]="counties"
                            [(measurementUnits)]="measurementUnits" [(paymentInstruments)]="paymentInstruments"
                            [(orderTypes)]="orderTypes" [(deliveryConditions)]="deliveryConditions"
                            [(orderStatusTypes)]="orderStatusTypes" [(managements)]="managements"
                            [(itemTypes)]="itemTypes" [(users)]="users" [(items)]="items" [(sites)]="sites"
                            [(erpSyncSource)]="erpSyncSource" [(actions)]="actions"
                            (visible)="changeVisible()"></app-order-details>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>