.fa-pencil, .fa-clone, .fa-ban  {
    color: rgb(196, 0, 0);
  }
  
  .isTabActive {
    color: #fcfcfc;
    background-color: #4caf50;
  }  
  
  .tabError {
    color: #fcfcfc;
    background-color: #d32323;
  }  
  
  .redFont {
    color:red;
  }