<app-spinner [visible]="loaded"></app-spinner>
<div class="main-content">
    <div class="container-fluid">
        <div class="card card-plain">
            <app-title [title]="'Raport Zilnic'"></app-title>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-6">
                    <br>
                    <div class="modal-body">
                        <dx-validation-group #validationGroup>
                            <div class="form-group row">
                                <div class="col-2 dx-field-label text-md-right">Ziua*:</div>
                                <div class="col-md-3 col-lg-3">
                                    <dx-date-box [(ngModel)]="selectedDayDate" type="date" displayFormat="dd-MM-yyyy"
                                        (onValueChanged)="searchData()">
                                        <dx-validator>
                                            <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                            </dxi-validation-rule>
                                        </dx-validator>
                                    </dx-date-box>
                                </div>
                                <div class="col-2 dx-field-label text-md-right">Post / Agent*:</div>
                                <div class="col-md-3 col-lg-3">
                                    <dx-select-box [dataSource]="allPosts" [(ngModel)]="selectedPost" valueExpr="id"
                                        (onValueChanged)="searchData()" [searchEnabled]="true"
                                        [displayExpr]="getPostDisplayExpr"
                                        [disabled]="!isUserAdminOrHasSuperiorPostValue">
                                        <dx-validator>
                                            <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                            </dxi-validation-rule>
                                        </dx-validator>
                                    </dx-select-box>
                                </div>
                                <div class="col-md-2 col-lg-2">
                                    <dx-button text="Cauta" type="danger" (onClick)="searchData()">
                                    </dx-button>
                                </div>
                            </div>
                        </dx-validation-group>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-6">
                            <div class="mt-4">
                                <app-grid-toolbar #dailyReportGridToolbar [actions]="actions"
                                    [showColumnSettings]="true" [showExcel]="true" [fileName]="'dailyReportAllocation'"
                                    [showPrint]="true" (addEvent)="openDetails(null)"
                                    (displayEvent)="displayDataEvent($event)" (refreshEvent)="refreshDataGrid()"
                                    (deleteEvent)="deleteRecords($event)" [showInfo]="true" [infoText]="infoButton">
                                </app-grid-toolbar>
                                <div class="float-none" style="clear: both;"></div>
                            </div>
                            <div class="mt-4"></div>
                            <dx-data-grid id="dailyReportDataGrid" #dailyReportDataGrid [dataSource]="dataSource"
                                [rowAlternationEnabled]="true" [showBorders]="false" [allowColumnReordering]="true"
                                (onSelectionChanged)="selectionChanged($event)"
                                (onEditorPreparing)="onEditorPreparing($event)" (onRowUpdated)="onRowUpdated($event)">

                                <dxo-group-panel [visible]="true" [emptyPanelText]="groupedText"></dxo-group-panel>
                                <dxo-load-panel [enabled]="true"></dxo-load-panel>

                                <dxo-editing mode="cell" [allowUpdating]="true">
                                </dxo-editing>

                                <dxo-paging [pageSize]="100"></dxo-paging>
                                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]">
                                </dxo-pager>
                                <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>

                                <dxi-column dataField="date" caption="Data" dataType="date" format="dd-MM-yyyy"
                                    [allowEditing]="false" alignment="center">
                                </dxi-column>
                                <dxi-column dataField="saleTargetId" caption="Obiectiv" alignment="center"
                                    [allowEditing]="false">
                                    <dxo-lookup [dataSource]="salesTargets" valueExpr="id"
                                        [displayExpr]="getTargetDisplayExpr">
                                    </dxo-lookup>
                                </dxi-column>
                                <dxi-column dataField="saleTargetDescription" [allowEditing]="false"
                                    caption="Descriere Obiectiv" dataType="text" alignment="center">
                                </dxi-column>
                                <dxi-column dataField="saleTargetValue" [allowEditing]="false" caption="Target minim"
                                    dataType="text" alignment="center">
                                </dxi-column>

                                <dxi-column dataField="value" [allowEditing]="true" caption="Valoare Introdusa Agent"
                                    dataType="number" cellTemplate="valueTemplate" alignment="center">
                                    <dxi-validation-rule type="required" message="Camp obligatoriu!">
                                    </dxi-validation-rule>
                                </dxi-column>
                                <dxi-column dataField="description" [allowEditing]="true"
                                    caption="Descriere / Observatii Agent" dataType="text" alignment="center">
                                </dxi-column>

                                <dxi-column dataField="validated" [allowEditing]="false" caption="Validat"
                                    dataType="boolean" alignment="center">
                                </dxi-column>

                                <dxi-column caption="Actiuni" cellTemplate="cellTemplate" alignment="center">
                                </dxi-column>
                                <div *dxTemplate="let data of 'cellTemplate'">
                                    <i class="fa fa-check fa-2x" style='padding-right : 15px' href="javascript:void(0)"
                                        title="Valideaza" (click)="validateRow(data.data)"
                                        *ngIf="isUserAdminOrHasSuperiorPostValue"></i>
                                </div>
                                <div *dxTemplate="let data of 'valueTemplate'">
                                    <div [ngStyle]="{'background-color': data.data.isUnderTarget ? '#ffaf82' : null }">
                                        {{valueExpr(data.data)}}</div>
                                </div>
                            </dx-data-grid>
                            <br>
                        </div>
                    </div>

                    <dx-popup *ngIf="selectedDailyReport" [width]="1600" [height]="700" [showTitle]="true"
                        [resizeEnabled]="true" title="Raport Zilnic" [dragEnabled]="true" [closeOnOutsideClick]="true"
                        [(visible)]="popupVisible">
                        <dx-scroll-view width="100%" height="100%">
                            <dx-validation-group #validationGroup>
                                <div class="form-group row">
                                    <div class="col-2 dx-field-label text-md-right">Post*:</div>
                                    <div class="col-md-4 col-lg-4">
                                        <dx-select-box [dataSource]="posts" [displayExpr]="getPostDisplayExpr"
                                            valueExpr="id" [disabled]="true" [(ngModel)]="selectedPostId"
                                            [searchEnabled]="true">
                                            <dx-validator>
                                                <dxi-validation-rule type="required"
                                                    message="{{'required' | translate}}"></dxi-validation-rule>
                                            </dx-validator>
                                        </dx-select-box>
                                    </div>
                                    <div class="col-2 dx-field-label text-md-right">Validata:</div>
                                    <div [disabled]="!isUserAdminOrHasSuperiorPostValue" class="col-md-4 col-lg-4">
                                        <dx-check-box [(ngModel)]="selectedValid">
                                        </dx-check-box>
                                    </div>
                                </div>
                            </dx-validation-group>
                            <hr>
                            <br>
                            <dx-button *ngIf="isOnSaveDailyReport" text="Salveaza" (onClick)="saveDailyReport()">
                            </dx-button>
                            <dx-button *ngIf="!isOnSaveDailyReport" text="Modifica" (onClick)="updateDailyReport()"
                                [disabled]="!isUserAdminOrHasSuperiorPostValue && selectedDailyReport.validated">
                            </dx-button>
                        </dx-scroll-view>
                    </dx-popup>

                    <hr>
                    <div class="form-group row">
                        <div class="col-md-10 col-lg-10">
                        </div>
                        <div class="col-md-2 col-lg-2">
                            <div *ngIf="isUserAdminOrHasSuperiorPostValue && dataSource && dataSource.length > 0">
                                <dx-button text="Valideaza tot raportul" type="danger" (onClick)="validateReport()">
                                </dx-button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>