.info-circle {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red; /* Circle background color */
    color: white; /* Icon color */
    border-radius: 50%; /* Makes it a circle */
    font-size: 14px; /* Adjust the icon size */
  }

  .search-dropdown {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    margin-top: 5px;
    padding: 0;
    color: #000;
}

.search-dropdown ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.search-dropdown ul li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #f0f0f0;
}

.search-dropdown ul li:hover {
    background-color: #f5f5f5;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-group.no-border {
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.fa-search {
    color: #303030;
    padding-right: 5px;
    cursor: pointer;
}

.form-control {
    height: 30px;
}

.nav-link {
    padding: 0;
}

.navbar-nav {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-direction: row;
}

.nav-link {
    display: flex;
}

.material-icons.notification, .material-icons.language, .material-icons.user, .material-icons.reply-all {
    color: #fff;
}

.language-icon {
    object-fit: contain;
    height: 30px;
}

.navbar-form {
    margin: 0;
}

.card-title {
    margin: 0;
    color: #fff;
}

.card-header {
    background-color: #00bcd4;
    padding: 5px;
    border-radius: 3px;
}

.navbar-brand {
    color: #fff;
}

.notification {
    color: #fff;
}

.notification-container, .user-container, .lang-container {
    position: relative;
}
  
.notification {
    font-size: 24px;
    cursor: pointer;
}

.notification-badge {
    position: absolute;
    top: 0;
    right: -10px;
    background-color: transparent;
    color: white;
    border-radius: 50%;
    font-size: 12px;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notification-dropdown, .user-dropdown, .lang-dropdown {
    position: absolute;
    top: 100%; 
    left: 50%;
    background-color: white;
    border-radius: 4px;
    z-index: 1000;
    display: none;
}

.notification-dropdown.show, .user-dropdown.show, .lang-dropdown.show {
    display: block;
}

.no-notifications {
    background-color: #800080;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
}

.dropdown-item {
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dropdown-item:hover {
    background-color: #800080;
    color: white;
}

.frame-chart {
    width: 33%;
  }

.report-frame-currency-evolution-chart {
    width: 49%;
  }
  
  .report-frame-bnr-robor {
    width: 49%;
  }
  
  .currency-evolution-and-bnr-robor {
    display: flex; 
    align-items: flex-start; 
    justify-content: space-between;
  }
  
  .bnr-robor {
    margin-bottom: 2rem;
  }
  
  