<app-spinner [visible]="loaded"></app-spinner>
<div class="modal-body">
    <dx-validation-group #validationSearchGroup>
      <div class="form-group row">
        <div class="col-1 dx-field-label text-md-right">Data Document de la:</div>
        <div class="col-md-3 col-lg-3">
            <dx-date-box [(ngModel)]="orderSearchFilter.startDate" type="datetime" displayFormat="dd-MM-yyyy HH:mm">
            </dx-date-box>
        </div>
        <div class="col-1 dx-field-label text-md-right">Data Document pana la:</div>
        <div class="col-md-3 col-lg-3">
            <dx-date-box [(ngModel)]="orderSearchFilter.endDate" type="datetime" displayFormat="dd-MM-yyyy HH:mm">
            </dx-date-box>
        </div>
          <div class="col-1 dx-field-label text-md-right">Stare Document:</div>
          <div class="col-md-3 col-lg-3">
            <dx-select-box [dataSource]="orderStatusTypes" displayExpr="name" valueExpr="id"
            [(ngModel)]="orderSearchFilter.status" [searchEnabled]="true">
           </dx-select-box>
          </div>
      </div>

      <div class="form-group row">
        <div class="col-1 dx-field-label text-md-right">Introdus In:</div>
        <div class="col-md-3 col-lg-3">
          <dx-select-box [dataSource]="sites" displayExpr="name" valueExpr="id"
          [(ngModel)]="orderSearchFilter.siteId" [searchEnabled]="true">
         </dx-select-box>
        </div>
          <div class="col-1 dx-field-label text-md-right">Numar Document:</div>
          <div class="col-md-3 col-lg-3">
            <dx-text-box [(ngModel)]="orderSearchFilter.number" [maxLength]="25">
            </dx-text-box>
          </div>
          <div class="col-1 dx-field-label text-md-right">Agent Vanzare:</div>
          <div class="col-md-3 col-lg-3">
            <dx-select-box [dataSource]="salesPosts" displayExpr="companyPost" valueExpr="id"
            [(ngModel)]="orderSearchFilter.salesAgentId" [searchEnabled]="true">
           </dx-select-box>
          </div>
      </div>

      <div class="form-group row">
          <div class="col-1 dx-field-label text-md-right">Produs:</div>
          <div class="col-md-3 col-lg-3">
            <dx-tag-box [dataSource]="items" [(ngModel)]="orderSearchFilter.itemIds" valueExpr="id"
            [displayExpr]="getDisplayExprItems" [maxDisplayedTags]="2"  [showSelectionControls]="true" (onValueChanged)="onMultiTagItemsChange($event)"
            [showMultiTagOnly]="false" applyValueMode="useButtons" [searchEnabled]="true"
            [hideSelectedItems]="false" [selectAllMode]="'allPages'">
           </dx-tag-box>
          </div>
          <div class="col-1 dx-field-label text-md-right">Confirmat:</div>
          <div class="col-md-3 col-lg-3">
              <dx-text-box [(ngModel)]="orderSearchFilter.confirmed" [maxLength]="50">
              </dx-text-box>
          </div>
          <div class="col-1 dx-field-label text-md-right">Activ:</div>
          <div class="col-md-3 col-lg-3">
              <dx-check-box [(ngModel)]="orderSearchFilter.isActive"
                       [ngModelOptions]="{standalone: true}">
              </dx-check-box>
          </div>
      </div>

      <div class="form-group row">
        <div class="col-1 dx-field-label text-md-right">Persoana Fizica:</div>
        <div class="col-md-3 col-lg-3">
          <dx-switch [(ngModel)]="orderSearchFilter.isIndividual"></dx-switch>
        </div>
          <div class="col-1 dx-field-label text-md-right">Persoana Juridica:</div>
          <div class="col-md-3 col-lg-3">
            <dx-switch [(ngModel)]="orderSearchFilter.isLegal"></dx-switch>
          </div>
      </div>

      <app-partner-dropdown-search #partnerDropdownSearch [partnerLabelText]="'Client'"
      [isClient]="true" [isSupplier]="false" [dropdownLengthNr]="6"
      (partnerChange)="partnerChange($event)" [isRequired]="true">
      </app-partner-dropdown-search>

    </dx-validation-group>
     
      <hr>
      <div class="form-group row">
          <dx-button text="{{'search' | translate}}" (onClick)="searchOrders()">
          </dx-button>
          &nbsp; &nbsp; &nbsp;
          <dx-button text="Resetare filtru" (onClick)="resetFilters()">
          </dx-button>
      </div>
      </div>