<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-6">     
        <div>
            <div class="mt-4">
                <app-grid-toolbar #gridToolbar [actions]="actions" [showColumnSettings]="true"
                    [showExcel]="true" [fileName]="'salesGroupTarget'" [showPrint]="true" (addEvent)="add()"
                    (refreshEvent)="refreshDataGrid()" (deleteEvent)="deleteRecords($event)">
                </app-grid-toolbar>
                <div class="float-none" style="clear: both;"></div>
            </div>
            <div class="mt-4"></div>
            <dx-data-grid id="gridContainer" #dataGrid [dataSource]="salesGroupTargets" [rowAlternationEnabled]="true"
                [showBorders]="false" [allowColumnReordering]="true"
                (onSelectionChanged)="selectionChanged($event)" (onEditorPreparing)="onEditorPreparing($event)" (onRowInserting)="onRowInserting($event)"
                (onRowUpdated)="onRowUpdated($event)" (onInitNewRow)="onInitNewRow($event)">
                <dxo-selection mode="multiple" showCheckBoxesMode="always"></dxo-selection>
                <dxo-filter-row [visible]="true"></dxo-filter-row>
                <dxo-filter-panel [visible]="true">
                </dxo-filter-panel>
                <dxo-export [enabled]="canExport()" [allowExportSelectedData]="true"></dxo-export>
                <dxo-header-filter [visible]="true">
                </dxo-header-filter>
                <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
                <dxo-group-panel [visible]="true" [emptyPanelText]="groupedText"></dxo-group-panel>
                <dxo-load-panel [enabled]="true"></dxo-load-panel>
                <dxo-sorting mode="multiple"></dxo-sorting>
                <dxo-editing mode="form">
                    <dxo-form>
                        <dxi-item dataField="code"></dxi-item>
                        <dxi-item dataField="name"></dxi-item>
                        <dxi-item dataField="description"></dxi-item>
                        <dxi-item dataField="isActive"></dxi-item>
                    </dxo-form>
                </dxo-editing>

                <dxo-paging [pageSize]="15"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>
                <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>

                <dxi-column dataField="code" caption="Cod" dataType="string" alignment="left">
                    <dxi-validation-rule type="required" message="{{'required' | translate}}">
                    </dxi-validation-rule>
                    <dxi-validation-rule type="stringLength" [max]="200" message="Lungimea maximă depășită!">
                    </dxi-validation-rule>
                </dxi-column>
                <dxi-column dataField="name" caption="Nume" dataType="string" alignment="left">
                    <dxi-validation-rule type="required" message="{{'required' | translate}}">
                    </dxi-validation-rule>
                    <dxi-validation-rule type="stringLength" [max]="500" message="Lungimea maximă depășită!">
                    </dxi-validation-rule>
                </dxi-column>
                <dxi-column dataField="description" caption="Descriere" dataType="string" alignment="left">
                    <dxi-validation-rule type="stringLength" [max]="500" message="Lungimea maximă depășită!">
                    </dxi-validation-rule>
                </dxi-column>
                <dxi-column dataField="isActive" caption="Valid" dataType="boolean" alignment="center">
                </dxi-column>

                <dxi-column caption="Actiuni" cellTemplate="cellTemplate" [width]="250" [minWidth]="250" alignment="center">
                </dxi-column>   
                <div *dxTemplate="let data of 'cellTemplate'">
                    <i class="fa fa-pencil fa-2x" style='padding-right : 15px' *ngIf="canUpdate()" href="javascript:void(0)" title="Edit"
                        (click)="openDetails(data)"></i>
                        &nbsp;
                    <i class="fa fa-ban fa-2x" style='padding-right : 15px' *ngIf="canDelete()" href="javascript:void(0)" title="Stergere"
                        (click)="deleteRow(data)"></i>
                </div>
            </dx-data-grid>
        </div>
    </div>
</div>