<div *ngIf="showCharts">
  grafice
</div>
<div *ngIf="!showCharts">
<app-spinner [visible]="loaded" [zone]="'#partnerActivityTurnover'"></app-spinner>
<div id="partnerActivityTurnover">

   <!-- <div>
       <app-grid-toolbar #gridToolbar [actions]="partnerActivityTurnoverActions" [showInfo]="true" [infoText]="partnerActivityTurnoverInfo"
       infoId="partnerActivityTurnoverInfoButton" [showColumnSettings]="true" [showExcel]="true" [fileName]="'clientTurnover'" [showPrint]="true"
           (refreshEvent)="refreshDataGrid()">
       </app-grid-toolbar>
       <div class="float-none" style="clear: both;"></div>
    </div> -->
    <div class="mt-3"></div>
    <div>

      <dx-tree-list
          #dataGrid
          [dataSource]="treeListDataSource"
          keyExpr="id"
          parentIdExpr="parentId"
          [autoExpandAll]="autoExpandAll"
          [columnAutoWidth]="true"
          showBorders="true" showRowLines="true"
          (onSelectionChanged)="selectionChanged($event)"
          (onEditorPreparing)="onEditorPreparing($event)" (onEditingStart)="onEditingStart($event)"
          (onCellPrepared)="onCellPrepared($event)" (onRowPrepared)="onRowPrepared($event)" [expandedRowKeys]="expandedRowKeys"
          (onRowUpdated)="onRowUpdated($event)" [allowColumnResizing]="true" (onContentReady)="onContentReady($event)">

          <dxo-filter-row [visible]="true"></dxo-filter-row>
          <dxo-filter-panel [visible]="false">
          </dxo-filter-panel>
          <dxo-scrolling mode="standard"></dxo-scrolling>
          <dxo-load-panel [enabled]="true"></dxo-load-panel>
          <dxo-sorting mode="multiple"></dxo-sorting>

          <dxo-paging [enabled]="true" [pageSize]="15"> </dxo-paging>
          <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 30, 45]" [showInfo]="true"></dxo-pager>
          <dxo-search-panel [visible]="false" [highlightCaseSensitive]="true"></dxo-search-panel>

          <dxo-editing mode="cell" [allowUpdating]="true"></dxo-editing>
  
          <dxi-column dataField="itemCode" caption="Cod (Bax: , Stoc: )" dataType="string" [allowEditing]="false"
            alignment="left" [width]="250" [minWidth]="200" cellTemplate="itemCellTemplate" sortOrder="asc">
          </dxi-column>
          <dxi-column dataField="itemName" caption="MARESTE COMANDA!(10 ARTICOLE) CLIENTII CU ACELASI OBIECT DE ACTIVITATE MAI CUMPARA" dataType="string" [width]="520" [minWidth]="130" [allowEditing]="false"
            alignment="left" cellTemplate="itemNameCellTemplate">
          </dxi-column>
          <dxi-column dataField="listPrice" caption="Pret" dataType="number" [allowEditing]="false" [width]="100" [minWidth]="50" cellTemplate="priceTemplate"
            alignment="right">
          </dxi-column>

          <dxi-column dataField="lastComment.shoppingCartQuantity" caption="Fac" alignment="center" cellTemplate="isInvoicedCellTemplate" headerCellTemplate="isInvoicedHeaderCellTemplate" [width]="80" [minWidth]="80">
            <dxo-headerTemplate>
              <ng-container id="shoppingCartQuantityHeaderTemplate" *dxTemplate="let column of 'headerTemplate'">
                  <div style="white-space: normal; word-break: break-word; overflow-wrap: break-word;">{{ column.caption }}</div>
              </ng-container>
            </dxo-headerTemplate>
          </dxi-column>
          <dxi-column dataField="lastComment.hasStock" caption="Are Stoc" dataType="boolean" alignment="center" [width]="50" [minWidth]="50">
          </dxi-column>
          <dxi-column dataField="lastComment.atOrder" caption="La Cda" dataType="boolean" alignment="center" [width]="50" [minWidth]="50">
          </dxi-column>
          <dxi-column dataField="lastComment.notUsed" caption="Nu Fol" dataType="boolean" alignment="center" [width]="50" [minWidth]="50">
          </dxi-column>

          <dxi-column dataField="l12" [caption]="getMonth(12)" dataType="number" alignment="right" [allowEditing]="false" [width]="70" [minWidth]="70" [format]="{ type: 'fixedPoint', precision: 0 }">
          </dxi-column> 
          <dxi-column dataField="l11" [caption]="getMonth(11)" dataType="number" alignment="right" [allowEditing]="false" [width]="70" [minWidth]="70" [format]="{ type: 'fixedPoint', precision: 0 }">
          </dxi-column> 
          <dxi-column dataField="l10" [caption]="getMonth(10)" dataType="number" alignment="right" [allowEditing]="false" [width]="70" [minWidth]="70" [format]="{ type: 'fixedPoint', precision: 0 }">
          </dxi-column> 
          <dxi-column dataField="l9" [caption]="getMonth(9)" dataType="number" alignment="right" [allowEditing]="false" [width]="70" [minWidth]="70" [format]="{ type: 'fixedPoint', precision: 0 }">
          </dxi-column> 
          <dxi-column dataField="l8" [caption]="getMonth(8)" dataType="number" alignment="right" [allowEditing]="false" [width]="70" [minWidth]="70" [format]="{ type: 'fixedPoint', precision: 0 }">
          </dxi-column> 
          <dxi-column dataField="l7" [caption]="getMonth(7)" dataType="number" alignment="right" [allowEditing]="false" [width]="70" [minWidth]="70" [format]="{ type: 'fixedPoint', precision: 0 }">
          </dxi-column>   
          <dxi-column dataField="l6" [caption]="getMonth(6)" dataType="number" alignment="right" [allowEditing]="false" [width]="70" [minWidth]="70" [format]="{ type: 'fixedPoint', precision: 0 }">
          </dxi-column>
          <dxi-column dataField="l5" [caption]="getMonth(5)" dataType="number" alignment="right" [allowEditing]="false" [width]="70" [minWidth]="70" [format]="{ type: 'fixedPoint', precision: 0 }">
          </dxi-column>
          <dxi-column dataField="l4" [caption]="getMonth(4)" dataType="number" alignment="right" [allowEditing]="false" [width]="70" [minWidth]="70" [format]="{ type: 'fixedPoint', precision: 0 }">
          </dxi-column>
          <dxi-column dataField="l3" [caption]="getMonth(3)" dataType="number" alignment="right" [allowEditing]="false" [width]="70" [minWidth]="70" [format]="{ type: 'fixedPoint', precision: 0 }">
          </dxi-column>
          <dxi-column dataField="l2" [caption]="getMonth(2)" dataType="number" alignment="right" [allowEditing]="false" [width]="70" [minWidth]="70" [format]="{ type: 'fixedPoint', precision: 0 }">
          </dxi-column>
          <dxi-column dataField="l1" [caption]="getMonth(1)" dataType="number" alignment="right" [allowEditing]="false" [width]="70" [minWidth]="70" [format]="{ type: 'fixedPoint', precision: 0 }">
          </dxi-column>
          <dxi-column dataField="lc" [caption]="getMonth(0)" dataType="number" alignment="right" [allowEditing]="false" [width]="70" [minWidth]="70" [format]="{ type: 'fixedPoint', precision: 0 }">
          </dxi-column>
          
          <dxi-column dataField="lastComment.comment" caption="Comentarii" dataType="string" [width]="360" [minWidth]="360"
            alignment="left" [allowEditing]="true" cellTemplate="commentCellTemplate">
          </dxi-column>

          <div id="isInvoicedColumn" *dxTemplate="let data of 'isInvoicedCellTemplate'">
            {{ data.data.lastComment.shoppingCartQuantity }}
            <i 
              class="fa fa-shopping-basket"
              [class.disabled]="!data.data.lastComment.shoppingCartQuantity"
              (click)="addItemToCart(data.data)" 
              [title]="data.data.lastComment.shoppingCartQuantity ? 'Trimite in cos' : 'Introduceti cantitatea'"
              [style.pointer-events]="!data.data.lastComment.shoppingCartQuantity ? 'none' : 'auto'"
            ></i>
          </div>

          <div id="isInvoicedColumnHeader" *dxTemplate="let info of 'isInvoicedHeaderCellTemplate'">
            <p>{{info.column.caption}}</p>
          </div>

          <div *dxTemplate="let data of 'itemCellTemplate'">
            <span *ngIf="isItemOnVIP(data.data.itemId)">
              <button class="vip-button">VIP</button>
            </span>
            <span class="onHover" (click)="openDetails(data.data)">
              {{data.data.itemCode}} <span *ngIf="data.data.parentId">(Bax: {{data.data.cantBaxArticol}}, Stoc: {{data.data.currentStock}})</span>
            </span>
          </div>
          <div *dxTemplate="let data of 'priceTemplate'">
            <b>{{priceCurrencyExpr(data.data)}}</b>
          </div>

          <div *dxTemplate="let data of 'itemNameCellTemplate'">
            <span>
                {{data.data.itemName}}
            </span>
            <span *ngIf="hasItemsRelated(data.data.itemId)">
              <img [src]="'./assets/img/items-related-icon.png'" alt="Sugestii" class="related-item-icon-img">
            </span>
          </div>

          <div *dxTemplate="let data of 'commentCellTemplate'">
            <span *ngIf="data.data.itemComments && data.data.itemComments.length > 0" (click)="openItemComments(data.data)">
               <img id="turnoverCommentsIconId" [src]="'./assets/img/turnover-comments-icon.png'" alt="Comentarii" class="turnover-comments-icon-img">
            </span>
            {{data.data.lastComment.comment}}
         </div>
        </dx-tree-list>
    </div>
</div>


<app-turnover-comment #popupComponent [(selectedClientTurnover)]="selectedClientTurnover"
[(partnerItemState)]="partnerItemState"
[(brands)]="brands"
[(items)]="items"
[(clientId)]="clientId"
[(postId)]="postId"
[(customerId)]="customerId"
[(section)]="section"
[partnersInput]="partners"
(refreshDataEvent)="refreshDataGrid()"
></app-turnover-comment>
</div>

<dx-tooltip  #tooltipItemCode position="right" showEvent="mouseenter" hideEvent="mouseleave" (onHiding)="onHidingVipTiersTooltip($event)">
  <div *dxTemplate="let data of 'content'">
    <div class='tooltipContent'>
      <table border="1" *ngIf="tooltipData && tooltipData.length > 0">
        <tr>
          <th *ngFor="let item of tooltipData[0].tiers; let i = index">VIP {{ i + 1 }}
            <i class="fa fa-shopping-basket" (click)="addItemToCartFromVipTiers(i + 1, tooltipData[0].itemId, item.baxValue)" title="Trimite in cos"></i>
          </th>
        </tr>
        <tr *ngFor="let item of tooltipData">
          <td *ngFor="let tier of item.tiers">{{tier.price}} RON {{tier.baxValue}} buc</td>
        </tr>
      </table>
    </div>
  </div>
</dx-tooltip>

<dx-tooltip  #stockTooltipItemCode position="right">
  <div *dxTemplate="let data of 'content'">
    <div class='tooltipContent'>
      <div *ngFor="let item of stockTooltipData">
        <b><div>Stoc total locatie {{item.siteCode}}: {{item.totalStockOnSite}}</div></b>
        <div *ngFor="let stock of item.stocksOnManagement" style="margin-left: 20px;">Stoc gestiune {{stock.managementCode}}: {{stock.stockOnManagement}}</div>
      </div>
    </div>
  </div>
</dx-tooltip>

<dx-tooltip #tooltipItemName position="right" showEvent="mouseenter" hideEvent="mouseleave" (onHiding)="onHidingRelatedItemsTooltip($event)" [width]="'40%'">
  <div *dxTemplate="let data of 'content'" class="related-items-tooltip-wrapper">
     <dx-scroll-view width="100%" height="350px" *ngIf="itemNameTooltipData && itemNameTooltipData.length > 0">
        <dx-data-grid #dataGridItemNameTooltipData [dataSource]="itemNameTooltipData" [rowAlternationEnabled]="true" [showBorders]="true" [wordWrapEnabled]="false" [allowColumnResizing]="true" [allowColumnReordering]="true">           
           <dxo-load-panel [enabled]="true"></dxo-load-panel>
           <dxo-paging [pageSize]="15"></dxo-paging>
           <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>        
           <dxo-editing mode="cell" [allowUpdating]="true"></dxo-editing>

           <dxi-column dataField="" caption="" [allowEditing]="false" alignment="left" cellTemplate="itemRelatedIconCellTemplate" [width]="45" [minWidth]="45"></dxi-column>
           <dxi-column dataField="itemCode" caption="Cod (Bax: , Stoc: )" dataType="string" [allowEditing]="false" alignment="left" cellTemplate="itemCodeCellTemplate" [width]="270" [minWidth]="270"></dxi-column>
           <dxi-column dataField="itemName" caption="SUGESTII: Similar - Complementar - Superior - Inferior" dataType="string" [allowEditing]="false" alignment="left" cellTemplate="itemNameCellTemplate"></dxi-column>
           <dxi-column dataField="itemPrice" caption="Pret" dataType="string" [allowEditing]="false" alignment="right" [width]="100" cellTemplate="itemPriceCellTemplate"></dxi-column>
           <dxi-column dataField="quantity" caption="Cantitate" dataType="number" alignment="right" [width]="100"></dxi-column>
           <dxi-column dataField="" caption="Cos" [allowEditing]="false" alignment="center" [width]="45" cellTemplate="sendItemToCartCellTemplate"></dxi-column>

           <div *dxTemplate="let data of 'sendItemToCartCellTemplate'">
              <i class="fa fa-shopping-basket" (click)="addRelatedItemToCart(data.data)" title="Trimite in cos"></i>
           </div>

           <div *dxTemplate="let data of 'itemPriceCellTemplate'">
              {{getRelatedItemPrice(data.data)}}
           </div>

           <div *dxTemplate="let data of 'itemNameCellTemplate'">
              {{data.data.itemName}} ({{ data.data.description }})
           </div>

           <div *dxTemplate="let data of 'itemCodeCellTemplate'">
              {{data.data.itemCode}} (B: {{data.data.baxValue}}, S: {{data.data.stock}})
           </div>

           <div *dxTemplate="let data of 'itemRelatedIconCellTemplate'">
              <img [title]="data.data.iconName" class="related-item-style" [src]="'./assets/img/' + data.data.icon" [alt]="data.data.iconName" />
           </div>
        </dx-data-grid>
     </dx-scroll-view>
  </div>
</dx-tooltip>

<dx-tooltip #tooltipItemComment position="right" showEvent="mouseenter" hideEvent="mouseleave" (onHiding)="onHidingItemCommentTooltip($event)">
  <div *dxTemplate="let data of 'content'">
    <div class='label-tooltip' *ngIf="itemCommentTooltipData">
      {{ itemCommentTooltipData }}
    </div>
  </div>
</dx-tooltip>

<dx-popup *ngIf="isItemCommentsPopupOpen" [showTitle]="true" [resizeEnabled]="true" title="Istoric Comentarii"
     [dragEnabled]="true" [closeOnOutsideClick]="true" [(visible)]="isItemCommentsPopupOpen" width="1600" height="50%" class="custom-popup">
     <dx-scroll-view width="100%" height="100%" direction="both">
        <div>
           <dx-data-grid  [dataSource]="selectedItemComments" [rowAlternationEnabled]="false" [showBorders]="false"
              [allowColumnReordering]="true" showBorders="true" showRowLines="true">
              <dxo-filter-row [visible]="true"></dxo-filter-row>
              <dxo-header-filter [visible]="true">
              </dxo-header-filter>
              <dxo-load-panel [enabled]="true"></dxo-load-panel>
              <dxo-sorting mode="multiple"></dxo-sorting>
        
              <dxo-paging [pageSize]="5"></dxo-paging>
              <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10]"></dxo-pager>
        
              <dxi-column dataField="created" caption="Data creare" dataType="date" format="dd-MM-yyyy HH:mm" alignment="left"></dxi-column>

              <dxi-column dataField="status" caption="Status" dataType="string" [minWidth]="250" alignment="left"></dxi-column>
              <dxi-column dataField="comment" caption="Comentarii" dataType="string" [minWidth]="500" alignment="left"></dxi-column>
     
              <dxi-column dataField="callBackDate" caption="Revin pe" dataType="date" displayFormat="dd-MM-yyyy HH:mm"  alignment="center">
              </dxi-column>
              <dxi-column dataField="hasStockFromMe" caption="Stoc de la mine" dataType="boolean" alignment="center">
              </dxi-column>
              <dxi-column dataField="brandId" caption="Brand" dataType="string" alignment="left">
              <dxo-lookup [dataSource]="brands" valueExpr="id" displayExpr="code">
              </dxo-lookup>
              </dxi-column>
              <dxi-column dataField="monthlyOrderedQuantity" caption="Cantitate lunara" dataType="number" alignment="right">
              </dxi-column>
              <dxi-column dataField="price" caption="Pret" dataType="number" alignment="right">
              </dxi-column>
           </dx-data-grid>
        </div> 
     </dx-scroll-view>
</dx-popup>