<app-spinner [visible]="loaded"></app-spinner>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-6">
        <hr>

        <h5>{{header}}</h5>

        <div>
            <dx-file-uploader class="col-sm-8" selectButtonText="Selecteaza fisier"
                labelText="Trage fisierul aici" accept="xlsx" [allowedFileExtensions]="['.xlsx']" uploadMode="useForm"
                (change)="uploadData($event)"></dx-file-uploader>
        </div>

        <dx-button *ngIf="showGenerateBtn" text="Genereaza" (onClick)="generateDataGrid()">
        </dx-button>
        &nbsp;

        <div *ngIf="showImportBtn" class="col-md-8 col-lg-8">
            <div class="row">
                <div class="col-md-2 col-lg-2">
                    <dx-button text="Import" type="danger" (onClick)="import()">
                    </dx-button>
                </div>
            </div>
        </div>

        <hr>
        <div [hidden]="!showGrid">
            <dx-data-grid #dataGrid [dataSource]="gridDataSource"
                (onSelectionChanged)="onSelectionChanged($event)" (onRowPrepared)="onRowPrepared($event)" [wordWrapEnabled]="true">
                <dxo-selection mode="multiple" showCheckBoxesMode="always"></dxo-selection>
                <dxo-filter-row [visible]="true"></dxo-filter-row>
 
                <dxo-paging [pageSize]="25"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[25, 50, 100]"></dxo-pager>
                <dxi-column dataField="orderNumber" caption="Numar Ordinde" alignment="center"></dxi-column>
                <dxi-column dataField="acquisitionName"  caption="Denumire Licitatie" alignment="center"></dxi-column>
                <dxi-column dataField="acquisitionerName"  caption="Denumire Companie" alignment="center"></dxi-column>
                <dxi-column dataField="acquisitionNumber"  caption="Numar Licitatie" alignment="center"></dxi-column>
                <dxi-column dataField="acquisitionType"  caption="Tip Licitatie" alignment="center"></dxi-column>

                <dxi-column dataField="countryId" [allowEditing]="false" caption="Tara" dataType="number" alignment="center">
                    <dxo-lookup [dataSource]="countriesDS" valueExpr="id" [displayExpr]="getDisplayExprCountries">
                    </dxo-lookup>
                </dxi-column>
                <dxi-column dataField="countyId" [allowEditing]="false" caption="Judet" dataType="number" alignment="center">
                    <dxo-lookup [dataSource]="countiesDS" valueExpr="id" [displayExpr]="getDisplayExprCounties">
                    </dxo-lookup>
                </dxi-column>
                <dxi-column dataField="postId" [allowEditing]="false" caption="Post" dataType="number" alignment="center">
                    <dxo-lookup [dataSource]="posts" valueExpr="id" [displayExpr]="getPostDisplayExpr">
                    </dxo-lookup>
                </dxi-column>

                <dxi-column dataField="acquisitionDate"  caption="Data Licitatie" dataType="date" format="dd-MM-yyyy HH:mm" alignment="center"></dxi-column>
                <dxi-column dataField="endDate"  caption="Termen Limita" dataType="date" format="dd-MM-yyyy HH:mm" alignment="center"></dxi-column>
                <dxi-column dataField="estimatedValue"  caption="Valoare Estimata" alignment="center"></dxi-column>
                <dxi-column  caption="Actiuni" cellTemplate="cellActionTemplate" alignment="center">
                </dxi-column>
                <div *dxTemplate="let data of 'cellActionTemplate'">
                    <i class="fa fa-pencil fa-2x"  style='padding-right : 15px' href="javascript:void(0)" title="Edit"
                        (click)="openDetails(data.data)"></i>
                </div>
            </dx-data-grid>
            <hr>
        </div>
        <div *ngIf="showError">
            <h5 style="color: red; font-weight: bold;">{{'general.gridError' | translate}}</h5>
        </div>

    </div>
</div>


<dx-popup *ngIf="selectedAuction" [width]="2000" [height]="500" [resizeEnabled]="true" [showTitle]="true" title="Modifica Licitatia" [showCloseButton]="true"
  [dragEnabled]="true" [closeOnOutsideClick]="true" [(visible)]="auctionPopup">

  <h5 class="h4-title">Linie din excel curenta: {{auction.acquisitionName}} - {{auction.acquisitionerName}} - {{auction.country}} - {{auction.county}}</h5>

  <hr>
  <app-partner-dropdown-search #partnerDropdownSearch [partnerLabelText]="'Client'"
  [(partnerId)]="selectedAuction.partnerId" [isClient]="true" [isSupplier]="false" [dropdownLengthNr]="9"
  [isDisabledOnUpdate]="false" (partnerChange)="partnerChange($event)" (selectedPartnerChange)="selectedPartnerChange($event)" [isRequired]="true">
 </app-partner-dropdown-search>

  <div class="form-group row">
    <div class="col-1 dx-field-label text-md-right">Tara:</div>
    <div class="col-md-2 col-lg-2">
        <dx-select-box [dataSource]="countriesDS" [disabled]="true"
            [displayExpr]="getDisplayExprCountries" valueExpr="id"
            [searchEnabled]="true"
            [(ngModel)]="selectedAuction.countryId">   
        </dx-select-box>
    </div>
    <div class="col-1 dx-field-label text-md-right">Judet:</div>
    <div class="col-md-2 col-lg-2">
        <dx-select-box [dataSource]="countiesDS" [disabled]="true"
            [displayExpr]="getDisplayExprCounties" valueExpr="id"
            [searchEnabled]="true"
            [(ngModel)]="selectedAuction.countyId">   
        </dx-select-box>
    </div>
 </div>

<hr>

<h6 *ngIf="validateSelectedMap()" class="h6-title">Atentie! Tara si/sau judetul din locatia implicita a clientului selectatat in mapari este posibil diferita fata de linia fisierului incarcat! Continuati cu maparea? </h6>

<div class="form-group row">
    <dx-button text="Salveaza / Mapeaza" (onClick)="mapAuction(true)" [disabled]="(!selectedAuction.countryId || !selectedAuction.countyId || !selectedAuction.county || !selectedAuction.county)">
    </dx-button>
    &nbsp; &nbsp; &nbsp;
    <dx-button text="Anuleaza / Inchide" (onClick)="mapAuction(false)">
    </dx-button>
    &nbsp; &nbsp; &nbsp;
    <a [routerLink]="[ '/', 'partner' ]" routerLinkActive="active" target="_blank" rel="bookmark">Tab - Creaza Partener Nou</a>
</div>


</dx-popup>