.success {
    color: #fcfcfc;
    background-color: #4caf50;
  }
  
  .danger {
    color: #fcfcfc;
    background-color: #f44336;
  }  
  
  .warning {
    color: #fcfcfc;
    background-color: #ffeb3b;
  } 

  .primary {
    color: #fcfcfc;
    background-color: #2196f3;
  } 

  .info {
    color: #fcfcfc;
    background-color: #00bcd4;
  } 

  .secondary {
    color: #fcfcfc;
    background-color: #6c757d;
  } 

  .fa-pencil, .fa-clone, .fa-ban, .fa-external-link, .fa-folder-open-o, .fa-folder  {
    color: rgb(196, 0, 0);
  }

  .h4-title {
    font-weight: bold;
    color: black;
  }

  .h6-title {
    color: red;
  }