.fa-pencil, .fa-ban .fa-ban, .fa-info-circle, .fa-registered {
    color: rgb(196, 0, 0);
  }


  .clickable-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }

  ::ng-deep .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused):not(.dx-row-removed) > td {
    background-color: transparent;
    color: unset;
}