::ng-deep .caption {
    font-size: 18px;
    font-weight: 500;
  }
  
  ::ng-deep .option > span {
    margin-right: 10px;
  }
  
  ::ng-deep .option > .dx-widget {
    display: inline-block;
    vertical-align: middle;
  }
  
  .currency-evolution-chart-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 0.8rem;
  }
  
  .form-group.row {
    margin-bottom: 1.5rem;
  }
  
  .chart-tooltip {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }