<div class="currency-evolution-chart-card">
    <div class="form-group row">
        <div class="col-2 dx-field-label text-md-right">Valuta de baza:</div>
        <div class="col-md-2 col-lg-2">
           <dx-select-box [dataSource]="baseCurrencies" displayExpr="name" valueExpr="id" [searchEnabled]="true" (onValueChanged)="onChartFiltersChange($event)"
              [(ngModel)]="selectedBaseCurrency">
           </dx-select-box>
        </div>

        <div class="col-2 dx-field-label text-md-right">De la:</div>
        <div class="col-md-3 col-lg-3">
            <dx-date-box [(ngModel)]="chartStartDate" [ngModelOptions]="{standalone: true}" type="date"
                (onValueChanged)="onChartFiltersChange($event)">
            </dx-date-box>
        </div>

        <div class="col-1 dx-field-label text-md-right">Pana la:</div>
        <div class="col-md-2 col-lg-2">
            <dx-date-box [(ngModel)]="chartEndDate" [ngModelOptions]="{standalone: true}" type="date"
                (onValueChanged)="onChartFiltersChange($event)">
            </dx-date-box>
        </div>

        <div class="col-2 dx-field-label text-md-right">Referinta bancara:</div>
        <div class="col-md-2 col-lg-2">
            <dx-tag-box [dataSource]="rateTypes"
                [displayExpr]="getRateTypeDisplayExpr" valueExpr="id" [showSelectionControls]="true" [(ngModel)]="selectedRateTypes"
                [maxDisplayedTags]="10" [showMultiTagOnly]="false" applyValueMode="useButtons"
                [searchEnabled]="true" [hideSelectedItems]="false" (onValueChanged)="onChartFiltersChange($event)">
            </dx-tag-box>
        </div>

        <div class="col-2 dx-field-label text-md-right">Valuta:</div>
        <div class="col-md-3 col-lg-3">
            <dx-tag-box [dataSource]="baseCurrencies"
                [displayExpr]="getRateTypeDisplayExpr" valueExpr="id" [showSelectionControls]="true" [(ngModel)]="selectedCurrencies"
                [maxDisplayedTags]="2" [showMultiTagOnly]="false" applyValueMode="useButtons"
                [searchEnabled]="true" [hideSelectedItems]="false" (onValueChanged)="onChartFiltersChange($event)">
            </dx-tag-box>
        </div>
     </div>
    <div class="report-frame">
        <dx-chart
            palette="material"
            [dataSource]="chartDataSource"
            title="Evolutia Valutara"
        >
            <ng-container *ngFor="let series of bceRateSeries">
                <dxi-series *ngIf="includeBceRate && selectedCurrencies.includes(series.currencyId)"
                            [valueField]="series.valueField" 
                            [name]="series.name">
                </dxi-series>
            </ng-container>
            
            <ng-container *ngFor="let series of bnrRateSeries">
                <dxi-series *ngIf="includeBnrRate && selectedCurrencies.includes(series.currencyId)"
                            [valueField]="series.valueField" 
                            [name]="series.name">
                </dxi-series>
            </ng-container>
        
            <dxo-common-series-settings argumentField="date" [type]="'spline'"></dxo-common-series-settings>
            <dxo-margin bottom="20"></dxo-margin>
            <dxo-common-axis-settings> <dxo-grid visible="true"></dxo-grid> </dxo-common-axis-settings>
            <dxo-legend verticalAlignment="top" horizontalAlignment="right"> </dxo-legend>
            <dxo-argument-axis [valueMarginsEnabled]="false" type="datetime">  
                <dxo-label [format]="'MMM yyyy'"></dxo-label>  
            </dxo-argument-axis>  
            <dxi-value-axis position="left"> <dxo-title text="valoare Numerica"></dxo-title> </dxi-value-axis>
            <dxo-export enabled="true"></dxo-export>
            <dxo-tooltip enabled="true" contentTemplate="tooltipContent"></dxo-tooltip>
            <div *dxTemplate="let info of 'tooltipContent'" class="state-tooltip">
                <div class="chart-tooltip">
                    <div>{{ info.point.value }}</div>
                    <div>{{ info.point.data.date | date: 'dd MMM yyyy' }}</div>
                </div>
            </div>
        </dx-chart>
    </div>
</div>