<app-spinner [visible]="loaded"></app-spinner>
<div class="main-content">
    <div class="container-fluid">
        <div class="card card-plain">
            <app-title [title]="'Clientii Mei'"></app-title>      

            <div class="form-group d-flex flex-wrap align-items-center" style="gap: 30px;">
                <div class="d-flex align-items-center">
                    <dx-button text="Cauta" type="warning" (onClick)="onSearchClick()"></dx-button>
                </div>
            
                <div class="d-flex align-items-center">
                    <label class="me-1 mr-2" style="color: black">Rulaj Anual:</label>
                    <dx-check-box [(ngModel)]="filter.isYearlyTurnover" (onValueChanged)="toggleTurnoverTypeCheckbox('yearly', $event)"></dx-check-box>
                </div>
            
                <div class="d-flex align-items-center">
                    <label class="me-1 mr-2" style="color: black">Rulaj Lunar:</label>
                    <dx-check-box [(ngModel)]="filter.isMonthlyTurnover" (onValueChanged)="toggleTurnoverTypeCheckbox('monthly', $event)"></dx-check-box>
                </div>
            
                <div class="d-flex align-items-center">
                    <label class="me-1 mr-2" style="color: black">Anul:</label>
                    <dx-select-box [dataSource]="relevantYears" [(ngModel)]="filter.year" [searchEnabled]="true" valueExpr="year" displayExpr="year"></dx-select-box>
                </div>
            
                <div class="d-flex align-items-center">
                    <label class="me-1 mr-2" style="color: black">Rulaj:</label>
                    <dx-select-box [dataSource]="turnoverTypes" [(ngModel)]="filter.turnoverType" [searchEnabled]="true" valueExpr="id" displayExpr="name" (onValueChanged)="onTurnoverTypeValueChanged($event)"></dx-select-box>
                </div>

                <div class="d-flex align-items-center">
                    <label class="me-1 mr-2" style="color: black">Tip Persoana:</label>
                    <dx-select-box [dataSource]="personTypes" displayExpr="name" valueExpr="id" [dropDownOptions]="{ minWidth: '300' }"
                        [(ngModel)]="filter.personType" [searchEnabled]="true" [dropDownOptions]="{ minWidth: '160' }" [showClearButton]="true">
                    </dx-select-box>
                </div>

                <!-- <div class="d-flex align-items-center">
                    <label class="me-1 mr-2" style="color: black">Inactiv de:</label>
                    <dx-select-box [dataSource]="inactivityValues" [(ngModel)]="filter.inactivityValue" [searchEnabled]="true" valueExpr="id" displayExpr="name"></dx-select-box>
                    <span class="ms-2 ml-1">{{ filter.isMonthlyTurnover ? 'luni' : 'ani' }}</span>
                </div> -->
            
                <div class="d-flex align-items-center">
                    <dx-button id="pageInfo" text="INFO" type="danger"></dx-button>
                </div>
            </div>       

            <div class="row mt-2" *ngIf="filter.isMonthlyTurnover && (filter.turnoverType === 1 || filter.turnoverType === 3)">
                <div class="col-lg-12 col-md-12 col-sm-6">

                    <dx-data-grid id="gridContainer" #dataGrid [dataSource]="myClients" [rowAlternationEnabled]="true" [allowColumnReordering]="true" [allowColumnResizing]="true" (onCellPrepared)="onCellPrepared($event)">
                        <dxo-filter-row [visible]="true"></dxo-filter-row>
                        <dxo-filter-panel [visible]="true"></dxo-filter-panel>
                        <dxo-header-filter [visible]="true"></dxo-header-filter>
                        <dxo-load-panel [enabled]="true"></dxo-load-panel>
                        <dxo-sorting mode="multiple"></dxo-sorting>
                        <dxo-paging [pageSize]="15"></dxo-paging>
                        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>

                        <dxi-column dataField="partnerName" caption="Client" alignment="left" width="400" cellTemplate="partnerNameCellTemplate">
                        </dxi-column>

                        <dxi-column dataField="lastContactCreated" caption="Ultima Contactare" dataType="date" alignment="right" [minWidth]="70"
                            [allowEditing]="false" cellTemplate="lastContactCreatedCellTemplate">
                        </dxi-column>

                        <dxi-column dataField="valueL1" caption="Ianuarie" dataType="number" alignment="right" [minWidth]="70"
                            [allowEditing]="false" cellTemplate="l1CellTemplate">
                        </dxi-column>
                        <dxi-column dataField="valueL2" caption="Februarie" dataType="number" alignment="right" [minWidth]="70"
                            [allowEditing]="false" cellTemplate="l2CellTemplate">
                        </dxi-column>
                        <dxi-column dataField="valueL3" caption="Martie" dataType="number" alignment="right" [minWidth]="70"
                            [allowEditing]="false" cellTemplate="l3CellTemplate">
                        </dxi-column>
                        <dxi-column dataField="valueL4" caption="Aprilie" dataType="number" alignment="right" [minWidth]="70"
                            [allowEditing]="false" cellTemplate="l4CellTemplate">
                        </dxi-column>
                        <dxi-column dataField="valueL5" caption="Mai" dataType="number" alignment="right" [minWidth]="70"
                            [allowEditing]="false" cellTemplate="l5CellTemplate">
                        </dxi-column>
                        <dxi-column dataField="valueL6" caption="Iunie" dataType="number" alignment="right" [minWidth]="70"
                            [allowEditing]="false" cellTemplate="l6CellTemplate">
                        </dxi-column>
                        <dxi-column dataField="valueL7" caption="Iulie" dataType="number" alignment="right" [minWidth]="70"
                            [allowEditing]="false" cellTemplate="l7CellTemplate">
                        </dxi-column>
                        <dxi-column dataField="valueL8" caption="August" dataType="number" alignment="right" [minWidth]="70"
                            [allowEditing]="false" cellTemplate="l8CellTemplate">
                        </dxi-column>
                        <dxi-column dataField="valueL9" caption="Septembrie" dataType="number" alignment="right" [minWidth]="70"
                            [allowEditing]="false" cellTemplate="l9CellTemplate">
                        </dxi-column>
                        <dxi-column dataField="valueL10" caption="Octombrie" dataType="number" alignment="right" [minWidth]="70"
                            [allowEditing]="false" cellTemplate="l10CellTemplate">
                        </dxi-column>
                        <dxi-column dataField="valueL11" caption="Noiembrie" dataType="number" alignment="right" [minWidth]="70"
                            [allowEditing]="false" cellTemplate="l11CellTemplate">
                        </dxi-column>
                        <dxi-column dataField="valueL12" caption="Decembrie" dataType="number" alignment="right" [minWidth]="70"
                            [allowEditing]="false" cellTemplate="l12CellTemplate">
                        </dxi-column>

                        <!-- <dxi-column dataField="valueTotal" [caption]="'Total'" dataType="number" alignment="right" [minWidth]="70"
                            [allowEditing]="false" cellTemplate="totalCellTemplate"></dxi-column>  -->
                            
                        <dxi-column dataField="inactivityValues" [caption]="'Inactiv'" dataType="number" alignment="right" [minWidth]="70"
                            [allowEditing]="false" cellTemplate="inactivityValuesCellTemplate" width="50"></dxi-column> 

                        <div *dxTemplate="let data of 'l1CellTemplate'">
                            <span [ngClass]="getCellStyleValue(data.data, 'L1')">{{ getFormattedValue(data.data, 'L1') }}</span>
                        </div>
                        
                        <div *dxTemplate="let data of 'l2CellTemplate'">
                        <span [ngClass]="getCellStyleValue(data.data, 'L2')">{{ getFormattedValue(data.data, 'L2') }}</span>
                        </div>
                        
                        <div *dxTemplate="let data of 'l3CellTemplate'">
                        <span [ngClass]="getCellStyleValue(data.data, 'L3')">{{ getFormattedValue(data.data, 'L3') }}</span>
                        </div>
                        
                        <div *dxTemplate="let data of 'l4CellTemplate'">
                        <span [ngClass]="getCellStyleValue(data.data, 'L4')">{{ getFormattedValue(data.data, 'L4') }}</span>
                        </div>
                        
                        <div *dxTemplate="let data of 'l5CellTemplate'">
                        <span [ngClass]="getCellStyleValue(data.data, 'L5')">{{ getFormattedValue(data.data, 'L5') }}</span>
                        </div>
                        
                        <div *dxTemplate="let data of 'l6CellTemplate'">
                        <span [ngClass]="getCellStyleValue(data.data, 'L6')">{{ getFormattedValue(data.data, 'L6') }}</span>
                        </div>
                        
                        <div *dxTemplate="let data of 'l7CellTemplate'">
                        <span [ngClass]="getCellStyleValue(data.data, 'L7')">{{ getFormattedValue(data.data, 'L7') }}</span>
                        </div>
                        
                        <div *dxTemplate="let data of 'l8CellTemplate'">
                        <span [ngClass]="getCellStyleValue(data.data, 'L8')">{{ getFormattedValue(data.data, 'L8') }}</span>
                        </div>
                        
                        <div *dxTemplate="let data of 'l9CellTemplate'">
                        <span [ngClass]="getCellStyleValue(data.data, 'L9')">{{ getFormattedValue(data.data, 'L9') }}</span>
                        </div>
                        
                        <div *dxTemplate="let data of 'l10CellTemplate'">
                        <span [ngClass]="getCellStyleValue(data.data, 'L10')">{{ getFormattedValue(data.data, 'L10') }}</span>
                        </div>
                        
                        <div *dxTemplate="let data of 'l11CellTemplate'">
                        <span [ngClass]="getCellStyleValue(data.data, 'L11')">{{ getFormattedValue(data.data, 'L11') }}</span>
                        </div>
                        
                        <div *dxTemplate="let data of 'l12CellTemplate'">
                        <span [ngClass]="getCellStyleValue(data.data, 'L12')">{{ getFormattedValue(data.data, 'L12') }}</span>
                        </div>
                        
                        <!-- <div *dxTemplate="let data of 'totalCellTemplate'">
                            {{getFormattedValue(data.data, 'Total')}}
                        </div>                            -->

                        <div *dxTemplate="let data of 'lastContactCreatedCellTemplate'" (mouseenter)="showLastContactTooltip(data)">
                            <span>{{ data.data.lastContactCreated | date: 'dd.MM.yyyy' }}</span>
                        </div>
                        
                        <div *dxTemplate="let data of 'inactivityValuesCellTemplate'">
                            <span>{{ data.data.inactivityValues }} {{ filter.isMonthlyTurnover ? 'luni' : 'ani' }}</span>
                        </div>

                        <div *dxTemplate="let data of 'partnerNameCellTemplate'" style="display: flex; align-items: center; justify-content: flex-start; gap: 0.5rem">
                            <div>
                                <i class="fa fa-registered fa-2x" href="javascript:void(0)" title="Rulaj" (click)="goToTurnoverDetails(data.data)"></i>
                            </div>
                            <div class="clickable-link" (click)="onPartnerNameClick(data.data)">{{ data.data.partnerName }}</div>
                        </div>
                      </dx-data-grid>                      
                </div>
            </div>

            <div class="row mt-2" *ngIf="filter.isMonthlyTurnover && filter.turnoverType === 2">
                <div class="col-lg-12 col-md-12 col-sm-6">

                    <dx-data-grid id="gridContainer" #dataGrid [dataSource]="myClients" [rowAlternationEnabled]="true" [allowColumnReordering]="true" [allowColumnResizing]="true" (onCellPrepared)="onCellPrepared($event)">
                        <dxo-filter-row [visible]="true"></dxo-filter-row>
                        <dxo-filter-panel [visible]="true"></dxo-filter-panel>
                        <dxo-header-filter [visible]="true"></dxo-header-filter>
                        <dxo-load-panel [enabled]="true"></dxo-load-panel>
                        <dxo-sorting mode="multiple"></dxo-sorting>
                        <dxo-paging [pageSize]="15"></dxo-paging>
                        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>
                      
                        <dxi-column dataField="partnerName" caption="Client" alignment="left" width="400" cellTemplate="partnerNameCellTemplate">
                        </dxi-column>

                        <dxi-column dataField="lastContactCreated" caption="Ultima Contactare" dataType="date" alignment="right" [minWidth]="70"
                            [allowEditing]="false" cellTemplate="lastContactCreatedCellTemplate">
                        </dxi-column>

                        <dxi-column dataField="numericL1" caption="Ianuarie" dataType="number" alignment="right" [minWidth]="70"
                            [allowEditing]="false" cellTemplate="l1CellTemplate">
                        </dxi-column>
                        <dxi-column dataField="numericL2" caption="Februarie" dataType="number" alignment="right" [minWidth]="70"
                            [allowEditing]="false" cellTemplate="l2CellTemplate">
                        </dxi-column>
                        <dxi-column dataField="numericL3" caption="Martie" dataType="number" alignment="right" [minWidth]="70"
                            [allowEditing]="false" cellTemplate="l3CellTemplate">
                        </dxi-column>
                        <dxi-column dataField="numericL4" caption="Aprilie" dataType="number" alignment="right" [minWidth]="70"
                            [allowEditing]="false" cellTemplate="l4CellTemplate">
                        </dxi-column>
                        <dxi-column dataField="numericL5" caption="Mai" dataType="number" alignment="right" [minWidth]="70"
                            [allowEditing]="false" cellTemplate="l5CellTemplate">
                        </dxi-column>
                        <dxi-column dataField="numericL6" caption="Iunie" dataType="number" alignment="right" [minWidth]="70"
                            [allowEditing]="false" cellTemplate="l6CellTemplate">
                        </dxi-column>
                        <dxi-column dataField="numericL7" caption="Iulie" dataType="number" alignment="right" [minWidth]="70"
                            [allowEditing]="false" cellTemplate="l7CellTemplate">
                        </dxi-column>
                        <dxi-column dataField="numericL8" caption="August" dataType="number" alignment="right" [minWidth]="70"
                            [allowEditing]="false" cellTemplate="l8CellTemplate">
                        </dxi-column>
                        <dxi-column dataField="numericL9" caption="Septembrie" dataType="number" alignment="right" [minWidth]="70"
                            [allowEditing]="false" cellTemplate="l9CellTemplate">
                        </dxi-column>
                        <dxi-column dataField="numericL10" caption="Octombrie" dataType="number" alignment="right" [minWidth]="70"
                            [allowEditing]="false" cellTemplate="l10CellTemplate">
                        </dxi-column>
                        <dxi-column dataField="numericL11" caption="Noiembrie" dataType="number" alignment="right" [minWidth]="70"
                            [allowEditing]="false" cellTemplate="l11CellTemplate">
                        </dxi-column>
                        <dxi-column dataField="numericL12" caption="Decembrie" dataType="number" alignment="right" [minWidth]="70"
                            [allowEditing]="false" cellTemplate="l12CellTemplate">
                        </dxi-column>
                
                        <!-- <dxi-column dataField="numericTotal" [caption]="'Total'" dataType="number" alignment="right" [minWidth]="70"
                            [allowEditing]="false" cellTemplate="totalCellTemplate"></dxi-column>  -->
                            
                        <dxi-column dataField="inactivityValues" [caption]="'Inactiv'" dataType="number" alignment="right" [minWidth]="70"
                            [allowEditing]="false" cellTemplate="inactivityValuesCellTemplate" width="50"></dxi-column> 

                        <div *dxTemplate="let data of 'l1CellTemplate'">
                        <span [ngClass]="getCellStyleNumeric(data.data, 'L1')">{{ getFormattedValue(data.data, 'L1') }}</span>
                        </div>
                            
                        <div *dxTemplate="let data of 'l2CellTemplate'">
                        <span [ngClass]="getCellStyleNumeric(data.data, 'L2')">{{ getFormattedValue(data.data, 'L2') }}</span>
                        </div>
                        
                        <div *dxTemplate="let data of 'l3CellTemplate'">
                        <span [ngClass]="getCellStyleNumeric(data.data, 'L3')">{{ getFormattedValue(data.data, 'L3') }}</span>
                        </div>
                        
                        <div *dxTemplate="let data of 'l4CellTemplate'">
                        <span [ngClass]="getCellStyleNumeric(data.data, 'L4')">{{ getFormattedValue(data.data, 'L4') }}</span>
                        </div>
                        
                        <div *dxTemplate="let data of 'l5CellTemplate'">
                        <span [ngClass]="getCellStyleNumeric(data.data, 'L5')">{{ getFormattedValue(data.data, 'L5') }}</span>
                        </div>
                        
                        <div *dxTemplate="let data of 'l6CellTemplate'">
                        <span [ngClass]="getCellStyleNumeric(data.data, 'L6')">{{ getFormattedValue(data.data, 'L6') }}</span>
                        </div>
                        
                        <div *dxTemplate="let data of 'l7CellTemplate'">
                        <span [ngClass]="getCellStyleNumeric(data.data, 'L7')">{{ getFormattedValue(data.data, 'L7') }}</span>
                        </div>
                        
                        <div *dxTemplate="let data of 'l8CellTemplate'">
                        <span [ngClass]="getCellStyleNumeric(data.data, 'L8')">{{ getFormattedValue(data.data, 'L8') }}</span>
                        </div>
                        
                        <div *dxTemplate="let data of 'l9CellTemplate'">
                        <span [ngClass]="getCellStyleNumeric(data.data, 'L9')">{{ getFormattedValue(data.data, 'L9') }}</span>
                        </div>
                        
                        <div *dxTemplate="let data of 'l10CellTemplate'">
                        <span [ngClass]="getCellStyleNumeric(data.data, 'L10')">{{ getFormattedValue(data.data, 'L10') }}</span>
                        </div>
                        
                        <div *dxTemplate="let data of 'l11CellTemplate'">
                        <span [ngClass]="getCellStyleNumeric(data.data, 'L11')">{{ getFormattedValue(data.data, 'L11') }}</span>
                        </div>
                        
                        <div *dxTemplate="let data of 'l12CellTemplate'">
                        <span [ngClass]="getCellStyleNumeric(data.data, 'L12')">{{ getFormattedValue(data.data, 'L12') }}</span>
                        </div>                 
                        
                        <!-- <div *dxTemplate="let data of 'totalCellTemplate'">
                            {{getFormattedValue(data.data, 'Total')}}
                        </div>                            -->
                        
                        <div *dxTemplate="let data of 'lastContactCreatedCellTemplate'" (mouseenter)="showLastContactTooltip(data)">
                            <span>{{ data.data.lastContactCreated | date: 'dd.MM.yyyy' }}</span>
                        </div>

                        <div *dxTemplate="let data of 'inactivityValuesCellTemplate'">
                            <span>{{ data.data.inactivityValues }} {{ filter.isMonthlyTurnover ? 'luni' : 'ani' }}</span>
                        </div>

                        <div *dxTemplate="let data of 'partnerNameCellTemplate'" style="display: flex; align-items: center; justify-content: flex-start; gap: 0.5rem">
                            <div>
                                <i class="fa fa-registered fa-2x" href="javascript:void(0)" title="Rulaj" (click)="goToTurnoverDetails(data.data)"></i>
                            </div>
                            <div class="clickable-link" (click)="onPartnerNameClick(data.data)">{{ data.data.partnerName }}</div>
                        </div>
                      </dx-data-grid>                      
                </div>
            </div>

            <div class="row mt-2" *ngIf="filter.isYearlyTurnover && (filter.turnoverType === 1 || filter.turnoverType === 3)">
                <div class="col-lg-12 col-md-12 col-sm-6">

                    <dx-data-grid id="gridContainer" #dataGrid [dataSource]="myClients" [rowAlternationEnabled]="true" [allowColumnReordering]="true" [allowColumnResizing]="true" (onCellPrepared)="onCellPrepared($event)">
                        <dxo-filter-row [visible]="true"></dxo-filter-row>
                        <dxo-filter-panel [visible]="true"></dxo-filter-panel>
                        <dxo-header-filter [visible]="true"></dxo-header-filter>
                        <dxo-load-panel [enabled]="true"></dxo-load-panel>
                        <dxo-sorting mode="multiple"></dxo-sorting>
                        <dxo-paging [pageSize]="15"></dxo-paging>
                        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>
                      
                        <dxi-column dataField="partnerName" caption="Client" alignment="left" width="400" cellTemplate="partnerNameCellTemplate">
                        </dxi-column>

                        <dxi-column dataField="lastContactCreated" caption="Ultima Contactare" dataType="date" alignment="right" [minWidth]="70"
                            [allowEditing]="false" cellTemplate="lastContactCreatedCellTemplate">
                        </dxi-column>

                        <dxi-column dataField="valueL1" [caption]="relevantYears[11].year" dataType="number" alignment="right" [minWidth]="70"
                            [allowEditing]="false" cellTemplate="l1CellTemplate">
                        </dxi-column>
                        <dxi-column dataField="valueL2" [caption]="relevantYears[10].year" dataType="number" alignment="right" [minWidth]="70"
                            [allowEditing]="false" cellTemplate="l2CellTemplate">
                        </dxi-column>
                        <dxi-column dataField="valueL3" [caption]="relevantYears[9].year" dataType="number" alignment="right" [minWidth]="70"
                            [allowEditing]="false" cellTemplate="l3CellTemplate">
                        </dxi-column>
                        <dxi-column dataField="valueL4" [caption]="relevantYears[8].year" dataType="number" alignment="right" [minWidth]="70"
                            [allowEditing]="false" cellTemplate="l4CellTemplate">
                        </dxi-column>
                        <dxi-column dataField="valueL5" [caption]="relevantYears[7].year" dataType="number" alignment="right" [minWidth]="70"
                            [allowEditing]="false" cellTemplate="l5CellTemplate">
                        </dxi-column>
                        <dxi-column dataField="valueL6" [caption]="relevantYears[6].year" dataType="number" alignment="right" [minWidth]="70"
                            [allowEditing]="false" cellTemplate="l6CellTemplate">
                        </dxi-column>
                        <dxi-column dataField="valueL7" [caption]="relevantYears[5].year" dataType="number" alignment="right" [minWidth]="70"
                            [allowEditing]="false" cellTemplate="l7CellTemplate">
                        </dxi-column>
                        <dxi-column dataField="valueL8" [caption]="relevantYears[4].year" dataType="number" alignment="right" [minWidth]="70"
                            [allowEditing]="false" cellTemplate="l8CellTemplate">
                        </dxi-column>
                        <dxi-column dataField="valueL9" [caption]="relevantYears[3].year" dataType="number" alignment="right" [minWidth]="70"
                            [allowEditing]="false" cellTemplate="l9CellTemplate">
                        </dxi-column>
                        <dxi-column dataField="valueL10" [caption]="relevantYears[2].year" dataType="number" alignment="right" [minWidth]="70"
                            [allowEditing]="false" cellTemplate="l10CellTemplate">
                        </dxi-column>
                        <dxi-column dataField="valueL11" [caption]="relevantYears[1].year" dataType="number" alignment="right" [minWidth]="70"
                            [allowEditing]="false" cellTemplate="l11CellTemplate">
                        </dxi-column>
                        <dxi-column dataField="valueL12" [caption]="relevantYears[0].year" dataType="number" alignment="right" [minWidth]="70"
                            [allowEditing]="false" cellTemplate="l12CellTemplate">
                        </dxi-column>
                
                        <!-- <dxi-column dataField="valueTotal" [caption]="'Total'" dataType="number" alignment="right" [minWidth]="70"
                            [allowEditing]="false" cellTemplate="totalCellTemplate"></dxi-column>  -->
                            
                        <dxi-column dataField="inactivityValues" [caption]="'Inactiv'" dataType="number" alignment="right" [minWidth]="70"
                            [allowEditing]="false" cellTemplate="inactivityValuesCellTemplate" width="50"></dxi-column> 

                        <div *dxTemplate="let data of 'l1CellTemplate'">
                            <span [ngClass]="getCellStyleValue(data.data, 'L1')">{{ getFormattedValue(data.data, 'L1') }}</span>
                        </div>
                        
                        <div *dxTemplate="let data of 'l2CellTemplate'">
                        <span [ngClass]="getCellStyleValue(data.data, 'L2')">{{ getFormattedValue(data.data, 'L2') }}</span>
                        </div>
                        
                        <div *dxTemplate="let data of 'l3CellTemplate'">
                        <span [ngClass]="getCellStyleValue(data.data, 'L3')">{{ getFormattedValue(data.data, 'L3') }}</span>
                        </div>
                        
                        <div *dxTemplate="let data of 'l4CellTemplate'">
                        <span [ngClass]="getCellStyleValue(data.data, 'L4')">{{ getFormattedValue(data.data, 'L4') }}</span>
                        </div>
                        
                        <div *dxTemplate="let data of 'l5CellTemplate'">
                        <span [ngClass]="getCellStyleValue(data.data, 'L5')">{{ getFormattedValue(data.data, 'L5') }}</span>
                        </div>
                        
                        <div *dxTemplate="let data of 'l6CellTemplate'">
                        <span [ngClass]="getCellStyleValue(data.data, 'L6')">{{ getFormattedValue(data.data, 'L6') }}</span>
                        </div>
                        
                        <div *dxTemplate="let data of 'l7CellTemplate'">
                        <span [ngClass]="getCellStyleValue(data.data, 'L7')">{{ getFormattedValue(data.data, 'L7') }}</span>
                        </div>
                        
                        <div *dxTemplate="let data of 'l8CellTemplate'">
                        <span [ngClass]="getCellStyleValue(data.data, 'L8')">{{ getFormattedValue(data.data, 'L8') }}</span>
                        </div>
                        
                        <div *dxTemplate="let data of 'l9CellTemplate'">
                        <span [ngClass]="getCellStyleValue(data.data, 'L9')">{{ getFormattedValue(data.data, 'L9') }}</span>
                        </div>
                        
                        <div *dxTemplate="let data of 'l10CellTemplate'">
                        <span [ngClass]="getCellStyleValue(data.data, 'L10')">{{ getFormattedValue(data.data, 'L10') }}</span>
                        </div>
                        
                        <div *dxTemplate="let data of 'l11CellTemplate'">
                        <span [ngClass]="getCellStyleValue(data.data, 'L11')">{{ getFormattedValue(data.data, 'L11') }}</span>
                        </div>
                        
                        <div *dxTemplate="let data of 'l12CellTemplate'">
                        <span [ngClass]="getCellStyleValue(data.data, 'L12')">{{ getFormattedValue(data.data, 'L12') }}</span>
                        </div>
                        
                        <!-- <div *dxTemplate="let data of 'totalCellTemplate'">
                            {{getFormattedValue(data.data, 'Total')}}
                        </div>                            -->

                        <div *dxTemplate="let data of 'lastContactCreatedCellTemplate'" (mouseenter)="showLastContactTooltip(data)">
                            <span>{{ data.data.lastContactCreated | date: 'dd.MM.yyyy' }}</span>
                        </div>
                        
                        <div *dxTemplate="let data of 'inactivityValuesCellTemplate'">
                            <span>{{ data.data.inactivityValues }} {{ filter.isMonthlyTurnover ? 'luni' : 'ani' }}</span>
                        </div>

                        <div *dxTemplate="let data of 'partnerNameCellTemplate'" style="display: flex; align-items: center; justify-content: flex-start; gap: 0.5rem">
                            <div>
                                <i class="fa fa-registered fa-2x" href="javascript:void(0)" title="Rulaj" (click)="goToTurnoverDetails(data.data)"></i>
                            </div>
                            <div class="clickable-link" (click)="onPartnerNameClick(data.data)">{{ data.data.partnerName }}</div>
                        </div>
                      </dx-data-grid>                      
                </div>
            </div>

            <div class="row mt-2" *ngIf="filter.isYearlyTurnover && filter.turnoverType === 2">
                <div class="col-lg-12 col-md-12 col-sm-6">

                    <dx-data-grid id="gridContainer" #dataGrid [dataSource]="myClients" [rowAlternationEnabled]="true" [allowColumnReordering]="true" [allowColumnResizing]="true" (onCellPrepared)="onCellPrepared($event)">
                        <dxo-filter-row [visible]="true"></dxo-filter-row>
                        <dxo-filter-panel [visible]="true"></dxo-filter-panel>
                        <dxo-header-filter [visible]="true"></dxo-header-filter>
                        <dxo-load-panel [enabled]="true"></dxo-load-panel>
                        <dxo-sorting mode="multiple"></dxo-sorting>
                        <dxo-paging [pageSize]="15"></dxo-paging>
                        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>
                      
                        <dxi-column dataField="partnerName" caption="Client" alignment="left" width="400" cellTemplate="partnerNameCellTemplate">
                        </dxi-column>

                        <dxi-column dataField="lastContactCreated" caption="Ultima Contactare" dataType="date" alignment="right" [minWidth]="70"
                            [allowEditing]="false" cellTemplate="lastContactCreatedCellTemplate">
                        </dxi-column>

                        <dxi-column dataField="numericL1" [caption]="relevantYears[11].year" dataType="number" alignment="right" [minWidth]="70"
                            [allowEditing]="false" cellTemplate="l1CellTemplate">
                        </dxi-column>
                        <dxi-column dataField="numericL2" [caption]="relevantYears[10].year" dataType="number" alignment="right" [minWidth]="70"
                            [allowEditing]="false" cellTemplate="l2CellTemplate">
                        </dxi-column>
                        <dxi-column dataField="numericL3" [caption]="relevantYears[9].year" dataType="number" alignment="right" [minWidth]="70"
                            [allowEditing]="false" cellTemplate="l3CellTemplate">
                        </dxi-column>
                        <dxi-column dataField="numericL4" [caption]="relevantYears[8].year" dataType="number" alignment="right" [minWidth]="70"
                            [allowEditing]="false" cellTemplate="l4CellTemplate">
                        </dxi-column>
                        <dxi-column dataField="numericL5" [caption]="relevantYears[7].year" dataType="number" alignment="right" [minWidth]="70"
                            [allowEditing]="false" cellTemplate="l5CellTemplate">
                        </dxi-column>
                        <dxi-column dataField="numericL6" [caption]="relevantYears[6].year" dataType="number" alignment="right" [minWidth]="70"
                            [allowEditing]="false" cellTemplate="l6CellTemplate">
                        </dxi-column>
                        <dxi-column dataField="numericL7" [caption]="relevantYears[5].year" dataType="number" alignment="right" [minWidth]="70"
                            [allowEditing]="false" cellTemplate="l7CellTemplate">
                        </dxi-column>
                        <dxi-column dataField="numericL8" [caption]="relevantYears[4].year" dataType="number" alignment="right" [minWidth]="70"
                            [allowEditing]="false" cellTemplate="l8CellTemplate">
                        </dxi-column>
                        <dxi-column dataField="numericL9" [caption]="relevantYears[3].year" dataType="number" alignment="right" [minWidth]="70"
                            [allowEditing]="false" cellTemplate="l9CellTemplate">
                        </dxi-column>
                        <dxi-column dataField="numericL10" [caption]="relevantYears[2].year" dataType="number" alignment="right" [minWidth]="70"
                            [allowEditing]="false" cellTemplate="l10CellTemplate">
                        </dxi-column>
                        <dxi-column dataField="numericL11" [caption]="relevantYears[1].year" dataType="number" alignment="right" [minWidth]="70"
                            [allowEditing]="false" cellTemplate="l11CellTemplate">
                        </dxi-column>
                        <dxi-column dataField="numericL12" [caption]="relevantYears[0].year" dataType="number" alignment="right" [minWidth]="70"
                            [allowEditing]="false" cellTemplate="l12CellTemplate">
                        </dxi-column>
                
                        <!-- <dxi-column dataField="numericTotal" [caption]="'Total'" dataType="number" alignment="right" [minWidth]="70"
                            [allowEditing]="false" cellTemplate="totalCellTemplate"></dxi-column>  -->
                            
                        <dxi-column dataField="inactivityValues" [caption]="'Inactiv'" dataType="number" alignment="right" [minWidth]="70"
                            [allowEditing]="false" cellTemplate="inactivityValuesCellTemplate" width="50"></dxi-column> 

                        <div *dxTemplate="let data of 'l1CellTemplate'">
                        <span [ngClass]="getCellStyleNumeric(data.data, 'L1')">{{ getFormattedValue(data.data, 'L1') }}</span>
                        </div>
                            
                        <div *dxTemplate="let data of 'l2CellTemplate'">
                        <span [ngClass]="getCellStyleNumeric(data.data, 'L2')">{{ getFormattedValue(data.data, 'L2') }}</span>
                        </div>
                        
                        <div *dxTemplate="let data of 'l3CellTemplate'">
                        <span [ngClass]="getCellStyleNumeric(data.data, 'L3')">{{ getFormattedValue(data.data, 'L3') }}</span>
                        </div>
                        
                        <div *dxTemplate="let data of 'l4CellTemplate'">
                        <span [ngClass]="getCellStyleNumeric(data.data, 'L4')">{{ getFormattedValue(data.data, 'L4') }}</span>
                        </div>
                        
                        <div *dxTemplate="let data of 'l5CellTemplate'">
                        <span [ngClass]="getCellStyleNumeric(data.data, 'L5')">{{ getFormattedValue(data.data, 'L5') }}</span>
                        </div>
                        
                        <div *dxTemplate="let data of 'l6CellTemplate'">
                        <span [ngClass]="getCellStyleNumeric(data.data, 'L6')">{{ getFormattedValue(data.data, 'L6') }}</span>
                        </div>
                        
                        <div *dxTemplate="let data of 'l7CellTemplate'">
                        <span [ngClass]="getCellStyleNumeric(data.data, 'L7')">{{ getFormattedValue(data.data, 'L7') }}</span>
                        </div>
                        
                        <div *dxTemplate="let data of 'l8CellTemplate'">
                        <span [ngClass]="getCellStyleNumeric(data.data, 'L8')">{{ getFormattedValue(data.data, 'L8') }}</span>
                        </div>
                        
                        <div *dxTemplate="let data of 'l9CellTemplate'">
                        <span [ngClass]="getCellStyleNumeric(data.data, 'L9')">{{ getFormattedValue(data.data, 'L9') }}</span>
                        </div>
                        
                        <div *dxTemplate="let data of 'l10CellTemplate'">
                        <span [ngClass]="getCellStyleNumeric(data.data, 'L10')">{{ getFormattedValue(data.data, 'L10') }}</span>
                        </div>
                        
                        <div *dxTemplate="let data of 'l11CellTemplate'">
                        <span [ngClass]="getCellStyleNumeric(data.data, 'L11')">{{ getFormattedValue(data.data, 'L11') }}</span>
                        </div>
                        
                        <div *dxTemplate="let data of 'l12CellTemplate'">
                        <span [ngClass]="getCellStyleNumeric(data.data, 'L12')">{{ getFormattedValue(data.data, 'L12') }}</span>
                        </div>                 
                        
                        <!-- <div *dxTemplate="let data of 'totalCellTemplate'">
                            {{getFormattedValue(data.data, 'Total')}}
                        </div>                            -->

                        <div *dxTemplate="let data of 'lastContactCreatedCellTemplate'" (mouseenter)="showLastContactTooltip(data)">
                            <span>{{ data.data.lastContactCreated | date: 'dd.MM.yyyy' }}</span>
                        </div>
                        
                        <div *dxTemplate="let data of 'inactivityValuesCellTemplate'">
                            <span>{{ data.data.inactivityValues }} {{ filter.isMonthlyTurnover ? 'luni' : 'ani' }}</span>
                        </div>

                        <div *dxTemplate="let data of 'partnerNameCellTemplate'" style="display: flex; align-items: center; justify-content: flex-start; gap: 0.5rem">
                            <div>
                                <i class="fa fa-registered fa-2x" href="javascript:void(0)" title="Rulaj" (click)="goToTurnoverDetails(data.data)"></i>
                            </div>
                            <div class="clickable-link" (click)="onPartnerNameClick(data.data)">{{ data.data.partnerName }}</div>
                        </div>
                    </dx-data-grid>                      
                </div>
            </div>
        </div>
    </div>
</div>

<dx-tooltip target="#pageInfo" showEvent="dxhoverstart" hideEvent="dxhoverend">
    <div *dxTemplate="let data of 'content'" class="info-tooltip" position="top">
        Raport cu Rulaj Valoric/Numeric pentru clientii care au cumparat in Anul setat in filtru. <br />
        <b>Trebuie sa se apese pe butonul "Cauta" pentru a afisa date noi.</b> <br />
        Posturile de conducere vad toti clientii, in timp ce agentii de vanzare doar clientii alocati pe postul lor.<br />
        Ordonarea implicita este descrescator dupa coloana "Inactiv", dar se poate ordona crescator/descrescator de pe orice alta coloana. <br />
        Daca se alege din filtru "Valoric & Numeric", atunci coloana Inactiv ia in calcul ca ambele rulaje sa fie 0. <br />
        Daca se alege din filtru "Valoric & Numeric", ordonarea se face doar dupa Rulajul Valoric. <br />
        Pentru a filtra dupa anumite luni/ani de inactivitate se foloseste casuta de cautare de sub denumirea coloanei "Inactiv". 
    </div>
</dx-tooltip>

<!-- <dx-tooltip #tooltip [target]="'#lastContactCreated'" showEvent="dxhoverstart" hideEvent="dxhoverend">
    <div *dxTemplate="let data of 'content'" class="info-tooltip" position="top">
        {{ lastContactTooltipData.data.lastContactCreatedByLastName }} {{ lastContactTooltipData.data.lastContactCreatedByFirstName }}: 
        {{ lastContactTooltipData.data.lastContactPersonLastName }} {{ lastContactTooltipData.data.lastContactPersonFirstName }} - {{ lastContactTooltipData.data.lastContactDescription }}
    </div>
</dx-tooltip> -->

<dx-tooltip #lastContactTooltipName position="bottom" showEvent="mouseenter" hideEvent="mouseleave" (onHiding)="onHidingLastContactTooltip($event)">
    <div *dxTemplate="let data of 'content'" class="info-tooltip" position="top">
        <div *ngIf="lastContactTooltipData">
            {{ lastContactTooltipData.lastContactCreatedByLastName }} {{ lastContactTooltipData.lastContactCreatedByFirstName }}: 
            {{ lastContactTooltipData.lastContactPersonLastName }} {{ lastContactTooltipData.lastContactPersonFirstName }} - {{ lastContactTooltipData.description }}
        </div>
    </div>
 </dx-tooltip>