.row {
  margin-left: -10px;
  margin-right: -10px; 
}

.row > .col,
.row > [class*='col-'] {
  padding-left: 5px; 
  padding-right: 5px;
}

.dx-button.dx-button-warning {
  background-color: #ffe596;
}

.clickable-link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.fa-registered {
  color: rgb(196, 0, 0);
}

.info-tooltip {
  font-size: 16px;
  text-align: left;
}

.light-gray {
  color: #b0b0b0;
  font-weight: normal;
}

.bold-black {
  color: #000;
  font-weight: bold;
}