<app-spinner [visible]="loaded"></app-spinner>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-6">
        <br>
        <div class="form-group row">
            <div class="col-2 dx-field-label text-md-right">Post:</div>
            <div class="col-md-6 col-lg-3">
                <dx-select-box [dataSource]="posts" [displayExpr]="getPostDisplayExpr" [(ngModel)]="selectedPost" valueExpr="id" [searchEnabled]="true"
                    (onValueChanged)="onPostValueChanged($event)">
                </dx-select-box>
            </div>
            <div class="col-4 dx-field-label text-md-right">
                <dx-button text="Cauta toate" (onClick)="getData(true)">
                </dx-button>
            </div>
        </div>
        <hr>
        <div class="mt-4">
            <app-grid-toolbar #salesTargetAllocationGridToolbar [actions]="actions" [showColumnSettings]="true"
                [showExcel]="true" [fileName]="'salesTargetAllocation'" [showPrint]="true" (addEvent)="add()"
                (displayEvent)="displayDataEvent($event)" (refreshEvent)="refreshDataGrid()"
                (deleteEvent)="deleteRecords($event)">
            </app-grid-toolbar>
            <div class="float-none" style="clear: both;"></div>
        </div>
        <div class="mt-4"></div>
        <dx-data-grid id="salesTargetAllocationGridContainer" #salesTargetAllocationDataGrid
            [dataSource]="salesTargetAllocations" [rowAlternationEnabled]="false" [showBorders]="false"
            [allowColumnReordering]="true" (onSelectionChanged)="selectionChanged($event)"
            (onEditorPreparing)="onEditorPreparing($event)" (onRowPrepared)="onRowPrepared($event)" (onRowUpdated)="onRowUpdated($event)">
            <dxo-selection mode="multiple" showCheckBoxesMode="always"></dxo-selection>
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-filter-panel [visible]="true">
            </dxo-filter-panel>
            <dxo-header-filter [visible]="true">
            </dxo-header-filter>
            <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
            <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
            <dxo-group-panel [visible]="true" [emptyPanelText]="groupedText"></dxo-group-panel>
            <dxo-load-panel [enabled]="true"></dxo-load-panel>
            <dxo-sorting mode="multiple"></dxo-sorting>
            <dxo-paging [pageSize]="100"></dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>
            <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>

            <dxo-editing mode="cell" [allowUpdating]="true">
            </dxo-editing>

            <dxi-column dataField="postId" [allowEditing]="false" caption="Post" alignment="center">
                <dxo-lookup [dataSource]="posts" valueExpr="id" [displayExpr]="getPostDisplayExpr">
                </dxo-lookup>
            </dxi-column>
            <dxi-column dataField="salesGroupId" [allowEditing]="false" caption="Grupa" alignment="center">
                <dxo-lookup [dataSource]="salesGroupTargets" valueExpr="id" [displayExpr]="getGroupTargetDisplayExpr">
                </dxo-lookup>
            </dxi-column>
            <dxi-column dataField="salesTargetId" [allowEditing]="false" caption="Target de Vanzari" alignment="center" [width]="350" [minWidth]="250">
                <dxo-lookup [dataSource]="salesTargets" valueExpr="id" [displayExpr]="getTargetDisplayExpr">
                </dxo-lookup>
            </dxi-column>
            <dxi-column dataField="validFrom" [allowEditing]="false" caption="Valid de la" dataType="date" alignment="center">
            </dxi-column>
            <dxi-column dataField="validTo" [allowEditing]="false" caption="Valid pana la" dataType="date" alignment="center">
            </dxi-column>

            <dxi-column dataField="currencyId" [allowEditing]="false" caption="Moneda" alignment="center">
                <dxo-lookup [dataSource]="currencies" valueExpr="id" displayExpr="name">
                </dxo-lookup>
            </dxi-column>

            <dxi-column dataField="value" [allowEditing]="false" caption="Valoare" dataType="string" alignment="center">
            </dxi-column>
            <dxi-column dataField="date" [allowEditing]="false" caption="Data" dataType="date" alignment="center">
            </dxi-column>
            <dxi-column dataField="description" [allowEditing]="false" caption="Descriere" dataType="string" alignment="center">
            </dxi-column>
            <dxi-column dataField="orderNumber" [allowEditing]="true"  caption="Numar de ordine" dataType="number" alignment="center">
            </dxi-column>
            <dxi-column dataField="isActive" [allowEditing]="false"  caption="Activ" dataType="boolean" alignment="center">
            </dxi-column>

            <dxi-column caption="Actiuni" cellTemplate="cellTemplate" alignment="center" [width]="180">
            </dxi-column>
            <div *dxTemplate="let data of 'cellTemplate'">
                <i class="fa fa-pencil fa-2x" style='padding-right : 15px' href="javascript:void(0)" title="Edit"
                    (click)="openDetails(data.data)"></i>
                &nbsp;
                <i class="fa fa-ban fa-2x" style='padding-right : 15px' href="javascript:void(0)" title="Stergere"
                    (click)="deleteRow(data)"></i>
            </div>
        </dx-data-grid>
        <br>
    </div>
</div>

<dx-popup *ngIf="selectedSaleTargetAllocation" [width]="1400" [height]="400" [resizeEnabled]="true" [showTitle]="true"
    title="Administrare Alocare Target" [showCloseButton]="true" [dragEnabled]="false" [closeOnOutsideClick]="true"
    [(visible)]="salesTargetAllocationPopup">
    <dx-validation-group #saleTargetAllocationValidation>
        <div class="col-md-12 col-lg-12">
            <div class="row">
                <div class="col-md-2 col-lg-2 dx-field-label text-md-right">Grupa*:</div>
                <div class="col-md-4 col-lg-4">
                    <dx-select-box [dataSource]="salesGroupTargets" [displayExpr]="getGroupTargetDisplayExpr" valueExpr="id" [disabled]="selectedSaleTargetAllocation.id"
                        [(ngModel)]="selectedSaleTargetAllocation.salesGroupId" [searchEnabled]="true" (onValueChanged)="onSaleGroupChange($event)">
                        <dx-validator>
                            <dxi-validation-rule type="required" message="{{'required' | translate}}">
                            </dxi-validation-rule>
                        </dx-validator>
                    </dx-select-box>
                </div>
                <div *ngIf="selectedSaleTargetAllocation.salesGroupId" class="col-md-2 col-lg-2 dx-field-label text-md-right">Target de vanzari*:</div>
                <div *ngIf="selectedSaleTargetAllocation.salesGroupId" class="col-md-4 col-lg-4">
                    <dx-select-box [dataSource]="filterSalesTargets" [displayExpr]="getTargetDisplayExpr" valueExpr="id" [disabled]="selectedSaleTargetAllocation.id"
                        [(ngModel)]="selectedSaleTargetAllocation.salesTargetId" [searchEnabled]="true" (onValueChanged)="onSaleTargetChange($event)">
                        <dx-validator>
                            <dxi-validation-rule type="required" message="{{'required' | translate}}">
                            </dxi-validation-rule>
                        </dx-validator>
                    </dx-select-box>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-lg-2 dx-field-label text-md-right">Post*:</div>
                <div class="col-md-4 col-lg-4">
                    <dx-select-box [dataSource]="posts" [displayExpr]="getPostDisplayExpr" valueExpr="id"
                        [(ngModel)]="selectedSaleTargetAllocation.postId" [searchEnabled]="true">
                        <dx-validator>
                            <dxi-validation-rule type="required" message="{{'required' | translate}}">
                            </dxi-validation-rule>
                        </dx-validator>
                    </dx-select-box>
                </div>
                <div class="col-md-2 col-lg-2 dx-field-label text-md-right">Valida:</div>
                <div class="col-md-4 col-lg-4">
                    <dx-check-box [(ngModel)]="selectedSaleTargetAllocation.isActive">
                    </dx-check-box>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2 col-lg-2 dx-field-label text-md-right">Valid de la*:</div>
                <div class="col-md-4 col-lg-4">
                    <dx-date-box [(ngModel)]="selectedSaleTargetAllocation.validFrom" type="datetime" displayFormat="dd-MM-yyyy HH:mm">
                        <dx-validator>
                            <dxi-validation-rule type="required" message="{{'required' | translate}}">
                            </dxi-validation-rule>
                        </dx-validator>
                    </dx-date-box>
                </div>
                <div class="col-md-2 col-lg-2 dx-field-label text-md-right">Valid pana la*:</div>
                <div class="col-md-4 col-lg-4">
                    <dx-date-box [(ngModel)]="selectedSaleTargetAllocation.validTo" type="datetime" displayFormat="dd-MM-yyyy HH:mm">
                        <dx-validator>
                            <dxi-validation-rule type="required" message="{{'required' | translate}}">
                            </dxi-validation-rule>
                        </dx-validator>
                    </dx-date-box>
                </div>
            </div>

            <div class="row">
                <div *ngIf="selectedSaleTargetAllocation.salesGroupId && (selectedTargetType === 5)" class="col-md-2 col-lg-2 dx-field-label text-md-right">Valoare (%):</div>
                <div *ngIf="selectedSaleTargetAllocation.salesGroupId && (selectedTargetType === 6)" class="col-md-2 col-lg-2 dx-field-label text-md-right">Valoare (Minutes):</div>
                <div *ngIf="selectedSaleTargetAllocation.salesGroupId && (selectedTargetType === 1 || selectedTargetType === 2 || selectedTargetType === 7)" class="col-md-2 col-lg-2 dx-field-label text-md-right">Valoare:</div>
                <div *ngIf="selectedSaleTargetAllocation.salesGroupId && (selectedTargetType === 1 || selectedTargetType === 2 || selectedTargetType === 5 || selectedTargetType === 6 || selectedTargetType === 7)" class="col-md-4 col-lg-4">
                    <dx-text-box [(ngModel)]="selectedSaleTargetAllocation.value">
                    </dx-text-box>
                </div>
                <div *ngIf="selectedSaleTargetAllocation.salesGroupId && selectedTargetType === 1" class="col-md-2 col-lg-2 dx-field-label text-md-right">Moneda:</div>
                <div *ngIf="selectedSaleTargetAllocation.salesGroupId && selectedTargetType === 1" class="col-md-4 col-lg-4">
                    <dx-select-box [dataSource]="currencies" displayExpr="name" valueExpr="id"
                        [(ngModel)]="selectedSaleTargetAllocation.currencyId" [searchEnabled]="true">
                    </dx-select-box>
                </div>     
            </div>

            <div class="row">
                <div class="col-md-2 col-lg-2 dx-field-label text-md-right">Descriere:</div>
                <div class="col-md-4 col-lg-4">
                    <dx-text-box [(ngModel)]="selectedSaleTargetAllocation.description">
                    </dx-text-box>
                </div>
                <div *ngIf="selectedSaleTargetAllocation.salesGroupId && selectedTargetType === 4" class="col-md-2 col-lg-2 dx-field-label text-md-right">Data termen:</div>
                <div *ngIf="selectedSaleTargetAllocation.salesGroupId && selectedTargetType === 4" class="col-md-4 col-lg-4">
                    <dx-date-box [(ngModel)]="selectedSaleTargetAllocation.date" type="datetime" displayFormat="dd-MM-yyyy HH:mm">
                    </dx-date-box>
                </div>
                <div class="col-md-2 col-lg-2 dx-field-label text-md-right">Numar de ordine*:</div>
                <div class="col-md-4 col-lg-4">
                    <dx-number-box [(ngModel)]="selectedSaleTargetAllocation.orderNumber">
                        <dx-validator>
                            <dxi-validation-rule type="required" message="{{'required' | translate}}">
                            </dxi-validation-rule>
                        </dx-validator>
                    </dx-number-box>
                </div>
            </div>

            <hr>
            <dx-button *ngIf="!selectedSaleTargetAllocation.id" text="Salveaza" (onClick)="saveData()">
            </dx-button>
            &nbsp; &nbsp; &nbsp;
            <dx-button *ngIf="selectedSaleTargetAllocation.id" text="Modifica" (onClick)="updateData()">
            </dx-button>
            &nbsp; &nbsp; &nbsp;
            <dx-button  text="Anuleaza" (onClick)="closePopup()">
            </dx-button>
        </div>
    </dx-validation-group>
</dx-popup>