<div *ngIf="markers.length">
    <dx-map provider="bing" [zoom]="11" [height]="height" width="100%" [controls]="true"
    [markerIconSrc]="mapMarkerUrl" [markers]="markers" [routes]="routes">
    </dx-map>
<br>
<dx-button stylingMode="contained" text="{{'general.showTooltip' | translate}}" type="success" [width]="200"
    (onClick)="showMarkersTooltip()">
</dx-button>
&nbsp;
<dx-button stylingMode="contained" text="{{'general.generateRoute' | translate}}" type="success" [width]="200"
    (onClick)="generateRoute()">
</dx-button>
</div>