<div class="mt-4">
    <app-grid-toolbar #contactGridToolbar [actions]="actions" [showColumnSettings]="true" [showExcel]="true"
        [fileName]="'partneLlocationContacts'" [showPrint]="true" (addEvent)="addPartnerLocationContact()"
        (refreshEvent)="refreshContactDataGrid()" (deleteEvent)="deleteContactRecords($event)">
    </app-grid-toolbar>
    <div class="float-none" style="clear: both;"></div>
</div>
<div class="mt-4"></div>
<dx-data-grid id="gridContainer" #partnerContactDataGrid [dataSource]="partnerContacts" [rowAlternationEnabled]="true"
    [showBorders]="false" [allowColumnReordering]="true" (onSelectionChanged)="selectionContactChanged($event)" (onCellPrepared)="onCellPrepared($event)"
    (onEditorPreparing)="onEditorPreparing($event)" (onRowInserting)="onRowContactInserting($event)"
    (onRowUpdated)="onRowContactUpdated($event)">
    <dxo-selection mode="multiple" showCheckBoxesMode="always"></dxo-selection>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-filter-panel [visible]="true">
    </dxo-filter-panel>
    <dxo-header-filter [visible]="true">
    </dxo-header-filter>
    <dxo-export [enabled]="canExport()" [allowExportSelectedData]="true"></dxo-export>
    <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
    <dxo-group-panel [visible]="true" [emptyPanelText]="groupedText"></dxo-group-panel>
    <dxo-load-panel [enabled]="true"></dxo-load-panel>
    <dxo-sorting mode="multiple"></dxo-sorting>
    <dxo-editing mode="cell" [allowUpdating]="true"></dxo-editing>
    <dxo-paging [pageSize]="15"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>
    <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
    <dxi-column dataField="firstName" caption="Nume" dataType="string" alignment="left">
        <dxi-validation-rule type="required" message="{{'required' | translate}}"></dxi-validation-rule>
        <dxi-validation-rule type="stringLength" [max]="100" message="Lungimea maximă depășită!"></dxi-validation-rule>
    </dxi-column>
    <dxi-column dataField="lastName" caption="Prenume" dataType="string" alignment="center">
        <dxi-validation-rule type="required" message="{{'required' | translate}}"></dxi-validation-rule>
        <dxi-validation-rule type="stringLength" [max]="100" message="Lungimea maximă depășită!"></dxi-validation-rule>
    </dxi-column>
    <dxi-column dataField="partnerLocationId" caption="Locatie" alignment="center">
        <dxo-lookup [dataSource]="partnerLocations" valueExpr="id" displayExpr="name">
        </dxo-lookup>
        <dxi-validation-rule type="required" message="{{'required' | translate}}"></dxi-validation-rule>
    </dxi-column>
    <dxi-column dataField="position" caption="Functie persoana de contact" alignment="center">
        <dxo-lookup [dataSource]="occupations" valueExpr="id" displayExpr="name">
        </dxo-lookup>
        <dxi-validation-rule type="required" message="{{'required' | translate}}"></dxi-validation-rule>
    </dxi-column>
    <dxi-column dataField="gmt" caption="Ora Locala" dataType="string" alignment="left">
    </dxi-column>
    <dxi-column dataField="id" caption="Prefix" dataType="string" alignment="center" [width]="80" [minWidth]="80" [allowEditing]="false" cellTemplate="phoneCellTemplate"></dxi-column>
    <dxi-column dataField="phoneNumber" caption="Telefon" dataType="string" alignment="center">
        <dxi-validation-rule type="stringLength" [max]="30" message="Lungimea maximă depășită!"></dxi-validation-rule>
        <dxi-validation-rule type="pattern" [pattern]="phoneNumberValidationRegExp" message="Numarul este invalid"></dxi-validation-rule>
    </dxi-column>
    <dxi-column dataField="email" caption="Email" dataType="string" alignment="center" cssClass="email">
        <dxi-validation-rule type="stringLength" [max]="50" message="Lungimea maximă depășită!"></dxi-validation-rule>
        <dxi-validation-rule type="email" message="{{'invalidEmail' | translate}}"></dxi-validation-rule>
    </dxi-column>
    <dxi-column dataField="fax" caption="Fax" dataType="string" alignment="center">
        <dxi-validation-rule type="stringLength" [max]="50" message="Lungimea maximă depășită!"></dxi-validation-rule>
    </dxi-column>
    <dxi-column dataField="description" caption="Povestea" dataType="string" alignment="center">
    </dxi-column>
    <dxi-column dataField="birthday" caption="Zi de nastere" dataType="date" format="dd-MM-yyyy HH:mm" alignment="center">
    </dxi-column>
    <dxi-column dataField="isImplicit" caption="Implicit" dataType="boolean" alignment="center">
    </dxi-column>
    <dxi-column dataField="isActive" caption="Activ" dataType="boolean" alignment="center">
    </dxi-column>

    <dxi-column caption="Actiuni" cellTemplate="cellTemplate" [width]="250" [minWidth]="250" alignment="center">
    </dxi-column>
    <div *dxTemplate="let data of 'cellTemplate'">
        <i class="fa fa-commenting fa-2x" *ngIf="data.data.isActive" style='padding-right : 15px' href="javascript:void(0)" title="Observatii"
            (click)="openPartnerContactObservation(data.data)"></i>

        <i class="fa fa-user fa-2x" *ngIf="data.data.isActive" style='padding-right : 15px' href="javascript:void(0)" title="Contact Mesagerie Online"
            (click)="openPlcma(data.data)"></i>

        <i class="fa fa-list fa-2x" *ngIf="data.data.isActive" style='padding-right : 15px' href="javascript:void(0)" title="Orar Locatie"
            (click)="showPartnerLocationSchedule(data.data)" [ngClass]="{'schedule-icon-green': data.data.isAvailableBySchedule, 'schedule-icon-red': !data.data.isAvailableBySchedule}"></i> 

        <i class="fa fa-check-circle fa-2x" style='padding-right : 15px' *ngIf="!data.data.isActive" href="javascript:void(0)" title="Activate"
            (click)="activateContactDetails(data)"></i>

        &nbsp;
        <i class="fa fa-ban fa-2x" style='padding-right : 15px' *ngIf="canDelete()" href="javascript:void(0)" title="Stergere"
            (click)="deleteContactRow(data)"></i>
    </div>

    <div *dxTemplate="let data of 'phoneCellTemplate'">
        {{phonePrefixExpr(data.data)}}
    </div>

</dx-data-grid>
<dx-popup [width]="1200" [height]="800" [showTitle]="true" title="Contact mesagerie online" [dragEnabled]="false"
    [closeOnOutsideClick]="true" [(visible)]="messagingAppPopupVisible" [resizeEnabled]="true">
    <div>
        <app-grid-toolbar #plcmaGridToolbar [actions]="actions" [showColumnSettings]="true" [showExcel]="true"
            [fileName]="'plcma'" [showPrint]="true" (addEvent)="addPlcma()" (refreshEvent)="refreshPlcmaDataGrid()"
            (deleteEvent)="deletePlcmaRecords($event)">
        </app-grid-toolbar>
        <div class="float-none" style="clear: both;"></div>
    </div>
    <div>
        <dx-data-grid #gridPlcmaDataGrid [dataSource]="plcma" [width]="1100" [rowAlternationEnabled]="false"
            [showBorders]="false" [allowColumnReordering]="true" (onSelectionChanged)="selectionPlcmaChanged($event)"
            (onEditorPreparing)="onPlcmaEditorPreparing($event)" (onRowInserting)="onRowPlcmaInserting($event)">
            <dxo-selection mode="multiple" showCheckBoxesMode="always"></dxo-selection>
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-filter-panel [visible]="true">
            </dxo-filter-panel>
            <dxo-export [enabled]="canExport()" [allowExportSelectedData]="true"></dxo-export>
            <dxo-header-filter [visible]="true">
            </dxo-header-filter>
            <dxo-group-panel [visible]="true" [emptyPanelText]="groupedText"></dxo-group-panel>
            <dxo-load-panel [enabled]="true"></dxo-load-panel>
            <dxo-sorting mode="multiple"></dxo-sorting>
            <dxo-editing mode="form">
                <dxo-form>
                    <dxi-item dataField="messagingAppId"></dxi-item>
                    <dxi-item dataField="userName"></dxi-item>
                </dxo-form>
            </dxo-editing>
            <dxo-paging [pageSize]="15"></dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>
            <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
            <dxi-column dataField="messagingAppId" caption="Tip Mesagerie Online" alignment="left">
                <dxo-lookup [dataSource]="messagingApps" valueExpr="id" displayExpr="name">
                </dxo-lookup>
                <dxi-validation-rule type="required" message="{{'required' | translate}}"></dxi-validation-rule>
            </dxi-column>
            <dxi-column dataField="userName" caption="Username" dataType="string" alignment="center">
                <dxi-validation-rule type="required" message="{{'required' | translate}}"></dxi-validation-rule>
                <dxi-validation-rule type="stringLength" [max]="100" message="Lungimea maximă depășită!"></dxi-validation-rule>
            </dxi-column>
        </dx-data-grid>
    </div>
</dx-popup>

<dx-popup [width]="1200" [height]="800" [showTitle]="true" [resizeEnabled]="true" title="Observatii Contact Partener" [dragEnabled]="false"
    [closeOnOutsideClick]="true" [(visible)]="partnerContactObservationPopupVisible">
    <div>
        <app-grid-toolbar #partnerContactObservationGridToolbar [actions]="actions" [showColumnSettings]="true" [showExcel]="true"
            [fileName]="'partnerContactObservation'" [showPrint]="true" (addEvent)="addPartnerContactObservation()" (refreshEvent)="refreshPartnerContactObservationDataGrid()"
            (deleteEvent)="deletePartnerContactObservationRecords($event)">
        </app-grid-toolbar>
        <div class="float-none" style="clear: both;"></div>
    </div>
    <div>
        <dx-data-grid #gridPartnerContactObservationDataGrid [dataSource]="partnerContactObservation" [width]="1100" [rowAlternationEnabled]="true"
            [showBorders]="false" [allowColumnReordering]="true" (onSelectionChanged)="selectionPartnerContactObservationChanged($event)"
            (onEditorPreparing)="onPartnerContactObservationEditorPreparing($event)" (onRowInserting)="onRowPartnerContactObservationInserting($event)">
            <dxo-selection mode="multiple" showCheckBoxesMode="always"></dxo-selection>
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-filter-panel [visible]="true">
            </dxo-filter-panel>
            <dxo-header-filter [visible]="true">
            </dxo-header-filter>
            <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
            <dxo-group-panel [visible]="true" [emptyPanelText]="groupedText"></dxo-group-panel>
            <dxo-load-panel [enabled]="true"></dxo-load-panel>
            <dxo-sorting mode="multiple"></dxo-sorting>
            <dxo-editing mode="form">
                <dxo-form>
                    <dxi-item dataField="state"></dxi-item>
                    <dxi-item dataField="message"></dxi-item>
                </dxo-form>
            </dxo-editing>
            <dxo-paging [pageSize]="15"></dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>
            <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>

            <dxi-column dataField="created" caption="Adaugat la data" dataType="date" format="dd-MM-yyyy"
                alignment="center"></dxi-column>
            
            <dxi-column dataField="state" caption="Stare" alignment="center">
                <dxo-lookup [dataSource]="partnerContactObservationState" valueExpr="id" displayExpr="name">
                </dxo-lookup>
                <dxi-validation-rule type="required" message="{{'required' | translate}}"></dxi-validation-rule>
            </dxi-column>

            <dxi-column dataField="message" caption="Mesaj" dataType="string" alignment="center">
                <dxi-validation-rule type="stringLength" [max]="500" message="Lungimea maximă depășită!"></dxi-validation-rule>
            </dxi-column>
        </dx-data-grid>
    </div>
</dx-popup>

<dx-popup [width]="800" [height]="700" [showTitle]="true" [resizeEnabled]="true" title="Orar Locatie"
[dragEnabled]="false" [closeOnOutsideClick]="true" [(visible)]="showPartnerLocationSchedulePopup">
    <app-partner-location-schedule #partnerLocationScheduleComponent [customerId]="customerId" [showSaveBtn]="true"></app-partner-location-schedule>
</dx-popup>