.fa-pencil, .fa-clone, .fa-ban, .fa-user, .fa-check-circle, .fa-list, .fa-commenting {
  color: rgb(196, 0, 0);
}

.schedule-icon-green {
  color: rgb(0, 196, 78) !important;
}

.schedule-icon-red {
  color: rgb(196, 0, 0) !important;
}

::ng-deep .dx-data-row .email {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}