<app-spinner [visible]="loaded"></app-spinner>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-6">
            <div class="mt-4">
                <app-grid-toolbar #auctionGroupGridToolbar [actions]="actions" [showColumnSettings]="true"
                    [showExcel]="true" [fileName]="'auctionGroups'" [showPrint]="true" (addEvent)="add()" (displayEvent)="displayDataEvent($event)" 
                    (refreshEvent)="refreshDataGrid()" (deleteEvent)="deleteRecords($event)">
                </app-grid-toolbar>
                <div class="float-none" style="clear: both;"></div>
            </div>
            <div class="mt-4"></div>
            <dx-data-grid id="auctionGroupGridContainer" #auctionGroupDataGrid [dataSource]="auctionGroups" [rowAlternationEnabled]="true"
                [showBorders]="false" [allowColumnReordering]="true"
                (onSelectionChanged)="selectionChanged($event)" (onEditorPreparing)="onEditorPreparing($event)"
                (onRowInserting)="onRowInserting($event)" (onRowUpdated)="onRowUpdated($event)">
                <dxo-selection mode="multiple" showCheckBoxesMode="always"></dxo-selection>
                <dxo-filter-row [visible]="true"></dxo-filter-row>
                <dxo-filter-panel [visible]="true">
                </dxo-filter-panel>
                <dxo-header-filter [visible]="true">
                </dxo-header-filter>
                <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
                <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
                <dxo-group-panel [visible]="true" [emptyPanelText]="groupedText"></dxo-group-panel>
                <dxo-load-panel [enabled]="true"></dxo-load-panel>
                <dxo-sorting mode="multiple"></dxo-sorting>
                <dxo-editing mode="form">
                    <dxo-form>
                        <dxi-item dataField="code"></dxi-item>
                        <dxi-item dataField="name"></dxi-item>
                        <dxi-item dataField="description"></dxi-item>
                        <dxi-item dataField="cpvCodeIds"></dxi-item>
                    </dxo-form>
                </dxo-editing>
                <dxo-paging [pageSize]="100"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>
                <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
              
                <dxi-column dataField="code" caption="Cod" dataType="string" alignment="left">
                    <dxi-validation-rule type="required" message="{{'required' | translate}}">
                    </dxi-validation-rule>
                    <dxi-validation-rule type="stringLength" [max]="500" message="Lungimea maximă depășită!">
                    </dxi-validation-rule>
                </dxi-column>
                <dxi-column dataField="name" caption="Nume" dataType="string" alignment="left">
                    <dxi-validation-rule type="required" message="{{'required' | translate}}">
                    </dxi-validation-rule>
                    <dxi-validation-rule type="stringLength" [max]="2000" message="Lungimea maximă depășită!">
                    </dxi-validation-rule>
                </dxi-column>

                <dxi-column dataField="description" caption="Descriere" dataType="string" alignment="left">
                    <dxi-validation-rule type="stringLength" [max]="100" message="Lungimea maximă depășită!">
                    </dxi-validation-rule>
                </dxi-column>

                <dxi-column
                dataField="cpvCodeIds" caption="Coduri CPV"
                editCellTemplate="tagBoxEditor" [cellTemplate]="cellTemplate"
                [calculateFilterExpression]="calculateFilterExpression" alignment="center">
                <dxo-lookup [dataSource]="cpvCodes" valueExpr="id" [displayExpr]="getCpvCodeExpr">
                </dxo-lookup>
                </dxi-column>

                <dxi-column caption="Actiuni" cellTemplate="cellTemplate"
                    alignment="center">
                </dxi-column>
                <div *dxTemplate="let data of 'cellTemplate'">
                    <i class="fa fa-pencil fa-2x" style='padding-right : 15px' href="javascript:void(0)" title="Edit"
                        (click)="openDetails(data)"></i>
                    &nbsp;
                    <i class="fa fa-ban fa-2x" style='padding-right : 15px' href="javascript:void(0)" title="Stergere"
                        (click)="deleteRow(data)"></i>
                </div>
                <div *dxTemplate="let cellInfo of 'tagBoxEditor'">
                    <dx-tag-box
                        [dataSource]="cpvCodes"
                        [value]="cellInfo.value"
                        valueExpr="id"
                        [displayExpr]="getCpvCodeExpr"
                        [showSelectionControls]="true"
                        [maxDisplayedTags]="100"
                        [showMultiTagOnly]="false"
                        applyValueMode="useButtons"
                        [searchEnabled]="true"
                        (onValueChanged)="cellInfo.setValue($event.value)"
                        (onSelectionChanged)="cellInfo.component.updateDimensions()">
                    </dx-tag-box>
                </div>
            </dx-data-grid>
        <br>
    </div>
</div>