<app-spinner [visible]="loaded"></app-spinner>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-6">
        <div [hidden]="detailsVisibility">
            <div class="mt-4">
                <app-grid-toolbar #gridToolbar [actions]="actions" [showColumnSettings]="true"
                    (displayEvent)="displayDataEvent($event)" [showExcel]="true" [fileName]="'contactCampaigns'"
                    [showPrint]="true" (addEvent)="openDetails(null)" [showInfo]="true"
                    [infoText]="infoButton" (refreshEvent)="refreshDataGrid()"
                    (deleteEvent)="deleteRecords($event)">
                </app-grid-toolbar>
                <div class="float-none" style="clear: both;"></div>
            </div>
            <div class="mt-4"></div>
            <dx-data-grid id="gridContainer" #dataGrid [dataSource]="contactCampaigns"
                [rowAlternationEnabled]="true" [showBorders]="false" [allowColumnReordering]="true"
                (onSelectionChanged)="selectionChanged($event)" (onRowPrepared)="onRowPrepared($event)"
                (onEditorPreparing)="onEditorPreparing($event)">
                
                <dxo-filter-row [visible]="true"></dxo-filter-row>
                <dxo-filter-panel [visible]="true">
                </dxo-filter-panel>
                <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
                <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
                <dxo-header-filter [visible]="true">
                </dxo-header-filter>
                <dxo-group-panel [visible]="true" [emptyPanelText]="groupedText"></dxo-group-panel>
                <dxo-load-panel [enabled]="true"></dxo-load-panel>
                <dxo-sorting mode="multiple"></dxo-sorting>

                <dxo-paging [pageSize]="15"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>
                <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>

                <dxi-column dataField="parentCampaign.code" caption="Cod" dataType="string" alignment="left" cssClass="location-column" [width]="100">
                </dxi-column>
                <dxi-column dataField="parentCampaign.name" caption="Nume" dataType="string" alignment="left" cssClass="location-column" [width]="300">
                </dxi-column>
                <dxi-column dataField="parentCampaign.startDate" caption="Inceput campanie" dataType="date" format="dd-MM-yyyy" cssClass="location-column"
                    alignment="right" [width]="100"></dxi-column>
                <dxi-column dataField="parentCampaign.endDate" caption="Sfarsit campanie" dataType="date" format="dd-MM-yyyy" cssClass="location-column"
                    alignment="right" [width]="100"></dxi-column>
                <dxi-column dataField="parentCampaign.numberOfDays" caption="Nr Zile" dataType="number" alignment="right" cssClass="location-column" [width]="50" headerCellTemplate="numberOfDaysHeaderCellTemplate">
                </dxi-column>
                <dxi-column dataField="parentCampaign.description" caption="Descriere" dataType="string" alignment="left" cssClass="location-column">
                </dxi-column>
                <dxi-column dataField="parentCampaign.agentMessage" caption="Mesaj agent" dataType="string" alignment="left" cssClass="location-column" [width]="250">
                </dxi-column>

                <dxi-column dataField="childCampaign.geographicalAreaId" caption="Zona Geografica" alignment="left" cssClass="location-column" cellTemplate="geographicalAreasCellTemplate" [width]="250">
                    <dxo-lookup [dataSource]="geographicalAreas" valueExpr="id">
                    </dxo-lookup>
                </dxi-column>

                <dxi-column dataField="parentCampaign.observationsToStop" caption="Motiv inchidere" dataType="string" alignment="left" cssClass="location-column" [width]="100">
                </dxi-column>

                <dxi-column dataField="parentCampaign.isActive" caption="Activ" dataType="boolean" alignment="center" cssClass="location-column" [width]="50">
                </dxi-column>

                <dxi-column caption="Actiuni" cellTemplate="cellTemplate" [width]="100" [minWidth]="100"
                    alignment="center" cssClass="location-column">
                </dxi-column>
                <div *dxTemplate="let data of 'cellTemplate'">
                    <i class="fa fa-pencil fa-2x" style='padding-right : 15px' *ngIf="canUpdate() && !data.data.parentCampaign.canModify"
                        href="javascript:void(0)" title="Edit" (click)="openDetails(data.data)"></i>
                    &nbsp;
                    <i class="fa fa-ban fa-2x" style='padding-right : 15px' href="javascript:void(0)" *ngIf="data.data.parentCampaign.isActive"
                        title="Stergere" (click)="deleteRow(data)"></i>
                </div>
                <div *dxTemplate="let data of 'numberOfDaysHeaderCellTemplate'">
                    <p id="numberOfDaysHeaderColumn" style="margin: 0">{{data.column.caption}}</p>
                </div>

                <div *dxTemplate="let data of 'geographicalAreasCellTemplate'">
                    <span class="clickable-link" (click)="onGeoAreaClick(data.data)">{{getDisplayExprGeographicalAreas(data.data.childCampaign.geographicalAreaId)}}</span>
                </div>
            </dx-data-grid>
            <br>
        </div>
        <div [hidden]="!detailsVisibility">
            <app-contact-campaign-management-location-details #contactCampaignManagementLocationDetails
                [(selectedContactCampaign)]="selectedContactCampaign" [(contactCampaigns)]="contactCampaigns"
                [(contactCampaignType)]="contactCampaignType" [(items)]="items" [(countriesDS)]="countriesDS" [(countiesDS)]="countiesDS" [(citiesDS)]="citiesDS"
                [(itemsGroup)]="itemsGroup" [(actions)]="actions" [(countries)]="countries" [(counties)]="counties" [(cities)]="cities" [(geographicalAreas)]="geographicalAreas"
                (visible)="changeVisible()"></app-contact-campaign-management-location-details>
        </div>
    </div>
</div>

<dx-popup [width]="500" [height]="500" [resizeEnabled]="true" [showTitle]="true" title="{{'general.confirmDelete' | translate}}"
  [dragEnabled]="false" [closeOnOutsideClick]="true" [(visible)]="deleteConfirmationPopup">
  <h4>{{selectedRows && selectedRows.length}} - {{'general.records' | translate}}</h4>
  <hr>
    <dx-validation-group #deletePopupValidationGroup>
        <div>Motiv inchidere*:</div>
        <div>
            <dx-text-area [(ngModel)]="selectedRowsObservationsToStop" [ngModelOptions]="{standalone: true}" [height]="150">
                <dx-validator>
                    <dxi-validation-rule type="required" message="{{'required' | translate}}">
                    </dxi-validation-rule>
                </dx-validator>
            </dx-text-area>
        </div>
    </dx-validation-group>
    <hr>
    <dx-button stylingMode="contained" text="{{'general.yes' | translate}}" type="danger" [width]="200"
    (onClick)="deleteRecords(null)">
    </dx-button>
    <dx-button stylingMode="contained" text="{{'general.no' | translate}}" type="normal" [width]="200"
    (onClick)="deleteConfirmationPopup = false">
    </dx-button>
</dx-popup>

<dx-tooltip target="#numberOfDaysHeaderColumn" showEvent="dxhoverstart" hideEvent="dxhoverend" position="top">
    <div *dxTemplate="let data of 'content'" class="info-tooltip">
        Nr Zile - Cate zile tine o perioada completa a campaniei
    </div>
</dx-tooltip>

<dx-popup
    width="40%" height="70%"
    [showTitle]="true"
    title="Configureaza Zona Geografica"
    [dragEnabled]="true"
    [closeOnOutsideClick]="true"
    [(visible)]="isGeoAreaPopupOpen">
    <dx-scroll-view width="100%" height="100%">
        <div class="popup-content">                   
            <div class="save-btn-wrapper">
                <dx-button stylingMode="contained" text="Salveaza" class="save-btn"
                    (onClick)="onSaveGeoAreaData()">
                </dx-button>  
            </div> 

            <dx-tree-list
                [dataSource]="geographicalAreaData"
                keyExpr="id" showBorders="true" showRowLines="true"
                parentIdExpr="parentId"
                [columnAutoWidth]="true" [rowAlternationEnabled]="true"
                [wordWrapEnabled]="true" (onRowUpdated)="onGeoAreaRowUpdated($event)">
                <dxo-editing mode="cell" [allowUpdating]="true"></dxo-editing> 
                <dxo-scrolling mode="standard"></dxo-scrolling>
                <dxi-column dataField="name" caption="Locatie" [allowEditing]="false"></dxi-column>
                <dxi-column dataField="startDate" caption="De La" dataType="datetime" alignment="left" [format]="customDateFormat"></dxi-column>
                <!-- <dxi-column dataField="noOfDays" caption="Nr. Zile" dataType="number" alignment="right"></dxi-column> -->
                <dxi-column dataField="endDate" caption="Pana La" dataType="datetime" alignment="left" [format]="customDateFormat"></dxi-column>
                <dxi-column caption="" cellTemplate="actionsCellTemplate" [width]="50" [minWidth]="50" alignment="center"></dxi-column>
                <div *dxTemplate="let data of 'actionsCellTemplate'">
                    <i class="fa fa-ban fa-2x" href="javascript:void(0)" *ngIf="data.data.startDate || data.data.endDate" title="Stergere" (click)="clearRowData(data.data)"></i>
                </div>
            </dx-tree-list>
        </div>
    </dx-scroll-view>   
</dx-popup>