.fa-pencil, .fa-clone, .fa-ban {
    color: rgb(196, 0, 0);
  }
  
  .maxWidth {
    width: 200%;
  }

  ::ng-deep .dx-row.dx-data-row.dx-column-lines {
    background-color: white !important;
  }

  ::ng-deep .dx-row.dx-data-row.dx-row-lines {
    background-color: white !important;
  }

  .location-column {
    background-color: white !important;
  }

  .info-tooltip {
    font-size: 16px;
    text-align: left;
  }

  .clickable-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }

  .save-btn {
    background-color: #ffe596;
    color: black;
  }

  .save-btn-wrapper {
    margin-bottom: 1rem;
  }