<app-spinner [visible]="loaded"></app-spinner>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-6">
        <div [hidden]="detailsVisibility">
            <div class="mt-4">
                <app-grid-toolbar #gridToolbar [actions]="actions" [showColumnSettings]="true"
                    (displayEvent)="displayDataEvent($event)" [showExcel]="true" [fileName]="'contactCampaigns'"
                    [showPrint]="true" (addEvent)="openDetails(null)" [showInfo]="true"
                    [infoText]="infoButton" (refreshEvent)="refreshDataGrid()"
                    (deleteEvent)="deleteRecords($event)">
                </app-grid-toolbar>
                <div class="float-none" style="clear: both;"></div>
            </div>
            <div class="mt-4"></div>
            <dx-data-grid id="gridContainer" #dataGrid [dataSource]="contactCampaigns"
                [rowAlternationEnabled]="true" [showBorders]="false" [allowColumnReordering]="true"
                (onSelectionChanged)="selectionChanged($event)" (onRowPrepared)="onRowPrepared($event)"
                (onEditorPreparing)="onEditorPreparing($event)">
          
                <dxo-filter-row [visible]="true"></dxo-filter-row>
                <dxo-filter-panel [visible]="true">
                </dxo-filter-panel>
                <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
                <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
                <dxo-header-filter [visible]="true">
                </dxo-header-filter>
                <dxo-group-panel [visible]="true" [emptyPanelText]="groupedText"></dxo-group-panel>
                <dxo-load-panel [enabled]="true"></dxo-load-panel>
                <dxo-sorting mode="multiple"></dxo-sorting>

                <dxo-paging [pageSize]="15"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>
                <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>

                <dxi-column dataField="parentCampaign.code" caption="Cod" dataType="string" alignment="left" cssClass="happybirthday-column" [width]="100">
                </dxi-column>
                <dxi-column dataField="parentCampaign.name" caption="Nume" dataType="string" alignment="left" cssClass="happybirthday-column" [width]="300">
                </dxi-column>
                <dxi-column dataField="parentCampaign.startDate" caption="Inceput campanie" dataType="date" format="dd-MM-yyyy" cssClass="happybirthday-column"
                    alignment="right" [width]="100"></dxi-column>
                <dxi-column dataField="parentCampaign.endDate" caption="Sfarsit campanie" dataType="date" format="dd-MM-yyyy" cssClass="happybirthday-column"
                    alignment="right" [width]="100"></dxi-column>
                <dxi-column dataField="parentCampaign.description" caption="Descriere" dataType="string" alignment="left" cssClass="happybirthday-column">
                </dxi-column>
                <dxi-column dataField="parentCampaign.agentMessage" caption="Mesaj agent" dataType="string" alignment="left" cssClass="happybirthday-column" [width]="200">
                </dxi-column>
                <dxi-column dataField="childCampaign.daysBefore" caption="Zile inainte" dataType="string" alignment="right" cssClass="happybirthday-column" [width]="50">
                </dxi-column>
                <dxi-column dataField="childCampaign.daysAfter" caption="Zile dupa" dataType="string" alignment="right" cssClass="happybirthday-column" [width]="50">
                </dxi-column>

                <dxi-column dataField="parentCampaign.observationsToStop" caption="Motiv inchidere" dataType="string" alignment="left" cssClass="happybirthday-column" [width]="100">
                </dxi-column>

                <dxi-column dataField="parentCampaign.isActive" caption="Activ" dataType="boolean" alignment="center" cssClass="happybirthday-column" [width]="50">
                </dxi-column>

                <dxi-column caption="Actiuni" cellTemplate="cellTemplate" [width]="100" [minWidth]="100"
                    alignment="center" cssClass="happybirthday-column">
                </dxi-column>
                <div *dxTemplate="let data of 'cellTemplate'">
                    <i class="fa fa-pencil fa-2x" style='padding-right : 15px' *ngIf="canUpdate() && !data.data.parentCampaign.canModify"
                        href="javascript:void(0)" title="Edit" (click)="openDetails(data.data)"></i>
                    &nbsp;
                    <i class="fa fa-ban fa-2x" style='padding-right : 15px' href="javascript:void(0)" *ngIf="data.data.parentCampaign.isActive"
                        title="Stergere" (click)="deleteRow(data)"></i>
                </div>
            </dx-data-grid>
            <br>
        </div>
        <div [hidden]="!detailsVisibility">
            <app-contact-campaign-management-happybirthday-details #contactCampaignManagementHappyBirthDayDetails
                [(selectedContactCampaign)]="selectedContactCampaign"
                [(contactCampaignType)]="contactCampaignType" [(items)]="items"
                [(itemsGroup)]="itemsGroup" [(actions)]="actions"
                (visible)="changeVisible()"></app-contact-campaign-management-happybirthday-details>
        </div>
    </div>
</div>

<dx-popup [width]="500" [height]="500" [resizeEnabled]="true" [showTitle]="true" title="{{'general.confirmDelete' | translate}}"
  [dragEnabled]="false" [closeOnOutsideClick]="true" [(visible)]="deleteConfirmationPopup">
  <h4>{{selectedRows && selectedRows.length}} - {{'general.records' | translate}}</h4>
  <hr>
  <dx-validation-group #deletePopupValidationGroup>
    <div>Motiv inchidere*:</div>
    <div>
        <dx-text-area [(ngModel)]="selectedRowsObservationsToStop" [ngModelOptions]="{standalone: true}" [height]="150">
            <dx-validator>
                <dxi-validation-rule type="required" message="{{'required' | translate}}">
                </dxi-validation-rule>
            </dx-validator>
        </dx-text-area>
    </div>
  </dx-validation-group>
  <hr>
  <dx-button stylingMode="contained" text="{{'general.yes' | translate}}" type="danger" [width]="200"
    (onClick)="deleteRecords(null)">
  </dx-button>
  <dx-button stylingMode="contained" text="{{'general.no' | translate}}" type="normal" [width]="200"
    (onClick)="deleteConfirmationPopup = false">
  </dx-button>
</dx-popup>