.fa-pencil, .fa-clone, .fa-ban {
    color: rgb(196, 0, 0);
  }
  
  .maxWidth {
    width: 200%;
  }

  ::ng-deep .dx-row.dx-data-row.dx-column-lines {
    background-color: white !important;
  }

  ::ng-deep .dx-row.dx-data-row.dx-row-lines {
    background-color: white !important;
  }

  .happybirthday-column {
    background-color: white !important;
  }
  