.fa-pencil, .fa-clone, .fa-ban, .fa-plus  {
    color: rgb(196, 0, 0);
  }

.form-group.row {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.suggestion-save-btn {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 12px;
}

.partner-suggestion-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  margin-top: 1rem;
}

.label-tooltip {
  text-align: left;
  font-size: 16px;
}