<div *ngIf="!shouldHidePartnerSuggestionComponent">
   <app-spinner [visible]="loaded"></app-spinner>
   <div class="form-group row">
      <div class="col-12 dx-field-label">Persoana de contact (Cu cine ai vorbit ?):</div>
      <div class="col-md-6 col-lg-6">
         <dx-select-box [dataSource]="locationContactPersons" valueExpr="id" [displayExpr]="getDisplayExprContact" [searchEnabled]="true"
            [(ngModel)]="locationContactId" [dropDownOptions]="{ minWidth: '200' }">
         </dx-select-box>
      </div>
      <hr>
      
      <div *ngFor="let question of partnerReviewQuestions; let i = index" class="col-12 mb-3">
         <div class="p-3 border rounded shadow-sm bg-light">
           <label class="fw-bold">{{ question.question }}</label>
           <dx-text-area [height]="90" 
              [maxLength]="633" 
              placeholder="Atentie! Introduceti un comentariu de minim 20 caractere" 
              class="form-control mt-2"
              [(ngModel)]="question.response"
              valueChangeEvent="keyup blur" 
              (onValueChanged)="onTextAreaValueChanged($event, i)">
           </dx-text-area>
         </div>
       </div>

      <div class="partner-suggestion-btns">
         <dx-button id="saveState" text="Salveaza" (onClick)="savePartnerSuggestion('save')">
         </dx-button>
         <dx-button id="notInterestedState" text="Nu Doreste" (onClick)="savePartnerSuggestion('notInterested')">
         </dx-button>
         <dx-button id="postponeState" text="Amana" (onClick)="savePartnerSuggestion('postpone')">
         </dx-button>
     </div>
   </div>
</div>

<dx-tooltip target="#saveState" showEvent="dxhoverstart" hideEvent="dxhoverend">
   <div *dxTemplate="let data of 'content'" class="label-tooltip" position="top">
      Se salveaza sugestia impreuna cu persoana de contact.
      <br />
      Urmatoarea sugestie de introdus va aparea dupa 6 luni.
   </div>
</dx-tooltip>

<dx-tooltip target="#notInterestedState" showEvent="dxhoverstart" hideEvent="dxhoverend">
   <div *dxTemplate="let data of 'content'" class="label-tooltip" position="top">
      Nu Doreste sa dea o sugestie, este multumit.
      <br />
      Urmatoarea sugestie de introdus va aparea dupa 1 luna.
   </div>
</dx-tooltip>

<dx-tooltip target="#postponeState" showEvent="dxhoverstart" hideEvent="dxhoverend">
   <div *dxTemplate="let data of 'content'" class="label-tooltip" position="top">
      Sugestia este importanta, o va face data viitoare.
      <br />
      Urmatoarea sugestie de introdus va aparea de fiecare data cand se deschide rulajul clientului.
   </div>
</dx-tooltip>


