<div *ngIf="contactCampaignAllocation">
    <hr>
    <dx-validation-group #validationGroup>
        <div class="modal-body">
          
            <div class="form-group row">
                <div class="col-md-6 col-lg-6">
                    <div class="row">
                        <div class="col-1 dx-field-label text-md-right" *ngIf="contactCampaignAllocation && !contactCampaignAllocation.id">Post*:</div>
                        <div class="col-md-2 col-lg-2" *ngIf="contactCampaignAllocation && !contactCampaignAllocation.id">
                            <dx-select-box [dataSource]="posts" [displayExpr]="getDisplayExprPosts" [dropDownOptions]="{ minWidth: '300' }"
                                valueExpr="id" [(ngModel)]="contactCampaignAllocation.PostId" [searchEnabled]="true">
                                <dx-validator>
                                    <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                    </dxi-validation-rule>
                                </dx-validator>
                            </dx-select-box>

                        </div>
                        <div class="col-1 dx-field-label text-md-right" *ngIf="contactCampaignAllocation && !contactCampaignAllocation.id">Campanie*:</div>
                        <div class="col-md-2 col-lg-2" *ngIf="contactCampaignAllocation && !contactCampaignAllocation.id">
                            <dx-select-box [dataSource]="contactCampaigns" [displayExpr]="getDisplayExprContactCampaigns" [dropDownOptions]="{ minWidth: '300' }"
                                valueExpr="id" [(ngModel)]="contactCampaignAllocation.ContactCampaignId" [searchEnabled]="true">
                                <dx-validator>
                                    <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                    </dxi-validation-rule>
                                </dx-validator>
                            </dx-select-box>
                        </div>
                        <div class="col-1 dx-field-label text-md-right">Numar ordine*:</div>
                        <div class="col-md-2 col-lg-2">
                            <dx-number-box
                                [(ngModel)]="contactCampaignAllocation.orderNumber"
                                [min]="0"
                                [showSpinButtons]="true">
                                <dx-validator>
                                    <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                    </dxi-validation-rule>
                                </dx-validator>
                            </dx-number-box>
                        </div>

                        <div class="col-1 dx-field-label text-md-right">Numar maxim clienti*:</div>
                        <div class="col-md-2 col-lg-2">
                            <dx-number-box
                                [(ngModel)]="contactCampaignAllocation.numberFromCampaign"
                                [min]="0"
                                [showSpinButtons]="true">
                                <dx-validator>
                                    <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                    </dxi-validation-rule>
                                </dx-validator>
                            </dx-number-box>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dx-validation-group>

    <hr>

    <dx-button *ngIf="contactCampaignAllocation && !contactCampaignAllocation.id" text="{{'buttons.save' | translate}}" (onClick)="saveData()">
    </dx-button>
     &nbsp;
     <dx-button *ngIf="contactCampaignAllocation && contactCampaignAllocation.id" text="{{'buttons.update' | translate}}" (onClick)="updateData()">
    </dx-button>
     &nbsp;
    <dx-button text="{{'buttons.back' | translate}}" type="danger" (onClick)="back()">
    </dx-button>

</div>