<div class="main-content">
    <div class="container-fluid">
        <div class="card card-plain">
            <div class="card-header card-header-success">
                <h3 class="card-title">Admin works!</h3>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-6">
                    Admin content!
                </div>
            </div>
        </div>
    </div>
</div>