<app-spinner [visible]="loaded"></app-spinner>
<div class="main-content">
    <div class="container-fluid">
        <div class="card card-plain">
            <app-title [title]="'Raport Clienti Interese'"></app-title>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-6">
                    <br>
                    <div class="modal-body">
                        <dx-validation-group #validationGroup>
                            <div class="form-group row">
                                <div class="col-1 dx-field-label text-md-right">Post / Agent*:</div>
                                <div class="col-md-3 col-lg-3">
                                    <dx-select-box [dataSource]="posts" [(ngModel)]="searchedPostId" valueExpr="id"
                                        [searchEnabled]="true" [displayExpr]="getPostDisplayExpr"
                                        [disabled]="!isUserAdminOrHasSuperiorPostValue">
                                        <dx-validator>
                                            <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                            </dxi-validation-rule>
                                        </dx-validator>
                                    </dx-select-box>
                                </div>
                                <div class="col-1 dx-field-label text-md-right">Cod produs*:</div>
                                <div class="col-md-3 col-lg-3">
                                    <dx-select-box [dataSource]="items" [(ngModel)]="searchedItemId" valueExpr="id"
                                        [displayExpr]="getItemDisplayExpr" [searchEnabled]="true">
                                        <dx-validator>
                                            <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                            </dxi-validation-rule>
                                        </dx-validator>
                                    </dx-select-box>
                                </div>
                            </div>
                            <br>
                            <div class="form-group row">
                                <div class="col-md-1 col-lg-1 dx-field-label">
                                    <span appTooltipify [appTooltipifyText]="textSGF"
                                        [appTooltipifyDirection]="'bottom'">SGF:</span>
                                </div>
                                <div class="col-md-1 col-lg-1">
                                    <dx-check-box [(ngModel)]="searchedSGF"></dx-check-box>
                                </div>
                                <div class="col-md-1 col-lg-1 dx-field-label">
                                    <span appTooltipify [appTooltipifyText]="textCDA"
                                        [appTooltipifyDirection]="'bottom'">CDA:</span>
                                </div>
                                <div class="col-md-1 col-lg-1">
                                    <dx-check-box [(ngModel)]="searchedCDA"></dx-check-box>
                                </div>
                                <div class="col-md-1 col-lg-1 dx-field-label">
                                    <span appTooltipify [appTooltipifyText]="textSZO"
                                        [appTooltipifyDirection]="'bottom'">SZO:</span>
                                </div>
                                <div class="col-md-1 col-lg-1">
                                    <dx-check-box [(ngModel)]="searchedSZO"></dx-check-box>
                                </div>
                                <div class="col-md-1 col-lg-1 dx-field-label">
                                    <span appTooltipify [appTooltipifyText]="textALT"
                                        [appTooltipifyDirection]="'bottom'">ALT:</span>
                                </div>
                                <div class="col-md-1 col-lg-1">
                                    <dx-check-box [(ngModel)]="searchedALT"></dx-check-box>
                                </div>
                            </div>
                            <br>
                            <div class="form-group row">
                                <div class="col-md-2 col-lg-2">
                                    <dx-button text="Cauta" type="danger" (onClick)="searchData()">
                                    </dx-button>
                                </div>
                            </div>
                        </dx-validation-group>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-6">
                            <div class="mt-4">
                                <app-grid-toolbar #customerInterestsGridToolbar [actions]="actions"
                                    [showColumnSettings]="true" [showExcel]="true"
                                    [fileName]="'customerInterestsReportAllocation'" [showPrint]="true"
                                    (addEvent)="openDetails(null)" (displayEvent)="displayDataEvent($event)"
                                    (refreshEvent)="refreshDataGrid()" (deleteEvent)="deleteRecords($event)"
                                    [showInfo]="true" [infoText]="infoButton">
                                </app-grid-toolbar>
                                <div class="float-none" style="clear: both;"></div>
                            </div>
                            <div class="mt-4"></div>
                            <dx-data-grid id="customerInterestsDataGrid" #customerInterestsDataGrid
                                [dataSource]="customerInterestsReports" [rowAlternationEnabled]="true"
                                [showBorders]="false" [allowColumnReordering]="true"
                                (onSelectionChanged)="selectionChanged($event)"
                                (onEditorPreparing)="onEditorPreparing($event)"
                                (onCellPrepared)="onCellPrepared($event)">

                                <dxo-group-panel [visible]="true" [emptyPanelText]="groupedText"></dxo-group-panel>
                                <dxo-load-panel [enabled]="true"></dxo-load-panel>
                                <dxo-sorting mode="multiple"></dxo-sorting>
                                <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
                                <dxo-filter-panel [visible]="true"></dxo-filter-panel>
                                <dxo-filter-row [visible]="true"></dxo-filter-row>
                                <dxo-header-filter [visible]="true"></dxo-header-filter>

                                <dxo-paging [pageSize]="100"></dxo-paging>
                                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]">
                                </dxo-pager>
                                <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>

                                <dxi-column dataField="partnerName" caption="Nume Partener" dataType="string"
                                    alignment="center"></dxi-column>
                                <dxi-column dataField="partnerContactName" caption="Persoana Contact" dataType="string"
                                    alignment="center"></dxi-column>
                                <dxi-column dataField="partnerContactOccupation" caption="Functie" dataType="number"
                                    alignment="center">
                                    <dxo-lookup [dataSource]="occupations" valueExpr="id"
                                        [displayExpr]="getDisplayExprOccupation">
                                    </dxo-lookup>
                                </dxi-column>
                                <dxi-column dataField="partnerContactEmail" caption="Email" dataType="string"
                                    alignment="center"></dxi-column>
                                <dxi-column dataField="partnerContactPhone" caption="Telefon" dataType="string"
                                    alignment="center"></dxi-column>
                                <dxi-column dataField="partnerLastObservationDescription" caption="Ultima Observatie"
                                    dataType="string" alignment="center"></dxi-column>
                                <dxi-column dataField="sgf" caption="SGF" dataType="boolean"
                                    alignment="center"></dxi-column>
                                <dxi-column dataField="cda" caption="CDA" dataType="boolean"
                                    alignment="center"></dxi-column>
                                <dxi-column dataField="szo" caption="SZO" dataType="boolean"
                                    alignment="center"></dxi-column>
                                <dxi-column dataField="alt" caption="ALT" dataType="boolean"
                                    alignment="center"></dxi-column>
                                <dxi-column dataField="specializationIds" caption="Specializari"
                                    editCellTemplate="tagBoxEditor" [cellTemplate]="cellTemplate"
                                    [calculateFilterExpression]="calculateFilterExpression" alignment="center">
                                    <dxo-lookup [dataSource]="specializations" valueExpr="caenCodeSpecializationId"
                                        [displayExpr]="getDisplayExprSpecialization">
                                    </dxo-lookup>
                                </dxi-column>

                                <dxi-column caption="Actiuni" cellTemplate="cellTemplate" alignment="center">
                                </dxi-column>
                                <div *dxTemplate="let data of 'cellTemplate'">
                                    <!-- <i class="fa fa-eye fa-2x" style='padding-right : 15px' *ngIf="data.data.salePriceLists.length > 0" href="javascript:void(0)" title="View" -->
                                    <i class="fa fa-eye fa-2x" style='padding-right : 15px' *ngIf="true"
                                        href="javascript:void(0)" title="View" (click)="viewExternalApp(data)"></i>
                                </div>
                                <div *dxTemplate="let cellInfo of 'tagBoxEditor'">
                                    <dx-tag-box [dataSource]="specializations" [value]="cellInfo.value"
                                        valueExpr="caenCodeSpecializationId"
                                        [displayExpr]="getDisplayExprSpecialization" [showSelectionControls]="true"
                                        [maxDisplayedTags]="100" [showMultiTagOnly]="false" applyValueMode="useButtons"
                                        [searchEnabled]="true" (onValueChanged)="cellInfo.setValue($event.value)"
                                        (onSelectionChanged)="cellInfo.component.updateDimensions()">
                                    </dx-tag-box>
                                </div>
                            </dx-data-grid>
                            <br>
                        </div>
                    </div>

                    <dx-popup [width]="500" [height]="550" [resizeEnabled]="true" [showTitle]="true"
                        title="Specializari" [dragEnabled]="false" [closeOnOutsideClick]="true"
                        [(visible)]="showSpecializationsPopup">
                        <h4>{{currentForViewRowData === undefined ? "" : currentForViewRowData.partnerName}}</h4>
                        <hr>
                        <dx-scroll-view height="300px">
                            <div #popupContent *ngIf="currentForViewRowSpecializations.length > 0">
                                <div *ngFor="let spl of currentForViewRowSpecializations">
                                    <div>
                                        <p><strong>{{spl.identifier}}</strong></p>
                                    </div>
                                    <div>
                                        <ul>
                                            <li *ngFor="let splv of spl.value">{{splv}}</li>
                                        </ul>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </dx-scroll-view>
                        <br>
                        <br>
                        <div class="d-flex justify-content-center">
                            <dx-button stylingMode="contained" text="OK" type="normal" [width]="200"
                                (onClick)="okSpecializationsPopup()">
                            </dx-button>
                            <div class="px-3"></div>
                            <dx-button stylingMode="contained" text="Copy all specializations" type="default"
                                [width]="200" (onClick)="copySpecializationsFromPopup(popupContent)">
                            </dx-button>
                        </div>
                    </dx-popup>
                </div>
            </div>
        </div>
    </div>
</div>