<app-spinner [visible]="loaded"></app-spinner>
<div class="mt-4">
    <app-grid-toolbar #partnerObservationsGridToolbar [actions]="actions" [showColumnSettings]="true" [showInfo]="true" [infoText]="partnerObservationsInfo"
        [showExcel]="true" [fileName]="'partner-observation'" [showPrint]="true"
        (addEvent)="addPartnerObservation()" (refreshEvent)="refreshPartnerObservationsDataGrid()"
        (deleteEvent)="deleteRecords($event)">
    </app-grid-toolbar>
    <div class="float-none" style="clear: both;"></div>
</div>
<dx-data-grid id="gridContainer" #partnerObservationsDataGrid [dataSource]="partnerObservations" [rowAlternationEnabled]="true"
    [allowColumnReordering]="true" (onRowInserting)="onRowInserting($event)" (onRowUpdating)="onRowUpdating($event)"
    (onSelectionChanged)="selectionChanged($event)" (onEditorPreparing)="onEditorPreparing($event)"
    (onInitNewRow)="onInitNewRow($event)" (onRowPrepared)="onRowPrepared($event)"> 
    <dxo-selection mode="multiple" showCheckBoxesMode="always"></dxo-selection>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-filter-panel [visible]="true"></dxo-filter-panel>
    <dxo-export [enabled]="canExport()"  [allowExportSelectedData]="true"></dxo-export>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
    <dxo-group-panel [visible]="true" [emptyPanelText]="groupedText"></dxo-group-panel>
    <dxo-load-panel [enabled]="true"></dxo-load-panel>
    <dxo-sorting mode="multiple"></dxo-sorting>
    <dxo-paging [pageSize]="15"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>
    <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
    <dxo-editing mode="form">
        <dxo-form>
            <dxi-item dataField="description"
            editorType="dxTextArea"
            [editorOptions]="{ height: '200px' }"></dxi-item>
            <dxi-item dataField="partnerContactPersonId"></dxi-item>
        </dxo-form>
    </dxo-editing>
    <dxi-column dataField="created" caption="Data adaugarii" dataType="date" format="dd/MM/yyyy HH:mm" sortOrder="desc"></dxi-column>
    <dxi-column dataField="salesAgentUserId" caption="Utilizator" dataType="number">
        <dxo-lookup [dataSource]="salesAgentUsers" valueExpr="id" [displayExpr]="getDisplayExprSalesAgentUsers">
        </dxo-lookup>
    </dxi-column>
    <dxi-column dataField="companyPost" caption="Post Companie" dataType="string">
    </dxi-column>
    <dxi-column dataField="partnerContactPersonId" caption="Persoana de contact" dataType="number">
        <dxo-lookup [dataSource]="partnerContactPersons" valueExpr="id" [displayExpr]="getDisplayExprPartnerContactPersons">
        </dxo-lookup>
        <dxi-validation-rule type="required" message="{{'required' | translate}}"></dxi-validation-rule>
    </dxi-column>
    <dxi-column dataField="description" caption="Descriere" dataType="string">
        <dxi-validation-rule type="required" message="{{'required' | translate}}"></dxi-validation-rule>
    </dxi-column>

    <dxi-column caption="Actiuni" cellTemplate="cellTemplate" [width]="250" [minWidth]="250" alignment="center">
    </dxi-column>   
    <div *dxTemplate="let data of 'cellTemplate'">
        <i class="fa fa-search fa-2x mr-2" style="color: rgb(196, 0, 0)" (click)="openDescriptionPopup(data)"></i>
        <i class="fa fa-ban fa-2x" style='padding-right : 15px' *ngIf="canDelete()" href="javascript:void(0)" title="Stergere"
            (click)="deletePartnerObservationRow(data)"></i>
    </div>
</dx-data-grid>

<dx-popup [(visible)]="isPopupVisible" [closeOnOutsideClick]="true">
    <p>{{ displayValue }}</p>
</dx-popup>