.success {
    color: #fcfcfc;
    background-color: #4caf50;
  }
  
  .danger {
    color: #fcfcfc;
    background-color: #f44336;
  }  
  
  .warning {
    color: #fcfcfc;
    background-color: #ffeb3b;
  } 
  
  .primary {
    color: #fcfcfc;
    background-color: #2196f3;
  } 
  
  .info {
    color: #fcfcfc;
    background-color: #00bcd4;
  } 