<dx-popup *ngIf="popupVisible && selectedClientTurnover && selectedClientTurnover.lastComment" width="60%" height="90%" [showTitle]="true" [resizeEnabled]="true" title="Detalii Rulaj - {{selectedClientTurnover.itemCode}} - {{selectedClientTurnover.itemName}}" [dragEnabled]="true"
[closeOnOutsideClick]="true" [(visible)]="popupVisible" (onHiding)="popupCloseEvent($event)">
<dx-scroll-view width="100%" height="100%">

    <div class="form-group row">
        <div class="col-1 dx-field-label text-md-right">Facturat:</div>
        <div class="col-md-1 col-lg-1">
           <dx-check-box [(ngModel)]="selectedClientTurnover.lastComment.isInvoiced" (onValueChanged)="checkInvoicedChange(selectedClientTurnover.lastComment)"></dx-check-box>
        </div>
        <div class="col-1 dx-field-label text-md-right">Are stoc:</div>
        <div class="col-md-1 col-lg-1">
           <dx-check-box [(ngModel)]="selectedClientTurnover.lastComment.hasStock" (onValueChanged)="checkStockChange(selectedClientTurnover.lastComment)"></dx-check-box>
        </div>
        <div class="col-1 dx-field-label text-md-right">La Cda:</div>
        <div class="col-md-1 col-lg-1">
           <dx-check-box [(ngModel)]="selectedClientTurnover.lastComment.atOrder" (onValueChanged)="checkAtOrderChange(selectedClientTurnover.lastComment)"></dx-check-box>
        </div>
        <div class="col-1 dx-field-label text-md-right">Nu folosesc:</div>
        <div class="col-md-1 col-lg-1">
           <dx-check-box [(ngModel)]="selectedClientTurnover.lastComment.notUsed" (onValueChanged)="checkNotUsedChange(selectedClientTurnover.lastComment)"></dx-check-box>
        </div>
        
        <div>
            <button type="button" id="tooltip" (click)="openSpecialPriceRequest()" class="btn btn-primary mr-4 mt-0  btn-round float-left" data-placement="top" 
               [ngClass]="'btn-danger'" data-toggle="tooltip">
                  Cere Pret Special
            </button>
         </div>
     </div>

     <dx-validation-group #validationGroup>
         <div class="form-group row" *ngIf="selectedClientTurnover.lastComment.isInvoiced">
         <div class="col-1 dx-field-label text-md-right">Cantitate*:</div>
         <div class="col-md-2 col-lg-2">
            <dx-number-box [(ngModel)]="selectedClientTurnover.lastComment.monthlyOrderedQuantity" dataType="number">
               <dx-validator>
                  <dxi-validation-rule type="required" message="{{'required' | translate}}"></dxi-validation-rule>
              </dx-validator>
           </dx-number-box>
         </div>
        </div>

        <div class="form-group row" *ngIf="selectedClientTurnover.lastComment.hasStock">

         <div class="col-1 dx-field-label text-md-right">De la mine:</div>
         <div class="col-md-2 col-lg-2">
             <dx-check-box [(ngModel)]="selectedClientTurnover.lastComment.hasStockFromMe"></dx-check-box>
         </div>
         <div class="col-1 dx-field-label text-md-right">Revin pe:</div>
         <div class="col-md-2 col-lg-2">
            <dx-date-box [(ngModel)]="selectedClientTurnover.lastComment.callBackDate" displayFormat="dd-MM-yyyy HH:mm" [ngModelOptions]="{standalone: true}" type="datetime">
           </dx-date-box>
         </div>
         <div class="col-1 dx-field-label text-md-right">Cantitate:</div>
         <div class="col-md-2 col-lg-2">
            <dx-number-box [(ngModel)]="selectedClientTurnover.lastComment.monthlyOrderedQuantity" dataType="number">
           </dx-number-box>
         </div>
        </div>

        <div class="form-group row" *ngIf="selectedClientTurnover.lastComment.hasStock">
            <div *ngIf="!selectedClientTurnover.lastComment.hasStockFromMe" class="col-1 dx-field-label text-md-right">Pret:</div>
            <div *ngIf="!selectedClientTurnover.lastComment.hasStockFromMe" class="col-md-2 col-lg-2">
               <dx-number-box [(ngModel)]="selectedClientTurnover.lastComment.price">      
               </dx-number-box>
            </div>
            <div *ngIf="!selectedClientTurnover.lastComment.hasStockFromMe" class="col-1 dx-field-label text-md-right">Brand:</div>
            <div *ngIf="!selectedClientTurnover.lastComment.hasStockFromMe" class="col-md-2 col-lg-2" >
               <dx-select-box [dataSource]="brands" displayExpr="code" valueExpr="id" [searchEnabled]="true"
               [(ngModel)]="selectedClientTurnover.lastComment.brandId">
               </dx-select-box>
            </div>
            <div *ngIf="!selectedClientTurnover.lastComment.hasStockFromMe" class="col-1 dx-field-label text-md-right">Furnizor:</div>
            <div *ngIf="!selectedClientTurnover.lastComment.hasStockFromMe" class="col-md-2 col-lg-2">
               <dx-select-box [dataSource]="partners" [(ngModel)]="selectedClientTurnover.lastComment.supplierId"
               valueExpr="id" [displayExpr]="getDisplayExprPartners" 
               [searchEnabled]="true" (input)="onPartnerChanged($event)">
               </dx-select-box>
            </div>
        </div>

        <div class="form-group row" *ngIf="selectedClientTurnover.lastComment.atOrder || selectedClientTurnover.lastComment.notUsed">
         <div class="col-1 dx-field-label text-md-right">Revin pe:</div>
         <div class="col-md-2 col-lg-2">
            <dx-date-box [(ngModel)]="selectedClientTurnover.lastComment.callBackDate" displayFormat="dd-MM-yyyy HH:mm" [ngModelOptions]="{standalone: true}" type="datetime">
           </dx-date-box>
         </div>
       </div>
    </dx-validation-group>   

     <hr>
    <div class="form-group row">
        <div class="col-1 dx-field-label text-md-right">Comentariu:</div>
        <div class="col-md-11 col-lg-11">
            <dx-text-area [(ngModel)]="selectedClientTurnover.lastComment.comment" [ngModelOptions]="{standalone: true}" [height]="180">
            </dx-text-area>
        </div>
    </div>

    <hr>

    <h5>
      <b>Sugestii</b>
    </h5>
    <div class="form-group row">
      <dx-data-grid [dataSource]="relatedItems" [rowAlternationEnabled]="false" [showBorders]="false"
      [allowColumnReordering]="true" (onRowPrepared)="onRowPrepared($event)">
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxo-filter-panel [visible]="true">
      </dxo-filter-panel>
      <dxo-header-filter [visible]="true">
      </dxo-header-filter>
      <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
      <dxo-load-panel [enabled]="true"></dxo-load-panel>
      <dxo-sorting mode="multiple"></dxo-sorting>
  
      <dxo-paging [pageSize]="5"></dxo-paging>
      <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10]"></dxo-pager>
      <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
  
      <dxo-editing mode="cell" [allowUpdating]="true">
      </dxo-editing>

      <dxi-column dataField="relatedItemId" caption="Produs" alignment="left">
         <dxo-lookup [dataSource]="items" valueExpr="id" [displayExpr]="displayCodeExpr">
         </dxo-lookup>
     </dxi-column>
      <dxi-column dataField="itemType" caption="Tip" alignment="left">
         <dxo-lookup [dataSource]="relatedItemTypes" valueExpr="id" displayExpr="name">
         </dxo-lookup>
      </dxi-column>
      <dxi-column dataField="stock" caption="Stoc" dataType="number" alignment="right">
      </dxi-column>
      <dxi-column dataField="price" caption="Pret" dataType="string" alignment="right">
      </dxi-column>
      <dxi-column dataField="quantity" caption="Cantitate" [allowEditing]="!selectedClientTurnover.lastComment.id" dataType="number" alignment="left">
      </dxi-column>
      <dxi-column dataField="Pret X Cantitate" caption="Valoare" dataType="string" alignment="left" cellTemplate="priceXQuantityTemplate">
      </dxi-column>
      <div *dxTemplate="let data of 'priceXQuantityTemplate'">
         {{priceXQuantityExpr(data.data)}}
      </div>
  </dx-data-grid> 
  </div>

    <ng-container *ngFor="let tab of detailsTabs">
      <dx-button text="{{tab.name | translate}}" [ngClass]="tab.isActive ? isTabActive : null" [disabled]="checkTabDisabled(tab)"
          (onClick)="toggleMode(tab)">
      </dx-button>
      &nbsp;
   </ng-container>

 
   <div [hidden]="!detailsTabs[0].isActive">Oferte</div>
   <div [hidden]="!detailsTabs[1].isActive">
      <div class="form-group row">
         <dx-data-grid  [dataSource]="selectedClientTurnover.itemComments" [rowAlternationEnabled]="true" [showBorders]="false"
         [allowColumnReordering]="true" >
         <dxo-selection mode="multiple" showCheckBoxesMode="always"></dxo-selection>
         <dxo-filter-row [visible]="true"></dxo-filter-row>
         <dxo-filter-panel [visible]="true">
         </dxo-filter-panel>
         <dxo-header-filter [visible]="true">
         </dxo-header-filter>
         <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
         <dxo-load-panel [enabled]="true"></dxo-load-panel>
         <dxo-sorting mode="multiple"></dxo-sorting>
     
         <dxo-paging [pageSize]="5"></dxo-paging>
         <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10]"></dxo-pager>
         <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
     
         <dxi-column dataField="created" caption="Data creare" dataType="date"
         format="dd-MM-yyyy HH:mm" alignment="left"></dxi-column>
         <!-- <dxi-column dataField="isInvoiced" caption="Facturat" wordWrapEnabled="true" dataType="boolean" alignment="center">
         </dxi-column>
         <dxi-column dataField="hasStock" caption="Are stoc" wordWrapEnabled="true" dataType="boolean" alignment="center">
         </dxi-column>
         <dxi-column dataField="atOrder" caption="La Cda" wordWrapEnabled="true" dataType="boolean" alignment="center">
         </dxi-column>
         <dxi-column dataField="notUsed" caption="Nu folosesc" wordWrapEnabled="true" dataType="boolean" alignment="center">
        </dxi-column> -->
        <dxi-column dataField="status" caption="Status" dataType="string" [minWidth]="250" alignment="left">
        </dxi-column>
         <dxi-column dataField="comment" caption="Comentarii" dataType="string" [minWidth]="500" alignment="left">
         </dxi-column>
 
         <dxi-column dataField="callBackDate" caption="Revin pe" dataType="date" displayFormat="dd-MM-yyyy HH:mm"  alignment="center">
         </dxi-column>
         <dxi-column dataField="hasStockFromMe" caption="Stoc de la mine" dataType="boolean" alignment="center">
         </dxi-column>
         <dxi-column dataField="brandId" caption="Brand" dataType="string" alignment="left">
          <dxo-lookup [dataSource]="brands" valueExpr="id" displayExpr="code">
          </dxo-lookup>
         </dxi-column>
         <dxi-column dataField="monthlyOrderedQuantity" caption="Cantitate lunara" dataType="number" alignment="right">
         </dxi-column>
         <dxi-column dataField="price" caption="Pret" dataType="number" alignment="right">
         </dxi-column>
     </dx-data-grid> 
     </div>
   </div>


    <br>
    <dx-button *ngIf="selectedClientTurnover.lastComment && !selectedClientTurnover.lastComment.id" type="danger" [disabled]="!selectedClientTurnover.lastComment.isInvoiced && !selectedClientTurnover.lastComment.notUsed && !selectedClientTurnover.lastComment.hasStock && !selectedClientTurnover.lastComment.atOrder" text="Salveaza" (onClick)="saveComment(selectedClientTurnover.lastComment, selectedClientTurnover.itemId)">
    </dx-button>
    <dx-button *ngIf="selectedClientTurnover.lastComment && selectedClientTurnover.lastComment.id" type="danger" [disabled]="!selectedClientTurnover.lastComment.isInvoiced && !selectedClientTurnover.lastComment.notUsed && !selectedClientTurnover.lastComment.hasStock && !selectedClientTurnover.lastComment.atOrder" text="Modifica" (onClick)="saveComment(selectedClientTurnover.lastComment, selectedClientTurnover.itemId)">
    </dx-button>
    &nbsp;
    <dx-button text="Cancel" (onClick)="popupCloseEvent(null)">
    </dx-button>
    <hr>
</dx-scroll-view>
</dx-popup>