<app-spinner [visible]="loaded"></app-spinner>
<div *ngIf="contactCampaign">
    <hr>
    <dx-validation-group #validationGroup *ngIf="contactCampaign && !contactCampaign.parentCampaign">
        <div class="modal-body">
          
            <div class="form-group row">
                <div class="col-md-12 col-lg-12">
                    <div class="row">
                       <div class="col-md-7 col-lg-7">
                            <div class="row">
                                <div class="col-1 dx-field-label text-md-right" title="Cod">Cod*:</div>
                                <div class="col-md-1 col-lg-1">
                                    <dx-text-box [(ngModel)]="contactCampaign.code" 
                                    [ngModelOptions]="{standalone: true}" [maxLength]="100">
                                    <dx-validator>
                                        <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                        </dxi-validation-rule>
                                    </dx-validator>
                                    </dx-text-box>
                                </div>
                
                                <div class="col-1 dx-field-label text-md-right" title="Nume">Nume*:</div>
                                <div class="col-md-5 col-lg-5">
                                    <dx-text-box [(ngModel)]="contactCampaign.name"
                                    [ngModelOptions]="{standalone: true}" [maxLength]="200">
                                    <dx-validator>
                                        <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                        </dxi-validation-rule>
                                    </dx-validator>
                                    </dx-text-box>
                                </div>

                                <div class="col-1 dx-field-label text-md-right" title="Zona Geografica">Zona Geografica*:</div>
                                <div class="col-md-3 col-lg-3">
                                    <dx-select-box [dataSource]="geographicalAreas" [(ngModel)]="contactCampaign.geographicalAreaId" [displayExpr]="getDisplayExprGeographicalAres" 
                                        [dropDownOptions]="{ minWidth: '400' }" valueExpr="id" [searchEnabled]="true">
                                        <dx-validator>
                                            <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                            </dxi-validation-rule>
                                        </dx-validator>
                                    </dx-select-box>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 col-lg-5">
                            <div class="row">                                        
                                <div class="col-1 dx-field-label text-md-right" title="Valabila De la">Valabila De la*:</div>
                                <div class="col-md-2 col-lg-2">
                                    <dx-date-box [(ngModel)]="contactCampaign.startDate" type="date"
                                     displayFormat="dd-MM-yyyy">
                                     <dx-validator>
                                        <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                        </dxi-validation-rule>
                                    </dx-validator>
                                     </dx-date-box>
                                </div>
                
                                <div class="col-1 dx-field-label text-md-right" title="Pana la">Pana la*:</div>
                                <div class="col-md-2 col-lg-2">
                                    <dx-date-box [(ngModel)]="contactCampaign.endDate" type="date"
                                     displayFormat="dd-MM-yyyy">
                                     <dx-validator>
                                        <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                        </dxi-validation-rule>
                                    </dx-validator>
                                    </dx-date-box>
                                </div>

                                <div class="col-1 dx-field-label text-md-right" title="Conventie Produs Oferit">Conventie Produs Oferit*:</div>
                                <div class="col-md-2 col-lg-2">
                                    <dx-tag-box [dataSource]="productConventions" [(ngModel)]="contactCampaign.productConventionIds" valueExpr="id" 
                                        displayExpr="name" [maxDisplayedTags]="2" [showSelectionControls]="true" [showMultiTagOnly]="false" applyValueMode="instantly" 
                                        [searchEnabled]="true" [hideSelectedItems]="false" [selectAllMode]="'allPages'" [dropDownOptions]="{ minWidth: '200' }">
                                        <dx-validator>
                                            <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                            </dxi-validation-rule>
                                        </dx-validator>
                                    </dx-tag-box>
                                </div>

                                <div class="col-1 dx-field-label text-md-right" title="Tip Client">Tip Client*:</div>
                                <div class="col-md-2 col-lg-2">
                                    <dx-tag-box [dataSource]="clientTypes" [(ngModel)]="contactCampaign.clientTypes" valueExpr="id" 
                                        displayExpr="name" [maxDisplayedTags]="2" [showSelectionControls]="true" [showMultiTagOnly]="false" applyValueMode="instantly" 
                                        [searchEnabled]="true" [hideSelectedItems]="false" [selectAllMode]="'allPages'" [dropDownOptions]="{ minWidth: '200' }">
                                        <dx-validator>
                                            <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                            </dxi-validation-rule>
                                        </dx-validator>
                                    </dx-tag-box>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-12 col-lg-12">
                    <div class="row">
                        <div class="col-md-7 col-lg-7">
                           <div class="row">
                                <div class="col-1 dx-field-label text-md-right">Descriere*:</div>
                                <div class="col-md-5 col-lg-5">
                                    <dx-text-area [(ngModel)]="contactCampaign.description" [ngModelOptions]="{standalone: true}" [height]="125" [maxLength]="500">
                                        <dx-validator>
                                            <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                            </dxi-validation-rule>
                                        </dx-validator>
                                    </dx-text-area>
                                </div>

                                <div class="col-1 dx-field-label text-md-right">Mesaj agent:</div>
                                <div class="col-md-5 col-lg-5">
                                    <dx-text-area [(ngModel)]="contactCampaign.agentMessage" [ngModelOptions]="{standalone: true}" [height]="125" [maxLength]="200">
                                    </dx-text-area>
                                </div>
                           </div>
                        </div>
                    </div>
                </div>
            </div>     

            <div class="form-group row" *ngIf="contactCampaign && !contactCampaign.isActive">
                <div class="col-md-12 col-lg-12">
                    <div class="row">
                        <div class="col-md-7 col-lg-7">
                           <div class="row">
                                <div class="col-1 dx-field-label text-md-right">Motiv inchidere*:</div>
                                <div class="col-md-11 col-lg-11">
                                    <dx-text-area [(ngModel)]="contactCampaign.observationsToStop" [ngModelOptions]="{standalone: true}" [height]="150">
                                        <dx-validator>
                                            <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                            </dxi-validation-rule>
                                        </dx-validator>
                                    </dx-text-area>
                                </div>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <hr />
            <div class="sort-params-label">Parametri de Ordonare Clienti</div>
            <div class="form-group row">
                <div class="col-md-12 col-lg-12">
                    <div class="row">
                       <div class="col-md-7 col-lg-7">
                            <div class="row">
                                <div class="col-1 dx-field-label text-md-right" title="Data Ultima Contactare">Data Ultima Contactare:</div>
                                <div class="col-md-2 col-lg-2">
                                    <dx-select-box [dataSource]="sortTypes" [(ngModel)]="contactCampaign.lastContactDateSortType" [displayExpr]="getDisplayExprSortType" 
                                        [dropDownOptions]="{ minWidth: '150' }" valueExpr="id" [searchEnabled]="true">
                                        <dx-validator>
                                            <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                            </dxi-validation-rule>
                                        </dx-validator>
                                    </dx-select-box>
                                </div>

                                <div class="col-1 dx-field-label text-md-right">CA-1:</div>
                                <div class="col-md-2 col-lg-2">
                                    <dx-select-box [dataSource]="sortTypes" [(ngModel)]="contactCampaign.caLastYearSortType" [displayExpr]="getDisplayExprSortType" 
                                        [dropDownOptions]="{ minWidth: '150' }" valueExpr="id" [searchEnabled]="true">
                                        <dx-validator>
                                            <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                            </dxi-validation-rule>
                                        </dx-validator>
                                    </dx-select-box>
                                </div>

                                <div class="col-1 dx-field-label text-md-right">CA-2:</div>
                                <div class="col-md-2 col-lg-2">
                                    <dx-select-box [dataSource]="sortTypes" [(ngModel)]="contactCampaign.caLast2YearsSortType" [displayExpr]="getDisplayExprSortType" 
                                        [dropDownOptions]="{ minWidth: '150' }" valueExpr="id" [searchEnabled]="true">
                                        <dx-validator>
                                            <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                            </dxi-validation-rule>
                                        </dx-validator>
                                    </dx-select-box>
                                </div>

                                <div class="col-1 dx-field-label text-md-right">Pf-1:</div>
                                <div class="col-md-2 col-lg-2">
                                    <dx-select-box [dataSource]="sortTypes" [(ngModel)]="contactCampaign.pfLastYearSortType" [displayExpr]="getDisplayExprSortType" 
                                        [dropDownOptions]="{ minWidth: '150' }" valueExpr="id" [searchEnabled]="true">
                                        <dx-validator>
                                            <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                            </dxi-validation-rule>
                                        </dx-validator>
                                    </dx-select-box>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-5 col-lg-5">
                            <div class="row">
                                <div class="col-1 dx-field-label text-md-right">NA-1:</div>
                                <div class="col-md-2 col-lg-2">
                                    <dx-select-box [dataSource]="sortTypes" [(ngModel)]="contactCampaign.naLastYearSortType" [displayExpr]="getDisplayExprSortType" 
                                        [dropDownOptions]="{ minWidth: '150' }" valueExpr="id" [searchEnabled]="true">
                                        <dx-validator>
                                            <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                            </dxi-validation-rule>
                                        </dx-validator>
                                    </dx-select-box>
                                </div>

                                <div class="col-1 dx-field-label text-md-right">Pf-2:</div>
                                <div class="col-md-2 col-lg-2">
                                    <dx-select-box [dataSource]="sortTypes" [(ngModel)]="contactCampaign.pfLast2YearsSortType" [displayExpr]="getDisplayExprSortType" 
                                        [dropDownOptions]="{ minWidth: '150' }" valueExpr="id" [searchEnabled]="true">
                                        <dx-validator>
                                            <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                            </dxi-validation-rule>
                                        </dx-validator>
                                    </dx-select-box>
                                </div>

                                <div class="col-1 dx-field-label text-md-right">NA-2:</div>
                                <div class="col-md-2 col-lg-2">
                                    <dx-select-box [dataSource]="sortTypes" [(ngModel)]="contactCampaign.naLast2YearsSortType" [displayExpr]="getDisplayExprSortType" 
                                        [dropDownOptions]="{ minWidth: '150' }" valueExpr="id" [searchEnabled]="true">
                                        <dx-validator>
                                            <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                            </dxi-validation-rule>
                                        </dx-validator>
                                    </dx-select-box>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dx-validation-group>

    <dx-validation-group #validationGroup *ngIf="contactCampaign && contactCampaign.parentCampaign && contactCampaign.parentCampaign.id">
        <div class="modal-body">        
            <div class="form-group row">
                <div class="col-md-12 col-lg-12">
                    <div class="row">
                       <div class="col-md-6 col-lg-6">
                            <div class="row">
                                <div class="col-1 dx-field-label text-md-right">Cod*:</div>
                                <div class="col-md-1 col-lg-1">
                                    <dx-text-box [(ngModel)]="contactCampaign.parentCampaign.code" 
                                    [ngModelOptions]="{standalone: true}" [maxLength]="100">
                                    <dx-validator>
                                        <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                        </dxi-validation-rule>
                                    </dx-validator>
                                    </dx-text-box>
                                </div>

                                <div class="col-1 dx-field-label text-md-right">Nume*:</div>
                                <div class="col-md-5 col-lg-5">
                                    <dx-text-box [(ngModel)]="contactCampaign.parentCampaign.name"
                                    [ngModelOptions]="{standalone: true}" [maxLength]="200">
                                    <dx-validator>
                                        <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                        </dxi-validation-rule>
                                    </dx-validator>
                                    </dx-text-box>
                                </div>

                                <div class="col-1 dx-field-label text-md-right" title="Zona Geografica">Zona Geografica*:</div>
                                <div class="col-md-3 col-lg-3">
                                    <dx-select-box [dataSource]="geographicalAreas" [(ngModel)]="contactCampaign.childCampaign.geographicalAreaId" [displayExpr]="getDisplayExprGeographicalAres" 
                                        [dropDownOptions]="{ minWidth: '400' }" valueExpr="id" [searchEnabled]="true">
                                        <dx-validator>
                                            <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                            </dxi-validation-rule>
                                        </dx-validator>
                                    </dx-select-box>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <div class="row">
                                <div class="col-1 dx-field-label text-md-right" title="Valabila De la">Valabila De la*:</div>
                                <div class="col-md-2 col-lg-2">
                                    <dx-date-box [(ngModel)]="contactCampaign.parentCampaign.startDate" type="date"
                                    displayFormat="dd-MM-yyyy">
                                    <dx-validator>
                                        <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                        </dxi-validation-rule>
                                    </dx-validator>
                                    </dx-date-box>
                                </div>

                                <div class="col-1 dx-field-label text-md-right" title="Pana la">Pana la*:</div>
                                <div class="col-md-2 col-lg-2">
                                    <dx-date-box [(ngModel)]="contactCampaign.parentCampaign.endDate" type="date"
                                    displayFormat="dd-MM-yyyy">
                                    <dx-validator>
                                        <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                        </dxi-validation-rule>
                                    </dx-validator>
                                    </dx-date-box>
                                </div>

                                <div class="col-1 dx-field-label text-md-right" title="Conventie Produs Oferit">Conventie Produs Oferit*:</div>
                                <div class="col-md-2 col-lg-2">
                                    <dx-tag-box [dataSource]="productConventions" [(ngModel)]="contactCampaign.childCampaign.productConventionIds" valueExpr="id" 
                                        displayExpr="name" [maxDisplayedTags]="2" [showSelectionControls]="true" [showMultiTagOnly]="false" applyValueMode="instantly" 
                                        [searchEnabled]="true" [hideSelectedItems]="false" [selectAllMode]="'allPages'" [dropDownOptions]="{ minWidth: '200' }">
                                        <dx-validator>
                                            <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                            </dxi-validation-rule>
                                        </dx-validator>
                                    </dx-tag-box>
                                </div>

                                <div class="col-1 dx-field-label text-md-right" title="Tip Client">Tip Client*:</div>
                                <div class="col-md-2 col-lg-2">
                                    <dx-tag-box [dataSource]="clientTypes" [(ngModel)]="contactCampaign.childCampaign.clientTypes" valueExpr="id" 
                                        displayExpr="name" [maxDisplayedTags]="2" [showSelectionControls]="true" [showMultiTagOnly]="false" applyValueMode="instantly" 
                                        [searchEnabled]="true" [hideSelectedItems]="false" [selectAllMode]="'allPages'" [dropDownOptions]="{ minWidth: '200' }">
                                        <dx-validator>
                                            <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                            </dxi-validation-rule>
                                        </dx-validator>
                                    </dx-tag-box>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1 col-lg-1">
                            <div class="row">
                                <div class="col-6 dx-field-label text-md-right" *ngIf="contactCampaign && contactCampaign.parentCampaign && contactCampaign.parentCampaign.id">Activ:</div>
                                <div class="col-md-6 col-lg-6" *ngIf="contactCampaign && contactCampaign.parentCampaign && contactCampaign.parentCampaign.id">
                                    <dx-check-box  [(ngModel)]="contactCampaign.parentCampaign.isActive"></dx-check-box>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-12 col-lg-12">
                    <div class="row">
                        <div class="col-md-7 col-lg-7">
                           <div class="row">
                                <div class="col-1 dx-field-label text-md-right">Descriere*:</div>
                                <div class="col-md-5 col-lg-5">
                                    <dx-text-area [(ngModel)]="contactCampaign.parentCampaign.description" [ngModelOptions]="{standalone: true}" [height]="125" [maxLength]="500">
                                        <dx-validator>
                                            <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                            </dxi-validation-rule>
                                        </dx-validator>
                                    </dx-text-area>
                                </div>

                                <div class="col-1 dx-field-label text-md-right">Mesaj agent:</div>
                                <div class="col-md-5 col-lg-5">
                                    <dx-text-area [(ngModel)]="contactCampaign.parentCampaign.agentMessage" [ngModelOptions]="{standalone: true}" [height]="125" [maxLength]="200">
                                    </dx-text-area>
                                </div>
                           </div>
                        </div>
                    </div>
                </div>
            </div>     

            <div class="form-group row" *ngIf="contactCampaign && contactCampaign.parentCampaign && !contactCampaign.parentCampaign.isActive">
                <div class="col-md-12 col-lg-12">
                    <div class="row">
                        <div class="col-md-7 col-lg-7">
                           <div class="row">
                                <div class="col-1 dx-field-label text-md-right">Motiv inchidere*:</div>
                                <div class="col-md-11 col-lg-11">
                                    <dx-text-area [(ngModel)]="contactCampaign.parentCampaign.observationsToStop" [ngModelOptions]="{standalone: true}" [height]="150">
                                        <dx-validator>
                                            <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                            </dxi-validation-rule>
                                        </dx-validator>
                                    </dx-text-area>
                                </div>
                           </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr />
            <div class="sort-params-label">Parametri de Ordonare Clienti</div>
            <div class="form-group row">
                <div class="col-md-12 col-lg-12">
                    <div class="row">
                       <div class="col-md-7 col-lg-7">
                            <div class="row">
                                <div class="col-1 dx-field-label text-md-right" title="Data Ultima Contactare">Data Ultima Contactare:</div>
                                <div class="col-md-2 col-lg-2">
                                    <dx-select-box [dataSource]="sortTypes" [(ngModel)]="contactCampaign.childCampaign.lastContactDateSortType" [displayExpr]="getDisplayExprSortType" 
                                        [dropDownOptions]="{ minWidth: '150' }" valueExpr="id" [searchEnabled]="true">
                                        <dx-validator>
                                            <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                            </dxi-validation-rule>
                                        </dx-validator>
                                    </dx-select-box>
                                </div>

                                <div class="col-1 dx-field-label text-md-right">CA-1:</div>
                                <div class="col-md-2 col-lg-2">
                                    <dx-select-box [dataSource]="sortTypes" [(ngModel)]="contactCampaign.childCampaign.caLastYearSortType" [displayExpr]="getDisplayExprSortType" 
                                        [dropDownOptions]="{ minWidth: '150' }" valueExpr="id" [searchEnabled]="true">
                                        <dx-validator>
                                            <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                            </dxi-validation-rule>
                                        </dx-validator>
                                    </dx-select-box>
                                </div>

                                <div class="col-1 dx-field-label text-md-right">CA-2:</div>
                                <div class="col-md-2 col-lg-2">
                                    <dx-select-box [dataSource]="sortTypes" [(ngModel)]="contactCampaign.childCampaign.caLast2YearsSortType" [displayExpr]="getDisplayExprSortType" 
                                        [dropDownOptions]="{ minWidth: '150' }" valueExpr="id" [searchEnabled]="true">
                                        <dx-validator>
                                            <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                            </dxi-validation-rule>
                                        </dx-validator>
                                    </dx-select-box>
                                </div>

                                <div class="col-1 dx-field-label text-md-right">Pf-1:</div>
                                <div class="col-md-2 col-lg-2">
                                    <dx-select-box [dataSource]="sortTypes" [(ngModel)]="contactCampaign.childCampaign.pfLastYearSortType" [displayExpr]="getDisplayExprSortType" 
                                        [dropDownOptions]="{ minWidth: '150' }" valueExpr="id" [searchEnabled]="true">
                                        <dx-validator>
                                            <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                            </dxi-validation-rule>
                                        </dx-validator>
                                    </dx-select-box>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-5 col-lg-5">
                            <div class="row">
                                <div class="col-1 dx-field-label text-md-right">NA-1:</div>
                                <div class="col-md-2 col-lg-2">
                                    <dx-select-box [dataSource]="sortTypes" [(ngModel)]="contactCampaign.childCampaign.naLastYearSortType" [displayExpr]="getDisplayExprSortType" 
                                        [dropDownOptions]="{ minWidth: '150' }" valueExpr="id" [searchEnabled]="true">
                                        <dx-validator>
                                            <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                            </dxi-validation-rule>
                                        </dx-validator>
                                    </dx-select-box>
                                </div>

                                <div class="col-1 dx-field-label text-md-right">Pf-2:</div>
                                <div class="col-md-2 col-lg-2">
                                    <dx-select-box [dataSource]="sortTypes" [(ngModel)]="contactCampaign.childCampaign.pfLast2YearsSortType" [displayExpr]="getDisplayExprSortType" 
                                        [dropDownOptions]="{ minWidth: '150' }" valueExpr="id" [searchEnabled]="true">
                                        <dx-validator>
                                            <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                            </dxi-validation-rule>
                                        </dx-validator>
                                    </dx-select-box>
                                </div>

                                <div class="col-1 dx-field-label text-md-right">NA-2:</div>
                                <div class="col-md-2 col-lg-2">
                                    <dx-select-box [dataSource]="sortTypes" [(ngModel)]="contactCampaign.childCampaign.naLast2YearsSortType" [displayExpr]="getDisplayExprSortType" 
                                        [dropDownOptions]="{ minWidth: '150' }" valueExpr="id" [searchEnabled]="true">
                                        <dx-validator>
                                            <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                            </dxi-validation-rule>
                                        </dx-validator>
                                    </dx-select-box>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dx-validation-group>

    <hr>

    <dx-button *ngIf="contactCampaign && !contactCampaign.parentCampaign" text="{{'buttons.save' | translate}}" (onClick)="saveData()"></dx-button>

    &nbsp;

    <dx-button *ngIf="contactCampaign && contactCampaign.parentCampaign && contactCampaign.parentCampaign.id" text="{{'buttons.update' | translate}}" (onClick)="updateData()"></dx-button>

    &nbsp;

    <dx-button text="{{'buttons.back' | translate}}" type="danger" (onClick)="back()"></dx-button>
</div>