<app-spinner [visible]="loaded" [zone]="'scheduleDetails'"></app-spinner>
<div id="scheduleDetails" *ngFor="let schedule of items" class="mb-3">
    <div class="form-group d-flex flex-wrap align-items-center" style="gap: 15px;">

      <div class="d-flex align-items-center" style="min-width: 55px;">
        <span>{{ schedule.dayOfTheWeekName }}</span>
      </div>
  
      <div *ngIf="!schedule.isClose" class="d-flex align-items-center">
        <dx-date-box [(ngModel)]="schedule.startTime" type="time" [width]="100"></dx-date-box>
      </div>
  
      <div *ngIf="!schedule.isClose" class="d-flex align-items-center">
        <dx-date-box [(ngModel)]="schedule.endTime" type="time" [width]="100"></dx-date-box>
      </div>
  
      <div *ngIf="schedule.isClose" class="d-flex align-items-center">
        <span>Inchis</span>
      </div>
  
      <div class="d-flex align-items-center">
        <dx-check-box [(ngModel)]="schedule.isClose"></dx-check-box>
      </div>
    </div>
    <hr>
  </div>

<dx-button *ngIf="showSaveBtn" (onClick)="saveData()" text="Actualizeaza" type="danger">
</dx-button>