.form-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
  }
  
  .form-group > div {
    display: flex;
    align-items: center;
  }
  
  hr {
    margin: 10px 0;
  }
  