<div id="line">
  <div *ngIf="!hideActions" class="seconditem">
    <div>
      <button type="button" *ngIf="actions.CanAdd" class="btn btn-primary mr-4 mt-3  btn-round float-left padding-fix border-radius-fix" [ngClass]="themeColor"
        (click)="add()" data-toggle="tooltip" title="Add">
        <i class="fa fa-plus-square"></i> &nbsp;
        {{'Adauga'}}
      </button>
      <button type="button" *ngIf="showEditMultiple && rowsSelected" class="btn btn-primary mr-4 mt-3  btn-round float-left padding-fix border-radius-fix"
      (click)="editMultiple()" [ngClass]="themeColor" data-placement="top" data-toggle="tooltip" title="Edit">
      <i class="fa fa-pencil"></i> &nbsp;
      {{'Editeaza'}}
     </button>
      <button type="button" class="btn btn-primary mr-4 mt-3  btn-round float-left padding-fix border-radius-fix" [ngClass]="themeColor" (click)="refresh()"
        data-placement="top" data-toggle="tooltip" title="Refresh">
        <i class="fa fa-repeat"></i> &nbsp;
        {{'Refresh'}}
      </button>
      <button type="button" *ngIf="actions.CanDelete && rowsSelected"
        class="btn btn-primary mr-4 mt-3  btn-round float-left padding-fix border-radius-fix" (click)="displayDeleteConfirmation()" data-placement="top" [ngClass]="themeColor"
        data-toggle="tooltip" title="Delete">
        <i class="fa fa-ban"></i> &nbsp;
        {{'Stergere'}}
      </button>
      <button type="button" id="tooltip" [hidden]="true" 
      (mouseenter)="toggleTemplate()" (mouseleave)="toggleTemplate()" 
      class="btn btn-danger mr-4 mt-3  btn-round float-left padding-fix border-radius-fix" data-placement="top" [ngClass]="btn-danger"
      data-toggle="tooltip" title="Info" (click)="infoClick()">
      <i class="fa fa-info"></i> &nbsp;
      {{'Info'}}
    </button>
      <button type="button" *ngIf="showSpecialButton" class="btn btn-danger mr-4 mt-3  btn-round float-left padding-fix border-radius-fix"
        (click)="specialEventClick()" data-placement="top" [ngClass]="themeColor" data-toggle="tooltip"
        title="{{specialButtonDescription}}">
        <i class="{{specialButtonIcon}}"></i> &nbsp;
        {{specialButtonText}}
      </button>
      <button type="button" *ngIf="showSecondSpecialButton" class="btn btn-danger mr-4 mt-3  btn-round float-left padding-fix border-radius-fix"
        (click)="secondSpecialEventClick()" data-placement="top" [ngClass]="themeColor" data-toggle="tooltip"
        title="{{secondSpecialButtonDescription}}">
        <i class="{{secondSpecialButtonIcon}}"></i> &nbsp;
        {{secondSpecialButtonText}}
      </button>
    </div>
  </div>
  <div *ngIf="!hideActions" class="item">
    <div class="col-md-8 col-lg-8">
      <dx-select-box id="select-all-mode" placeholder="{{'grid.multipleSelectionType' | translate}}" [dataSource]="selectAllModes" displayExpr="value" [(value)]="selectMode" (onSelectionChanged)="onSelectionModeChanged($event)" [searchEnabled]="true"></dx-select-box>
    </div>
  </div>
  <div *ngIf="showExtraButtons" class="thirditem">
    <div class="form-group row">
      <div class="col-2 dx-field-label text-md-right">Extinde Tabel:</div>
      <div class="col-md-2 col-lg-2">
          <dx-switch [(ngModel)]="displayData" (onValueChanged)="display()"></dx-switch>
      </div>
    
      <div class="col-2 dx-field-label text-md-right">Ascunde Actiuni:</div>
      <div class="col-md-2 col-lg-2">
          <dx-switch [(ngModel)]="hideActions" (onValueChanged)="hideColumn($event)"></dx-switch>
      </div>
    </div>
</div>

<dx-tooltip target="#tooltip" position="right" [(visible)]="templateVisible" [closeOnOutsideClick]="false">
  <div *dxTemplate="let data = data of 'content'">
    <h4><b>{{'general.info' | translate}}</b></h4> <br>
    <h5 id="tooltipInfo"></h5>
  </div>
</dx-tooltip>

<dx-popup [width]="500" [height]="250" [resizeEnabled]="true" [showTitle]="true" title="{{'general.confirmDelete' | translate}}"
  [dragEnabled]="false" [closeOnOutsideClick]="true" [(visible)]="deleteConfirmationPopup">
  <h4>{{selectedRows}} - {{'general.records' | translate}}</h4>
  <hr>
  <dx-button stylingMode="contained" text="{{'general.yes' | translate}}" type="danger" [width]="200"
    (onClick)="delete(true)">
  </dx-button>
  <dx-button stylingMode="contained" text="{{'general.no' | translate}}" type="normal" [width]="200"
    (onClick)="delete(false)">
  </dx-button>
</dx-popup>

<dx-popup  [(visible)]="isPopupVisible" [showTitle]="true" title="{{'general.info' | translate}}" (onShowing)="onShowing()">
  <dx-scroll-view width="99%" height="100%">
    <h5 id="popupId" class="left-align"></h5>
  </dx-scroll-view>
</dx-popup>