<app-spinner [visible]="loaded"></app-spinner>
<app-spinner [visible]="specialPriceRequestsDataLoaded"></app-spinner>
<div *ngIf="partner.isClient">
    <div *ngIf="!partner.id">
        <dx-validation-group #salesPriceListValidationGroup>
            <div *ngIf="partner && partner.id" class="mt-4">
                <div class="d-flex align-items-center ms-3 unique-pricipal-activity">
                    <div class="text-md-right me-2">Toate Locatiile:</div>
                    <dx-check-box [(ngModel)]="partner.isPrincipalActivityUniqueForAllLocations" [ngModelOptions]="{standalone: true}"></dx-check-box>
                </div>
            </div>
            <div *ngIf="partner && partner.id && partner.isPrincipalActivityUniqueForAllLocations">
                <div class="col-12">
                    <div class="location-name-label">{{ allLocationNames }}</div>
                </div>
            </div>
            <div class="form-group row mb-4">
                <div class="col-12">
                    <div class="row">
                        <div class="col-1 dx-field-label text-md-right">Activitate principala*:</div>
                        <div class="col-md-3 col-lg-3">
                            <dx-select-box #initialPartnerLocationPartnerPrincipalActivityRef [dataSource]="partnerActivityAllocation"
                                [displayExpr]="getDisplayExprPartnerActivity" valueExpr="id"
                                (onValueChanged)="partnerActivityChange($event)"
                                [searchEnabled]="true" [(ngModel)]="initialPartnerLocation.partnerActivityAllocationId" [ngModelOptions]="{standalone: true}">
                                <dx-validator>
                                    <dxi-validation-rule type="required"
                                        message="{{'required' | translate}}">
                                    </dxi-validation-rule>
                                </dx-validator>
                            </dx-select-box>
                        </div> 
                    </div>
                </div>
    
                <div class="col-12">
                    <div class="row">
                        <div class="col-1 col-md-1 col-lg-1 dx-field-label text-md-right">Liste de pret de vanzare:</div>
                        <div class="col-4 col-md-4 col-lg-4">
                            <dx-tag-box [dataSource]="sortedSalePriceListDS" (onOpened)="onInitialLocationSalePriceListOpen($event)"
                                        [(ngModel)]="initialPartnerLocation.salePriceListIds"
                                        valueExpr="id" [displayExpr]="getDisplayExprSalePriceLists"
                                        [showSelectionControls]="true" [maxDisplayedTags]="10"
                                        [showMultiTagOnly]="false" applyValueMode="useButtons"
                                        [searchEnabled]="true" [hideSelectedItems]="false">
                                <dx-validator>
                                    <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                    </dxi-validation-rule>
                                </dx-validator>
                            </dx-tag-box>
                        </div>
                    </div>
                </div>
            </div>
        </dx-validation-group>
    </div>
    <div *ngIf="partner && partner.id && partnerLocations && partnerLocations.length > 0">
        <dx-validation-group #salesPriceListValidationGroup>
            <div *ngIf="partner.isPrincipalActivityUniqueForAllLocations">
                <div *ngIf="partner && partner.id" class="mt-2">
                    <div class="d-flex align-items-center ms-3 mb-1" style="margin-top: -1rem">
                        <div class="col-auto dx-field-label text-md-right me-2">Toate Locatiile:</div>
                        <dx-check-box [(ngModel)]="partner.isPrincipalActivityUniqueForAllLocations" [ngModelOptions]="{standalone: true}"  (onValueChanged)="onPrincipalActivityUniqueChange($event)"></dx-check-box>

                        <div class="col-auto">
                            <div class="location-name-label">{{ allLocationNames }}</div>
                        </div>
                    </div>
                </div>
        
                <div class="form-group row mb-4">
                    <div class="col-12 mb-2">
                        <div class="row">
                            <div class="col-auto dx-field-label text-md-right">Activitate principala*:</div>
                            <div class="col-md-3 col-lg-3">
                                <dx-select-box #implicitLocationPartnerPrincipalActivityRef [dataSource]="partnerActivityAllocation"
                                    [displayExpr]="getDisplayExprPartnerActivity" valueExpr="id"
                                    (onValueChanged)="selectedPartnerActivityChanged($event, implicitLocation)"
                                    [searchEnabled]="true" [(ngModel)]="implicitLocation.partnerActivityAllocationId" [ngModelOptions]="{standalone: true}">
                                    <dx-validator>
                                        <dxi-validation-rule type="required"
                                            message="{{'required' | translate}}">
                                        </dxi-validation-rule>
                                    </dx-validator>
                                </dx-select-box>
                            </div> 

                            <div class="col-auto dx-field-label text-md-right">Activitati secundare:</div>
                            <div class="col-md-3 col-lg-3">
                                <dx-tag-box [dataSource]="partnerActivityAllocation"
                                    [(ngModel)]="activitiesByLocation[implicitLocation.id]"
                                    valueExpr="id" [displayExpr]="getDisplayExprPartnerActivity"
                                    [showSelectionControls]="true" [maxDisplayedTags]="5"
                                    [showMultiTagOnly]="false" applyValueMode="useButtons"
                                    [searchEnabled]="true" [hideSelectedItems]="false">
                                </dx-tag-box>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-12">
                        <div class="row">
                            <div class="col-auto dx-field-label text-md-right">Liste de Pret de Vanzare:</div>
                            <div class="col-7 col-md-7 col-lg-7">
                                <dx-tag-box [dataSource]="sortedSalePriceListDS"
                                            [(ngModel)]="salesPriceListByLocation[implicitLocation.id]"
                                            valueExpr="id" [displayExpr]="getDisplayExprSalePriceLists"
                                            [showSelectionControls]="true" [maxDisplayedTags]="10"
                                            [showMultiTagOnly]="false" applyValueMode="useButtons"
                                            [searchEnabled]="true" [hideSelectedItems]="false">
                                    <dx-validator>
                                        <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                        </dxi-validation-rule>
                                    </dx-validator>
                                </dx-tag-box>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
            <div *ngIf="!partner.isPrincipalActivityUniqueForAllLocations">
            <div *ngIf="partner && partner.id" class="mt-4 mb-1">
                <div class="d-flex align-items-center ms-3" style="gap: 0.3rem; margin-top:-1rem">
                    <div class="text-md-right me-2">Toate Locatiile:</div>
                    <dx-check-box [(ngModel)]="partner.isPrincipalActivityUniqueForAllLocations" [ngModelOptions]="{standalone: true}"></dx-check-box>
                </div>
            </div>

            <div class="row">
                <div class="col-6" *ngFor="let location of sortedPartnerLocations; let i = index" style="margin-bottom: 1rem; margin-right: -2rem">
                    <div class="col-4">
                        <div class="location-name-label">Locatia {{ location.name }}</div>
                    </div>
        
                    <div class="col-12 mb-2">
                        <div class="row">
                            <div class="col-auto dx-field-label text-md-right">Activitate principala*:</div>
                            <div class="col-md-4 col-lg-4">
                                <dx-select-box #locationPartnerPrincipalActivityRef [dataSource]="partnerActivityAllocation"
                                    [displayExpr]="getDisplayExprPartnerActivity" valueExpr="id" [dropDownOptions]="{ minWidth: '370' }"
                                    [searchEnabled]="true" (onValueChanged)="selectedPartnerActivityChanged($event, location)"
                                    [(ngModel)]="location.partnerActivityAllocationId"
                                    [ngModelOptions]="{standalone: true}">
                                    <dx-validator>
                                        <dxi-validation-rule type="required"
                                            message="{{'required' | translate}}">
                                        </dxi-validation-rule>
                                    </dx-validator>
                                </dx-select-box>
                            </div> 

                            <div class="col-auto dx-field-label text-md-right">Activitati secundare:</div>
                            <div class="col-md-4 col-lg-4">
                                <dx-tag-box [dataSource]="partnerActivityAllocation"
                                    [(ngModel)]="activitiesByLocation[location.id]" [dropDownOptions]="{ minWidth: '370' }"
                                    valueExpr="id" [displayExpr]="getDisplayExprPartnerActivity"
                                    [showSelectionControls]="true" [maxDisplayedTags]="5"
                                    [showMultiTagOnly]="false" applyValueMode="useButtons"
                                    [searchEnabled]="true" [hideSelectedItems]="false">
                                </dx-tag-box>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-12">
                        <div class="row">
                            <div class="col-auto dx-field-label text-md-right">Liste de pret de vanzare:</div>
                            <div class="col-9 col-md-9 col-lg-9">
                                <dx-tag-box [dataSource]="sortedSalePriceListDS"
                                        [(ngModel)]="salesPriceListByLocation[location.id]" [dropDownOptions]="{ minWidth: '450' }"
                                        valueExpr="id" [displayExpr]="getDisplayExprSalePriceLists"
                                        [showSelectionControls]="true" [maxDisplayedTags]="10"
                                        [showMultiTagOnly]="false" applyValueMode="useButtons"
                                        [searchEnabled]="true" [hideSelectedItems]="false">
                                <dx-validator>
                                    <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                    </dxi-validation-rule>
                                </dx-validator>
                            </dx-tag-box>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <br />
        </dx-validation-group>
    </div>
</div>

<div *ngIf="partner && partner.id && partner.isClient && partnerLocations && partnerLocations.length > 0" class="col-md-4 col-lg-4 mb-4" style="margin-top: -1rem">
    <dx-button text="Salveaza" class="save-btn" (click)="onSalesPriceListSaveClick()"></dx-button> &nbsp;
    <dx-button text="Istoric Preturi Speciale Solicitate" class="special-price-requests-history-btn" (click)="onSpecialPriceRequestsHistoryClick()"></dx-button>
</div>

<hr *ngIf="partner && partner.isClient && partner.isSupplier" />

<div *ngIf="partner && partner.id && specialPriceRequestHistory && specialPriceRequestHistory.length > 0">  
    <dx-data-grid id="specialPriceRequestHistoryGridContainer" #specialPriceRequestHistoryDataGrid [dataSource]="specialPriceRequestHistory" 
        [rowAlternationEnabled]="true" [showBorders]="false" [allowColumnReordering]="true">
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-filter-panel [visible]="true">
        </dxo-filter-panel>
        <dxo-header-filter [visible]="true">
        </dxo-header-filter>
        <dxo-load-panel [enabled]="true"></dxo-load-panel>
        <dxo-sorting mode="multiple"></dxo-sorting>
        <dxo-editing mode="cell" [allowUpdating]="true"></dxo-editing>
        <dxo-paging [pageSize]="15"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>
        <dxi-column dataField="" caption="" [allowEditing]="false" cellTemplate="itemHistoryTemplate" alignment="center" [width]="70"></dxi-column>
        <dxi-column dataField="itemId" caption="Articol (Cod - Denumire) - Istoric Cereri" [allowEditing]="false" alignment="left" [width]="500">
            <dxo-lookup [dataSource]="itemDS" valueExpr="id" [displayExpr]="getDisplayExprItems">
            </dxo-lookup>           
        </dxi-column>
        <dxi-column dataField="quantity" caption="Cantitate Solicitata" [allowEditing]="false" dataType="number" alignment="right" format="#,###" [width]="100"></dxi-column>
        <dxi-column dataField="baxValueComputed" caption="Bax" [allowEditing]="false" dataType="string" alignment="right" format="#,###.##" [minWidth]="70" [width]="70"></dxi-column>
        <dxi-column dataField="stock" caption="Stoc" dataType="number" [allowEditing]="false" alignment="right" format="#,###" [minWidth]="70" [width]="100"></dxi-column>
        <dxi-column dataField="turnoverRsComputed" caption="R3/6/9/12" dataType="string" [allowEditing]="false" alignment="right" [minWidth]="100" [width]="200"></dxi-column>
        <dxi-column dataField="d0Andc0" caption="D0 (C0)" dataType="string" [allowEditing]="false" alignment="right" [width]="100"></dxi-column>
        <dxi-column dataField="priceOfferedWithoutTva" caption="Pret Ofertat" dataType="number" [allowEditing]="false" alignment="right" format="{ type: 'fixedPoint', precision: 2 }" cellTemplate="priceOfferedWithoutTvaTemplate" [width]="100">
            <dxo-format type="fixedPoint" [precision]="2"></dxo-format>  
        </dxi-column>
        <dxi-column dataField="discountGridCmpComputed" caption="% Grila(CMP)" dataType="string" [allowEditing]="false" alignment="left" cellTemplate="discountGridCmpComputedTemplate" [minWidth]="100" [width]="150"></dxi-column>
        <dxi-column dataField="priceRequestedWithoutTva" caption="Pret Solicitat" dataType="number" [allowEditing]="false" alignment="right" format="{ type: 'fixedPoint', precision: 2 }"  cellTemplate="priceRequestedWithoutTvaTemplate" [width]="100">
            <dxo-format type="fixedPoint" [precision]="2"></dxo-format>  
        </dxi-column>
        <dxi-column dataField="discountGridCmpRequestedComputed" caption="% Cerere(CMP)" dataType="string" [allowEditing]="false" alignment="left" cellTemplate="discountGridCmpRequestedComputedTemplate" [minWidth]="100" [width]="150"></dxi-column>
        <dxi-column dataField="competingPartnerId" caption="Firma Concurenta" dataType="string" alignment="left" [allowEditing]="false" [width]="300">
            <dxo-lookup [dataSource]="partnersDS" valueExpr="id" [displayExpr]="getDisplayExprPartners">
            </dxo-lookup>            
        </dxi-column>
        <dxi-column id="priceApprovedId" dataField="priceApproved" caption="Pret Aprobat" dataType="number" [allowEditing]="false" alignment="right" format="#,###.##" cellTemplate="priceApprovedTemplate" [width]="100">
            <dxo-format type="fixedPoint" [precision]="2"></dxo-format>  
        </dxi-column>
        <dxi-column dataField="approvedDiscountGridCmp" caption="% Grila Aprobat(CMP)" dataType="string" [allowEditing]="false" alignment="left" cellTemplate="approvedDiscountGridCmpTemplate" [minWidth]="100" [width]="150"></dxi-column>
        <dxi-column dataField="approvedQuantity" caption="Cantitate Aprobata" [allowEditing]="false" dataType="number" alignment="right" format="#,###" cellTemplate="approvedQuantityCellTemplate" [width]="100"></dxi-column>
        <dxi-column dataField="approvedPaymentConditions" caption="Conditii Plata Aprobata" dataType="string" [allowEditing]="false" alignment="left" [width]="200"></dxi-column>
        <dxi-column dataField="created" caption="Creat" dataType="date" format="dd.MM.yyyy" [allowEditing]="false" alignment="center" [width]="100"></dxi-column>
        <dxi-column dataField="approvingUser" caption="Validat de catre" dataType="string" alignment="left" [allowEditing]="false" [width]="100"></dxi-column>
        <dxi-column dataField="" caption="Validare Cos" dataType="string" alignment="left" [allowEditing]="false" [width]="100" headerCellTemplate="basketValidationHeaderTemplate"></dxi-column>
        <dxi-column dataField="" caption="Cant" dataType="string" alignment="right" [allowEditing]="false" [width]="100" headerCellTemplate="basketQuantitHeaderTemplate"></dxi-column>
    
        <div *dxTemplate="let info of 'basketValidationHeaderTemplate'" class="rejected-header-template">
            <p id="basketValidationHeader" style="margin: 0">{{info.column.caption}}</p> 
        </div>   
        
        <div *dxTemplate="let info of 'basketQuantitHeaderTemplate'" class="rejected-header-template">
            <p id="basketQuantityHeader" style="margin: 0">{{info.column.caption}}</p>
        </div> 

        <div *dxTemplate="let data of 'itemHistoryTemplate'; let i = index">                     
            <div class="price-approved-info-buttons">
                <div>
                    <i class="fa fa-info-circle history" [attr.id]="generateTooltipHistoryId(data.data.id)" aria-hidden="true" (mouseenter)="onMouseEnterHistory(data.data.itemId, data.data.id)"></i>
                </div>
                &nbsp;
                <div>
                    <i class="fa fa-registered fa-2x" style='padding-right : 15px;' href="javascript:void(0)" title="Rulaj" (click)="openItemTurnover(data.data.itemId)"></i>
                </div>
            </div>
        </div>
        <div *dxTemplate="let data of 'discountGridCmpComputedTemplate'">
            <ng-container>
                <div [title]="data.data.discountGridCmpComputed">
                    {{ data.data.salePriceListCode }}
                    <span [ngStyle]="{ 'color': data.data.auxDiscountGrid < 0 ? 'red' : 'inherit' }">
                        {{ data.data.auxDiscountGrid }}%
                    </span>
                    <span>
                        (<span [ngStyle]="{ 'color': data.data.auxCmp < 0 ? 'red' : 'inherit' }">
                            {{ data.data.auxCmp }}%
                        </span>)
                    </span>
                </div>
            </ng-container>
        </div> 
        <div *dxTemplate="let data of 'discountGridCmpRequestedComputedTemplate'">
            <ng-container>
                <div [title]="data.data.discountGridCmpRequestedComputed">
                    {{ data.data.salePriceListCode }}
                    <span [ngStyle]="{ 'color': data.data.auxDiscountGridRequested < 0 ? 'red' : 'inherit' }">
                        {{ data.data.auxDiscountGridRequested }}%
                    </span>
                    <span>
                        (<span [ngStyle]="{ 'color': data.data.auxCmpRequested < 0 ? 'red' : 'inherit' }">
                            {{ data.data.auxCmpRequested }}%
                        </span>)
                    </span>
                </div>
            </ng-container>
        </div>  
        <div *dxTemplate="let data of 'approvedDiscountGridCmpTemplate'">
            <ng-container *ngIf="data.data.priceApproved">
                <div [title]="data.data.approvedDiscountGridCmp">
                    {{ data.data.salePriceListCode }}
                    <span [ngStyle]="{ 'color': data.data.auxDiscountGridApproved < 0 ? 'red' : 'inherit' }">
                        {{ data.data.auxDiscountGridApproved }}%
                    </span>
                    <span>
                        (<span [ngStyle]="{ 'color': data.data.auxCmpRequestedApproved < 0 ? 'red' : 'inherit' }">
                            {{ data.data.auxCmpRequestedApproved }}%
                        </span>)
                    </span>
                </div>
            </ng-container>
        </div>     
        <div *dxTemplate="let data of 'priceRequestedWithoutTvaTemplate'">
            <div class="price-style" [ngStyle]="{ 'color': data.data.priceRequestedWithoutTva == data.data.priceApproved ? 'blue' : 'inherit' }">{{ data.data.priceRequestedWithoutTva | number:'1.2-2' }}</div>
        </div>   
        <div *dxTemplate="let data of 'priceOfferedWithoutTvaTemplate'">
            <div class="price-style" [ngStyle]="{ 'color': (data.data.isRejected) ? 'red' : 'inherit' }">{{ data.data.priceOfferedWithoutTva | number:'1.2-2' }}</div>
        </div>   
        <div *dxTemplate="let data of 'priceApprovedTemplate'">
            <div class="price-style" [ngStyle]="{ 'color': (data.data.priceApproved != data.data.priceRequestedWithoutTva && !data.data.isRejected) 
                ? 'green' 
                : (data.data.isRejected)
                ? 'red' : 'inherit' }">{{ data.data.priceApproved | number:'1.2-2' }}</div>
        </div>  
        <div *dxTemplate="let data of 'approvedQuantityCellTemplate'">
            <div class="price-style">{{ data.data.approvedQuantity | number:'1.0-0' }}</div>
        </div>             
    </dx-data-grid>  
    
    <ng-container *ngFor="let item of specialPriceRequestHistory; let i = index">
        <dx-popover position="left" [target]="'#' + generateTooltipHistoryId(item.id)" showEvent="mouseenter" [hideEvent]="{ name: 'mouseleave' }" (onHiding)="onHidingHistory($event)">
          <div *dxTemplate="let data of 'content'" class="info-tooltip">
            <div *ngIf="priceApprovedTooltipData[item.id] && priceApprovedTooltipData[item.id].length > 0; else noHistory">
            <div>
                {{ (priceApprovedTooltipData[item.id] && priceApprovedTooltipData[item.id].length > 0) && priceApprovedTooltipData[item.id][0].itemData }}
            </div>
              <dx-scroll-view width="100%" height="350px">
                <table class="styled-table no-padding-margin">
                  <tr>
                    <th>Data</th>
                    <th>Firma</th>
                    <th>Pret Solicitat</th>
                    <th>Pret Aprobat</th>
                    <th>Cantitate Solicitata</th>
                    <th>Cantitate Aprobata</th>
                    <th>Tip Aprobare DG</th>
                  </tr>
                  <tr *ngFor="let entry of priceApprovedTooltipData[item.id]">
                    <td>{{ entry.created }}</td>
                    <td>{{ entry.partner }}</td>
                    <td class="align-right">{{ entry.priceRequested }}</td>
                    <td class="align-right">{{ entry.priceApproved }}</td>
                    <td class="align-right">{{ entry.quantity }}</td>
                    <td class="align-right">{{ entry.approvedQuantity }}</td>
                    <td>{{ entry.rejectedStatus }}</td>
                  </tr>
                </table>
              </dx-scroll-view>
            </div>
            <ng-template #noHistory>
              <div>
                Nu are istoric
              </div>
            </ng-template>
          </div>
        </dx-popover>
    </ng-container>
    
    <dx-popup *ngIf="isItemTurnoverPopupOpened" [showTitle]="true" [resizeEnabled]="true" title="Rulaj Produs" [dragEnabled]="true"
        [closeOnOutsideClick]="false" [(visible)]="isItemTurnoverPopupOpened" width="82%" height="70%" class="custom-popup" [shading]="false">   
        <div class="item-turnover-data-loading" *ngIf="!isDataLoading">Se incarca...</div>
        <div class="item-turnover-wrapper">
            <app-item-turnover [filterItemCode]="filterTurnoverItemCode" #itemTurnoverComponent
                (displayItemTurnoverPopup)="displayItemTurnoverPopupChange($event)">
            </app-item-turnover>
        </div>  
    </dx-popup>
    
    <dx-tooltip target="#priceApprovedId" showEvent="dxhoverstart" hideEvent="dxhoverend">
        <div *dxTemplate="let data of 'content'" class="info-tooltip" position="bottom">
            {{ data.isRejected ? 'RESPINS' : '' }}
        </div>
    </dx-tooltip>
</div>

<dx-tooltip target="#basketValidationHeader" showEvent="dxhoverstart" hideEvent="dxhoverend">
    <div *dxTemplate="let data of 'content'" class="info-tooltip" position="bottom">
        Dezvoltare Ulterioara
    </div>
</dx-tooltip>

<dx-tooltip target="#basketQuantityHeader" showEvent="dxhoverstart" hideEvent="dxhoverend">
    <div *dxTemplate="let data of 'content'" class="info-tooltip" position="bottom">
        Dezvoltare Ulterioara
    </div>
</dx-tooltip>



