.dx-checkbox-icon {
    position: absolute;
    right: 2rem;
    pointer-events: auto;
}

.location-name-label {
    font-weight: bold;
}

.save-btn {
    background-color: #ffe596;
    color: black;
}

.unique-pricipal-activity {
    gap: 2rem;
    font-weight: bold;
  }

  .fa-floppy-o, .fa-registered, .fa-ban, .fa-close {
    color: rgb(196, 0, 0);
  }
  
  .fa-info-circle.history {
    color: rgb(0, 100, 231);
    font-size: 20px;
  }
  
  .fa-info-circle.auction {
    color: rgb(0, 0, 0);
    font-size: 20px;
  }
  
  .styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
  }
  
  .styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
  }
  
  .styled-table th, .styled-table td {
    padding: 3px 3px;
    border: 1px solid #dddddd;
  }
  
  .styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  
  .styled-table td.align-right {
    text-align: right;
  }
  
  .price-approved-info-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.3rem;
  }
  
  .custom-tooltip {
    position: absolute;
    z-index: 9999;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    max-width: 300px;
    display: none;
  }
  
  .tooltip-content {
    max-height: 300px;
    overflow-y: auto;
  }
  
  .tooltip-table {
    width: 100%;
  }
  
  .align-right {
    text-align: right;
  }
  
  .hidden {
    display: none;
  }
  
  .no-padding-margin {
    margin: 0;
    padding: 0;
  }
  
  .fa-close, .fa-copy {
    font-size: 25px;
  }
  
  .rejected-header-template {
    display: flex; 
    align-items: center;
  }
  
  .tooltip.financial-info {
    font-size: 14px;
  }
  
  .negative-number {
    color: red;
  }
  
  .price-style {
    font-weight: bold;
  }
  
  .quantity-width {
    max-width: 400;
  }
  
  .item-turnover-data-loading {
    font-size: 16px;
  }
  
  .item-turnover-wrapper {
    overflow: auto;
  }

  .row {
    margin-left: -10px;
    margin-right: -10px; 
  }
  
  .row > .col,
  .row > [class*='col-'] {
    padding-left: 5px; 
    padding-right: 5px;
  }

  .header-label {
    font-size: 20px;
    font-weight: bold;
    color: #4f4f4f;
    background-color: #f8f9fa;
    padding: 6px 8px;
    border-radius: 8px;
    text-align: left;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    margin-bottom: 1rem;
  }

  .special-price-requests-history-btn {
    background-color: #26c6da;
    color: white;
}
