<app-spinner [visible]="loaded"></app-spinner>
<div class="main-content">
    <div class="container-fluid">
        <div class="card card-plain">
            <app-title [title]="'Sugestii Clienti'"></app-title>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-6">
                    <div class="mt-4">
                        <app-grid-toolbar #reviewGridToolbar [actions]="actions" [showColumnSettings]="true" [showExcel]="true" [showInfo]="true" [infoText]="partnerReviewInfo"
                            [fileName]="'partnerReviewQuestions'" [showPrint]="true" (addEvent)="add()"
                            (refreshEvent)="refreshReviews()">
                        </app-grid-toolbar>
                        <div class="float-none" style="clear: both;"></div>
                    </div>
                    <div class="mt-4"></div>
                    <dx-data-grid id="gridContainer" #partnerReviewsDataGrid [dataSource]="partnerReviewQuestions" (onInitNewRow)="onInitNewRow($event)"
                        showBorders="true" showRowLines="true" [allowColumnReordering]="true" (onSelectionChanged)="selectionReviewChanged($event)" (onRowPrepared)="onRowPrepared($event)"
                        (onEditorPreparing)="onEditorPreparing($event)" (onRowInserting)="onRowReviewInserting($event)" (onRowUpdated)="onRowUpdated($event)">
                        <dxo-selection mode="multiple" showCheckBoxesMode="always"></dxo-selection>
                        <dxo-filter-row [visible]="true"></dxo-filter-row>
                        <dxo-filter-panel [visible]="true">
                        </dxo-filter-panel>
                        <dxo-header-filter [visible]="true">
                        </dxo-header-filter>
                        <dxo-export [enabled]="canExport()" [allowExportSelectedData]="true"></dxo-export>
                        <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
                        <dxo-group-panel [visible]="true" [emptyPanelText]="groupedText"></dxo-group-panel>
                        <dxo-load-panel [enabled]="true"></dxo-load-panel>
                        <dxo-sorting mode="multiple"></dxo-sorting>
                        <dxo-editing mode="form">
                            <dxo-form>
                                <dxi-item dataField="question"></dxi-item>
                                <dxi-item dataField="isActive"></dxi-item>
                            </dxo-form>
                        </dxo-editing>
                        <dxo-paging [pageSize]="15"></dxo-paging>
                        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>
                        <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
                    
                        <dxi-column dataField="question" caption="Intrebare" dataType="string" alignment="left" [width]="800" [minWidth]="800">
                            <dxi-validation-rule type="required" message="{{'required' | translate}}"></dxi-validation-rule>
                            <dxi-validation-rule type="stringLength" [max]="800" message="Lungimea maximă depășită!"></dxi-validation-rule>
                        </dxi-column>
                    
                        <dxi-column dataField="isActive" caption="Activ" dataType="boolean" alignment="center"></dxi-column>
                        
                        <dxi-column caption="Actiuni" cellTemplate="cellTemplate"  alignment="center">
                        </dxi-column>
                        <div *dxTemplate="let data of 'cellTemplate'">
                            <i class="fa fa-pencil fa-2x" style='padding-right : 15px' href="javascript:void(0)"
                                title="Edit" (click)="openDetails(data)"></i>
                        </div>
                    </dx-data-grid>
                </div>
            </div>
        </div>
    </div>
  </div>