<div class="modal-body">
    <dx-validation-group #validationSearchGroup>
 
        <div class="form-group row">
            <div class="col-1 dx-field-label text-md-right">Grup CPV:</div>
            <div class="col-md-2 col-lg-2">
                <dx-select-box [dataSource]="auctionGroups" displayExpr="name" valueExpr="id"
                    [(ngModel)]="auctionSearchFilter.auctionGroupId" [searchEnabled]="true">
                </dx-select-box>
            </div>
            <div class="col-1 dx-field-label text-md-right">Tip Licitatie:</div>
            <div class="col-md-2 col-lg-2">
                <dx-select-box [dataSource]="auctionTypes" [displayExpr]="auctionTypeExpr" valueExpr="id"
                [(ngModel)]="auctionSearchFilter.auctionTypeId" [searchEnabled]="true">
            </dx-select-box>
            </div>
            <div class="col-1 dx-field-label text-md-right">Cod CPV (Grup):</div>
            <div class="col-md-2 col-lg-2">
                <dx-tag-box [dataSource]="cpvCodes" [(ngModel)]="auctionSearchFilter.cpvCodeIds" valueExpr="id"
                    [displayExpr]="getCpvCodeExpr" [maxDisplayedTags]="2" [showSelectionControls]="true" [showMultiTagOnly]="false"
                    applyValueMode="useButtons" [searchEnabled]="true" [hideSelectedItems]="false"
                    [selectAllMode]="'allPages'">
                </dx-tag-box>
            </div>
            <div class="col-1 dx-field-label text-md-right">Denumire Licitatie:</div>
            <div class="col-md-2 col-lg-2">
                <dx-text-box [(ngModel)]="auctionSearchFilter.acquisitionName" [maxLength]="100">
                </dx-text-box>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-1 dx-field-label text-md-right">Denumire Companie:</div>
            <div class="col-md-2 col-lg-2">
                <dx-text-box [(ngModel)]="auctionSearchFilter.acquisitionerName" [maxLength]="100">
                </dx-text-box>
            </div>
            <div class="col-1 dx-field-label text-md-right">Tara:</div>
            <div class="col-md-2 col-lg-2">
                <dx-text-box [(ngModel)]="auctionSearchFilter.country" [maxLength]="100">
                </dx-text-box>
            </div>
            <div class="col-1 dx-field-label text-md-right">Judet:</div>
            <div class="col-md-2 col-lg-2">
                <dx-text-box [(ngModel)]="auctionSearchFilter.county" [maxLength]="100">
                </dx-text-box>
            </div>
            <div class="col-1 dx-field-label text-md-right">Data Licitatie de la:</div>
            <div class="col-md-2 col-lg-2">
                <dx-date-box [(ngModel)]="auctionSearchFilter.acquisitionDate" type="datetime" displayFormat="dd-MM-yyyy HH:mm">
                </dx-date-box>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-1 dx-field-label text-md-right">Data Licitatie pana la:</div>
            <div class="col-md-2 col-lg-2">
                <dx-date-box [(ngModel)]="auctionSearchFilter.endDate" type="datetime" (onValueChanged)="endDateEventChange($event)" displayFormat="dd-MM-yyyy HH:mm">
                </dx-date-box>
            </div>
            <div class="col-1 dx-field-label text-md-right">Valoare estimata de la:</div>
            <div class="col-md-2 col-lg-2">
                <dx-number-box [(ngModel)]="auctionSearchFilter.underEstimatedValue">
                </dx-number-box>
            </div>
            <div class="col-1 dx-field-label text-md-right">Valoare estimata pana la:</div>
            <div class="col-md-2 col-lg-2">
                <dx-number-box [(ngModel)]="auctionSearchFilter.overEstimatedValue">
                </dx-number-box>
            </div>
            <div class="col-1 dx-field-label text-md-right">Stare:</div>
            <div class="col-md-2 col-lg-2">
                <dx-select-box [dataSource]="auctionStatusTypes" displayExpr="name" valueExpr="id"
                [(ngModel)]="auctionSearchFilter.status" [searchEnabled]="true">
                </dx-select-box>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-1 dx-field-label text-md-right">Tip Participare:</div>
            <div class="col-md-2 col-lg-2">
                <dx-select-box [dataSource]="auctionParticipationTypes" displayExpr="name" valueExpr="id"
                [(ngModel)]="auctionSearchFilter.participationTypeId" [searchEnabled]="true">
                </dx-select-box>
            </div>

            <div class="col-md-1 col-lg-1">
                <dx-radio-group [items]="auctionStates" [(ngModel)]="selectedAuctionState">
                </dx-radio-group>
            </div>

            <div *ngIf="selectedAuctionState.id === 0" class="col-1 dx-field-label text-md-right">Licitatii in termen (zile) :</div>
            <div *ngIf="selectedAuctionState.id === 0" class="col-md-1 col-lg-1">
                <dx-select-box [dataSource]="dayOverEndDateOptions" displayExpr="name" valueExpr="id"
                    [(ngModel)]="auctionSearchFilter.endingDate" [searchEnabled]="true">
                </dx-select-box>
            </div>

            <div class="col-1 dx-field-label text-md-right">Post:</div>
            <div class="col-md-2 col-lg-2">
                <dx-select-box [dataSource]="allPosts" [displayExpr]="displayPostExpr" valueExpr="id" [searchEnabled]="true"
                    [(ngModel)]="auctionSearchFilter.postId">
                </dx-select-box>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-1 dx-field-label text-md-right">Ascunde respins:</div>
            <div class="col-md-2 col-lg-2">
                <dx-switch [(ngModel)]="auctionSearchFilter.hideRejected"></dx-switch>
            </div>
        </div>
       
    </dx-validation-group>

    <hr>
    <div class="form-group row">
        <dx-button text="{{'search' | translate}}" (onClick)="searchAuctions()">
        </dx-button>
        &nbsp; &nbsp; &nbsp;
        <dx-button text="Resetare filtru" (onClick)="resetFilters()">
        </dx-button>
    </div>
</div>