<div class="main-content">
    <div class="container-fluid">
        <div class="card card-plain">
            <app-title [title]="'Observatii Partener - ' + partnerName"></app-title>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-6">
                  
                    <hr>
                    <div>
                        <app-partner-observations #partnerObservationsComponent></app-partner-observations>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>