<app-spinner [visible]="loaded"></app-spinner>
<dx-popup *ngIf="isShoppingCartPopupOpen" width="90%" height="90%" [showTitle]="true" [resizeEnabled]="true" (onHiding)="onHidingPopup($event)"
   title="Cosul Clientului - Produse dorite" [dragEnabled]="true" [closeOnOutsideClick]="true" [(visible)]="isShoppingCartPopupOpen">

   <dx-scroll-view width="100%" height="100%">
      <div>
         <div class="form-container">
            <div class="flex-container">
               <div class="flex-item-no-space button">
                  <dx-button id="sendOfferToPartnerBtnShoppingCart" (mouseenter)="getSendOfferToPartnerLogTooltipData()" (mouseleave)="hideSendOfferToPartnerLogTooltipData()" text="Trimite oferta" (onClick)="openGeneralOfferPopup()" type="danger"></dx-button>
                </div>
      
                <div id="discountGridsTooltipShoppingCart" class="flex-item-no-space button" (mouseenter)="toggleTemplate()" (mouseleave)="toggleTemplate()">
                  <dx-button text="Grile" type="danger"></dx-button>
                </div>
      
               <div *ngIf="orderForTheAmount" class="form-group row"> 
                  <div class="col-md-2 col-lg-2"></div>    
                  <div class="order-for-the-amount" *ngIf="!isOrderAmountCommunicatedToClient">
                     <div *ngIf="orderForTheAmount">
                         <b style="color: red; font-size: 19px; margin-left: 5px">Comunica: La o {{orderForTheAmount}}</b>
                     </div>
                 </div>
                 <div *ngIf="isOrderAmountCommunicatedToClient">
                     <div *ngIf="orderForTheAmount">
                         <b style="color: #00acc1; font-size: 19px; margin-left: 5px">{{ alreadyCommunicatedOrderForTheAmount }}</b>
                     </div>
                 </div>
               </div> 
            </div>
         </div>
      </div>

      <hr>

      <div class="add-items-btns-options">
         <dx-button id="manuallyAddItemsBtn" [ngClass]="{'button-active': isManuallyAddItemsBtnActive}" text="Adauga Produse" (onClick)="onManuallyAddItems()"></dx-button> 
         <dx-button id="copyAddItemsBtn" [ngClass]="{'button-active': isCopyAddItemsBtnActive}" text="Insereaza Produse" (onClick)="onCopyAddItems()"></dx-button> 
         <dx-button id="excelImportAddItemsBtn" [ngClass]="{'button-active': isExcelImportAddItemsBtnActive}" text="Importa Excel" (onClick)="onExcelImportAddItems()"></dx-button> 
      </div>

      <div *ngIf="isManuallyAddItemsBtnActive">
         <div class="mb-1">
            <dx-button class="save-button" style="margin-right: 0.5rem" text="Adauga produs" (click)="manuallyAddItem()" stylingMode="contained" type="normal"></dx-button>
            <dx-button class="save-button" text="Salveaza" (click)="onSaveManuallyAddedItems()" stylingMode="contained" type="warning"></dx-button>
         </div>

         <div class="mt-1">
            <dx-data-grid #manuallyAddItemsDataGrid [dataSource]="manuallyAddItemsDataSource" (onRowInserting)="onManuallyAddItemsToShoppingCartRowInserting($event)"
               [rowAlternationEnabled]="true" [allowColumnReordering]="false" showBorders="true" showRowLines="true">
               <dxo-editing mode="cell" [allowUpdating]="true"></dxo-editing>
               <dxo-paging [pageSize]="15"></dxo-paging>
               <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>
               <dxi-column dataField="itemId" caption="Produs" [allowEditing]="true" dataType="number" alignment="LEFT">
                  <dxo-lookup [dataSource]="itemsDS" valueExpr="id" [displayExpr]="displayCodeExpr">
                  </dxo-lookup>
               </dxi-column>

               <dxi-column dataField="quantity" caption="Cantitate" [width]="150" [minWidth]="150" [allowEditing]="true" dataType="number" alignment="right"></dxi-column>
               <dxi-column caption="" cellTemplate="cellTemplate" [width]="40" [minWidth]="40" alignment="center">
               </dxi-column>   
               <div *dxTemplate="let data of 'cellTemplate'">
                  <i class="fa fa-ban fa-2x" href="javascript:void(0)" title="Stergere" (click)="deleteManuallyAddedItem(data.data)"></i>
               </div>
            </dx-data-grid>
         </div>
      </div>

      <div *ngIf="isCopyAddItemsBtnActive">
         <div class="mb-1">
            <dx-button class="save-button" text="Salveaza" (click)="onSaveCopyAddedItems()" stylingMode="contained" type="warning"></dx-button>
         </div>

         <div class="mt-1">
            <dx-data-grid #copyAddItemsDataGrid [dataSource]="copyAddItemsDataSource"
               [rowAlternationEnabled]="true" [allowColumnReordering]="false" showBorders="true" showRowLines="true">
               <dxo-editing mode="cell" [allowUpdating]="true"></dxo-editing>
               <dxo-paging [pageSize]="15"></dxo-paging>
               <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>
               <dxi-column dataField="itemId" caption="Produs" [allowEditing]="true" dataType="number" alignment="LEFT">
                  <dxo-lookup [dataSource]="itemsDS" valueExpr="id" [displayExpr]="displayCodeExpr">
                  </dxo-lookup>
               </dxi-column>

               <dxi-column dataField="quantity" caption="Cantitate" [width]="150" [minWidth]="150" [allowEditing]="true" dataType="number" alignment="right"></dxi-column>
               <dxi-column caption="" cellTemplate="cellTemplate" [width]="40" [minWidth]="40" alignment="center">
               </dxi-column>   
               <div *dxTemplate="let data of 'cellTemplate'">
                  <i class="fa fa-ban fa-2x" href="javascript:void(0)" title="Stergere" (click)="deleteCopyAddedItem(data.data)"></i>
               </div>      
            </dx-data-grid>
         </div>
      </div>

      <div *ngIf="isExcelImportAddItemsBtnActive" class="mb-3">
         <div class="upload-container">
            <dx-file-uploader #excelImportFileUploader class="file-uploader" selectButtonText="Selecteaza un fisier" 
               labelText="Incarca/trage un fisier aici" accept=".xls, .xlsx" uploadMode="useForm" (change)="onUploadExcelFileChange($event)" 
               [allowedFileExtensions]="['.xls', '.xlsx']" invalidFileExtensionMessage="Tip fisier neacceptat">
            </dx-file-uploader>
         </div>

         <div class="mb-1">
            <dx-button class="save-button" text="Salveaza" (click)="onSaveExcelImportAddedItems()" stylingMode="contained" type="warning"></dx-button>
         </div>

         <div class="mt-1">
            <dx-data-grid #excelImportAddItemsDataGrid [dataSource]="excelImportAddItemsDataSource"
               [rowAlternationEnabled]="true" [allowColumnReordering]="false" showBorders="true" showRowLines="true">
               <dxo-editing mode="cell" [allowUpdating]="true"></dxo-editing>
               <dxo-paging [pageSize]="15"></dxo-paging>
               <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>
               <dxi-column dataField="itemId" caption="Produs" [allowEditing]="true" dataType="number" alignment="LEFT">
                  <dxo-lookup [dataSource]="itemsDS" valueExpr="id" [displayExpr]="displayCodeExpr">
                  </dxo-lookup>
               </dxi-column>

               <dxi-column dataField="quantity" caption="Cantitate" [width]="150" [minWidth]="150" [allowEditing]="true" dataType="number" alignment="right"></dxi-column>
               <dxi-column caption="" cellTemplate="cellTemplate" [width]="40" [minWidth]="40" alignment="center">
               </dxi-column>   
               <div *dxTemplate="let data of 'cellTemplate'">
                  <i class="fa fa-ban fa-2x" href="javascript:void(0)" title="Stergere" (click)="deleteExcelImportAddedItem(data.data)"></i>
               </div>      
            </dx-data-grid>
         </div>
      </div>

      <div *ngIf="(!turnoverPreorders || (turnoverPreorders && turnoverPreorders.length === 0))" class="empty-cart-message">
         <div class="message-box">
            <h2>Fara produse in cos</h2>
            <p>Momentan, nu aveti niciun produs adaugat in cos. Adaugati produse pentru a incepe comanda!</p>
         </div>
      </div>

      <div *ngFor="let site of filteredSites; let i = index" >
         <div *ngIf="hasDataForSite(site.id)" class="form-group row mt-5" style="padding: 0.5rem">
            <div class="location-container">
               <label class="location-label">Locatia <span *ngIf="i === 0">(implicita)</span>:</label>
               <div class="location-name-container">
                 <span class="location-name">{{ getDisplayExprSite(site) }}</span>
               </div>
             </div>
         
            <div class="col-12 mt-3">
               <dx-data-grid [dataSource]="getDataSourceForSite(site.id)" [rowAlternationEnabled]="false" [showBorders]="true" [showLines]="true"
                  [allowColumnResizing]="true" (onSelectionChanged)="onTurnoverPreordersSelectionChanged($event)" [allowColumnReordering]="true"
                  (onRowUpdated)="onRowUpdatedTurnoverPreorders($event)" (onCellPrepared)="onBasketCellPrepared($event)" (onRowPrepared)="onBasketRowPrepared($event)">
                  <dxo-selection mode="multiple" showCheckBoxesMode="always"></dxo-selection>
                  <dxo-header-filter [visible]="true"></dxo-header-filter>
                  <dxo-load-panel [enabled]="true"></dxo-load-panel>
                  <dxo-sorting mode="multiple"></dxo-sorting>
                  <dxo-paging [pageSize]="10"></dxo-paging>
                  <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 15]"></dxo-pager>
            
                  <dxo-editing mode="cell" [allowUpdating]="true"></dxo-editing>
            
                  <dxi-column dataField="itemId" caption="Produs" [allowEditing]="false" dataType="number" alignment="LEFT">
                     <dxo-lookup [dataSource]="itemsDS" valueExpr="id" [displayExpr]="displayCodeExpr">
                     </dxo-lookup>
                  </dxi-column>
                  <dxi-column dataField="price" caption="Pret" [width]="150" [minWidth]="150" [allowEditing]="false" dataType="number" alignment="right" cellTemplate="priceCellTemplate">
                  </dxi-column>
                  <dxi-column dataField="totalStock" [format]="{ type: 'fixedPoint', precision: 0 }" caption="Stoc Total" [format]="{ type: 'fixedPoint', precision: 0 }" [width]="150" [minWidth]="150" [allowEditing]="false" dataType="number" alignment="right" cellTemplate="totalStockCellTemplate">
                  </dxi-column>
                  <dxi-column dataField="quantity" caption="Cantitate Ceruta" [width]="150" [minWidth]="150" [allowEditing]="true" dataType="number" alignment="right" cellTemplate="quantityCellTemplate">
                  </dxi-column>
                  <dxi-column dataField="agentQuantity" caption="Cantitate Agent" [width]="150" [minWidth]="150" [allowEditing]="true" dataType="number" alignment="right" cellTemplate="agentQuantityCellTemplate">
                  </dxi-column>
                  <dxi-column dataField="created" caption="Data creare" dataType="date" [allowEditing]="false" [width]="250" [minWidth]="250"
                  format="dd-MM-yyyy HH:mm" alignment="right"></dxi-column>
                  <dxi-column caption="" cellTemplate="cellTemplate" [width]="40" [minWidth]="40" alignment="center">
                  </dxi-column>   
                  <div *dxTemplate="let data of 'cellTemplate'">
                        <i class="fa fa-ban fa-2x" style='padding-right : 15px' href="javascript:void(0)" title="Stergere"
                           (click)="deleteTurnoverPreorderRow(data)"></i>
                  </div>
         
                  <div *dxTemplate="let data of 'priceCellTemplate'">
                        {{ data.data.price | number:'1.2-2' }}
                  </div>
         
                  <div *dxTemplate="let data of 'totalStockCellTemplate'">
                        {{ data.data.totalStock | number:'1.0-0' }}
                  </div>
         
                  <div *dxTemplate="let data of 'managementStockCellTemplate'">
                        {{ data.data.managementStock | number:'1.0-0' }}
                  </div>
         
                  <div *dxTemplate="let data of 'quantityCellTemplate'">
                        {{ data.data.quantity | number:'1.0-0' }}
                  </div>
         
                  <div *dxTemplate="let data of 'agentQuantityCellTemplate'">
                        {{ data.data.agentQuantity | number:'1.0-0' }}
                  </div>
               </dx-data-grid>
            </div>
      
            <div class="create-order-btn">
               <h4 style="margin-left: 1rem; margin-top: 0.5rem"><b>Total fara TVA: {{basketTotal[site.id] | number: '1.2-2'}}</b></h4>
               <dx-button text="Adauga comanda" type="danger" (onClick)="createOrder(site)">
               </dx-button>
            </div>
         </div>
       </div>
   </dx-scroll-view>
</dx-popup>

<dx-popup
   width="50%" height="20%"
   [showTitle]="true"
   title="Atentie"
   [dragEnabled]="true"
   [closeOnOutsideClick]="true"
   [(visible)]="isBasketVipQuantityPopupOpen">
    <dx-scroll-view width="100%" height="100%">
        <div class="popup-content">                      
            <div class="basket-vip-quantity-popup-body">
                Ati introdus o cantitate mai mica decat cea din oferta VIP! Daca continuati, produsul va primi pret de compunere!
            </div>

            <div class="basket-vip-quantity-popup-btns">
                <dx-button text="Continua" (onClick)="onSaveBasketVipQuantityWithPriceComposition()">
                </dx-button>

                <dx-button text="Renunta" (onClick)="onCloseBasketVipQuantity()">
                </dx-button>
            </div>
        </div>
    </dx-scroll-view>   
</dx-popup>

<dx-tooltip target="#discountGridsTooltipShoppingCart" position="right" [(visible)]="templateVisible" [closeOnOutsideClick]="false">
   <div *dxTemplate="let data = data of 'content'">
     <h4><b>Grile</b></h4> <br>
     <h5 id="discountGridsTooltipInfo"></h5>
   </div>
 </dx-tooltip>

 <dx-popup
    width="600" height="500"
    [showTitle]="true"
    title="Trimite Oferta"
    [dragEnabled]="false"
    [closeOnOutsideClick]="true"
    [(visible)]="offerPopupVisible">
        <dx-scroll-view width="100%" height="100%">
            <div class="form-group d-flex flex-wrap align-items-center" style="gap: 15px;margin-left:20px">
                <div class="d-flex align-items-center" style="min-width: 55px;">
                    <label class="mb-0 mr-2" style="color: black">Email:</label>
                    <dx-tag-box [(ngModel)]="selectedLocationContactPerson" [(dataSource)]="locationContactPersons" [displayExpr]="getDisplayExprContact" [searchEnabled]="true"
                        [showSelectionControls]="true" [showMultiTagOnly]="false" applyValueMode="instantly" tagTemplate="tagTemplate" [width]="400">
                        <div *dxTemplate="let data of 'tagTemplate'">
                            <p class="send-offer-email-tag-template">
                                {{ data.email }};
                            </p>
                        </div>
                    </dx-tag-box>
                </div>
            </div>
            
            <div class="form-group d-flex flex-wrap align-items-center" style="gap: 15px;">
                <div class="d-flex align-items-center">
                    <label class="mb-0 mr-2" style="color: black">CC Email:</label>
                    <dx-text-box [(ngModel)]="emailForTest" [ngModelOptions]="{standalone: true}" [width]="400"></dx-text-box>           
                </div>
            </div>
            
            <div class="form-group d-flex flex-wrap align-items-center" style="gap: 15px;margin-left:65px">
                <div class="d-flex align-items-center">
                    <dx-radio-group [items]="offerTypes" [(ngModel)]="selectedOfferType" (onValueChanged)="onOfferTypeValueChanged($event)" itemTemplate="radio">
                        <div class="radio" *dxTemplate="let data of 'radio'">
                            {{ data.text }} &nbsp;
                            <i class="fa fa-pencil fa-2x" title="Modifica email" (click)="onModifyEmailClick(data); $event.stopPropagation()" *ngIf="data.id !== 6"></i> &nbsp;
                            <i class="fa fa-file" aria-hidden="true" title="Vezi excel" (click)="onViewOfferClick(data); $event.stopPropagation()" *ngIf="data.id !== 5 && data.id !== 6"></i>
                        </div>
                    </dx-radio-group>
                </div>
            </div>
  
            <br>
            <hr>
            <div style="float: right">
                <dx-button text="Trimite" (onClick)="sendOffer()">
                </dx-button> 
            </div>
        </dx-scroll-view>     
    </dx-popup>

    <div *ngFor="let offer of offerTypes">
        <dx-popup
            width="70%" height="35%"
            [showTitle]="true"
            [title]="offer.text"
            [dragEnabled]="true"
            [closeOnOutsideClick]="true"
            [(visible)]="modifyOfferEmailPopupStates[offer.id]">
            <dx-scroll-view width="100%" height="100%">
                <div class="popup-content">   
                    <div class="row mb-2">
                        <div class="col-md-1 col-lg-1 dx-field-label text-md-right" title="Subiect Email">Denumire Excel:</div>
                        <div class="col-md-10 col-lg-10">
                            <dx-text-box [(ngModel)]="excelFileName[offer.id]">
                            </dx-text-box>
                        </div>
                    </div>                 
                    <div class="row mb-2">
                        <div class="col-md-1 col-lg-1 dx-field-label text-md-right" title="Subiect Email">Subiect Email:</div>
                        <div class="col-md-10 col-lg-10">
                            <dx-text-box [(ngModel)]="emailSubject[offer.id]">
                            </dx-text-box>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1 col-lg-1 dx-field-label text-md-right" title="Text Email">Text Email:</div>
                        <div class="col-md-10 col-lg-10">
                            <dx-text-area [height]="250" [(ngModel)]="emailBody[offer.id]">
                            </dx-text-area>
                        </div>
                    </div>
                </div>
            </dx-scroll-view>
        </dx-popup>
    </div>
      
    <dx-popup
        width="70%" height="50%"
        [showTitle]="true"
        title="Introdu codurile cu virgula intre ele. Orice cod care nu va fi recunoscut, se va oferta la Cod 4 sau va genera Eroare."
        [dragEnabled]="true"
        [closeOnOutsideClick]="true"
        [(visible)]="isDedicatedOfferPopupOpen">
            <dx-scroll-view width="100%" height="100%">
                <div class="popup-content">                    
                    <dx-text-area [height]="450" 
                        [(ngModel)]="dedicatedOfferData">
                    </dx-text-area>
                
                    <div class="dedicated-offer-btns">
                        <dx-button text="Genereaza Oferta" (onClick)="onSaveDedicatedOffer()">
                        </dx-button>
                    </div>
                </div>
            </dx-scroll-view>   
    </dx-popup>
    
    <dx-popup
        width="50%" height="20%"
        [showTitle]="true"
        title="Eroare"
        [dragEnabled]="true"
        [closeOnOutsideClick]="true"
        [(visible)]="isDedicatedOfferInvalidCodesPopupOpen">
            <dx-scroll-view width="100%" height="100%">
                <div class="popup-content">                      
                    <div class="popup-body">
                        Codurile {{ dedicatedOfferInvalidCodes }} nu exista, oferta se va genera fara acestea.
                    </div>

                    <div class="invalid-codes-dedicated-offer-btns">
                        <dx-button text="Continua" (onClick)="onSaveDedicatedOfferWithInvalidCodes()">
                        </dx-button>

                        <dx-button text="Corecteaza" (onClick)="closeDedicatedOfferInvalidCodesPopup()">
                        </dx-button>
                    </div>
                </div>
            </dx-scroll-view>   
    </dx-popup>

    <div *ngIf="isDailyWhatsappOfferPopupOpen">
        <app-daily-whatsapp-offers [clientId]="clientId" [selectedLocationContactPerson]="selectedLocationContactPerson" 
            [email]="emailForTest"></app-daily-whatsapp-offers>
    </div>

<dx-tooltip target="#manuallyAddItemsBtn" showEvent="dxhoverstart" hideEvent="dxhoverend">
   <div *dxTemplate="let data of 'content'" class="label-tooltip" position="top">
      Se adauga produse unul cate unul folosind butonul "Adauga Produs". <br />
      Selectati produsul dorit, introduceti cantitatea (urmat de Enter/Click in afara) si apoi apasati pe butonul "Salveaza".
   </div>
</dx-tooltip>

<dx-tooltip target="#copyAddItemsBtn" showEvent="dxhoverstart" hideEvent="dxhoverend">
   <div *dxTemplate="let data of 'content'" class="label-tooltip" position="top">
      Se adauga produse folosind Copy-Paste in tabelul de mai jos. <br />
      Se da Click in interiorul tabelului si apoi CTRL+V, dupa se apasa pe butonul "Salveaza". <br />
      Produsele si cantitatile identificate pot fi editate ulterior.
      Produsele copiate trebuie sa respecte structura de tabel Cod - Denumire - Cantitate.
   </div>
</dx-tooltip>

<dx-tooltip target="#excelImportAddItemsBtn" showEvent="dxhoverstart" hideEvent="dxhoverend">
   <div *dxTemplate="let data of 'content'" class="label-tooltip" position="top">
      Se adauga produse prin import de fisier excel. <br />
      Produsele si cantitatile identificate pot fi editate ulterior. <br />
      Fisierul trebuie sa respecte structura de tabel Cod - Denumire - Cantitate.
   </div>
</dx-tooltip>

<dx-tooltip 
   [target]="'#sendOfferToPartnerBtnShoppingCart'"
   [visible]="isSendOfferToPartnerTooltipVisible"
   [position]="{ my: 'top', at: 'bottom', of: '#sendOfferToPartnerBtnShoppingCart' }">
   <div *dxTemplate="let data of 'content'" class="label-tooltip" position="top">
      {{ sendOfferToPartnerLogTooltipData }}
   </div>
</dx-tooltip>