.basket-vip-quantity-popup-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.basket-vip-quantity-popup-body {
  font-size: 16px; 
  margin-bottom: 10px; 
  font-weight: bold; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-items-btns-options {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.button-active {
  background-color: red;
  color: white;
}

.fa-ban {
  color: #d9534f;
}

.fa-clock-o {
  color: #d9534f;
  font-size: 26px;
}

.fa-pencil, .fa-file {
  color: #d9534f;
  cursor: pointer;
}

.label-tooltip {
  text-align: left;
  font-size: 16px;
}

.file-uploader {
  width: 100%;
  border: 2px dashed #ccc;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}

.save-btn {
  float: right;
  margin-right: 0.5rem;
}

.dx-button.dx-button-warning {
  background-color: #ffe596;
}

.form-container {
  display: flex;
  flex-direction: row; 
  width: 100%;
  flex-wrap: nowrap;
}

.flex-container {
  display: flex; 
  align-items: center; 
  justify-content: flex-start; 
  flex-wrap: nowrap;
  gap: 10px;
  width: 100%;
}

.location-container {
  display: flex;
  align-items: center; 
  gap: 16px; 
  width: 100%;
}

.location-label {
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap; 
  margin-left: 1rem;
}

.location-name-container {
  flex: 1; 
}

.location-name {
  font-weight: bold;
  color: #000000;
  font-size: 16px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  width: 100%; 
}

.row {
  margin-left: -10px;
  margin-right: -10px; 
}

.row > .col,
.row > [class*='col-'] {
  padding-left: 5px; 
  padding-right: 5px;
}

.empty-cart-message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
}

.message-box {
  background: linear-gradient(135deg, #ffffff, #f9f9f9);
  border: 2px solid #d9534f;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 2rem 3rem;
  text-align: center;
  width: 50%;
}

.message-box h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #d9534f;
  margin-bottom: 1rem;
}

.message-box p {
  font-size: 1.2rem;
  color: #333333;
  margin: 0;
}

.upload-container {
  margin-bottom: 1rem;
}

.create-order-btn {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-top: 0.6rem;
}

.send-offer-email-tag-template {
  display: inline-block;
  text-align: center;
  font-size: 14px;
  padding-left: 10px;
  padding-top: 7px;
  padding-bottom: 0;
  margin-bottom: 0;
}
