<app-spinner [visible]="loaded"></app-spinner>
<div class="main-content">
    <div class="container-fluid">
        <div class="card card-plain">
            <div *ngIf="turnOverItems.length > 0">
                <div class="form-group row">
                    <div class="col-md-2 col-lg-2">
                        <div class="row d-flex align-items-center justify-content-around">
                            <div class="me-2">
                                <button type="button" class="btn btn-circle btn-sm" [disabled]="currentSupplierDisplayIndex <= 1"
                                    [ngClass]="themeColor" (click)="previousSupplier()">
                                    <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="me-2">
                                <dx-text-box [(ngModel)]="currentSupplierDisplayIndex" [maxLength]="4" class="pageNumber"
                                    (onChange)="setSupplier($event)">
                                </dx-text-box>
                            </div>
                            <div class="me-2">
                                din {{turnoverSuppliers.length}} furnizori
                            </div>
                            <div>
                                <button type="button" class="btn btn-circle btn-sm" [disabled]="currentSupplierDisplayIndex >= turnoverSuppliers.length"
                                    [ngClass]="themeColor" (click)="nextSupplier()">
                                    <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                               
                <hr />
                
                <div class="form-group row">
                    <div class="col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-2">
                                <b>{{turnoverSuppliers[currentSupplierIndex].supplierName}}</b>
                            </div>
                            <div class="col-1 px-1">
                                <b>Agent: {{turnoverSuppliers[currentSupplierIndex].supplierAgentName}}</b>
                            </div>
                            <div class="col-2 px-1">
                                {{turnoverSuppliers[currentSupplierIndex].countryName}} -
                                {{turnoverSuppliers[currentSupplierIndex].countyName}} -
                                {{turnoverSuppliers[currentSupplierIndex].cityName}}
                            </div>
                            <div class="col-2 px-1">
                                <a [href]="this.getHttpLink(turnoverSuppliers[currentSupplierIndex].supplierWebsite)"
                                    target="_blank">{{turnoverSuppliers[currentSupplierIndex].supplierWebsite}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <hr style="height: 5px;">
                <ng-container *ngFor="let item of turnOverItems">
                    <div class="form-group row">
                        <div class="col-md-12 col-lg-12">
                            <div class="row">
                                <div class="col-12">
                                    <b>{{item.itemCode}} - {{item.itemName}}</b>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group inline-flex-container">
                        <div class="inline-flex-item">
                            <b>Stoc:</b> {{ (item.currentStock === null ? 0 : item.currentStock) | number: '1.0-0' }}
                        </div>
                        <div class="inline-flex-item">
                            <b>Rulaj:</b> {{ (item.itemTurnover === null ? 0 : item.itemTurnover) | number: '1.0-0' }}
                        </div>
                        <div class="inline-flex-item" ngTooltip="">
                            <b>Rulaj Real:</b>
                            {{ (item.rulajReal3M === null ? 0 : item.rulajReal3M) | number: '1.0-0' }} -
                            {{ (item.rulajReal6M === null ? 0 : item.rulajReal6M) | number: '1.0-0' }} -
                            {{ (item.rulajReal9M === null ? 0 : item.rulajReal9M) | number: '1.0-0' }} -
                            {{ (item.rulajReal12M === null ? 0 : item.rulajReal12M) | number: '1.0-0' }}
                        </div>
                        <img [src]="'./assets/img/orders-icon.png'" class="orders-icon-img" (mouseenter)="showOrdersTooltip(item.itemId)" (mouseleave)="hideOrdersTooltip(item.itemId)"
                            [attr.id]="'orders-icon-' + item.itemId">

                        <dx-tooltip 
                            [target]="'#orders-icon-' + item.itemId"
                            [visible]="isOrdersTooltipVisible[item.itemId]"
                            [position]="{ my: 'top', at: 'bottom', of: '#orders-icon-' + item.itemId }">
                            <div *dxTemplate="let data of 'content'" class="label-tooltip">
                                <div>
                                    Comenzi pe drum: {{ (item.quantityOnOrdersToArrive === null ? 0 : item.quantityOnOrdersToArrive) | number: '1.0-0' }}
                                    Suficient luni: {{ (item.sufficientMonths === null ? 0 : item.sufficientMonths) | number: '1.0-0' }} 
                                    De comandat: {{ (item.quantityToBeOrdered === null ? 0 : item.quantityToBeOrdered) | number: '1.0-0' }} 
                                    DA: {{ item.acquisitionArrivalDays === null ? 0 : item.acquisitionArrivalDays }} zile 
                                    PA: {{ (item.acquisitionPeriodDays / 30) | number: '1.0-0' }} luni
                                </div>
                            </div>
                        </dx-tooltip>

                        <img [src]="'./assets/img/prices-icon.png'" class="prices-icon-img" [attr.id]="'prices-icon-' + item.itemId"
                                (mouseenter)="getItemPrices(item.itemId)" (mouseleave)="hidePricesTooltip(item.itemId)">

                        <img [src]="'./assets/img/seo-icon.png'" class="seo-icon-img" [attr.id]="'seo-icon-' + item.itemId"
                                (mouseenter)="getItemSeo(item.itemId)" (mouseleave)="hideSeoTooltip(item.itemId)">

                        <dx-tooltip 
                            [target]="'#prices-icon-' + item.itemId"
                            [visible]="isPricesTooltipVisible[item.itemId]"
                        >
                            <div *dxTemplate="let data of 'content'" class="label-tooltip" position="top">
                                {{ pricesIconTooltip }}
                            </div>
                        </dx-tooltip>
                        
                        <dx-tooltip 
                            [target]="'#seo-icon-' + item.itemId"
                            [visible]="isSeoTooltipVisible[item.itemId]"
                            >
                            <div *dxTemplate="let data of 'content'" class="label-tooltip" position="top">
                                <div *ngIf="seoIconTooltip && seoIconTooltip.length > 0">
                                    <table border="1" class="seo-table">
                                        <thead>
                                            <tr>
                                                <th class="seo-columns-style">RO</th>
                                                <th class="seo-columns-style">EN</th>
                                                <th class="seo-columns-style">DE</th>
                                                <th class="seo-columns-style">FR</th>
                                                <th class="seo-columns-style">HU</th>
                                                <th class="seo-columns-style">BG</th>
                                                <th class="image-columns-style">Poze</th>
                                                <th class="image-columns-style">360</th>
                                                <th class="image-columns-style">Film</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of seoIconTooltip; let i = index" [class.row-alternation]="i % 2 === 1">
                                                <td><input type="checkbox" [checked]="item.roValue" disabled class="styled-checkbox" /></td>
                                                <td><input type="checkbox" [checked]="item.enValue" disabled class="styled-checkbox" /></td>
                                                <td><input type="checkbox" [checked]="item.deValue" disabled class="styled-checkbox" /></td>
                                                <td><input type="checkbox" [checked]="item.frValue" disabled class="styled-checkbox" /></td>
                                                <td><input type="checkbox" [checked]="item.huValue" disabled class="styled-checkbox" /></td>
                                                <td><input type="checkbox" [checked]="item.bgValue" disabled class="styled-checkbox" /></td>
                                                <td><input type="checkbox" [checked]="item.photosValue" disabled class="styled-checkbox" /></td>
                                                <td><input type="checkbox" [checked]="item.p360Value" disabled class="styled-checkbox" /></td>
                                                <td><input type="checkbox" [checked]="item.filmValue" disabled class="styled-checkbox" /></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </dx-tooltip>
                    </div>    
                    <div>
                        <div class="row mt-2">
                            <div class="col-6">
                                <table class="custom-table">
                                    <tr>
                                        <td class="operatie-style">
                                            Operatie
                                        </td>
                                        <td class="text-right">
                                            Total
                                        </td>
                                        <ng-container *ngFor="let month of monthsToDisplay">
                                            <td class="text-right">
                                                {{ month | date: 'MMM-yyyy' }}
                                            </td>
                                        </ng-container>
                                    </tr>
                                    <ng-container *ngFor="let row of filterTurnoverMonthsByItemId(item.itemId)">
                                        <tr>
                                            <td class="turnover-operation" (click)="onTurnoverOperationClick(row)">
                                                {{ row.turnoverOperationName }} ({{ row.NoOfPartners }})
                                            </td>
                                            <td class="text-right" [ngClass]="{ 'negative': row.Total < 0 }">
                                                {{ row.Total | number: '1.0-0' }}
                                            </td>
                                            <ng-container *ngFor="let month of row.monthsData">
                                                <td class="text-right" [ngClass]="{ 'negative': month.quantity < 0 }">
                                                    {{ month.quantity | number: '1.0-0' }}
                                                </td>
                                            </ng-container>
                                        </tr>
                                    </ng-container>
                                </table>                                                                      
                            </div>
                        </div>
                    </div>
                    <hr>
                </ng-container>
            </div>
        </div>
    </div>
</div>

<dx-popup *ngIf="isItemTurnoverHistoryOpened" [showTitle]="true" [resizeEnabled]="true" [title]="itemTurnoverOperationName + ' / ' + itemCode + ' - ' + itemName" [dragEnabled]="true"
    [closeOnOutsideClick]="false" [(visible)]="isItemTurnoverHistoryOpened" width="82%" height="70%" class="custom-popup" [shading]="false">   
    <dx-scroll-view width="100%" height="100%">
        <div class="item-turnover-data-loading" *ngIf="!isDataLoading">Se incarca...</div>
        <div class="item-turnover-wrapper">
            <app-item-turnover-history #itemTurnoverHistoryComponent [itemId]="turnoverHistoryItemId" [itemCode]="itemCode" [itemName]="itemName"
                [turnoverOperationId]="turnoverHistoryOperationId" (displayItemTurnoverHistoryPopup)="displayItemTurnoverHistoryPopupChange($event)">
            </app-item-turnover-history>
        </div>  
    </dx-scroll-view>
</dx-popup>