table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .pageNumber{
    width: 50px;
  }

  .show-filters-section-label {
    cursor: pointer;
    text-decoration: underline;
    font-size: 16px;
    color: #26c6da;
    font-weight: bold;
  }

  .custom-table {
    width: 100%;
    table-layout: fixed;
  }

  .operatie-style {
      width: 140px;
      white-space: nowrap;
  }

  .text-right {
      width: 100px !important; 
      text-align: right;
  }

  .negative {
    color: red;
  }

  .turnover-operation {
    width: 140px;
    white-space: nowrap;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }

  .item-turnover-data-loading {
    font-size: 16px;
  }
  
  .item-turnover-wrapper {
    overflow: auto;
  }

  .inline-flex-container {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .inline-flex-item {
    display: inline-flex;
    margin-right: 4px; 
    margin-top: 4px;  
    font-size: 14px;
    gap: 0.2rem;
  }

  .orders-icon-img {
    max-width: 40px;
    object-fit: contain;
  }
  
  .prices-icon-img {
    max-width: 50px;
    object-fit: contain;
  }
  
  .seo-icon-img {
    max-width: 60px;
    object-fit: contain;
  }
  
  .label-tooltip {
    text-align: left;
    font-size: 16px;
  }
  
  .seo-table {
    padding: 0;
    margin: 0;
  }
  
  .seo-columns-style {
    color: #ffffff;
    background-color: rgb(124, 129, 232);
  }
  
  .image-columns-style {
    color: #ffffff;
    background-color: rgb(141, 199, 162);
  }
  
  .styled-checkbox {
    width: 20px;
    height: 20px;
    transform: scale(0.9);
    vertical-align: middle;
  }