.btn-success, .btn-warning, .btn-danger, .btn-info, .btn-primary, .btn-secondary{
    border-radius: 50% !important;
    transition: all 0.2s ease;
    transform: scale(1);
  }
  .btn-success:hover, .btn-danger:hover, .btn-info:hover, .btn-warning:hover, .btn-primary:hover, .btn-secondary:hover{
    background-color: #e76d27 !important;
    color: #fcfcfc;
    transform: scale(1.3) perspective(1px) !important;
  }
  
  .btn-circle {
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
  }