<app-spinner [visible]="loaded"></app-spinner>
<h5>{{titleText}}</h5>
<div class="form-group row" *ngIf="!isDisabledOnUpdate">
    <div class="col-1 dx-field-label text-md-right">Cod Partener:</div>
    <div class="col-md-2 col-lg-2">
        <dx-text-box [(ngModel)]="partnerCode" [ngModelOptions]="{standalone: true}" [maxLength]="250">
        </dx-text-box>
    </div>
    <div class="col-1 dx-field-label text-md-right">Nume Partener:</div>
    <div class="col-md-3 col-lg-3">
        <dx-text-box [(ngModel)]="partnerName" [ngModelOptions]="{standalone: true}" [maxLength]="250">
        </dx-text-box>
    </div>
    <div class="col-1 dx-field-label text-md-right">CUI:</div>
    <div class="col-md-2 col-lg-2">
        <dx-text-box [(ngModel)]="partnerFiscalCode" [ngModelOptions]="{standalone: true}" [maxLength]="250">
        </dx-text-box>
    </div>
    <div class="col-1 dx-field-label text-md-right">
        <button type="button" class="btn btn-circle btn-sm mr-2 mt-2 float-left border" [ngClass]="themeColor" (click)="searchPartner()">
            <i class="fa fa-search"></i>
        </button>
    </div>
</div>
<dx-validation-group #validationGroup>
<div class="form-group row">
        <div class="col-1 dx-field-label text-md-right">{{partnerText}}*:</div>
        <div [ngClass]="colMd">
            <dx-select-box [dataSource]="partnerDS" [displayExpr]="partnerDisplayExpr" [searchEnabled]="true"
                (onValueChanged)="onPartnerChange($event)" valueExpr="id" [(ngModel)]="partnerId"
                [disabled]="isDisabledOnUpdate">
                <dx-validator *ngIf="isRequired">
                    <dxi-validation-rule type="required" message="{{'required' | translate}}">
                    </dxi-validation-rule>
                </dx-validator>
            </dx-select-box>
        </div> 
</div>
</dx-validation-group>