<app-spinner [visible]="loaded"></app-spinner>
<dx-popup
   width="90%" height="70%"
   [showTitle]="true"
   title="Oferte Zilnice pentru Whatsapp"
   [dragEnabled]="true"
   [closeOnOutsideClick]="true"
   [(visible)]="isDailyWhatsappOfferPopupOpen">
      <dx-scroll-view width="100%" height="100%">
         <div class="popup-content">        
            <div class="generate-offer-btn">
               <dx-button text="Genereaza Oferta" (onClick)="onSaveDailyWhatsappOffers()">
               </dx-button>
            </div>

            <div class="image-grid">
               <div class="image-card" *ngFor="let image of dailyWhatsappOffers" [ngClass]="{'selected': image.isSelected}">
                  <img [src]="image.base64" alt="{{ image.fileName }}" />
                  <div class="image-name">{{ image.fileName }}</div>
          
                  <i class="fa fa-copy" (click)="copySelectedImage(image.base64)" title="Copiaza imaginea"></i>
                  <i class="fa fa-eye" aria-hidden="true" (click)="enlargeImage(image.base64)" title="Mareste imaginea"></i>
                  <dx-check-box [(ngModel)]="image.isSelected" [ngModelOptions]="{standalone: true}" title="Selecteaza pentru trimiterea pe email"></dx-check-box>     
               </div>
            </div>
         </div>
      </dx-scroll-view>
</dx-popup>

<dx-popup
  width="80%"
  height="80%"
  [showTitle]="true"
  [closeOnOutsideClick]="true"
  [(visible)]="isImageEnlarged"
>
   <dx-scroll-view width="100%" height="100%">
      <img *ngIf="enlargedImage" [src]="enlargedImage" class="enlarged-image" />
   </dx-scroll-view>
</dx-popup>

<dx-popup
   width="70%" height="35%"
   [showTitle]="true"
   [dragEnabled]="true"
   [closeOnOutsideClick]="true"
   [(visible)]="isEmailConfigurationPopupOpen">
   <dx-scroll-view width="100%" height="100%">
      <div class="popup-content">                   
         <div class="row mb-2">
            <div class="col-md-1 col-lg-1 dx-field-label text-md-right" title="Subiect Email">Subiect Email:</div>
            <div class="col-md-11 col-lg-11">
                  <dx-text-box [(ngModel)]="emailSubject">
                  </dx-text-box>
            </div>
         </div>
         <div class="row">
            <div class="col-md-1 col-lg-1 dx-field-label text-md-right" title="Text Email">Text Email:</div>
            <div class="col-md-11 col-lg-11">
                  <dx-text-area [height]="250" [(ngModel)]="emailBody">
                  </dx-text-area>
            </div>
         </div>

         <div style="float: right; margin-top: 1rem;">
            <dx-button text="Trimite" (onClick)="sendEmail()">
            </dx-button> 
         </div> 
      </div>
   </dx-scroll-view>
</dx-popup>