.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  gap: 15px;
  padding: 20px;
}

.image-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding-bottom: 40px;
}

.image-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.image-name {
  padding: 10px;
  font-size: 1rem;
  color: #333;
  text-align: center;
}

.image-card .fa-eye,
.image-card .fa-copy,
.image-card dx-check-box {
  position: absolute;
  bottom: 10px;
}

.image-card .fa-eye {
  right: 40px;
  font-size: 1.2rem;
  color: #007bff;
  cursor: pointer;
  transition: color 0.3s;
}

.image-card .fa-copy {
  right: 65px;
  font-size: 1.2rem;
  color: #007bff;
  cursor: pointer;
  transition: color 0.3s;
}

.image-card .fa-eye:hover,
.image-card .fa-copy:hover {
  color: #0056b3;
}

.image-card dx-check-box {
  right: 10px;
  bottom: 5px;
}

.enlarged-image {
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

.title-label {
  font-size: 22px;
}

.generate-offer-btn {
  display:flex;
  align-items: center;
  gap: 2rem;
  padding-left: 20px;
}

.image-card.selected {
  border: 3px solid #007bff;
}

