<app-spinner [visible]="showSpinner"></app-spinner>
<hr>
<h4>{{header}}</h4>
<h5 style="color: red; font-weight: bold;">Atentie! Obligatoriu ca prima linie din fisier sa contina date pentru coloanele de interes de mai sus, pentru a se putea genera tabelul!</h5>
<div>
    <dx-file-uploader class="col-sm-8" selectButtonText="Selecteaza fisier" labelText="Trage fisierul aici" accept="*"
        uploadMode="useForm" (change)="uploadData($event)"></dx-file-uploader>
</div>
<dx-button *ngIf="showGenerateBtn" text="Genereaza tabel" (onClick)="generateDataGrid()">
</dx-button>
&nbsp;
<dx-button *ngIf="showImportBtn" type="danger" text="Import" (onClick)="import()">
</dx-button>
<hr>
<div [hidden]="!showGrid">
    <dx-data-grid #dataGrid [dataSource]="gridDataSource" [allowColumnResizing]="true" [showBorders]="true" [rowAlternationEnabled]="true" 
        [columnMinWidth]="15" [columnAutoWidth]="true"
        (onSelectionChanged)="onSelectionChanged($event)" (onRowPrepared)="onRowPrepared($event)"
        [columns]="gridColumns" [wordWrapEnabled]="true">
        <dxo-selection mode="multiple" showCheckBoxesMode="always"></dxo-selection>
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-paging [pageSize]="25"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[25, 50, 100]"></dxo-pager>
        <dxi-column dataField="response" caption="Response" alignment="right" cellTemplate="cellTemplate"></dxi-column>
        <div *dxTemplate="let data of 'cellTemplate'">
            <div>{{data.value}}</div>
        </div>
    </dx-data-grid>
    <hr>
</div>
<div *ngIf="showError">
    <h5 style="color: red; font-weight: bold;">{{'general.gridError' | translate}}</h5>
</div>