<ng-container *ngTemplateOutlet="sideNavItem.submenu ? subItemMenu : itemPath">
</ng-container>

<ng-template #itemPath>
<li routerLinkActive="active" *ngIf="!sideNavItem.hidden" class="{{sideNavItem.class}} nav-item" [ngStyle]="{'padding-left': sideNavItem.padding + 'px'}">
        <a class="nav-link" [routerLink]="[sideNavItem.path]" [ngStyle]="{'color': colour, 'font-weight': bold}" target="_blank">
            <i class="material-icons">{{sideNavItem.icon}}</i>
            <p>{{sideNavItem.title | translate}}</p>
        </a>
    </li>
</ng-template>

<ng-template #subItemMenu>
    <li routerLinkActive="active" *ngIf="!sideNavItem.hidden" class="{{sideNavItem.class}} nav-item" [ngStyle]="{'padding-left': sideNavItem.padding + 'px'}">
        <a class="nav-link" (click)="expanded = !expanded" [ngClass]="{active: isActive, collapsed: !expanded}" [ngStyle]="{'color': colour, 'font-weight': bold}" target="_blank">
            <i class="material-icons">{{sideNavItem.icon}}</i>
            <p>{{sideNavItem.title | translate}}</p>
            <b class="caret"></b>
        </a>
    </li>
</ng-template>

<nav class="sb-sidenav-menu-nested nav" *ngIf="sideNavItem.submenu &amp;&amp; expanded">
    <app-sidebar-nav-item class="submenu" *ngFor="let submenuItem of sideNavItem.submenu" [sideNavItem]="submenuItem"></app-sidebar-nav-item>
</nav>
    
