.fa-pencil, .fa-clone, .fa-ban, .fa-plus, .fa-shopping-basket  {
    color: rgb(196, 0, 0);
  }

  .vip-button {
    background-color: red;
    color: white;
    border: none;
    padding: 2px 5px;
    font-size: 10px;
    cursor: pointer;
    border-radius: 3px;
  }

  .onHover {
    transition: all 0.2s ease; /* Smooth transition for hover effects */
}

.onHover:hover {
    font-weight: bold; /* Make text bold on hover */
    font-size: 1.1em;  /* Increase font size on hover */
}

.on-hover-item-name {
  cursor: pointer;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.related-item-icon-img {
  max-width: 40px;
}

.related-items-tooltip-wrapper {
  font-size: 16px;
}

.related-item-style {
  max-width: 25px;
  max-height: 20px;
}

.turnover-comments-icon-img {
  max-width: 30px;
}