.fa-pencil, .fa-clone, .fa-ban, .fa-plus, .fa-shopping-basket  {
  color: rgb(196, 0, 0);
}

.fa-shopping-basket {
  cursor: pointer;
}

.vip-button {
  background-color: red;
  color: white;
  border: none;
  padding: 2px 5px;
  font-size: 10px;
  cursor: pointer;
  border-radius: 3px;
}

.onHover {
  transition: all 0.2s ease; /* Smooth transition for hover effects */
}

.onHover:hover {
  font-weight: bold; /* Make text bold on hover */
  font-size: 1.1em;  /* Increase font size on hover */
}

.on-hover-item-name {
  cursor: pointer;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.related-item-icon-img {
  max-width: 30px;
}

.related-items-tooltip-wrapper {
  font-size: 16px;
}

.related-item-icon-img {
  max-width: 40px;
}

.btn-primary {
  background-color: #26c6da;
  max-width: 20px;
  max-height: 20px;
}

.btn-primary:hover, .btn-primary:focus {
  background-color: #26c6da !important;
  border-color: #26c6da !important;
}

.btn-primary.btn-sm {
  font-size: 5px !important;  
}

.related-item-style {
  max-width: 25px;
  max-height: 20px;
}

.label-tooltip {
  font-size: 14px;
  text-align: left;
}

.turnover-comments-icon-img {
  max-width: 30px;
}