<app-spinner [visible]="loaded"></app-spinner>
<div [hidden]="!partner.isClient">
    <div class="mt-4" style="width: 37%; display: flex; align-items: center;">
        <div style="width: 240px">
            <app-grid-toolbar #clientWebsiteGridToolbar [actions]="actions" [showColumnSettings]="true" [showInfo]="true" [infoText]="partnerWebsiteInfo"
                [showExcel]="true" [fileName]="'partner-website'" [showPrint]="true"
                (addEvent)="addPartnerWebsite(1)" (refreshEvent)="refreshPartnerWebsitesDataGrid()"
                (deleteEvent)="deleteRecords($event)">
            </app-grid-toolbar>
        </div>
        <div class="d-flex align-items-center ms-3 not-having-online-site">
            <div id="notHavingOnlineSite" title="Bifeaza daca ai verificat si partenerul a confirmat ca nu are site de vanzari Online.
            Bifa se va reseta peste 12 luni si trebuie intrebat din nou Partenerul!" class="text-md-right me-2">Nu are site online:</div>
            <dx-check-box *ngIf="partner" #checkBox [(ngModel)]="partner.hasWebsite" [ngModelOptions]="{standalone: true}" (onValueChanged)="onValueChangedNhw($event)" [disabled]="hasWebsites()"></dx-check-box>
        </div>
        <div class="float-none" style="clear: both;"></div>
    </div>
    
    <dx-data-grid id="gridContainer" #clientWebsiteDataGrid [dataSource]="clientWebsites" [rowAlternationEnabled]="true" [allowColumnReordering]="true"
        (onSelectionChanged)="clientSelectionChanged($event)" (onRowUpdated)="onRowUpdated($event, 1)" (onCellPrepared)="onCellPrepared($event)"> 
        <!-- <dxo-selection mode="multiple" showCheckBoxesMode="always"></dxo-selection> -->
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-filter-panel [visible]="true"></dxo-filter-panel>
        <dxo-export [enabled]="canExport()"  [allowExportSelectedData]="true"></dxo-export>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
        <dxo-group-panel [visible]="true" [emptyPanelText]="groupedText"></dxo-group-panel>
        <dxo-load-panel [enabled]="true"></dxo-load-panel>
        <dxo-sorting mode="multiple"></dxo-sorting>
        <dxo-paging [pageSize]="15"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>
        <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
        <dxo-editing mode="cell" [allowUpdating]="true"></dxo-editing>
    
        <dxi-column dataField="website" caption="Website Client" dataType="string" cssClass="blue" [width]="22 + '%'" cellTemplate="websiteCellTemplate">
            <dxi-validation-rule type="required" message="{{'required' | translate}}"></dxi-validation-rule>
            <dxi-validation-rule type="stringLength" [max]="500" message="Maximum 500 characters"></dxi-validation-rule>
        </dxi-column>
        <dxi-column dataField="isActive" caption="Activ" dataType="boolean" alignment="center" [width]="4 + '%'"></dxi-column>
        <dxi-column dataField="requestsData" caption="Solicita Date(DD)" dataType="string" alignment="left" [width]="6 + '%'">
            <dxo-lookup [dataSource]="requestsDataDataSource" valueExpr="id" displayExpr="name"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="approved" caption="Aprobat" dataType="boolean" alignment="center" [width]="4 + '%'"></dxi-column>
        <dxi-column dataField="connections" caption="Conexiuni" dataType="string" alignment="left" [allowEditing]="false" [width]="21 + '%'"></dxi-column>
        <dxi-column dataField="observations" caption="Observatii" dataType="string" alignment="left">
            <dxi-validation-rule type="stringLength" [max]="500" message="Maximum 500 characters"></dxi-validation-rule>
        </dxi-column>
        <dxi-column dataField="monitoring" caption="Monitorizare" dataType="boolean" alignment="center" [allowEditing]="false" [width]="4 + '%'"></dxi-column>
    
        <dxi-column caption="" cellTemplate="cellTemplate" [width]="75" [minWidth]="75" alignment="center">
        </dxi-column>   
        <div *dxTemplate="let data of 'cellTemplate'">
            <i class="fa fa-ban fa-2x" style='padding-right : 15px' *ngIf="canDelete()" href="javascript:void(0)" title="Stergere"
                (click)="deleteClientWebsiteRow(data)"></i>
            &nbsp;
            <!-- <i class="fa fa-pencil fa-2x" style='padding-right : 15px' href="javascript:void(0)" title="Edit" (click)="openDetails(data.data)"></i>
            &nbsp; -->
            <i class="fa fa-check fa-2x" *ngIf="canAdd() && (data.data.isActive === false)" href="javascript:void(0)" title="Activare"
                (click)="activateClientWebsiteRow(data)"></i>
        </div>
    
        <div *dxTemplate="let data of 'websiteCellTemplate'">
            <i class="fa fa-globe" (click)="onWebsiteClick(data, $event)" aria-hidden="true"></i> &nbsp;
            <span>{{data.data.website}}</span>
        </div>
    </dx-data-grid>
</div>

<div [hidden]="true">
    <div class="mt-4" style="width: 37%; display: flex; align-items: center;">
        <div style="width: 240px">
            <app-grid-toolbar #supplierWebsiteGridToolbar [actions]="actions" [showColumnSettings]="true" [showInfo]="true" [infoText]="partnerWebsiteInfo"
                [showExcel]="true" [fileName]="'partner-website'" [showPrint]="true"
                (addEvent)="addPartnerWebsite(2)" (refreshEvent)="refreshPartnerWebsitesDataGrid()"
                (deleteEvent)="deleteRecords($event)">
            </app-grid-toolbar>
        </div>
        <div class="d-flex align-items-center ms-3 not-having-online-site">
            <div id="notHavingOnlineSite" title="Bifeaza daca ai verificat si partenerul a confirmat ca nu are site de vanzari Online.
            Bifa se va reseta peste 12 luni si trebuie intrebat din nou Partenerul!" class="text-md-right me-2">Nu are site online:</div>
            <dx-check-box *ngIf="partner" #checkBox [(ngModel)]="partner.hasWebsite" [ngModelOptions]="{standalone: true}" (onValueChanged)="onValueChangedNhw($event)" [disabled]="hasWebsites()"></dx-check-box>
        </div>
        <div class="float-none" style="clear: both;"></div>
    </div>
    
    <dx-data-grid id="gridContainer" #supplierWebsiteDataGrid [dataSource]="supplierWebsites" [rowAlternationEnabled]="true" [allowColumnReordering]="true"
        (onSelectionChanged)="supplierSelectionChanged($event)" (onRowUpdated)="onRowUpdated($event, 2)" (onCellPrepared)="onCellPrepared($event)"> 
        <!-- <dxo-selection mode="multiple" showCheckBoxesMode="always"></dxo-selection>  -->
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-filter-panel [visible]="true"></dxo-filter-panel>
        <dxo-export [enabled]="canExport()"  [allowExportSelectedData]="true"></dxo-export>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
        <dxo-group-panel [visible]="true" [emptyPanelText]="groupedText"></dxo-group-panel>
        <dxo-load-panel [enabled]="true"></dxo-load-panel>
        <dxo-sorting mode="multiple"></dxo-sorting>
        <dxo-paging [pageSize]="15"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>
        <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
        <dxo-editing mode="cell" [allowUpdating]="true"></dxo-editing>
    
        <dxi-column dataField="website" caption="Website Furnizor" dataType="string" cssClass="blue" [width]="22 + '%'" cellTemplate="websiteCellTemplate">
            <dxi-validation-rule type="required" message="{{'required' | translate}}"></dxi-validation-rule>
            <dxi-validation-rule type="stringLength" [max]="500" message="Maximum 500 characters"></dxi-validation-rule>
        </dxi-column>
        <dxi-column dataField="isActive" caption="Activ" dataType="boolean" alignment="center" [width]="4 + '%'"></dxi-column>
        <dxi-column dataField="requestsData" caption="Solicita Date(DD)" dataType="string" alignment="left" [width]="6 + '%'">
            <dxo-lookup [dataSource]="requestsDataDataSource" valueExpr="id" displayExpr="name"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="approved" caption="Aprobat" dataType="boolean" alignment="center" [width]="4 + '%'"></dxi-column>
        <dxi-column dataField="connections" caption="Conexiuni" dataType="string" alignment="left" [allowEditing]="false" [width]="21 + '%'"></dxi-column>
        <dxi-column dataField="observations" caption="Observatii" dataType="string" alignment="left">
            <dxi-validation-rule type="stringLength" [max]="500" message="Maximum 500 characters"></dxi-validation-rule>
        </dxi-column>
        <dxi-column dataField="monitoring" caption="Monitorizare" dataType="boolean" alignment="center" [allowEditing]="false" [width]="4 + '%'"></dxi-column>
    
        <dxi-column caption="" cellTemplate="cellTemplate" [width]="75" [minWidth]="75" alignment="center">
        </dxi-column>   
        <div *dxTemplate="let data of 'cellTemplate'">
            <i class="fa fa-ban fa-2x" style='padding-right : 15px' *ngIf="canDelete()" href="javascript:void(0)" title="Stergere"
                (click)="deleteSupplierWebsiteRow(data)"></i>
            <!-- &nbsp;
            <i class="fa fa-pencil fa-2x" style='padding-right : 15px' href="javascript:void(0)" title="Edit" (click)="openDetails(data.data)"></i> -->
            &nbsp; 
            <i class="fa fa-check fa-2x" *ngIf="canAdd() && (data.data.isActive === false)" href="javascript:void(0)" title="Activare"
                (click)="activateSupplierWebsiteRow(data)"></i>
        </div>
    
        <div *dxTemplate="let data of 'websiteCellTemplate'">
            <i class="fa fa-globe" (click)="onWebsiteClick(data, $event)" aria-hidden="true"></i> &nbsp;
            <span>{{data.data.website}}</span>
        </div>
    </dx-data-grid>
</div>

<dx-popup width="90%" height="30%" [showTitle]="true"
[resizeEnabled]="true" title="Website Partener" [dragEnabled]="true" [closeOnOutsideClick]="false"
[(visible)]="popupVisible" (onHiding)="onPopupHidden()" *ngIf="popupRendered">
<dx-scroll-view width="100%" height="100%">
    <dx-validation-group #validationGroup>
        <div class="form-group row">
            <div class="col-1 dx-field-label text-md-right">Website Partener:</div>
            <div class="col-md-2 col-lg-2">
                <dx-text-box [(ngModel)]="selectedPartnerWebsite.website" [ngModelOptions]="{standalone: true}">
                    <dx-validator>
                        <dxi-validation-rule type="required" message="{{'required' | translate}}"></dxi-validation-rule>
                        <dxi-validation-rule type="stringLength" [max]="500" message="Maximum 500 characters"></dxi-validation-rule>
                    </dx-validator>
                </dx-text-box>
            </div>

            <ng-container *ngIf="!isOnSavePartnerWebsite">
                <div class="col-1 dx-field-label text-md-right">Activ:</div>
                <div class="col-md-1 col-lg-1">
                    <dx-check-box [(ngModel)]="selectedPartnerWebsite.isActive" [ngModelOptions]="{standalone: true}"></dx-check-box>
                </div>
            </ng-container>

            <div class="col-1 dx-field-label text-md-right">Solicita Date(DD):</div>
            <div class="col-md-1 col-lg-1">
                <dx-select-box [dataSource]="requestsDataDataSource" valueExpr="id" displayExpr="name" [ngModelOptions]="{standalone: true}" [(value)]="selectedPartnerWebsite.requestsData"></dx-select-box>
            </div>

            <div class="col-1">
                <div class="dx-field-label text-md-right">Aprobat:</div>
                <dx-check-box [(ngModel)]="selectedPartnerWebsite.approved" [ngModelOptions]="{standalone: true}"></dx-check-box>
            </div>
            
            <div class="col-1 dx-field-label text-md-right">Observatii:</div>
            <div class="col-md-2 col-lg-2">
                <dx-text-box [(ngModel)]="selectedPartnerWebsite.observations" [ngModelOptions]="{standalone: true}">
                    <dx-validator>
                        <dxi-validation-rule type="stringLength" [max]="500" message="Maximum 500 characters"></dxi-validation-rule>
                    </dx-validator>
                </dx-text-box>
            </div>
            
        </div>
    </dx-validation-group>
    <hr>
    <br>
    <div *ngIf="!isOnSavePartnerWebsite" class="d-flex justify-content-start" style="gap: 20px">
        <dx-button text="Salveaza" (onClick)="updateData()"></dx-button>
        <dx-button text="Renunta" (onClick)="togglePopup(false)"></dx-button>
    </div>
    <div class="d-flex justify-content-start" style="gap: 20px">
        <dx-button *ngIf="isOnSavePartnerWebsite" text="Salveaza" (onClick)="saveData()">
        </dx-button>
    </div>
</dx-scroll-view>
</dx-popup>

<dx-popup #nhwp [(visible)]="visibleNhwp" title="Bifeaza cu cine ai vorbit" [showCloseButton]="false" height="auto" width="auto" minWidth="250" [position]="{my:'center', at: 'center', of:'window'}" (onShowing)="onShowingNhwp($event)">
    <dx-data-grid id="popupGrid" #popupGrid [dataSource]="partnerLocationContacts" width="auto" (onSelectionChanged)="onSelectionChangedNhwp($event)">
        <dxo-selection mode="multiple" showCheckBoxesMode="always" selectAllMode="allPages" [allowSelectAll]="false"></dxo-selection>

        <dxi-column dataField="firstName" width="auto"></dxi-column>
        <dxi-column dataField="lastName" width="auto"></dxi-column>
    </dx-data-grid>

    &nbsp; &nbsp;
    <dx-button (click)="onSaveNhwp()">Save</dx-button>
    <dx-button (click)="onCancelNhwp()">Cancel</dx-button>
</dx-popup>