.fa-pencil, .fa-clone, .fa-ban, .fa-download, .fa-file-pdf-o {
  color: rgb(196, 0, 0);
}

/* ::ng-deep .dx-data-row .blue {
  color: blue;
}

::ng-deep .dx-data-row .blue :hover {
  text-decoration-line: "underline";
  font-weight: 900;
  cursor: pointer;
} */

.not-having-online-site {
  gap: 1rem;
  font-weight: bold;
}

.fa-globe {
  font-size: 25px;
  cursor: pointer;
  color: rgb(196, 0, 0);
}