body .custom-item {
    padding-left: 7px;
    padding-right: 7px;
  }
  ::ng-deep .custom-item > img {
    height: 30px;
    width: 40px;
    float: left;
    margin-top: 2px;
  }
  ::ng-deep .custom-item > div.product-name {
    margin-left: 40px;
    line-height: 34px;
    font-size: 14px;
  }
  
  body .custom-item input {
    background-color: transparent;
  }
  
  body .dx-popup-content .custom-item {
    padding-top: 7px;
    padding-bottom: 8px;
  }
  ::ng-deep .dx-popup-content .custom-item > div {
    padding-left: 8px;
    text-indent: 0;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  
  .box {
  height: 20px;
  width: 20px;
  margin-bottom: 15px;
  border: 1px solid black;
  }
  
  div.inline { float:left; }

  .row {
    margin-left: -10px;
    margin-right: -10px; 
  }

  .row > .col,
  .row > [class*='col-'] {
    padding-left: 5px; 
    padding-right: 5px;
  }

  .my-clients-icon-img {
    max-width: 55px;
  }

  .my-clients-btn {
    background-color: rgb(0, 173, 46);
    color: white;
  }

  .activate-contact-campaign-partners-btn {
    background-color: rgb(228, 150, 25);
    color: white;
    cursor: pointer;
  }

  .modal-body {
    margin: 0;
  }

  .modal-body-margin {
    margin: 0;
    margin-top: -25px;
    margin-bottom: -25px;
  }

  .fa-refresh {
    color: rgb(58, 195, 113); 
    font-size: 22px; 
    padding: 6px 7px;
    background-color: rgba(58, 195, 113, 0.1);
    display: inline-block;
    text-align: center; 
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.fa-close {
    color: rgb(196, 0, 0);
    font-size: 22px;
    padding: 6px 7px;
    background-color: rgba(196, 0, 0, 0.1);
    display: inline-block;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.fa-refresh:hover {
    background-color: rgb(58, 195, 113);
    color: white;
}

.fa-close:hover {
    background-color: rgb(196, 0, 0);
    color: white;
}

.nowrap-row {
  display: flex;
  flex-wrap: nowrap;
  align-items: center; 
}

.shrink-text {
  overflow: hidden;
  text-overflow: ellipsis; 
  white-space: nowrap; 
  min-width: 0; 
  flex-shrink: 1; 
}

.dx-field-label {
  margin-right: 8px;
}
