<div [ngClass]="!shouldActivateContactCampaignPartners ? 'modal-body' : 'modal-body-margin'">
    <dx-validation-group *ngIf="!shouldActivateContactCampaignPartners" #validationSearchGroup>
        <div class="form-group row mb-2">
            <div class="col-md-12">
                <div class="row align-items-center nowrap-row">
                    <div class="col-auto dx-field-label text-md-right shrink-text" title="Nume">Nume:</div>
                    <div class="col-2">
                        <dx-text-box [(ngModel)]="partnerSearchFilter.name" [maxLength]="50"></dx-text-box>
                    </div>
        
                    <div id="fiscalCodeFilter" class="col-auto dx-field-label text-md-right shrink-text" title="CUI">CUI:</div>
                    <div class="col-1">
                        <dx-text-box [(ngModel)]="partnerSearchFilter.fiscalCode" [maxLength]="25"></dx-text-box>
                    </div>
        
                    <div id="emailFilter" class="col-auto dx-field-label text-md-right shrink-text" title="Email">Email:</div>
                    <div class="col-1">
                        <dx-text-box [(ngModel)]="partnerSearchFilter.email" [maxLength]="35">
                            <dx-validator>
                                <dxi-validation-rule type="email" message="{{'invalidEmail' | translate}}">
                                </dxi-validation-rule>
                            </dx-validator>
                        </dx-text-box>
                    </div>
        
                    <div id="phoneFilter" class="col-auto dx-field-label text-md-right shrink-text" title="Telefon">Telefon:</div>
                    <div class="col-1">
                        <dx-number-box [(ngModel)]="partnerSearchFilter.phone"></dx-number-box>
                    </div>
        
                    <div class="col-auto dx-field-label text-md-right shrink-text" title="Activitate">Activitate:</div>
                    <div class="col-1">
                        <dx-tag-box [dataSource]="partnerActivityAllocationDS" [displayExpr]="getDisplayExprPartnerActivity"
                            [(ngModel)]="partnerSearchFilter.partnerActivityIds" valueExpr="id" [maxDisplayedTags]="2"
                            [showSelectionControls]="true" (onValueChanged)="onMultiTagPartnerActivityChange($event)"
                            [showMultiTagOnly]="false" applyValueMode="useButtons" [searchEnabled]="true"
                            [hideSelectedItems]="false" [selectAllMode]="'allPages'" [dropDownOptions]="{ minWidth: '350' }">
                        </dx-tag-box>
                    </div>
        
                    <div class="col-auto dx-field-label text-md-right shrink-text" title="Localitate">Localitate:</div>
                    <div class="col-1">
                        <dx-tag-box [dataSource]="citiesDS" [(ngModel)]="partnerSearchFilter.citiesIds" valueExpr="id"
                            (onValueChanged)="onCitiesChanged($event)" [displayExpr]="getDisplayExprCities"
                            [maxDisplayedTags]="2" [showSelectionControls]="true"
                            [showMultiTagOnly]="false" applyValueMode="useButtons" [searchEnabled]="true"
                            [hideSelectedItems]="false">
                        </dx-tag-box>
                    </div>
            
                    <div class="col-auto dx-field-label text-md-right shrink-text" title="Judet">Judet:</div>
                    <div class="col-1">
                        <dx-tag-box [dataSource]="countiesDS" [(ngModel)]="partnerSearchFilter.countiesIds" valueExpr="id"
                            (onValueChanged)="onCountiesChanged($event)" [displayExpr]="getDisplayExprCities"
                            [maxDisplayedTags]="2" [showSelectionControls]="true" [showMultiTagOnly]="false"
                            applyValueMode="useButtons" [searchEnabled]="true"
                            [hideSelectedItems]="false" [selectAllMode]="'allPages'">
                        </dx-tag-box>
                    </div>
        
                    <div class="col-auto dx-field-label text-md-right shrink-text" title="Tara">Tara:</div>
                    <div class="col-1">
                        <dx-tag-box [dataSource]="countriesDS" [(ngModel)]="partnerSearchFilter.countriesIds" valueExpr="id"
                            (onValueChanged)="onCountriesChanged($event)" [displayExpr]="getDisplayExprCities"
                            [maxDisplayedTags]="2" [showSelectionControls]="true" [showMultiTagOnly]="false"
                            applyValueMode="useButtons" [searchEnabled]="true" [hideSelectedItems]="false"
                            [selectAllMode]="'allPages'">
                        </dx-tag-box>
                    </div>
        
                    <div class="col-auto dx-field-label text-md-right shrink-text" title="Valid">Valid:</div>
                    <div>
                        <dx-check-box [(ngModel)]="partnerSearchFilter.isActive" [ngModelOptions]="{standalone: true}"></dx-check-box>
                    </div>
                </div>
            </div>
        </div>        

        <div class="form-group row mb-2">
            <div class="col-md-12">
                <div class="row align-items-center nowrap-row">
                    <div class="col-auto dx-field-label shrink-text" title="Clienti pierduti (care nu au mai comandat niciun produs) de peste:">Clienti pierduti (care nu au mai comandat niciun produs) de peste:</div>
                    <div class="col-1">
                        <dx-number-box [(ngModel)]="partnerSearchFilter.lostPartnersOverXDays" [min]="0"></dx-number-box>
                    </div>
                    zile &nbsp;
        
                    <div class="col-auto dx-field-label shrink-text" title="Clienti care nu au mai cumparat de peste:">Clienti care nu au mai cumparat de peste:</div>
                    <div class="col-1">
                        <dx-number-box [(ngModel)]="partnerSearchFilter.partnersOverXDays" [min]="0"></dx-number-box>
                    </div>
                    zile &nbsp;
        
                    <div class="col-auto dx-field-label shrink-text" title="Produsele:">Produsele:</div>
                    <div class="col-2">
                        <dx-tag-box [dataSource]="itemSmall" [(ngModel)]="partnerSearchFilter.partnersOverXDaysProductIds" valueExpr="id"
                            [displayExpr]="getDisplayExprMU" [maxDisplayedTags]="2" [showSelectionControls]="true"
                            [showMultiTagOnly]="false" applyValueMode="useButtons" [searchEnabled]="true"
                            [hideSelectedItems]="false" [selectAllMode]="'allPages'"
                            (onValueChanged)="onMultiTagPostChange($event)">
                        </dx-tag-box>
                    </div>
        
                    <div class="col-auto dx-field-label shrink-text" title="Produse grupate:">Produse grupate:</div>
                    <div class="col-2">
                        <dx-tag-box [dataSource]="itemGroupSmall" [(ngModel)]="partnerSearchFilter.partnersOverXDaysCode4ProductIds" valueExpr="id"
                            [displayExpr]="getDisplayExprMU" [maxDisplayedTags]="2" [showSelectionControls]="true"
                            [showMultiTagOnly]="false" applyValueMode="useButtons" [searchEnabled]="true"
                            [hideSelectedItems]="false" [selectAllMode]="'allPages'"
                            (onValueChanged)="onMultiTagPostChange($event)">
                        </dx-tag-box>
                    </div>
        
                    <div class="col-auto dx-field-label shrink-text" *ngIf="!shouldActivateContactCampaignPartners" title="Post">Post:</div>
                    <div class="col-1" *ngIf="!shouldActivateContactCampaignPartners">
                        <dx-tag-box [dataSource]="posts" [(ngModel)]="partnerSearchFilter.postIds" valueExpr="id"
                            displayExpr="companyPost" [maxDisplayedTags]="2" [showSelectionControls]="true" [showClearButton]="true"
                            [showMultiTagOnly]="false" applyValueMode="instantly" [searchEnabled]="true" [dropDownOptions]="{ minWidth: '240' }"
                            [hideSelectedItems]="false" [selectAllMode]="'allPages'">
                       </dx-tag-box>
                    </div>
                </div>
            </div>
        </div>       
    </dx-validation-group>

    <hr *ngIf="!shouldActivateContactCampaignPartners">
    <div class="form-group row mb-2 ml-2">
        <div class="col-md-12">
            <div class="row align-items-center">
                <i *ngIf="!shouldActivateContactCampaignPartners" class="fa fa-refresh" style="cursor: pointer;" (click)="searchPartners()" title="Lanseaza cautarea inregistrarilor ce corespund criteriilor specificate. (F5)"></i>
                &nbsp; &nbsp;
                <i *ngIf="!shouldActivateContactCampaignPartners" class="fa fa-close" style="cursor: pointer;" (click)="resetFilters()" title="Sterge criteriile specificate. (Delete)"></i>
            </div>
        </div>
    </div>

    <div class="form-group d-flex flex-wrap align-items-center" [ngStyle]="!shouldActivateContactCampaignPartners ? { 'gap': '30px' } : { 'gap': '30px', 'margin-bottom': '2rem' }">   
        <div class="d-flex align-items-center">
            <img [src]="'./assets/img/my-clients-icon.png'" alt="Clientii Mei" class="my-clients-icon-img">
            <dx-button class="my-clients-btn" text="Clientii Mei" (click)="onMyClientsClick()"></dx-button>     
        </div>

        <div class="d-flex align-items-center">
            <!-- <label class="mb-0 mr-1" style="color: black">Parteneri Automati Campanii Contactare:</label>
            <dx-check-box [(ngModel)]="shouldActivateContactCampaignPartners" [ngModelOptions]="{standalone: true}" (onValueChanged)="onActivateContactCampaignPartnersChange($event)"></dx-check-box> -->
            <dx-button class="activate-contact-campaign-partners-btn" text="Automata" (click)="onActivateContactCampaignPartnersClick()"></dx-button>  
        </div>
    
        <div *ngIf="isUserAdminOrHasSuperiorPost() && shouldActivateContactCampaignPartners" class="d-flex align-items-center">
            <label class="mb-0 mr-1" style="color: black">Post:</label>
            <dx-select-box [dataSource]="posts" [(ngModel)]="selectedPost" [dropDownOptions]="{ minWidth: '300' }"
                valueExpr="id" [displayExpr]="getDisplayExprPosts"  [showClearButton]="true"
                [searchEnabled]="true" (onValueChanged)="onPostChange($event)">
            </dx-select-box>
        </div>
    
        <!-- <div *ngIf="shouldActivateContactCampaignPartners" class="d-flex align-items-center">
            <label class="mb-0 mr-1" style="color: black">Tip Persoana:</label>
            <dx-select-box [dataSource]="personTypes" displayExpr="name" valueExpr="id" (onValueChanged)="onPersonTypeChange($event)" [dropDownOptions]="{ minWidth: '300' }"
                [(ngModel)]="selectedPersonTypes" [searchEnabled]="true" [dropDownOptions]="{ minWidth: '160' }" [showClearButton]="true">
            </dx-select-box>
        </div> -->
    </div>
</div>