.success {
  color: #fcfcfc;
  background-color: #4caf50;
}

.danger {
  color: #fcfcfc;
  background-color: #f44336;
}  

.warning {
  color: #fcfcfc;
  background-color: #ffeb3b;
} 

.primary {
  color: #fcfcfc;
  background-color: #2196f3;
} 

.info {
  color: #fcfcfc;
  background-color: #00bcd4;
} 

.secondary {
  color: #fcfcfc;
  background-color: #6c757d;
} 

  .fa-pencil, .fa-clone, .fa-ban  {
    color: rgb(196, 0, 0);
  }
  
  .tabError {
    color: #fcfcfc;
    background-color: #d32323;
  }  
  
  .redFont {
    color:red;
  }

  dx-button[type="default"] {
    background-color: #26c6da;
    color: white; /* To make the text white */
}