<app-spinner [visible]="loaded"></app-spinner>
<div *ngIf="order">
    <hr>
    <dx-validation-group #validationGroup>
        <div class="modal-body">
            <div class="form-group row">
                <div class="col-md-6 col-lg-6">
                    <div class="row">
                        <div class=" col-md-2 col-lg-2 dx-field-label text-md-right">Numar:</div>
                        <div class=" col-md-3 col-lg-3">
                            <dx-text-box [(ngModel)]="order.number" [ngModelOptions]="{standalone: true}"
                                [disabled]="true" [maxLength]="50">
                            </dx-text-box>
                        </div>
                        <div class="col-2 dx-field-label text-md-right">Data*:</div>
                        <div class="col-md-3 col-lg-3">
                            <dx-date-box [(ngModel)]="order.date" type="datetime" displayFormat="dd-MM-yyyy HH:mm">
                                <dx-validator>
                                    <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                    </dxi-validation-rule>
                                </dx-validator>
                            </dx-date-box>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="row">
                        <div class="col-md-2 dx-field-label text-md-right">Tip Comanda*:</div>
                        <div class="col-md-3 col-lg-3">
                            <dx-select-box [dataSource]="orderTypes" displayExpr="name" valueExpr="id" [disabled]="true"
                                [searchEnabled]="true" [(ngModel)]="order.type">
                                <dx-validator>
                                    <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                    </dxi-validation-rule>
                                </dx-validator>
                            </dx-select-box>
                        </div>
                        <div class="col-md-2 col-lg-2 dx-field-label text-md-right">Stare*:</div>
                        <div class="col-md-3 col-lg-3">
                            <dx-select-box [dataSource]="orderStatusTypes" displayExpr="name" valueExpr="id" 
                                [searchEnabled]="true" [(ngModel)]="order.status" (onValueChanged)="orderStatusChange($event)">
                                <dx-validator>
                                    <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                    </dxi-validation-rule>
                                </dx-validator>
                            </dx-select-box>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6 col-lg-6">
                    <div class="row">
                        <div class="col-2 dx-field-label text-md-right">Plata*:</div>
                        <div class="col-md-3 col-lg-3">
                            <dx-select-box [dataSource]="paymentInstruments" displayExpr="name" valueExpr="id"
                                [searchEnabled]="true" [(ngModel)]="order.paymentInstrumentId">
                                <dx-validator>
                                    <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                    </dxi-validation-rule>
                                </dx-validator>
                            </dx-select-box>
                        </div>
                        <div class="col-md-2 col-lg-2 dx-field-label text-md-right">Cond livrare*:</div>
                        <div class="col-md-3 col-lg-3">
                            <dx-select-box [dataSource]="deliveryConditions" displayExpr="name" valueExpr="id"
                                [(ngModel)]="order.deliveryConditionId" [searchEnabled]="true">
                                <dx-validator>
                                    <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                    </dxi-validation-rule>
                                </dx-validator>
                            </dx-select-box>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="row">                      
                        <div class="col-md-2 col-lg-2 dx-field-label text-md-right">Gestiune*:</div>
                        <div class="col-md-3 col-lg-3">
                            <dx-select-box [dataSource]="managements" displayExpr="name" valueExpr="id"
                                [searchEnabled]="true" [(ngModel)]="order.managementId">
                                <dx-validator>
                                    <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                    </dxi-validation-rule>
                                </dx-validator>
                            </dx-select-box>
                        </div>
                        <div class="col-md-2 dx-field-label text-md-right">Scadenta Plata:</div>
                        <div class="col-md-3 col-lg-3">
                            <dx-date-box [(ngModel)]="order.paymentDueDate" type="datetime"
                                displayFormat="dd-MM-yyyy HH:mm">
                            </dx-date-box>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6 col-lg-6">
                    <div class="row">
                        <div class="col-2 dx-field-label text-md-right">Data livrare:</div>
                        <div class="col-md-3 col-lg-3">
                            <dx-date-box [(ngModel)]="order.deliveryDate" type="datetime" displayFormat="dd-MM-yyyy HH:mm">
   
                            </dx-date-box>
                        </div>
                        <div class="col-md-2 dx-field-label text-md-right">Id Extern:</div>
                        <div class="col-md-3 col-lg-3">
                            <dx-text-box [ngModelOptions]="{standalone: true}" [(ngModel)]="order.syncExternalAppId" [maxLength]="50"
                                [disabled]="true">
                            </dx-text-box>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="row">
                        <div class="col-2 dx-field-label text-md-right">Creata din:</div>
                        <div class="col-md-3 col-lg-3">
                            <dx-select-box [dataSource]="erpSyncSource" displayExpr="name" valueExpr="id" [disabled]="true"
                                [searchEnabled]="true" [(ngModel)]="order.source">
                            </dx-select-box>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6 col-lg-6">
                    <div class="row">
                        <div class=" col-md-2 col-lg-2 dx-field-label text-md-right">Total cu TVA:</div>
                        <div class=" col-md-3 col-lg-3">
                            <dx-text-box [ngModelOptions]="{standalone: true}" [(ngModel)]="totalValueText" [maxLength]="50"
                                [disabled]="true">
                            </dx-text-box>
                        </div>

                        <div class="col-md-2 col-lg-2 dx-field-label text-md-right">Total fara TVA:</div>
                        <div class="col-md-3 col-lg-3">
                            <dx-text-box [ngModelOptions]="{standalone: true}" [(ngModel)]="totalWithoutVatText" [maxLength]="50"
                                [disabled]="true">
                            </dx-text-box>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                </div>
            </div>
            <hr>

            <ng-container *ngFor="let tab of detailsTabs">
                <dx-button text="{{tab.name | translate}}" [ngClass]="tab.isActive ? isTabActive : null"
                    (onClick)="toggleMode(tab)">
                </dx-button>
                &nbsp;
            </ng-container>

            <div [hidden]="!detailsTabs[0].isActive">
                <hr>
                <app-partner-dropdown-search #partnerDropdownSearch [partnerLabelText]="'Client'"
                    [(partnerId)]="order.partnerId" [isClient]="true" [isSupplier]="false" [dropdownLengthNr]="6"
                    [isDisabledOnUpdate]="false" (partnerChange)="partnerChange($event)" [isRequired]="true">
                </app-partner-dropdown-search>

                <div class="form-group row" *ngIf="partnerLocations && partnerLocations.length > 0">
                    <div class="col-md-6 col-lg-6">
                        <div class="row">
                            <div class=" col-md-2 col-lg-2 dx-field-label text-md-right">Locatie Client*:</div>
                            <div class=" col-md-4 col-lg-4">
                                <dx-select-box [dataSource]="partnerLocations" displayExpr="name" valueExpr="id"
                                    [searchEnabled]="true" [(ngModel)]="order.partnerLocationId"
                                    (onValueChanged)="partnerLocationChange($event)">
                                    <dx-validator>
                                        <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                        </dxi-validation-rule>
                                    </dx-validator>
                                </dx-select-box>
                            </div>
                            <div class="col-2 dx-field-label text-md-right">Pers. Contact:</div>
                            <div class="col-md-4 col-lg-4">
                                <dx-select-box [dataSource]="partnerContacts" [displayExpr]="partnerContactExpr"
                                    valueExpr="id" [searchEnabled]="true" [(ngModel)]="order.partnerLocationContactId">
                                </dx-select-box>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="row">
                            <div *ngIf="order.partnerLocationId" class="col-md-2 dx-field-label">Lista de pret*:</div>
                            <div *ngIf="order.partnerLocationId" class="col-md-4 col-lg-4">
                                <dx-select-box [dataSource]="salePriceLists" [displayExpr]="salePriceListExpr" valueExpr="id"
                                    [searchEnabled]="true" [(ngModel)]="order.salePriceListId" (onValueChanged)="findCurrencyForListEvent($event)">
                                    <dx-validator>
                                        <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                        </dxi-validation-rule>
                                    </dx-validator>
                                </dx-select-box>
                            </div>
                            <div *ngIf="salePriceLists && salePriceLists.length > 0 && order.salePriceListId" class="col-md-2 dx-field-label">Valuta:</div>
                            <div *ngIf="salePriceLists && salePriceLists.length > 0 && order.salePriceListId" class="col-md-4 col-lg-4">
                                <dx-select-box [dataSource]="currencies" displayExpr="name" valueExpr="id" [disabled]="true" [(ngModel)]="selectedCurrencyId" [searchEnabled]="true">
                                </dx-select-box>
                            </div>
                        </div>
                    
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6 col-lg-6">
                        <div class="row">
                            <div class="col-md-2 col-lg-2 dx-field-label text-md-right">Agent vanzare:</div>
                            <div class="col-md-4 col-lg-4">
                                <dx-select-box [dataSource]="salesPosts" [displayExpr]="getDisplayExprPostsName"
                                    valueExpr="id" [searchEnabled]="true" [searchEnabled]="true" [searchEnabled]="true"
                                    [(ngModel)]="order.salesAgentId">
                                </dx-select-box>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div [hidden]="!detailsTabs[1].isActive">
                <hr>
                <app-partner-dropdown-search #partnerOwnerDropdownSearch [partnerLabelText]="'Autorul platii'"
                    [(partnerId)]="order.paymentOwnerPartnerId" [isClient]="true" [isSupplier]="false" [dropdownLengthNr]="6"
                    [isDisabledOnUpdate]="false" (partnerChange)="partnerOwnerChange($event)" [isRequired]="true">
                </app-partner-dropdown-search>
            </div>
            <div [hidden]="!detailsTabs[2].isActive">
                <hr>
                <app-partner-dropdown-search #partnerDeliverySearch [partnerLabelText]="'Destinatarul livrarii'"
                    [(partnerId)]="order.deliveryPartnerId" [isClient]="true" [isSupplier]="false" [dropdownLengthNr]="6"
                    [isDisabledOnUpdate]="false" (partnerChange)="partnerDeliveryChange($event)"
                    [isRequired]="true">
                </app-partner-dropdown-search>

                <div class="form-group row" *ngIf="partnerDeliveryLocations && partnerDeliveryLocations.length > 0">
                    <div class="col-md-6 col-lg-6">
                        <div class="row">
                            <div class=" col-md-2 col-lg-2 dx-field-label text-md-right">Adresa livrare*:</div>
                            <div class=" col-md-10 col-lg-10">
                                <dx-select-box [dataSource]="partnerDeliveryLocations" [displayExpr]="partnerDeliveryLocationExpr" valueExpr="id"
                                    [searchEnabled]="true" [(ngModel)]="order.deliveryPartnerLocationId">
                                    <dx-validator>
                                        <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                        </dxi-validation-rule>
                                    </dx-validator>
                                </dx-select-box>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div [hidden]="!detailsTabs[3].isActive">
                <hr>
                <app-partner-dropdown-search #clientDropdownSearch [partnerLabelText]="'Client'"
                    [(partnerId)]="order.initialPartnerId" [isClient]="true" [isSupplier]="false" [dropdownLengthNr]="6"
                    [isDisabledOnUpdate]="!isOnSave && order.initialPartnerId" [isRequired]="true" (partnerChange)="initialPartnerChange($event)">
                </app-partner-dropdown-search>
            </div>


        </div>
    </dx-validation-group>
    <hr>
</div>


<div class="mt-4">
    <app-grid-toolbar #orderItemsToolbar [actions]="itemActions" [showColumnSettings]="true" [showExcel]="true"
        [fileName]="'items'" [showPrint]="true" (addEvent)="openDetails(null)" (refreshEvent)="refreshDataGrid()"
        (deleteEvent)="deleteItemRow($event)">
    </app-grid-toolbar>
    <div class="float-none" style="clear: both;"></div>
</div>
<div class="mt-4"></div>
<dx-data-grid id="gridContainer" #orderItemsDataGrid [dataSource]="orderItems" [rowAlternationEnabled]="true"
    [showBorders]="false" [allowColumnReordering]="true" (onSelectionChanged)="selectionChanged($event)"
    (onEditorPreparing)="onEditorPreparing($event)">
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-filter-panel [visible]="true">
    </dxo-filter-panel>
    <dxo-export [enabled]="canExport()" [allowExportSelectedData]="true"></dxo-export>
    <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
    <dxo-header-filter [visible]="true">
    </dxo-header-filter>
    <dxo-group-panel [visible]="true"></dxo-group-panel>
    <dxo-load-panel [enabled]="true"></dxo-load-panel>
    <dxo-sorting mode="multiple"></dxo-sorting>

    <dxo-paging [pageSize]="15"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>
    <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>

    <dxi-column dataField="itemId" caption="Cod produs" alignment="left">
        <dxo-lookup [dataSource]="items" valueExpr="id" displayExpr="code">
        </dxo-lookup>
    </dxi-column>
    <dxi-column dataField="itemId" caption="Denumire produs" alignment="left">
        <dxo-lookup [dataSource]="items" valueExpr="id" displayExpr="nameRO">
        </dxo-lookup>
    </dxi-column>
    <dxi-column dataField="itemId" caption="Tip Produs" cellTemplate="itemTypeTemplate" alignment="left">
    </dxi-column>
    <dxi-column dataField="quantity" caption="Cantitate" dataType="number" alignment="right"></dxi-column>
    <dxi-column dataField="measurementUnitId" caption="U.M." alignment="left">
        <dxo-lookup [dataSource]="measurementUnits" valueExpr="id" displayExpr="name">
        </dxo-lookup>
    </dxi-column>
    <dxi-column dataField="orderPrice" caption="Pret fara TVA" alignment="right" [format]="{ type: 'fixedPoint', precision: 2 }"></dxi-column>
    <dxi-column dataField="rate" caption="TVA" alignment="right"></dxi-column>
    <dxi-column dataField="orderPriceWithVAT" caption="Pret cu TVA" alignment="right" [format]="{ type: 'fixedPoint', precision: 2 }"></dxi-column>
    <dxi-column dataField="orderPrice" caption="Pret total" cellTemplate="itemPriceTemplate" alignment="right">
    </dxi-column>
    <dxi-column dataField="dueDate" caption="Data Scadenta" dataType="date" format="dd-MM-yyyy HH:mm" alignment="right"></dxi-column>

    <dxi-column dataField="isActive" caption="Activ" dataType="boolean" alignment="center">
    </dxi-column>
    <dxi-column caption="Actiuni" cellTemplate="cellTemplate" [width]="250" [minWidth]="250" alignment="center">
    </dxi-column>

    <div *dxTemplate="let data of 'itemTypeTemplate'">
        {{itemTypeExpr(data.data)}}
    </div>
    <div *dxTemplate="let data of 'itemPriceTemplate'">
        {{itemPriceExpr(data.data)}}
    </div>
    <div *dxTemplate="let data of 'cellTemplate'">
        <i class="fa fa-pencil fa-2x" style='padding-right : 15px' href="javascript:void(0)" *ngIf="editOrder" title="Edit"
            (click)="openDetails(data.data)"></i>
        &nbsp;
        <i class="fa fa-ban fa-2x" style='padding-right : 15px' href="javascript:void(0)" *ngIf="editOrder" title="Stergere"
            (click)="deleteRow(data)"></i>
    </div>
</dx-data-grid>

<dx-popup *ngIf="selectedOrderItem" [width]="1300" [height]="700" [resizeEnabled]="true" [showTitle]="true"
    title="Detalii Produs Comanda" [dragEnabled]="true" [closeOnOutsideClick]="true" [(visible)]="popupVisible">
    <dx-scroll-view width="100%" height="100%">
        <dx-validation-group #secondValidationGroup>
            <div class="form-group row">
                <div class="col-2 dx-field-label text-md-right">Produs*:</div>
                <div class="col-md-10 col-lg-10">
                    <dx-select-box [dataSource]="items" [displayExpr]="getDisplayExprItems" valueExpr="id"
                        [searchEnabled]="true" (onValueChanged)="itemChange($event)"
                        [(ngModel)]="selectedOrderItem.itemId">
                        <dx-validator>
                            <dxi-validation-rule type="required" message="{{'required' | translate}}">
                            </dxi-validation-rule>
                        </dx-validator>
                    </dx-select-box>
                </div>
            </div>
            <!-- <div class="form-group row">
            <div class="col-2 dx-field-label text-md-right">Proprietati:</div>
            <div class="col-md-10 col-lg-10">
                <dx-text-box [(ngModel)]="selectedOrderItem.description"
                    [ngModelOptions]="{standalone: true}">
                </dx-text-box>
            </div>
        </div> -->
            <div class="form-group row">
                <div class="col-2 dx-field-label text-md-right">Cantitate*:</div>
                <div class="col-md-4 col-lg-4">
                    <dx-number-box [(ngModel)]="selectedOrderItem.quantity" [format]="'#0'" [min]="0"
                    [showSpinButtons]="true">
                        <dx-validator>
                            <dxi-validation-rule type="required" message="{{'required' | translate}}">
                            </dxi-validation-rule>
                        </dx-validator>
                    </dx-number-box>
                </div>
                <div class="col-2 dx-field-label text-md-right">UM*:</div>
                <div class="col-md-4 col-lg-4">
                    <dx-select-box [dataSource]="measurementUnits" displayExpr="name" valueExpr="id"
                        [searchEnabled]="true" [disabled]="true" [(ngModel)]="selectedOrderItem.measurementUnitId">
                        <dx-validator>
                            <dxi-validation-rule type="required" message="{{'required' | translate}}">
                            </dxi-validation-rule>
                        </dx-validator>
                    </dx-select-box>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2 dx-field-label text-md-right">Lista de pret*:</div>
                <div class="col-md-4 col-lg-4">
                    <dx-select-box [dataSource]="salePriceLists" [displayExpr]="salePriceListExpr" valueExpr="id"
                        [searchEnabled]="true" (onValueChanged)="salePriceListChange($event)"
                        [(ngModel)]="selectedOrderItem.salePriceListId">
                        <dx-validator>
                            <dxi-validation-rule type="required" message="{{'required' | translate}}">
                            </dxi-validation-rule>
                        </dx-validator>
                    </dx-select-box>
                </div>
            </div>

            <hr>

            <div class="form-group row">
                <div class="col-2 dx-field-label text-md-right">Pret lista fara TVA*:</div>
                <div class="col-md-3 col-lg-3">
                    <dx-text-box [disabled]="true" [(ngModel)]="listPrice.listPrice">
                    </dx-text-box>
                </div>

                <div class="col-1 dx-field-label text-md-right">TVA (%):</div>
                <div class="col-md-1 col-lg-1">
                    <dx-text-box [disabled]="true" [(ngModel)]="listPrice.rate">
                    </dx-text-box>
                </div>

                <div class="col-2 dx-field-label text-md-right">Pret lista cu TVA*:</div>
                <div class="col-md-3 col-lg-3">
                    <dx-text-box [disabled]="true" [(ngModel)]="listPrice.listPriceWithVAT">
                    </dx-text-box>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-2 dx-field-label text-md-right">Pret comanda fara TVA*:</div>
                <div class="col-md-3 col-lg-3">
                    <dx-number-box [(ngModel)]="selectedOrderItem.orderPrice"  [format]="{ type: 'fixedPoint', precision: 2 }"
                        (onValueChanged)="orderPriceChange($event)" [ngModelOptions]="{standalone: true}">
                        <dx-validator>
                            <dxi-validation-rule type="required" message="{{'required' | translate}}">
                            </dxi-validation-rule>
                        </dx-validator>
                    </dx-number-box>
                </div>

                <div class="col-1 dx-field-label text-md-right">TVA (%):</div>
                <div class="col-md-1 col-lg-1">
                    <dx-text-box [disabled]="true" [(ngModel)]="selectedOrderItem.rate">
                    </dx-text-box>
                </div>

                <div class="col-2 dx-field-label text-md-right">Pret comanda cu TVA*:</div>
                <div class="col-md-3 col-lg-3">
                    <dx-number-box [disabled]="true" [(ngModel)]="selectedOrderItem.orderPriceWithVAT" [format]="{ type: 'fixedPoint', precision: 2 }">
                    </dx-number-box>
                </div>
            </div>
            <hr>

            <div class="form-group row">
                <div class="col-2 dx-field-label text-md-right">Data Sacadenta:</div>
                <div class="col-md-4 col-lg-4">
                    <dx-date-box [(ngModel)]="selectedOrderItem.dueDate" type="datetime"
                        displayFormat="dd-MM-yyyy HH:mm">
                    </dx-date-box>
                </div>
                <div class="col-2 dx-field-label text-md-right">Numar Lot:</div>
                <div class="col-md-4 col-lg-4">
                    <dx-text-box [(ngModel)]="selectedOrderItem.lotNumber" [ngModelOptions]="{standalone: true}">
                    </dx-text-box>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-2 dx-field-label text-md-right">Data Estimata de Sosire:</div>
                <div class="col-md-4 col-lg-4">
                    <dx-date-box [(ngModel)]="selectedOrderItem.arrivalDate" type="datetime"
                        displayFormat="dd-MM-yyyy HH:mm">
                    </dx-date-box>
                </div>
                <div class="col-2 dx-field-label text-md-right">Data Estimata de Incarcare:</div>
                <div class="col-md-4 col-lg-4">
                    <dx-date-box [(ngModel)]="selectedOrderItem.loadDate" type="datetime"
                        displayFormat="dd-MM-yyyy HH:mm">
                    </dx-date-box>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-2 dx-field-label text-md-right">Observatii:</div>
                <div class="col-md-10 col-lg-10">
                    <dx-text-box [(ngModel)]="selectedOrderItem.remarks" [ngModelOptions]="{standalone: true}">
                    </dx-text-box>
                </div>
            </div>
        </dx-validation-group>
        <hr>
        <br>
        <dx-button *ngIf="isOnSaveItem" type="danger" text="Salveaza" 
            (onClick)="saveItemOrder()">
        </dx-button>
        &nbsp; &nbsp;
        <dx-button *ngIf="!isOnSaveItem" type="danger" text="Modifica" 
            (onClick)="updateItemOrder()">
        </dx-button>
        &nbsp; &nbsp;
        <dx-button text="Inchide" (onClick)="closePopup()">
        </dx-button>

        <br><br>
        <div *ngIf="listPrice.listPrice === 0 && this.listPrice.rate === 0">
            <p style="color:red; font-weight: bold;">Atentie! Produsul nu a fost gasit in lista de pret!</p>
        </div>

    </dx-scroll-view>
</dx-popup>

<dx-button *ngIf="isOnSave" [disabled]="orderItems.length === 0 || order.rowVersion" text="{{'buttons.save' | translate}}" (onClick)="saveData()">
</dx-button>
&nbsp;
<dx-button *ngIf="!isOnSave && order && !order.syncERPExternalId" [disabled]="orderItems.length === 0 || isUpdateDisabled" 
    text="{{  order && order.syncERPExternalId ? 'Modifica datele si Trimite la ERP' : 'Modifica' }}"
    (onClick)="updateData()">
</dx-button>
&nbsp;

<dx-button *ngIf="!isOnSave && order && isOrderValidated && !order.syncERPExternalId && !isOrderSentToERP"
    text="{{'buttons.upsertItemERP' | translate}}" (onClick)="openERPPopup()">
</dx-button>
&nbsp;

<dx-button *ngIf="!isOnSave && order && isOrderValidated && !order.syncERPInvoiceId && !isOrderInvoiceSentToERP" type="default"
    text="{{'buttons.upsertInvoiceERP' | translate}}" (onClick)="openERPInvoicePopup()">
</dx-button>
&nbsp;

<dx-button text="Inapoi" (onClick)="backToOrders()">
</dx-button>
&nbsp;
<dx-button *ngIf="!isOnSave" (onClick)="showHistory = !showHistory" data-toggle="tooltip" title="Istoric">
    <i class="fa fa-history"></i>
</dx-button>
<hr>

<div [hidden]="!showHistory">
    <div class="form-group row" *ngIf="(order && order.created)">
        <div class="col-xs-12">
            <p><b>{{getOrderCreated(order, true)}}</b></p>
        </div>
    </div>
    <div class="form-group row" *ngIf="(order && order.modified)">
        <div class="col-xs-12">
            <p><b>{{getOrderCreated(order, false)}}</b></p>
        </div>
    </div>
    <div class="form-group row"
            *ngIf="(order && order.syncERPExternalId && orderERPSyncHistoryItem) || isOrderSentToERP">
            <div class="col-xs-12">
                <p><b>{{getOrderERPSyncHistory(order.id)}}</b></p>
            </div>
        </div>
</div>


<dx-popup [width]="500" [height]="200" [showTitle]="true" [resizeEnabled]="true"
title="{{'buttons.upsertItemERP' | translate}}" [dragEnabled]="false" [closeOnOutsideClick]="true"
[(visible)]="erpPopup">
<dx-button stylingMode="contained" text="{{'general.yes' | translate}}" type="danger" [width]="200"
    (onClick)="insertERP(order.id)">
</dx-button>
<dx-button stylingMode="contained" text="{{'general.no' | translate}}" type="normal" [width]="200"
    (onClick)="erpPopup = false">
</dx-button>
</dx-popup>


<dx-popup [width]="500" [height]="200" [showTitle]="true" [resizeEnabled]="true"
title="{{'buttons.upsertInvoiceERP' | translate}}" [dragEnabled]="false" [closeOnOutsideClick]="true"
[(visible)]="erpInvoicePopup">
<dx-button stylingMode="contained" text="{{'general.yes' | translate}}" type="danger" [width]="200"
    (onClick)="insertInvoiceERP(order.id)">
</dx-button>
<dx-button stylingMode="contained" text="{{'general.no' | translate}}" type="normal" [width]="200"
    (onClick)="erpInvoicePopup = false">
</dx-button>
</dx-popup>