<div *ngIf="isTurnoverPage">
    <app-spinner [visible]="loaded"></app-spinner>
    <div class="main-content">
        <div class="container-fluid">
            <div class="card card-plain">
                <div class="partner-suggestion-popup-wrapper" [ngStyle]="(clientId && showPartnerSuggestion) ? { 'margin-top': '7%' } : null">
                    <dx-popup width="20%" height="90%"
                        [showTitle]="true" title="Sugestie" [dragEnabled]="true"
                        [closeOnOutsideClick]="false" [shading]="false" [(visible)]="clientId && showPartnerSuggestion"
                        [position]="{ my: 'top', at: 'top', of: window }" [showCloseButton]="false">
                        <dx-scroll-view width="100%" height="100%" direction="both">
                            <div class="popup-content">                      
                                <div class="row">
                                    <div *ngIf="clientId && postId">
                                        <app-partner-suggestion #partnerSuggestionComponent 
                                            [(postId)]="postId" 
                                            [(clientId)]="clientId"
                                            [(customerId)]="customerId" 
                                            [(partnerSugestionsActions)]="actions"
                                            [(partnerLocationContactId)]="selectedTurnoverPartnerLocationContactId"
                                            (hidePartnerSuggestionPopupChange)="hidePartnerSuggestionPopupChange($event)">
                                        </app-partner-suggestion>
                                    </div>
                                </div>
                            </div>  
                        </dx-scroll-view> 
                    </dx-popup>
                </div>

                <app-title [title]="'Rulaj'"></app-title>
                <div class="form-group d-flex flex-wrap align-items-center" style="gap: 15px;">
                    <div class="d-flex align-items-center">
                        <a href="javascript:void(0)" id="dashbord" title="Inapoi la fisa partenerului" (click)="backToPartner()">
                            <i class="material-icons">reply_all</i>
                        </a>
                    </div>

                    <div class="d-flex align-items-center">
                        <a href="javascript:void(0)" id="dashbord" title="Refresh la toate datele din rulaj" (click)="onRefresh()">
                            <i class="material-icons">refresh</i>
                        </a>
                    </div>

                    <div class="d-flex align-items-center">
                        <img [src]="'./assets/img/clear-filters-icon.png'" class="clear-filters-img" title="Sterge toate filtrele si Refresh la date" (click)="onClearFiltersClick()">
                    </div>

                    <div class="d-flex align-items-center" *ngIf="postId">
                        <label class="mb-0 mr-2" style="color: black">Client:</label>
                        <dx-select-box [dataSource]="partners" [(ngModel)]="partnerId" valueExpr="id"
                            [displayExpr]="getDisplayExprPartners" [searchEnabled]="true" [width]="500"
                            (input)="onPartnerChanged($event)" (onValueChanged)="partnerChange($event)">
                        </dx-select-box> 
                    </div>

                    <div class="d-flex align-items-center">
                        <dx-button id="sendOfferToPartnerBtn" (mouseenter)="getSendOfferToPartnerLogTooltipData()" (mouseleave)="hideSendOfferToPartnerLogTooltipData()"
                             text="Trimite oferta" (onClick)="openGeneralOfferPopup()" type="danger"></dx-button>
                    </div>

                    <div *ngIf="currentGmtOffset" class="d-flex align-items-center">
                        <div class="local-time-container">
                            <p class="local-time-label">Ora locala:</p>
                            <div class="local-time-display">
                                <span class="day">{{ localTime.dayOfWeek }}</span>
                                <span class="time">{{ localTime.formattedTime }}</span>
                            </div>
                        </div> 
                    </div>

                    <div *ngIf="showNewProductBtn" class="d-flex align-items-center">
                        <dx-button text="Produs Nou(XXXX)" type="danger" (onClick)="addItemGroupProposed()"></dx-button> 
                    </div>

                    <div class="d-flex align-items-center">
                        <dx-button class="info-btn d-flex align-items-center" type="danger" id="openPartnerSchedule" (click)="openPartnerSchedule()" title="Preferinte Contactare">
                            <span class="btn-content">
                                <i class="material-icons partner-schedule-icon">alarm</i>
                                <span class="btn-text">ORAR</span>
                            </span>
                        </dx-button>
                    </div>

                    <div class="d-flex align-items-center">
                        <dx-button class="info-btn d-flex align-items-center" type="danger" id="specialPrice" (click)="openSpecialPriceRequest()" title="Cere Pret Special">
                            <span class="btn-content">
                                <span class="btn-text">CERE PRET SPECIAL</span>
                            </span>
                        </dx-button>
                    </div>

                    <div class="d-flex align-items-center">
                        <i class="fa fa-shopping-basket" style="cursor: pointer;" id="specialPrice" (click)="openBasketPopup()" title="Cos"></i>
                    </div>

                    <div class="d-flex align-items-center">
                        <dx-button class="info-btn d-flex align-items-center" type="danger" (click)="openVipOffer(true)" 
                            title="Actiunea de a vedea intreaga oferta VIP poate lua mult timp, pentru a o vedea rapid, mergeti in pagina de administrare a ofertei VIP.">
                            <span class="btn-content">
                                <span class="btn-text">VIP</span>
                            </span>
                        </dx-button>
                    </div>

                    <div class="d-flex align-items-center" *ngIf="showPartnerCallReminder && clientId && postId">
                        <img [src]="'./assets/img/call-reminder-icon.png'" class="call-reminder-img" title="De Revenit!" (click)="onCallReminderClick()">
                    </div>
                </div>
                
                <div class="form-group d-flex flex-wrap align-items-center" style="gap: 15px;">
                    <div class="d-flex align-items-center" *ngIf="showYearlyTurnover && clientId && postId">
                        <app-yearly-turnover #yearlyTurnoverComponent 
                            [(postId)]="postId" 
                            [(clientId)]="clientId" 
                            [hideTable]="hideTarlyTurnoverTable" 
                            [(customerId)]="customerId" 
                            [(items)]="items" 
                            [itemsDS]="itemsDS"
                            [(showCharts)]="showCharts" 
                            [(yearlyTurnoverActions)]="actions" 
                            [partners]="partners" 
                            [isSpecialPriceRequest]="isSpecialPriceRequest" 
                            (discountNameValueChange)="discountNameValueChange($event)">
                        </app-yearly-turnover>
                    </div>

                    <div class="d-flex align-items-center">
                        <span class="discount-grids-btn" id="discountGridsTooltip" (mouseenter)="toggleTemplate()" (mouseleave)="toggleTemplate()">GRILE</span>
                    </div>
                </div>

                <div class="form-group d-flex flex-wrap align-items-center" style="gap: 15px;">
                    <div class="d-flex align-items-center">
                        <label class="mb-0 mr-2" style="color: black">Cod/Nume:</label>
                        <dx-text-box [(ngModel)]="searchCodeOrName" type="text" [width]="600"></dx-text-box>
                    </div>

                    <div class="d-flex align-items-center">
                        <dx-button text="Cauta" type="warning" (onClick)="onSearchByItemCodeOrName()"></dx-button>
                    </div>
                </div>

                <div class="form-group d-flex flex-wrap align-items-center" style="gap: 30px;" *ngIf="partners && partners.store">
                    <div class="order-for-the-amount" *ngIf="!isOrderAmountCommunicatedToClient">
                        <div *ngIf="orderForTheAmount">
                            <b style="color: red; font-size: 19px;">Comunica: La o {{orderForTheAmount}}</b>
                        </div>
                        <div id="orderForTheAmountCheckBox" *ngIf="orderForTheAmount">
                            <dx-check-box id="orderForTheAmountCheck" [(ngModel)]="isOrderAmountCommunicatedToClient" (onValueChanged)="onOrderAmountCheckBoxChange($event)"></dx-check-box>
                        </div>
                    </div>
                    <div *ngIf="isOrderAmountCommunicatedToClient">
                        <div *ngIf="orderForTheAmount">
                            <b style="color: #00acc1; font-size: 19px;">{{ alreadyCommunicatedOrderForTheAmount }}</b>
                        </div>
                    </div>
                </div>
                  
                    <hr>
    
                    <div class="form-group row">
                
                    <div [hidden]="!showLiquidationOfferTurnover || !clientId || !postId">
                        <app-liquidation-offer-turnover #liquidationOfferTurnoverComponent
                        [(postId)]="postId" 
                        [(clientId)]="clientId" 
                        [(customerId)]="customerId"
                         [(showCharts)]="showCharts" 
                         [(partnerItemState)]="partnerItemState"
                         [(brands)]="brands"
                         [vipOfferItems]="vipOfferItems"
                         [(items)]="items"
                         [(liquidationOfferTurnoverActions)]="liquidationOfferTurnoverActions"
                         [relatedItems]="relatedItems"
                         [partners]="partners"
                         (foundItemBySearchFilter)="foundItemBySearchFilterLiquidationOffer($event)"
                         (isComponentShown)="isComponentShownLiquidationOffer($event)"></app-liquidation-offer-turnover>
                    </div>
                    
                    <div [hidden]="!showMandatoryPromotionTurnover || !clientId || !postId">
                        <app-mandatory-promotion-turnover #mandatoryPromotionTurnoverComponent 
                        [(postId)]="postId" 
                        [(clientId)]="clientId" 
                        [(customerId)]="customerId"
                         [(showCharts)]="showCharts" 
                         [(partnerItemState)]="partnerItemState"
                         [(brands)]="brands"
                         [vipOfferItems]="vipOfferItems"
                         [(items)]="items"
                         [(mandatoryPromotionTurnoverActions)]="mandatoryPromotionTurnoverActions"
                         [relatedItems]="relatedItems"
                         [partners]="partners"
                         (foundItemBySearchFilter)="foundItemBySearchFilterMandatoryPromotion($event)"
                         (isComponentShown)="isComponentShownMandatoryPromotion($event)"></app-mandatory-promotion-turnover>
                    </div>
                    
                    <div  [hidden]="!showClientTurnover || !clientId || !postId">
                        <app-client-turnover #clientTurnoverComponent 
                        [(postId)]="postId" 
                        [(clientId)]="clientId" 
                        [(customerId)]="customerId" 
                        [(showCharts)]="showCharts" 
                        [(partnerItemState)]="partnerItemState"
                        [(brands)]="brands"
                        [vipOfferItems]="vipOfferItems"
                        [(items)]="items"
                        [(clientTurnoverActions)]="clientTurnoverActions"
                        [relatedItems]="relatedItems"
                        [partners]="partners"
                        (foundItemBySearchFilter)="foundItemBySearchFilterClientTurnover($event)"
                        (isComponentShown)="isComponentShownClientTurnover($event)"></app-client-turnover>
                    </div>
                    
                    <div [hidden]="!showPartnerActivityTurnover || !clientId || !postId">
                        <app-partner-activity-turnover #partnerActivityTurnoverComponent
                         [(postId)]="postId"
                         [(customerId)]="customerId"
                         [(clientId)]="clientId" 
                         [(showCharts)]="showCharts" 
                         [(partnerItemState)]="partnerItemState"
                         [(brands)]="brands"
                         [vipOfferItems]="vipOfferItems"
                         [(items)]="items"
                         [(partnerActivityTurnoverActions)]="partnerActivityTurnoverActions" 
                         [relatedItems]="relatedItems"
                         [partners]="partners"
                         (foundItemBySearchFilter)="foundItemBySearchFilterPartnerActivity($event)"
                         (isComponentShown)="isComponentShownPartnerActivity($event)"></app-partner-activity-turnover>
                    </div>
                    
                    <div [hidden]="!showNewItemsTurnover || !clientId || !postId">
                        <app-new-items-turnover #newItemsTurnoverComponent 
                        [(postId)]="postId" 
                        [(clientId)]="clientId" 
                        [(customerId)]="customerId" 
                        [(showCharts)]="showCharts" 
                        [(partnerItemState)]="partnerItemState"
                        [(brands)]="brands"
                        [vipOfferItems]="vipOfferItems"
                        [(items)]="items"
                        [(newItemsTurnoverActions)]="newItemsTurnoverActions"
                        [relatedItems]="relatedItems"
                        [partners]="partners"
                        (foundItemBySearchFilter)="foundItemBySearchFilterNewItems($event)"
                        (isComponentShown)="isComponentShownNewItems($event)"></app-new-items-turnover>
                    </div>

                    <div [hidden]="!showOfficeDrinksTurnover || !clientId || !postId">
                        <app-office-drinks-turnover #officeDrinksTurnoverComponent 
                        [(postId)]="postId" 
                        [(clientId)]="clientId"
                         [(customerId)]="customerId" 
                         [(showCharts)]="showCharts" 
                         [(partnerItemState)]="partnerItemState"
                         [(brands)]="brands"
                         [vipOfferItems]="vipOfferItems"
                         [(items)]="items"
                         [(officeDrinksTurnoverActions)]="officeDrinksTurnoverActions"
                         [relatedItems]="relatedItems"
                         [partners]="partners"
                         (foundItemBySearchFilter)="foundItemBySearchFilterOfficeDrinks($event)"
                         (isComponentShown)="isComponentShownOfficeDrinks($event)"></app-office-drinks-turnover>
                    </div>
                    
                    <div [hidden]="!showOfficeItemsTurnover || !clientId || !postId">
                        <app-office-items-turnover #officeItemsTurnoverComponent 
                        [(postId)]="postId" 
                        [(clientId)]="clientId"
                         [(customerId)]="customerId" 
                         [(showCharts)]="showCharts" 
                         [(partnerItemState)]="partnerItemState"
                         [(brands)]="brands"
                         [vipOfferItems]="vipOfferItems"
                         [(items)]="items"
                         [(officeItemsTurnoverActions)]="officeItemsTurnoverActions"
                         [relatedItems]="relatedItems"
                         [partners]="partners"
                         (foundItemBySearchFilter)="foundItemBySearchFilterOfficeItems($event)"
                         (isComponentShown)="isComponentShownOfficeItems($event)"></app-office-items-turnover>
                    </div>

                    <div *ngIf="showOtherProductBtn" class="d-flex align-items-center" style="margin-top: 0.5rem; margin-bottom: -0.4rem">
                        <dx-button text="Adauga Alt Produs" type="danger" (onClick)="addOtherItem()"></dx-button>
                    </div>
                    
                    <div [hidden]="!showAgentOtherItemTurnover || !clientId || !postId">
                        <app-agent-other-item-turnover #agentOtherItemsTurnoverComponent 
                        [(postId)]="postId" 
                        [(clientId)]="clientId"
                         [(customerId)]="customerId" 
                         [(showCharts)]="showCharts" 
                         [(partnerItemState)]="partnerItemState"
                         [(brands)]="brands"
                         [vipOfferItems]="vipOfferItems"
                         [(items)]="items"
                         [(agentOtherItemsTurnoverActions)]="agentOtherItemsTurnoverActions"
                         [relatedItems]="relatedItems"
                         [partners]="partners"
                         (foundItemBySearchFilter)="foundItemBySearchFilterAgentOtherItem($event)"
                         (isComponentShown)="isComponentShownAgentOtherItem($event)"></app-agent-other-item-turnover>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <dx-popup
        width="900" height="150"
        [showTitle]="true"
        title="De Revenit"
        [dragEnabled]="true"
        [closeOnOutsideClick]="true"
        [(visible)]="isCallReminderPopupOpen">
            <dx-scroll-view width="100%" height="100%">
                <app-partner-call-reminder #partnerCallReminderComponent 
                    [(postId)]="postId" 
                    [(clientId)]="clientId" 
                    [(customerId)]="customerId" 
                    [(showCharts)]="showCharts" 
                    [(partnerCallReminderActions)]="actions"
                    (partnerLocationContactIdChange)="partnerLocationContactIdChange($event)">
                </app-partner-call-reminder>
            </dx-scroll-view>   
    </dx-popup>
    
    <dx-popup
    width="600" height="500"
    [showTitle]="true"
    title="Trimite Oferta"
    [dragEnabled]="false"
    [closeOnOutsideClick]="true"
    [(visible)]="offerPopupVisible">
        <dx-scroll-view width="100%" height="100%">
            <div class="form-group d-flex flex-wrap align-items-center" style="gap: 15px;margin-left:20px">
                <div class="d-flex align-items-center" style="min-width: 55px;">
                    <label class="mb-0 mr-2" style="color: black">Email:</label>
                    <dx-tag-box [(ngModel)]="selectedLocationContactPerson" [(dataSource)]="locationContactPersons" [displayExpr]="getDisplayExprContact" [searchEnabled]="true"
                        [showSelectionControls]="true" [showMultiTagOnly]="false" applyValueMode="instantly" tagTemplate="tagTemplate" [width]="400">
                        <div *dxTemplate="let data of 'tagTemplate'">
                            <p class="send-offer-email-tag-template">
                                {{ data.email }};
                            </p>
                        </div>
                    </dx-tag-box>
                </div>
            </div>
            
            <div class="form-group d-flex flex-wrap align-items-center" style="gap: 15px;">
                <div class="d-flex align-items-center">
                    <label class="mb-0 mr-2" style="color: black">CC Email:</label>
                    <dx-text-box [(ngModel)]="emailForTest" [ngModelOptions]="{standalone: true}" [width]="400"></dx-text-box>           
                </div>
            </div>
            
            <div class="form-group d-flex flex-wrap align-items-center" style="gap: 15px;margin-left:65px">
                <div class="d-flex align-items-center">
                    <dx-radio-group [items]="offerTypes" [(ngModel)]="selectedOfferType" (onValueChanged)="onOfferTypeValueChanged($event)" itemTemplate="radio">
                        <div class="radio" *dxTemplate="let data of 'radio'">
                            {{ data.text }} &nbsp;
                            <i class="fa fa-pencil fa-2x" title="Modifica email" (click)="onModifyEmailClick(data); $event.stopPropagation()" *ngIf="data.id !== 6"></i> &nbsp;
                            <i class="fa fa-file" aria-hidden="true" title="Vezi excel" (click)="onViewOfferClick(data); $event.stopPropagation()" *ngIf="data.id !== 5 && data.id !== 6"></i>
                        </div>
                    </dx-radio-group>
                </div>
            </div>
  
            <br>
            <hr>
            <div style="float: right">
                <dx-button text="Trimite" (onClick)="sendOffer()">
                </dx-button> 
            </div>
        </dx-scroll-view>     
    </dx-popup>

    <div *ngFor="let offer of offerTypes">
        <dx-popup
            width="70%" height="35%"
            [showTitle]="true"
            [title]="offer.text"
            [dragEnabled]="true"
            [closeOnOutsideClick]="true"
            [(visible)]="modifyOfferEmailPopupStates[offer.id]">
            <dx-scroll-view width="100%" height="100%">
                <div class="popup-content">   
                    <div class="row mb-2">
                        <div class="col-md-1 col-lg-1 dx-field-label text-md-right" title="Subiect Email">Denumire Excel:</div>
                        <div class="col-md-10 col-lg-10">
                            <dx-text-box [(ngModel)]="excelFileName[offer.id]">
                            </dx-text-box>
                        </div>
                    </div>                 
                    <div class="row mb-2">
                        <div class="col-md-1 col-lg-1 dx-field-label text-md-right" title="Subiect Email">Subiect Email:</div>
                        <div class="col-md-10 col-lg-10">
                            <dx-text-box [(ngModel)]="emailSubject[offer.id]">
                            </dx-text-box>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1 col-lg-1 dx-field-label text-md-right" title="Text Email">Text Email:</div>
                        <div class="col-md-10 col-lg-10">
                            <dx-text-area [height]="250" [(ngModel)]="emailBody[offer.id]">
                            </dx-text-area>
                        </div>
                    </div>
                </div>
            </dx-scroll-view>
        </dx-popup>
    </div>
      
    <dx-popup
        width="70%" height="50%"
        [showTitle]="true"
        title="Introdu codurile cu virgula intre ele. Orice cod care nu va fi recunoscut, se va oferta la Cod 4 sau va genera Eroare."
        [dragEnabled]="true"
        [closeOnOutsideClick]="true"
        [(visible)]="isDedicatedOfferPopupOpen">
            <dx-scroll-view width="100%" height="100%">
                <div class="popup-content">                    
                    <dx-text-area [height]="450" 
                        [(ngModel)]="dedicatedOfferData">
                    </dx-text-area>
                
                    <div class="dedicated-offer-btns">
                        <dx-button text="Genereaza Oferta" (onClick)="onSaveDedicatedOffer()">
                        </dx-button>
                    </div>
                </div>
            </dx-scroll-view>   
    </dx-popup>
    
    <dx-popup
        width="50%" height="20%"
        [showTitle]="true"
        title="Eroare"
        [dragEnabled]="true"
        [closeOnOutsideClick]="true"
        [(visible)]="isDedicatedOfferInvalidCodesPopupOpen">
            <dx-scroll-view width="100%" height="100%">
                <div class="popup-content">                      
                    <div class="popup-body">
                        Codurile {{ dedicatedOfferInvalidCodes }} nu exista, oferta se va genera fara acestea.
                    </div>

                    <div class="invalid-codes-dedicated-offer-btns">
                        <dx-button text="Continua" (onClick)="onSaveDedicatedOfferWithInvalidCodes()">
                        </dx-button>

                        <dx-button text="Corecteaza" (onClick)="closeDedicatedOfferInvalidCodesPopup()">
                        </dx-button>
                    </div>
                </div>
            </dx-scroll-view>   
    </dx-popup>

    <div *ngIf="isDailyWhatsappOfferPopupOpen">
        <app-daily-whatsapp-offers [clientId]="clientId" [selectedLocationContactPerson]="selectedLocationContactPerson" 
            [email]="emailForTest"></app-daily-whatsapp-offers>
    </div>

    <dx-popup *ngIf="selectedItemGroupProposed"
    width="1270" height="290"
    [showTitle]="true"
    title="Adauga Produs XXXX"
    [dragEnabled]="false"
    [closeOnOutsideClick]="true"
    [(visible)]="proposedItemGroupPopup">
    
    <dx-validation-group #validationGroup>
        <div class="form-group d-flex flex-wrap align-items-center" style="gap: 30px;margin-left: 27px; margin-bottom: 5px">
            <div class="d-flex align-items-center">
                <label class="mb-0 mr-2" style="color: black">Nume(RO):</label>
                <dx-text-box [(ngModel)]="selectedItemGroupProposed.NameRO" [ngModelOptions]="{standalone: true}" [width]="600">
                    <dx-validator><dxi-validation-rule type="required" message="{{'required' | translate}}"></dxi-validation-rule></dx-validator>
                </dx-text-box>
            </div>

            <div class="d-flex align-items-center">
                <label class="mb-0 mr-2" style="color: black">Cant. Lunara:</label>
                <dx-number-box [(ngModel)]="selectedItemGroupProposed.Quantity" [width]="150">
                    <dx-validator><dxi-validation-rule type="required" message="{{'required' | translate}}"></dxi-validation-rule></dx-validator>
                </dx-number-box>
            </div>

            <div class="d-flex align-items-center">
                <label class="mb-0 mr-2" style="color: black">Pret:</label>
                <dx-number-box [(ngModel)]="selectedItemGroupProposed.price" [width]="150">
                    <dx-validator><dxi-validation-rule type="required" message="{{'required' | translate}}"></dxi-validation-rule></dx-validator>
                </dx-number-box>
            </div>
        </div>

        <div class="form-group d-flex flex-wrap align-items-center" style="gap: 30px;margin-bottom: 5px">
            <div class="d-flex align-items-center">
                <label class="mb-0 mr-2" style="color: black">Furnizor Actual:</label>

                <dx-select-box [dataSource]="partnersDS" [displayExpr]="getDisplayExprPartners" valueExpr="id"
                    [(ngModel)]="selectedItemGroupProposed.supplierId" [searchEnabled]="true" [width]="300">
                </dx-select-box>
            </div>

            <div class="d-flex align-items-center">
                <label class="mb-0 mr-2" style="color: black">Producator:</label>
                <dx-select-box [dataSource]="partnersDS" [displayExpr]="getDisplayExprPartners" valueExpr="id"
                    [(ngModel)]="selectedItemGroupProposed.identifiedManufacturerId" [searchEnabled]="true" [width]="300">
                </dx-select-box>
            </div>

            <div class="d-flex align-items-center">
                <label class="mb-0 mr-2" style="color: black">Brand:</label>

                <dx-select-box [dataSource]="brands" [displayExpr]="getDisplayExprBrands" valueExpr="id"
                    [(ngModel)]="selectedItemGroupProposed.brandId" [searchEnabled]="true" [width]="300">
                </dx-select-box>
            </div>
        </div>

        <div class="form-group d-flex flex-wrap align-items-center" style="gap: 30px;margin-left: 27px">
            <div class="d-flex align-items-center">
                <label class="mb-0 mr-2" style="color: black">Observatii:</label>
                <dx-text-box [(ngModel)]="selectedItemGroupProposed.observations" [ngModelOptions]="{standalone: true}" [width]="1090">
                </dx-text-box>
            </div>
        </div>
    </dx-validation-group>
    
    <br>
    <hr>
    <dx-button id="addItemGroupProposedBtn" text="Trimite" (onClick)="saveProposedItemGroup()" style="float: right">
    </dx-button>      
    </dx-popup>
    
    
    <dx-popup *ngIf="selectedComment"
    width="900" height="30%"
    [showTitle]="true"
    title="Adauga Alt Produs"
    [dragEnabled]="false"
    [closeOnOutsideClick]="true"
    [(visible)]="addOtherItemPopup"> 

    <dx-validation-group #secondValidationGroup>
        <div class="form-group d-flex flex-wrap align-items-center" style="gap: 15px;">
            <div class="d-flex align-items-center">
                <label class="mb-0 mr-2" style="color: black">Cod/Nume Produs*:</label>
                <dx-select-box [dataSource]="itemsDS" [displayExpr]="getItemDisplayExpr" valueExpr="id"
                    [searchEnabled]="true" [(ngModel)]="selectedComment.itemId" [searchEnabled]="true" [width]="700">
                    <dx-validator><dxi-validation-rule type="required"
                        message="{{'required' | translate}}"></dxi-validation-rule></dx-validator>
                </dx-select-box>
            </div>
        </div>
    </dx-validation-group>
    
    <br>
    <hr>
    <dx-button text="Salveaza" (onClick)="saveOtherItem(false)">
    </dx-button>      
    </dx-popup>
    
    <dx-tooltip target="#discountGridsTooltip" position="right" [(visible)]="templateVisible" [closeOnOutsideClick]="false">
        <div *dxTemplate="let data = data of 'content'">
          <h4><b>Grile</b></h4> <br>
          <h5 id="tooltipInfo"></h5>
        </div>
      </dx-tooltip>
    
    <div *ngIf="isShoppingCartPopupOpen && managements && managements.length > 0">
        <app-partner-shopping-cart
            [isShoppingCartPopupOpen]="isShoppingCartPopupOpen"
            [partnerId]="clientId"
            [tableHtml]="tableHtml"
            [orderForTheAmount]="orderForTheAmount"
            [sites]="sites"
            [managements]="managements"
            [itemsDS]="itemsDS"
            [items]="items"
            [selectedPartner]="partners.store[0]"
            [customerId]="customerId"
            (isShoppingCartPopupOpenOutput)="isShoppingCartPopupOpenOutputChange($event)"
            [isOrderAmountCommunicatedToClient]="isOrderAmountCommunicatedToClient"
            [alreadyCommunicatedOrderForTheAmount]="alreadyCommunicatedOrderForTheAmount"
        >

        </app-partner-shopping-cart>
    </div>
    
    <dx-tooltip  #stockTooltipItemCode position="right">
        <div *dxTemplate="let data of 'content'">
          <div class='tooltipContent'>
            <div *ngFor="let item of stockTooltipData">
              <b><div>Stoc total locatie {{item.siteCode}}: {{item.totalStockOnSite}}</div></b>
              <div *ngFor="let stock of item.stocksOnManagement" style="margin-left: 20px;">Stoc gestiune {{stock.managementCode}}: {{stock.stockOnManagement}}</div>
            </div>
          </div>
        </div>
      </dx-tooltip>
    
    <dx-popup *ngIf="showPartnerSchedule && clientId" [showTitle]="true" [resizeEnabled]="true" [dragEnabled]="true" [closeOnOutsideClick]="true"
        [(visible)]="showPartnerSchedule" width="28%" height="65%" class="custom-popup">
        <dx-scroll-view width="100%" height="100%">
            <div>
                <div class="company-schedule"><b>Orar Companie</b></div> <hr />
                <app-partner-location-schedule #partnerLocationScheduleComponent [showSaveBtn]="false"
                    [customerId]="customerId"></app-partner-location-schedule>
    
                <div class="company-schedule"><b>Cand este cel mai bine sa fii contactat/a ?</b></div>
                <div class="partner-contact-preference">
                    <dx-radio-group
                        [dataSource]="daysOfWeek"
                        layout="horizontal"
                        displayExpr="label"
                        valueExpr="value"
                        [(ngModel)]="partnerContactPreferences.dayOfWeek">
                    </dx-radio-group>

                    <div class="form-group d-flex flex-wrap align-items-center" style="gap: 30px;">
                        <div class="d-flex align-items-center">
                            <label class="mb-0 mr-2" style="color: black">De la:</label>
                            <dx-date-box [(ngModel)]="partnerContactPreferences.fromTime" type="datetime" displayFormat="HH:mm" 
                                [calendarOptions]="{visible: false}" [width]="100">
                                <dxo-drop-down-options
                                    [onInitialized]="customizeDateBoxButtons"
                                ></dxo-drop-down-options>
                            </dx-date-box>
                        </div>

                        <div class="d-flex align-items-center">
                            <label class="mb-0 mr-2" style="color: black">Pana la:</label>
                            <dx-date-box [(ngModel)]="partnerContactPreferences.toTime" type="datetime" displayFormat="HH:mm" 
                                [calendarOptions]="{visible: false}" [width]="100">
                                <dxo-drop-down-options
                                    [onInitialized]="customizeDateBoxButtons"
                                ></dxo-drop-down-options>
                            </dx-date-box>
                        </div>
                    </div>                    
                </div>
    
                <div class="company-schedule"><hr /><b>In ce mod preferi sa primesti Oferta ?</b></div>
                <div class="offer-method-flex-container">
                    <dx-radio-group
                        [dataSource]="deliveryOfferPreferences"
                        layout="horizontal"
                        displayExpr="label"
                        valueExpr="value"
                        [(ngModel)]="partnerContactPreferences.preferredOfferDeliveryMethod">
                    </dx-radio-group>
                
                    <div class="offer-method-flex-item">
                        <dx-validation-group #partnerScheduleValidationGroup>
                            <div *ngIf="partnerContactPreferences.preferredOfferDeliveryMethod === 4">
                                <dx-text-box [(ngModel)]="partnerContactPreferences.otherPreferredOfferDeliveryMethodDetails" [maxLength]="100">
                                    <dx-validator>
                                        <dxi-validation-rule type="required" message="{{'required' | translate}}"></dxi-validation-rule>
                                    </dx-validator>
                                </dx-text-box>
                            </div>
                        </dx-validation-group>
                    </div>
                </div>
    
                <dx-button text="Salveaza" (onClick)="onSavePartnerContactAndPreferences()" class="save-btn">
                </dx-button>
            </div>
        </dx-scroll-view>
    </dx-popup>

    <dx-popup *ngIf="isVipOfferPopupOpen" [showTitle]="true" [resizeEnabled]="true" title="Oferta VIP"
        [dragEnabled]="true" [closeOnOutsideClick]="true" [(visible)]="isVipOfferPopupOpen" width="50%" height="50%" class="custom-popup">
        <dx-scroll-view width="100%" height="100%" direction="both">
            <div class="vip-offer-popup-btn">
                <dx-button [text]="vipOfferButtonText" (onClick)="switchVipOfferProducts()"></dx-button>
            </div>
            <div *ngIf="vipOfferData && vipOfferData.length > 0">
                <table border="1">
                    <tr>
                      <th>Cod Produs</th>
                      <th>{{ partnerProductConvention }}</th>
                      <th *ngFor="let item of vipOfferData[0].tiers; let i = index">VIP {{ i + 1 }}</th>
                    </tr>
                    <tr *ngFor="let item of vipOfferData">
                      <td>{{item.itemCode}}</td>
                      <td>{{item.itemName}}</td>
                      <td *ngFor="let tier of item.tiers; let i = index">
                        <div class="vip-tier-cell">
                            <span>{{tier.price | number:'1.2-2' }} RON {{tier.baxValue | number:'1.0-0' }} buc</span>
                            <i id="shopping-basket-vip-offer" class="fa fa-shopping-basket" (click)="addItemToCartFromVipOffer(i + 1, item.itemId, tier.baxValue)" title="Trimite in cos"></i>
                        </div>
                      </td>
                    </tr>
                </table>
            </div>
        </dx-scroll-view>
    </dx-popup>
</div>

<div *ngIf="!isTurnoverPage">
    <app-spinner [visible]="loaded"></app-spinner>
    <div class="form-group d-flex flex-wrap align-items-center" style="gap: 30px;">
        <div class="d-flex align-items-center">
            <dx-button id="sendOfferToPartnerBtnPartnerPage" (mouseenter)="getSendOfferToPartnerLogTooltipDataPartnerPage()" (mouseleave)="hideSendOfferToPartnerLogTooltipDataPartnerPage()" 
                text="Trimite oferta" (onClick)="openGeneralOfferPopup()" type="danger"></dx-button>
        </div>

        <div class="d-flex align-items-center">
            <dx-button text="Produs Nou(XXXX)" type="danger" (onClick)="addItemGroupProposed()">
            </dx-button> 
        </div>
    </div>
    
    <dx-tooltip 
        [target]="'#sendOfferToPartnerBtnPartnerPage'"
        [visible]="isSendOfferToPartnerTooltipVisiblePartnerPage"
        [position]="{ my: 'top', at: 'bottom', of: '#sendOfferToPartnerBtnPartnerPage' }">
        <div *dxTemplate="let data of 'content'" class="label-tooltip" position="top">
            {{ sendOfferToPartnerLogTooltipDataPartnerPage }}
        </div>
    </dx-tooltip>
<hr>

<div *ngIf="showYearlyTurnover && clientIdPartnerDetails && postId">
    <app-yearly-turnover #yearlyTurnoverComponent 
    [(postId)]="postId" [(clientId)]="clientIdPartnerDetails"
    [hideTable]="hideTarlyTurnoverTable"
    [(customerId)]="customerId" 
    [(items)]="items"
    [itemsDS]="itemsDS"
    [(showCharts)]="showCharts" 
    [(yearlyTurnoverActions)]="actions"
    [partners]="partners"
    [isSpecialPriceRequest]="isSpecialPriceRequest"
    (discountNameValueChange)="discountNameValueChange($event)"
    [isTurnoverPage]="false"></app-yearly-turnover>
</div>

<div class="adjust-margin-call-reminder" *ngIf="showPartnerCallReminder && clientIdPartnerDetails && postId">
     <app-partner-call-reminder #partnerCallReminderComponent 
     [(postId)]="postId" 
     [(clientId)]="clientIdPartnerDetails" 
     [(customerId)]="customerId" 
     [(showCharts)]="showCharts" 
     [(partnerCallReminderActions)]="actions"></app-partner-call-reminder>
</div>

<div *ngIf="showLiquidationOfferTurnover && clientIdPartnerDetails && postId">
    <app-liquidation-offer-turnover #liquidationOfferTurnoverComponent 
    [(postId)]="postId" 
    [(clientId)]="clientIdPartnerDetails" 
    [(customerId)]="customerId"
     [(showCharts)]="showCharts" 
     [(partnerItemState)]="partnerItemState"
     [(brands)]="brands"
     [vipOfferItems]="vipOfferItems"
     [(items)]="items"
     [(liquidationOfferTurnoverActions)]="liquidationOfferTurnoverActions"
     [partners]="partners"></app-liquidation-offer-turnover>
</div>

<div *ngIf="showMandatoryPromotionTurnover && clientIdPartnerDetails && postId">
    <app-mandatory-promotion-turnover #mandatoryPromotionTurnoverComponent 
    [(postId)]="postId" 
    [(clientId)]="clientIdPartnerDetails" 
    [(customerId)]="customerId"
     [(showCharts)]="showCharts" 
     [(partnerItemState)]="partnerItemState"
     [(brands)]="brands"
     [vipOfferItems]="vipOfferItems"
     [(items)]="items"
     [(mandatoryPromotionTurnoverActions)]="mandatoryPromotionTurnoverActions"
     [partners]="partners"></app-mandatory-promotion-turnover>
</div>

<div *ngIf="showClientTurnover && clientIdPartnerDetails && postId">
    <app-client-turnover #clientTurnoverComponent 
    [(postId)]="postId" 
    [(clientId)]="clientIdPartnerDetails" 
    [(customerId)]="customerId" 
    [(showCharts)]="showCharts" 
    [(partnerItemState)]="partnerItemState"
    [(brands)]="brands"
    [vipOfferItems]="vipOfferItems"
    [(items)]="items"
    [(clientTurnoverActions)]="clientTurnoverActions"
    [partners]="partners"></app-client-turnover>
</div>

<div *ngIf="showPartnerActivityTurnover && clientIdPartnerDetails && postId">
    <app-partner-activity-turnover #partnerActivityTurnoverComponent
     [(postId)]="postId"
     [(customerId)]="customerId"
     [(clientId)]="clientIdPartnerDetails" 
     [(showCharts)]="showCharts" 
     [(partnerItemState)]="partnerItemState"
     [(brands)]="brands"
     [vipOfferItems]="vipOfferItems"
     [(items)]="items"
     [(partnerActivityTurnoverActions)]="partnerActivityTurnoverActions" 
     [partners]="partners"></app-partner-activity-turnover>
</div>

<div *ngIf="showNewItemsTurnover && clientIdPartnerDetails && postId">
    <app-new-items-turnover #newItemsTurnoverComponent 
    [(postId)]="postId" 
    [(clientId)]="clientIdPartnerDetails" 
    [(customerId)]="customerId" 
    [(showCharts)]="showCharts" 
    [(partnerItemState)]="partnerItemState"
    [(brands)]="brands"
    [vipOfferItems]="vipOfferItems"
    [(items)]="items"
    [(newItemsTurnoverActions)]="newItemsTurnoverActions"
    [partners]="partners"></app-new-items-turnover>
</div>

<div *ngIf="showOfficeItemsTurnover && clientIdPartnerDetails && postId">
    <app-office-items-turnover #officeItemsTurnoverComponent 
    [(postId)]="postId" 
    [(clientId)]="clientIdPartnerDetails"
     [(customerId)]="customerId" 
     [(showCharts)]="showCharts" 
     [(partnerItemState)]="partnerItemState"
     [(brands)]="brands"
     [vipOfferItems]="vipOfferItems"
     [(items)]="items"
     [(officeItemsTurnoverActions)]="officeItemsTurnoverActions"
     [partners]="partners"></app-office-items-turnover>
</div>

<div *ngIf="showAgentOtherItemTurnover && clientIdPartnerDetails && postId">
    <app-agent-other-item-turnover #agentOtherItemsTurnoverComponent 
    [(postId)]="postId" 
    [(clientId)]="clientIdPartnerDetails"
     [(customerId)]="customerId" 
     [(showCharts)]="showCharts" 
     [(partnerItemState)]="partnerItemState"
     [(brands)]="brands"
     [vipOfferItems]="vipOfferItems"
     [(items)]="items"
     [(agentOtherItemsTurnoverActions)]="agentOtherItemsTurnoverActions"
     [partners]="partners"></app-agent-other-item-turnover>
</div>

<dx-popup
    width="600" height="500"
    [showTitle]="true"
    title="Trimite Oferta"
    [dragEnabled]="false"
    [closeOnOutsideClick]="true"
    [(visible)]="offerPopupVisible">
        <dx-scroll-view width="100%" height="100%">
            <div class="form-group d-flex flex-wrap align-items-center" style="gap: 15px;margin-left:20px">
                <div class="d-flex align-items-center" style="min-width: 55px;">
                    <label class="mb-0 mr-2" style="color: black">Email:</label>
                    <dx-tag-box [(ngModel)]="selectedLocationContactPerson" [(dataSource)]="locationContactPersons" [displayExpr]="getDisplayExprContact" [searchEnabled]="true"
                        [showSelectionControls]="true" [showMultiTagOnly]="false" applyValueMode="instantly" tagTemplate="tagTemplate" [width]="400">
                        <div *dxTemplate="let data of 'tagTemplate'">
                            <p class="send-offer-email-tag-template">
                                {{ data.email }};
                            </p>
                        </div>
                    </dx-tag-box>
                </div>
            </div>
            
            <div class="form-group d-flex flex-wrap align-items-center" style="gap: 15px;">
                <div class="d-flex align-items-center">
                    <label class="mb-0 mr-2" style="color: black">CC Email:</label>
                    <dx-text-box [(ngModel)]="emailForTest" [ngModelOptions]="{standalone: true}" [width]="400"></dx-text-box>           
                </div>
            </div>
            
            <div class="form-group d-flex flex-wrap align-items-center" style="gap: 15px;margin-left:65px">
                <div class="d-flex align-items-center">
                    <dx-radio-group [items]="offerTypes" [(ngModel)]="selectedOfferType" (onValueChanged)="onOfferTypeValueChanged($event)" itemTemplate="radio">
                        <div class="radio" *dxTemplate="let data of 'radio'">
                            {{ data.text }} &nbsp;
                            <i class="fa fa-pencil fa-2x" title="Modifica email" (click)="onModifyEmailClick(data); $event.stopPropagation()" *ngIf="data.id !== 6"></i> &nbsp;
                            <i class="fa fa-file" aria-hidden="true" title="Vezi excel" (click)="onViewOfferClick(data); $event.stopPropagation()" *ngIf="data.id !== 5 && data.id !== 6"></i>
                        </div>
                    </dx-radio-group>
                </div>
            </div>
  
            <br>
            <hr>
            <div style="float: right">
                <dx-button text="Trimite" (onClick)="sendOffer()">
                </dx-button> 
            </div>
    </dx-scroll-view>     
</dx-popup>

<div *ngFor="let offer of offerTypes">
    <dx-popup
        width="70%" height="35%"
        [showTitle]="true"
        [title]="offer.text"
        [dragEnabled]="true"
        [closeOnOutsideClick]="true"
        [(visible)]="modifyOfferEmailPopupStates[offer.id]">
        <dx-scroll-view width="100%" height="100%">
            <div class="popup-content">   
                <div class="row mb-2">
                    <div class="col-md-1 col-lg-1 dx-field-label text-md-right" title="Subiect Email">Denumire Excel:</div>
                    <div class="col-md-10 col-lg-10">
                        <dx-text-box [(ngModel)]="excelFileName[offer.id]">
                        </dx-text-box>
                    </div>
                </div>                 
                <div class="row mb-2">
                    <div class="col-md-1 col-lg-1 dx-field-label text-md-right" title="Subiect Email">Subiect Email:</div>
                    <div class="col-md-10 col-lg-10">
                        <dx-text-box [(ngModel)]="emailSubject[offer.id]">
                        </dx-text-box>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1 col-lg-1 dx-field-label text-md-right" title="Text Email">Text Email:</div>
                    <div class="col-md-10 col-lg-10">
                        <dx-text-area [height]="250" [(ngModel)]="emailBody[offer.id]">
                        </dx-text-area>
                    </div>
                </div>
            </div>
        </dx-scroll-view>
    </dx-popup>
</div>
  
<dx-popup
    width="70%" height="50%"
    [showTitle]="true"
    title="Introdu codurile cu virgula intre ele. Orice cod care nu va fi recunoscut, se va oferta la Cod 4 sau va genera Eroare."
    [dragEnabled]="true"
    [closeOnOutsideClick]="true"
    [(visible)]="isDedicatedOfferPopupOpen">
        <dx-scroll-view width="100%" height="100%">
            <div class="popup-content">                    
                <dx-text-area [height]="450" 
                    [(ngModel)]="dedicatedOfferData">
                </dx-text-area>
            
                <div class="dedicated-offer-btns">
                    <dx-button text="Genereaza Oferta" (onClick)="onSaveDedicatedOffer()">
                    </dx-button>
                </div>
            </div>
        </dx-scroll-view>   
</dx-popup>

<dx-popup
    width="50%" height="20%"
    [showTitle]="true"
    title="Eroare"
    [dragEnabled]="true"
    [closeOnOutsideClick]="true"
    [(visible)]="isDedicatedOfferInvalidCodesPopupOpen">
        <dx-scroll-view width="100%" height="100%">
            <div class="popup-content">                      
                <div class="popup-body">
                    Codurile {{ dedicatedOfferInvalidCodes }} nu exista, oferta se va genera fara acestea.
                </div>

                <div class="invalid-codes-dedicated-offer-btns">
                    <dx-button text="Continua" (onClick)="onSaveDedicatedOfferWithInvalidCodes()">
                    </dx-button>

                    <dx-button text="Corecteaza" (onClick)="closeDedicatedOfferInvalidCodesPopup()">
                    </dx-button>
                </div>
            </div>
        </dx-scroll-view>   
</dx-popup>

<div *ngIf="isDailyWhatsappOfferPopupOpen">
    <app-daily-whatsapp-offers [clientId]="clientId" [selectedLocationContactPerson]="selectedLocationContactPerson" 
        [email]="emailForTest"></app-daily-whatsapp-offers>
</div>

<dx-popup *ngIf="selectedItemGroupProposed"
    width="1270" height="290"
    [showTitle]="true"
    title="Adauga Produs XXXX"
    [dragEnabled]="false"
    [closeOnOutsideClick]="true"
    [(visible)]="proposedItemGroupPopup">
    
    <dx-validation-group #validationGroup>
        <div class="form-group d-flex flex-wrap align-items-center" style="gap: 30px;margin-left: 27px; margin-bottom: 5px">
            <div class="d-flex align-items-center">
                <label class="mb-0 mr-2" style="color: black">Nume(RO):</label>
                <dx-text-box [(ngModel)]="selectedItemGroupProposed.NameRO" [ngModelOptions]="{standalone: true}" [width]="600">
                    <dx-validator><dxi-validation-rule type="required" message="{{'required' | translate}}"></dxi-validation-rule></dx-validator>
                </dx-text-box>
            </div>

            <div class="d-flex align-items-center">
                <label class="mb-0 mr-2" style="color: black">Cant. Lunara:</label>
                <dx-number-box [(ngModel)]="selectedItemGroupProposed.Quantity" [width]="150">
                    <dx-validator><dxi-validation-rule type="required" message="{{'required' | translate}}"></dxi-validation-rule></dx-validator>
                </dx-number-box>
            </div>

            <div class="d-flex align-items-center">
                <label class="mb-0 mr-2" style="color: black">Pret:</label>
                <dx-number-box [(ngModel)]="selectedItemGroupProposed.price" [width]="150">
                    <dx-validator><dxi-validation-rule type="required" message="{{'required' | translate}}"></dxi-validation-rule></dx-validator>
                </dx-number-box>
            </div>
        </div>

        <div class="form-group d-flex flex-wrap align-items-center" style="gap: 30px;margin-bottom: 5px">
            <div class="d-flex align-items-center">
                <label class="mb-0 mr-2" style="color: black">Furnizor Actual:</label>

                <dx-select-box [dataSource]="partnersDS" [displayExpr]="getDisplayExprPartners" valueExpr="id"
                    [(ngModel)]="selectedItemGroupProposed.supplierId" [searchEnabled]="true" [width]="300">
                </dx-select-box>
            </div>

            <div class="d-flex align-items-center">
                <label class="mb-0 mr-2" style="color: black">Producator:</label>
                <dx-select-box [dataSource]="partnersDS" [displayExpr]="getDisplayExprPartners" valueExpr="id"
                    [(ngModel)]="selectedItemGroupProposed.identifiedManufacturerId" [searchEnabled]="true" [width]="300">
                </dx-select-box>
            </div>

            <div class="d-flex align-items-center">
                <label class="mb-0 mr-2" style="color: black">Brand:</label>

                <dx-select-box [dataSource]="brands" [displayExpr]="getDisplayExprBrands" valueExpr="id"
                    [(ngModel)]="selectedItemGroupProposed.brandId" [searchEnabled]="true" [width]="300">
                </dx-select-box>
            </div>
        </div>

        <div class="form-group d-flex flex-wrap align-items-center" style="gap: 30px;margin-left: 27px">
            <div class="d-flex align-items-center">
                <label class="mb-0 mr-2" style="color: black">Observatii:</label>
                <dx-text-box [(ngModel)]="selectedItemGroupProposed.observations" [ngModelOptions]="{standalone: true}" [width]="1090">
                </dx-text-box>
            </div>
        </div>
    </dx-validation-group>
    
    <br>
    <hr>
    <dx-button id="addItemGroupProposedBtn" text="Trimite" (onClick)="saveProposedItemGroup()" style="float: right">
    </dx-button>      
    </dx-popup>


<dx-popup *ngIf="selectedComment"
width="70%" height="30%"
[showTitle]="true"
title="Adauga Alt Produs"
[dragEnabled]="false"
[closeOnOutsideClick]="true"
[(visible)]="addOtherItemPopup">

<dx-validation-group #secondValidationGroup>


    <div class="form-group row">
        <div class="col-3 dx-field-label text-md-right">Cod Produs*:</div>
        <div class="col-md-8 col-lg-8">
            <dx-select-box [dataSource]="itemsDS" [displayExpr]="getItemDisplayExpr" valueExpr="id"
                [searchEnabled]="true" [(ngModel)]="selectedComment.itemId" [searchEnabled]="true">
                <dx-validator><dxi-validation-rule type="required"
                        message="{{'required' | translate}}"></dxi-validation-rule></dx-validator>
            </dx-select-box>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-3 dx-field-label text-md-right">Comentariu:</div>
        <div class="col-md-8 col-lg-8">
            <dx-text-box [(ngModel)]="selectedComment.comment" [ngModelOptions]="{standalone: true}">
            </dx-text-box>
        </div>
    </div>
    <div class="form-group row" *ngIf="selectedComment.isInvoiced">
        <div class="col-3 dx-field-label text-md-right">Cantitate*:</div>
        <div class="col-md-3 col-lg-3">
           <dx-number-box [(ngModel)]="selectedComment.monthlyOrderedQuantity" dataType="number">
              <dx-validator>
                 <dxi-validation-rule type="required" message="{{'required' | translate}}"></dxi-validation-rule>
             </dx-validator>
          </dx-number-box>
        </div>
       </div>


    <div class="form-group row">
        <div class="col-1 dx-field-label text-md-right">Facturat:</div>
        <div class="col-md-2 col-lg-2">
            <dx-check-box [(ngModel)]="selectedComment.isInvoiced"
                (onValueChanged)="checkInvoicedChange(selectedComment)"></dx-check-box>
        </div>
        <div class="col-1 dx-field-label text-md-right">Are stoc:</div>
        <div class="col-md-2 col-lg-2">
            <dx-check-box [(ngModel)]="selectedComment.hasStock"
                (onValueChanged)="checkStockChange(selectedComment)"></dx-check-box>
        </div>
        <div class="col-1 dx-field-label text-md-right">La Cda:</div>
        <div class="col-md-2 col-lg-2">
            <dx-check-box [(ngModel)]="selectedComment.atOrder"
                (onValueChanged)="checkAtOrderChange(selectedComment)"></dx-check-box>
        </div>
        <div class="col-1 dx-field-label text-md-right">Nu folosesc:</div>
        <div class="col-md-2 col-lg-2">
            <dx-check-box [(ngModel)]="selectedComment.notUsed"
                (onValueChanged)="checkNotUsedChange(selectedComment)"></dx-check-box>
        </div>
    </div>
</dx-validation-group>

<br>
<hr>
<dx-button text="Salveaza" (onClick)="saveOtherItem()">
</dx-button>      
</dx-popup>
</div>

<dx-tooltip 
    [target]="'#sendOfferToPartnerBtn'"
    [visible]="isSendOfferToPartnerTooltipVisible"
    [position]="{ my: 'top', at: 'bottom', of: '#sendOfferToPartnerBtn' }">
    <div *dxTemplate="let data of 'content'" class="label-tooltip" position="top">
        {{ sendOfferToPartnerLogTooltipData }}
    </div>
</dx-tooltip>

<dx-tooltip target="#addItemGroupProposedBtn" showEvent="dxhoverstart" hideEvent="dxhoverend">
    <div *dxTemplate="let data of 'content'" class="label-tooltip" position="top">
       Scrie detalii despre produs, furnizor, producator, <br />
       adauga cat mai multe informatii.
    </div>
 </dx-tooltip>