.adjust-width {
    width: 8%; 
    max-width: 8%;
}
  
.adjust-width-last-send-offer {
    width: 11%; 
    max-width: 11%;
}

.adjust-margin {
    margin-left: -1.8rem;
}

.adjust-margin-yearly-turnover {
    margin-left: -1.5rem;
}

.adjust-margin-call-reminder {
    margin-left: -3.9rem;
}

.fa-ban {
    color: #d9534f;
}

.fa-clock-o {
    color: #d9534f;
    font-size: 26px;
}

.row {
    margin-left: -10px;
    margin-right: -10px; 
  }

  .row > .col,
  .row > [class*='col-'] {
    padding-left: 5px; 
    padding-right: 5px;
  }
  
  .form-container {
    display: flex;
    flex-direction: row; 
    width: 100%;
    flex-wrap: nowrap;
  }
  
  .flex-container {
    display: flex; 
    align-items: center; 
    justify-content: flex-start; 
    flex-wrap: nowrap;
    gap: 10px;
    width: 100%;
  }
  
  .flex-item {
    flex-shrink: 1; 
    flex-grow: 0; 
    min-width: 80px;
  }

  .flex-item-no-space {
    flex-shrink: 1;
    flex-grow: 0;  
  }
  
  .label {
    flex-shrink: 1; 
    text-align: right; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    min-width: 100px; 
  }
  
  .input {
    flex-shrink: 1; 
    flex-grow: 1; 
    min-width: 120px; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
  }

  .icon, .button {
    display: flex;
    align-items: center; 
  }
  
  .button-container {
    display: flex;
    flex-wrap: nowrap; 
  }

  .partner-schedule-icon {
    cursor: pointer;
    font-size: 25px;
  }
  
  
.offer-method-flex-container {
  display: flex;
  align-items: center; 
  gap: 20px; 
  margin-bottom: 16px; 
}

.custom-popup {
  background-color: white; 
  border-radius: 5px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px; 
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

.popup-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.popup-content {
  flex-grow: 1; 
  overflow: hidden; 
}

.partner-suggestion-popup-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vip-offer-popup-btn {
  margin-bottom: 1rem;
}

.dedicated-offer-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  margin-top: 1rem;
}

.invalid-codes-dedicated-offer-btns {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  width: 100%;
  margin-top: 1rem;
}

.popup-body {
  font-size: 16px; 
  margin-bottom: 10px; 
  font-weight: bold;  
}

.fa-pencil, .fa-file {
  color: #d9534f;
  cursor: pointer;
}

.row {
  margin-left: -10px;
  margin-right: -10px; 
}

.row > .col,
.row > [class*='col-'] {
  padding-left: 5px; 
  padding-right: 5px;
}

.info-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  padding: 0 10px;
  gap: 6px;
}

.btn-content {
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;
}

.btn-icon {
  font-size: 16px;
  vertical-align: middle;
  line-height: 1;
}

.btn-text {
  font-size: 14px;
  line-height: 1;
}

.basket-vip-quantity-popup-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.basket-vip-quantity-popup-body {
  font-size: 16px; 
  margin-bottom: 10px; 
  font-weight: bold; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-items-btns-options {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.button-active {
  background-color: red;
  color: white;
}

.local-time-container {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: 'Arial', sans-serif;
  background-color: white;
  /* padding: 10px 20px; */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  width: 220px;
  /* margin: 20px auto; */
  padding: 3px;
  border: 3px black solid;
}

.local-time-label {
  font-size: 18px;
  color: #d9534f;
  font-weight: bold;
  margin: 0;
}

.local-time-display {
  display: flex;
  align-items: center;
  gap: 5px;
}

.day {
  font-size: 20px;
  color: #d9534f;
  font-weight: bold;
}

.time {
  font-size: 22px;
  font-weight: bold;
  color: #00acc1;
}

.clear-filters-img {
  max-width: 25px;
  object-fit: contain;
  cursor: pointer;
}

.dx-button.dx-button-warning {
  background-color: #ffe596;
}

.discount-grids-btn {
  font-size: 20px;
  font-weight: bold;
  color: rgb(196, 0, 0);
  border-radius: 50%;
  border: 1px solid white;
}

.discount-grids-btn:hover {
  cursor: pointer;
}

.fa-shopping-basket {
  font-size: 30px;
  color: rgb(196, 0, 0);
}

.call-reminder-img {
  max-width: 40px;
  object-fit: contain;
  cursor: pointer;
}

#shopping-basket-proposed-item {
  font-size: 17px;
  color: rgb(196, 0, 0);
}

.label-tooltip {
  font-size: 14px;
  text-align: left;
}

.company-schedule {
  font-size: 20px;
}

.vip-tier-cell {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#shopping-basket-vip-offer {
  font-size: 17px;
  color: rgb(196, 0, 0);
  cursor: pointer;
}

.send-offer-email-tag-template {
  display: inline-block;
  text-align: center;
  font-size: 14px;
  padding-left: 10px;
  padding-top: 7px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.order-for-the-amount {
  display: flex;
  align-items: center;
  gap: 1rem;
}

::ng-deep #orderForTheAmountCheck .dx-checkbox-container .dx-checkbox-icon {
  border-color: red;
}