<div class="weather-flex">
    <div class="weather-flex-chart">
        <dx-chart [dataSource]="temperatureData" title="Temperatura 14 zile" [customizeLabel]="customizeLabel">
            <dxi-series valueField="temperature_max" argumentField="date" name="Max Temperature" color="red" type="line">
            </dxi-series>
    
            <dxi-series valueField="temperature_mean" argumentField="date" name="Medie Temperature" color="blue" type="line">
            </dxi-series>
    
            <dxi-series valueField="temperature_min" argumentField="date" name="Min Temperature" color="green" type="line">
            </dxi-series>
        </dx-chart>
    </div>

    <div class="weather-flex-chart">
        <dx-chart [dataSource]="temperatureData" title="Vant 14 zile" [customizeLabel]="customizeLabel">
            <dxi-series valueField="windspeed_mean" argumentField="date" name="Vit Vant mediu" color="blue"
                type="line">
            </dxi-series>

            <dxi-series valueField="windspeed_min" argumentField="date" name="Vit vant minima" color="green"
                type="line">
            </dxi-series>
        </dx-chart>
    </div>

    <div class="weather-flex-chart">
        <dx-chart [dataSource]="temperatureData" title="Umiditate 14 zile" [customizeLabel]="customizeLabel">
            <dxi-series valueField="precipitation_probability" argumentField="date" name="Sansa Ploaie" color="red"
                type="line">
            </dxi-series>
        </dx-chart>
    </div>
</div>
<hr>