.dx-checkbox-icon {
    position: absolute;
    right: 2rem;
    pointer-events: auto;
}

.location-name-label {
    font-weight: bold;
}

.save-btn {
    background-color: red;
    color: white;
}

.unique-pricipal-activity {
    gap: 2rem;
    font-weight: bold;
}