<app-spinner [visible]="loaded"></app-spinner>
<div class="items-section-title">
    <div class="subsection-wrapper" *ngIf="partner.isSupplier">
        <div>Proces Tehnologic</div> 
        <div id="itemGroupCategoryTooltip" class="items-section-show-btn">
            <i class="fa" [ngClass]="{'fa-plus': !showTechnologicalProcessSection, 'fa-minus': showTechnologicalProcessSection}" (click)="onShowTechnologicalProcessSectionClick()"></i>
        </div>
    </div>
    <div class="items-section" *ngIf="showTechnologicalProcessSection">
        <div class="col-md-2 col-lg-2">
            <dx-button text="Salveaza categorii" class="associated-items-add-price-btn" (click)="onItemGroupCategoriesSaveClick(location)"></dx-button>
        </div> 
        <div class="col-12">
            <div class="d-flex align-items-center ms-3 unique-pricipal-activity">
                <div class="text-md-right me-2">Toate Locatiile:</div>
                <dx-check-box [(ngModel)]="partner.isPrincipalActivityUniqueForAllLocations" [ngModelOptions]="{standalone: true}"></dx-check-box>
            </div>
        </div>
        <div *ngIf="partner.isPrincipalActivityUniqueForAllLocations">
            <div class="col-12">
                <div class="location-name-label">{{ allLocationNames }}</div>
            </div>
            <dx-validation-group #itemGroupCategoryValidationGroup>
                <div class="form-group row mb-4">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-1 dx-field-label text-md-right">Categorii:</div> 
                        
                            <div class="col-md-3 col-lg-3">
                                <dx-tag-box [dataSource]="itemGroupCategories" [(ngModel)]="selectedItemGroupCategoriesIds[implicitLocation.id]" valueExpr="id"
                                    [displayExpr]="itemGroupCategoryDisplayExpr" [showSelectionControls]="true" [maxDisplayedTags]="5"
                                    [showMultiTagOnly]="false" applyValueMode="useButtons" [searchEnabled]="true" [hideSelectedItems]="false">
                                </dx-tag-box>
                            </div>
                        </div>
                        <div class="row">
                            <div>
                                <app-grid-toolbar #itemGroupCategoryGridToolbar (refreshEvent)="refreshItemGroupCategoryDataGrid($event, implicitLocation)" (deleteEvent)="deleteItemGroupCategory($event, implicitLocation)">
                                </app-grid-toolbar>
                                <div class="float-none" style="clear: both;"></div>
                            </div>
                        
                            <dx-tree-list #itemGroupCategoryDataGrid [dataSource]="itemGroupCategoriesByLocation[implicitLocation.id]" [showRowLines]="true" [showBorders]="true" [columnAutoWidth]="true" 
                                keyExpr="itemGroupCategoryId" parentIdExpr="parentId" (onSelectionChanged)="onItemGroupCategorySelectionChanged($event, implicitLocation)">
                                <dxo-scrolling mode="standard"></dxo-scrolling>
                        
                                <dxi-column dataField="code" caption="Cod" [allowEditing]="false" alignment="left"></dxi-column>
                                <dxi-column dataField="name" caption="Proces Tehnologic" [allowEditing]="false" alignment="left" cellTemplate="itemGroupCategoryTemplate"></dxi-column>   
                                <dxi-column dataField="simpleItemInfo" caption="Produse identificate" [allowEditing]="false" alignment="left"></dxi-column>  
                    
                                <div class="item-group-category-template" *dxTemplate="let data of 'itemGroupCategoryTemplate'">
                                    <div class="grouped-item-suppliers">
                                        <div >{{ data.data.name }}</div>
                                    </div>                   
                                </div>
                            </dx-tree-list>
                        </div>
                    </div>
                </div>
            </dx-validation-group>
        </div>

        <div *ngIf="!partner.isPrincipalActivityUniqueForAllLocations">
            <div class="form-group row mb-4" *ngFor="let location of sortedPartnerLocations; let i = index">
                <div class="col-12 mb-4">
                    <div class="location-name-label">Locatia {{ location.name }}</div>
                </div>

                <div class="col-1 dx-field-label text-md-right">Categorii:</div> 
                <div class="col-md-3 col-lg-3">
                    <dx-tag-box [dataSource]="itemGroupCategories" [(ngModel)]="selectedItemGroupCategoriesIds[location.id]" valueExpr="id"
                        [displayExpr]="itemGroupCategoryDisplayExpr" [showSelectionControls]="true" [maxDisplayedTags]="5"
                        [showMultiTagOnly]="false" applyValueMode="useButtons" [searchEnabled]="true" [hideSelectedItems]="false">
                      
                    </dx-tag-box>
                </div>

                <div>
                    <app-grid-toolbar #itemGroupCategoryGridToolbar (refreshEvent)="refreshItemGroupCategoryDataGrid($event, location)" (deleteEvent)="deleteItemGroupCategory($event, location)">
                    </app-grid-toolbar>
                    <div class="float-none" style="clear: both;"></div>
                </div>
            
                <dx-tree-list #itemGroupCategoryDataGrid [dataSource]="itemGroupCategoriesByLocation[location.id]" [showRowLines]="true" [showBorders]="true" [columnAutoWidth]="true" 
                    keyExpr="itemGroupCategoryId" parentIdExpr="parentId" (onSelectionChanged)="onItemGroupCategorySelectionChanged($event, location)">
                    <dxo-scrolling mode="standard"></dxo-scrolling>
            
                    <dxi-column dataField="code" caption="Cod" [allowEditing]="false" alignment="left"></dxi-column>
                    <dxi-column dataField="name" caption="Proces Tehnologic" [allowEditing]="false" alignment="left" cellTemplate="itemGroupCategoryTemplate"></dxi-column>   
                    <dxi-column dataField="simpleItemInfo" caption="Produse identificate" [allowEditing]="false" alignment="left"></dxi-column>  
        
                    <div class="item-group-category-template" *dxTemplate="let data of 'itemGroupCategoryTemplate'">
                        <div class="grouped-item-suppliers">
                            <div >{{ data.data.name }}</div>
                        </div>  
                    </div>
                </dx-tree-list>
            </div>
        </div>

        <div class="form-group row item-group-description">
            <div id="itemGroupCategoryObservations" class="col-5 dx-field-label">Observatii, Descrierea activitate Furnizor, Cuvinte cheie de cautare:</div>
            <div class="col-md-12 col-lg-12">
                <dx-text-area [height]="100" [maxLength]="500" [(ngModel)]="partner.itemGroupCategoryObservations"></dx-text-area>
            </div>
        </div>
    </div>
    
    <div class="subsection-wrapper">
        <div>Produse</div> 
        <div class="items-section-show-btn">
            <i class="fa" [ngClass]="{'fa-plus': !showItemsSection, 'fa-minus': showItemsSection}" (click)="onShowItemsSectionClick()"></i>
        </div>
    </div>

    <div class="items-section" *ngIf="showItemsSection">
        <div class="associated-items-wrapper">
            <div class="associated-items">
                <div class="associated-items-label">Produse asociate</div> 
                <div class="items-section-show-btn">
                    <i class="fa" [ngClass]="{'fa-plus': !showAssociatedItemsSection, 'fa-minus': showAssociatedItemsSection}" (click)="onShowAssociatedItemsSectionClick()"></i>
                </div>
                <div>
                    <dx-button text="Adauga preturi" class="associated-items-add-price-btn"></dx-button>
                </div>
                <div>
                    <dx-button text="Solicita Certificate" class="associated-items-add-price-btn" (click)="onRequestCertificates()"></dx-button>
                </div>
            </div>
    
            <div *ngIf="showAssociatedItemsSection">
                <div class="form-group row">
                    <div class="col-2 dx-field-label text-md-right">Selectare produse simple:</div> 
                    <div class="col-md-3 col-lg-3">
                        <dx-tag-box [dataSource]="items" [(ngModel)]="associatedItemsIds" valueExpr="id"
                            [displayExpr]="itemDisplayExpr" [showSelectionControls]="true" [maxDisplayedTags]="5"
                            [showMultiTagOnly]="false" applyValueMode="useButtons" [searchEnabled]="true" [hideSelectedItems]="false">
                        </dx-tag-box>
                    </div>
                    <div class="col-2 dx-field-label text-md-right">Selectare produse grupate:</div> 
                    <div class="col-md-3 col-lg-3">
                        <dx-tag-box [dataSource]="itemGroups" [(ngModel)]="associatedItemGroupsIds" valueExpr="id"
                            [displayExpr]="itemDisplayExpr" [showSelectionControls]="true" [maxDisplayedTags]="5"
                            [showMultiTagOnly]="false" applyValueMode="useButtons" [searchEnabled]="true" [hideSelectedItems]="false">
                        </dx-tag-box>
                    </div>
                    <div class="col-md-2 col-lg-2">
                        <dx-button text="Salveaza produse asociate" class="associated-items-add-price-btn" (click)="onAssociatedItemsSaveClick()"></dx-button>
                    </div> 
                </div>

                <div *ngIf="showAssociatedItemsSection && associatedItems && associatedItems.length > 0">
                    <div>
                        <app-grid-toolbar #associatedItemsGridToolbar (refreshEvent)="refreshAssociatedItemsDataGrid($event)" (deleteEvent)="deleteAssociatedItems($event)">
                        </app-grid-toolbar>
                        <div class="float-none" style="clear: both;"></div>
                    </div>
        
                    <dx-data-grid #associatedItemsDataGrid [dataSource]="associatedItems" [showRowLines]="true" [showBorders]="true" [columnAutoWidth]="true" (onSelectionChanged)="onAssociatedItemsSelectionChanged($event)">
                        <dxo-scrolling mode="standard"></dxo-scrolling>
                        <dxo-filter-row [visible]="true"></dxo-filter-row>
                        <dxo-paging [enabled]="true" [pageSize]="15"> </dxo-paging>
                        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 75]" [showInfo]="true"></dxo-pager> 
        
                        <dxi-column dataField="code" caption="Cod" [allowEditing]="false" alignment="left"></dxi-column>
                        <dxi-column dataField="nameRO" caption="Nume" [allowEditing]="false" alignment="left"></dxi-column>   
                        <dxi-column caption="Actiuni" cellTemplate="cellTemplate" [width]="250" [minWidth]="250" alignment="center"></dxi-column>
                        <div *dxTemplate="let data of 'cellTemplate'">
                            <i class="fa fa-ban fa-2x" style='padding-right : 15px' href="javascript:void(0)"
                                title="Stergere" (click)="deleteRow(data)"></i>
                        </div>
                    </dx-data-grid>
                </div>
            </div>
        </div>
    
        <div class="active-items">
            <div class="active-items-wrapper">
                <div class="active-items-label">Produse active</div> 
                <div class="items-section-show-btn">
                    <i class="fa" [ngClass]="{'fa-plus': !showActiveItemsSection, 'fa-minus': showActiveItemsSection}" (click)="onShowActiveItemsSectionClick()"></i>
                </div>
            </div>
    
            <div *ngIf="showActiveItemsSection && activeItems && activeItems.length > 0">
                <dx-data-grid #activeItemsDataGrid [dataSource]="activeItems" [showRowLines]="true" [showBorders]="true" [columnAutoWidth]="true">
                    <dxo-scrolling mode="standard"></dxo-scrolling>
                    <dxo-paging [enabled]="true" [pageSize]="15"> </dxo-paging>
                    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 75]" [showInfo]="true"></dxo-pager>
                    <dxo-filter-row [visible]="true"></dxo-filter-row>     
    
                    <dxi-column dataField="code" caption="Cod" [allowEditing]="false" alignment="left"></dxi-column>
                    <dxi-column dataField="nameRO" caption="Nume" [allowEditing]="false" alignment="left"></dxi-column>   
                </dx-data-grid>
            </div>
        </div>
    
        <div class="inactive-items">
            <div class="inactive-items-wrapper">
                <div class="inactive-items-label">Produse achizitionate in trecut</div> 
                <div id="inactiveItems" class="items-section-show-btn">
                    <i class="fa" [ngClass]="{'fa-plus': !showInactiveItemsSection, 'fa-minus': showInactiveItemsSection}" (click)="onShowInactiveItemsSectionClick()"></i>
                </div>
            </div>
    
            <div *ngIf="showInactiveItemsSection && inactiveItems && inactiveItems.length > 0">
                <dx-data-grid #inactiveItemsDataGrid [dataSource]="inactiveItems" [showRowLines]="true" [showBorders]="true" [columnAutoWidth]="true">
                    <dxo-scrolling mode="standard"></dxo-scrolling>
                    <dxo-paging [enabled]="true" [pageSize]="15"> </dxo-paging>
                    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 75]" [showInfo]="true"></dxo-pager>
                    <dxo-filter-row [visible]="true"></dxo-filter-row>
    
                    <dxi-column dataField="code" caption="Cod" [allowEditing]="false" alignment="left"></dxi-column>
                    <dxi-column dataField="nameRO" caption="Nume" [allowEditing]="false" alignment="left"></dxi-column>   
                </dx-data-grid>
            </div>
        </div>
    </div>

    <div class="subsection-wrapper">
        <div>Destinatie Finala</div> 
        <div class="items-section-show-btn">
            <i class="fa" [ngClass]="{'fa-plus': !showEndUserSection, 'fa-minus': showEndUserSection}" (click)="onShowEndUserSectionClick()"></i>
        </div>
    </div>

    <div class="items-section" *ngIf="showEndUserSection">
        <div class="col-md-2 col-lg-2">
            <dx-button text="Salveaza grupe" class="associated-items-add-price-btn" (click)="onItemGroupCodesSaveClick(location)"></dx-button>
        </div> 
        <div class="col-12">
            <div class="d-flex align-items-center ms-3 unique-pricipal-activity">
                <div class="text-md-right me-2">Toate Locatiile:</div>
                <dx-check-box [(ngModel)]="partner.isPrincipalActivityUniqueForAllLocations" [ngModelOptions]="{standalone: true}"></dx-check-box>
            </div>
        </div>

        <div *ngIf="partner.isPrincipalActivityUniqueForAllLocations">
            <div class="col-12">
                <div class="location-name-label">{{ allLocationNames }}</div>
            </div>
            <dx-validation-group #itemGroupCodeValidationGroup>
                <div class="form-group row mb-4">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-1 dx-field-label text-md-right">Grupe:</div> 
                            
                            <div class="col-md-3 col-lg-3">
                                <dx-tag-box [dataSource]="itemGroupCodes" [(ngModel)]="selectedItemGroupCodesIds[implicitLocation.id]" valueExpr="id"
                                    [displayExpr]="itemGroupCodeDisplayExpr" [showSelectionControls]="true" [maxDisplayedTags]="5"
                                    [showMultiTagOnly]="false" applyValueMode="useButtons" [searchEnabled]="true" [hideSelectedItems]="false">
                                
                                </dx-tag-box>
                            </div>
                        </div>
                        <div class="row">
                            <div>
                                <app-grid-toolbar #itemGroupCodeGridToolbar (refreshEvent)="refreshItemGroupCodeDataGrid($event, implicitLocation)" (deleteEvent)="deleteItemGroupCode($event, implicitLocation)">
                                </app-grid-toolbar>
                                <div class="float-none" style="clear: both;"></div>
                            </div>
                        
                            <dx-tree-list #itemGroupCodeDataGrid [dataSource]="itemGroupCodesByLocation[implicitLocation.id]" [showRowLines]="true" [showBorders]="true" [columnAutoWidth]="true"
                                keyExpr="itemGroupCodeId" parentIdExpr="parentId" (onSelectionChanged)="onItemGroupCodeSelectionChanged($event, implicitLocation)">
                                <dxo-scrolling mode="standard"></dxo-scrolling>
                        
                                <dxi-column dataField="code" caption="Cod" [allowEditing]="false" alignment="left"></dxi-column>
                                <dxi-column dataField="name" caption="Destinatie Finala" [allowEditing]="false" alignment="left" cellTemplate="itemGroupCodeTemplate"></dxi-column>   
                                <dxi-column dataField="simpleItemInfo" caption="Produse identificate" [allowEditing]="false" alignment="left"></dxi-column>  
                    
                                <div class="item-group-code-template" *dxTemplate="let data of 'itemGroupCodeTemplate'">
                                    <div class="grouped-item-suppliers">
                                        <div >{{ data.data.name }}</div>
                                    </div>
                                </div>
                            </dx-tree-list>
                        </div>
                    </div>
                </div>
            </dx-validation-group>
        </div>

        <div *ngIf="!partner.isPrincipalActivityUniqueForAllLocations">
            <div class="form-group row mb-4" *ngFor="let location of sortedPartnerLocations; let i = index">
                <div class="col-12 mb-4">
                    <div class="location-name-label">Locatia {{ location.name }}</div>
                </div>

                <div class="col-1 dx-field-label text-md-right">Grupe:</div> 
                <div class="col-md-3 col-lg-3">
                    <dx-tag-box [dataSource]="itemGroupCodes" [(ngModel)]="selectedItemGroupCodesIds[location.id]" valueExpr="id"
                        [displayExpr]="itemGroupCodeDisplayExpr" [showSelectionControls]="true" [maxDisplayedTags]="5"
                        [showMultiTagOnly]="false" applyValueMode="useButtons" [searchEnabled]="true" [hideSelectedItems]="false">
                      
                    </dx-tag-box>
                </div>

                <div>
                    <app-grid-toolbar #itemGroupCodeGridToolbar (refreshEvent)="refreshItemGroupCodeDataGrid($event, location)" (deleteEvent)="deleteItemGroupCode($event, location)">
                    </app-grid-toolbar>
                    <div class="float-none" style="clear: both;"></div>
                </div>
            
                <dx-tree-list #itemGroupCodeDataGrid [dataSource]="itemGroupCodesByLocation[location.id]" [showRowLines]="true" [showBorders]="true" [columnAutoWidth]="true" 
                    keyExpr="itemGroupCodeId" parentIdExpr="parentId" (onSelectionChanged)="onItemGroupCodeSelectionChanged($event, location)">
                    <dxo-scrolling mode="standard"></dxo-scrolling>
            
                    <dxi-column dataField="code" caption="Cod" [allowEditing]="false" alignment="left"></dxi-column>
                    <dxi-column dataField="name" caption="Destinatie Finala" [allowEditing]="false" alignment="left" cellTemplate="itemGroupCodeTemplate"></dxi-column>   
                    <dxi-column dataField="simpleItemInfo" caption="Produse identificate" [allowEditing]="false" alignment="left"></dxi-column>  
        
                    <div class="item-group-code-template" *dxTemplate="let data of 'itemGroupCodeTemplate'">
                        <div class="grouped-item-suppliers">
                            <div >{{ data.data.name }}</div>
                        </div>
                    </div>
                </dx-tree-list>
            </div>
        </div>

        <div class="form-group row item-code-description">
            <div id="itemGroupCodeObservations" class="col-5 dx-field-label">Observatii, descriere categorii de produse noi identificate si neclasificate, Cuvinte cheie de cautare:</div>
            <div class="col-md-12 col-lg-12">
                <dx-text-area [height]="100" [maxLength]="500" [(ngModel)]="partner.itemGroupCodeObservations"></dx-text-area>
            </div>
        </div> 
    </div>
    <dx-data-grid id="barCodeGrid" [dataSource]="barCodeIntervals" [rowAlternationEnabled]="true"
    [allowColumnReordering]="false" [width]="500">
    <dxo-filter-row [visible]="false"></dxo-filter-row>
    <dxo-filter-panel [visible]="false"></dxo-filter-panel>
    <dxo-header-filter [visible]="false"></dxo-header-filter>
    <dxo-column-chooser [enabled]="false"></dxo-column-chooser>
    <dxo-group-panel [visible]="false" [emptyPanelText]="groupedText"></dxo-group-panel>
    <dxo-load-panel [enabled]="true"></dxo-load-panel>
    <dxo-sorting mode="multiple"></dxo-sorting>
    <dxo-paging [pageSize]="15"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>
    <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
    <dxi-column dataField="standardType" caption="Standard EAN13" dataType="string" alignment="left">
        <dxo-lookup [dataSource]="standardTypes" valueExpr="id" displayExpr="name">
        </dxo-lookup>
    </dxi-column>
    <dxi-column dataField="ownerCode" caption="Identificativ Proprietar" dataType="number" alignment="right">
    </dxi-column>
</dx-data-grid>
</div>

<dx-tooltip target="#itemGroupCategoryObservations" showEvent="dxhoverstart" hideEvent="dxhoverend">
    <div *dxTemplate="let data of 'content'" class="item-group-code-observations" position="top">
        Introduceti cat mai detaliat descrierea furnizorului de pe site sau din cunostiinte, folositi cuvinte cheie, care sa va ajute pe viitor sa-l identificati. 
        <br />
        Daca ati identificat un Proces Tehnologic care nu exista, solicitati crearea acestuia si il adaugati ulterior
    </div>
</dx-tooltip>

<dx-tooltip target="#itemGroupCodeObservations" showEvent="dxhoverstart" hideEvent="dxhoverend">
    <div *dxTemplate="let data of 'content'" class="item-group-code-observations" position="top">
        Introduceti cat mai detaliat descrierea produselor noi si a categoriilor noi identificate in oferta furnizorului, folositi cuvinte cheie, care sa va ajute pe viitor sa le identificati. 
        <br />
        Daca ati identificat un Produs Nou sau o Categorie noua care este de interes, solicitati crearea acestora si le adaugati ulterior
    </div>
</dx-tooltip>

<dx-tooltip target="#inactiveItems" showEvent="dxhoverstart" hideEvent="dxhoverend">
    <div *dxTemplate="let data of 'content'" class="item-group-code-observations" position="top">
        Produse cu stoc sau fara, active, achizitionate in trecut de la Furnizor dar care acum nu mai sunt pe Furnizor implicit! 
    </div>
</dx-tooltip>

<dx-tooltip target="#itemGroupCategoryTooltip" showEvent="dxhoverstart" hideEvent="dxhoverend">
    <div *dxTemplate="let data of 'content'" class="item-group-code-observations" position="top">
        Se trec manual acele procese tehnologice pentru produse de care stim sigur ca partenerul este Producator!
        <br />
        Dupa trecerea procesului tehnologic se adauga si produsele!
    </div>
</dx-tooltip>

<hr />

<div *ngIf="isItemsCertificatesPopupOpen && partner && partner.id">
    <app-partner-items-certificates 
        [isItemsCertificatesPopupOpen]="isItemsCertificatesPopupOpen" 
        [partnerId]="partner.id"
        (isItemsCertificatesPopupOpenOutput)="isItemsCertificatesPopupOpenChange($event)">

    </app-partner-items-certificates>
</div>
