.fa-pencil, .fa-clone, .fa-ban  {
    color: rgb(196, 0, 0);
  }

.row {
  margin: 1rem;
}

.fa-plus, .fa-minus {
  color: rgb(196, 0, 0);
}

.items-section-title {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.items-section-show-btn {
  cursor: pointer;
}

.associated-items-label, .active-items-label, .inactive-items-label {
  font-size: 15px;
  font-weight: bold;
}

.associated-items {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.associated-items-add-price-btn {
  background-color: red;
  color: white;
}

.active-items-wrapper, .inactive-items-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.items-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.associated-items-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.subsection-wrapper {
  display: flex;
  gap: 1rem;
  font-size: 19px;
  color: rgb(196, 0, 0);
  font-weight: bold;
}

.grouped-item-suppliers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.unique-pricipal-activity {
  gap: 2rem;
  font-weight: bold;
}

.location-name-label {
  font-weight: bold;
}

.item-group-code-observations {
  font-size: 16px;
}

.item-group-description, .item-code-description {
  margin-top: -2.5rem;
}