<app-spinner [visible]="loaded"></app-spinner>
<div class="main-content">
    <div class="container-fluid">
        <div class="card card-plain">
            <app-title [title]="'Sugestii Clienti'"></app-title>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-6">
                    <div class="mt-4">
                        <app-grid-toolbar #reviewGridToolbar [actions]="actions" [showColumnSettings]="true" [showExcel]="true" [showInfo]="true" [infoText]="partnerReviewInfo"
                            [fileName]="'partnerReviews'" [showPrint]="true" (addEvent)="add()"
                            (refreshEvent)="refreshReviews()">
                        </app-grid-toolbar>
                        <div class="float-none" style="clear: both;"></div>
                    </div>
                    <div class="mt-4"></div>
                    <dx-data-grid id="gridContainer" #partnerReviewsDataGrid [dataSource]="partnerReviews" [rowAlternationEnabled]="true"
                        showBorders="true" showRowLines="true" [allowColumnReordering]="true" (onSelectionChanged)="selectionReviewChanged($event)"
                        (onEditorPreparing)="onEditorPreparing($event)">
                        <dxo-selection mode="multiple" showCheckBoxesMode="always"></dxo-selection>
                        <dxo-filter-row [visible]="true"></dxo-filter-row>
                        <dxo-filter-panel [visible]="true">
                        </dxo-filter-panel>
                        <dxo-header-filter [visible]="true">
                        </dxo-header-filter>
                        <dxo-export [enabled]="canExport()" [allowExportSelectedData]="true"></dxo-export>
                        <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
                        <dxo-group-panel [visible]="true" [emptyPanelText]="groupedText"></dxo-group-panel>
                        <dxo-load-panel [enabled]="true"></dxo-load-panel>
                        <dxo-sorting mode="multiple"></dxo-sorting>
                        <dxo-editing mode="form">
                            <dxo-form>
                                <dxi-item dataField="partnerLocationContactId"></dxi-item>
                                <dxi-item dataField="description"></dxi-item>
                            </dxo-form>
                        </dxo-editing>
                        <dxo-paging [pageSize]="15"></dxo-paging>
                        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>
                        <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
                        <dxi-column dataField="createdBy" caption="Post(Nume)" [width]="200" [minWidth]="200" alignment="left">
                            <dxo-lookup [dataSource]="users" valueExpr="id" [displayExpr]="getDisplayExprCreatedBy">
                            </dxo-lookup>
                        </dxi-column>
                        <!-- <dxi-column dataField="partnerLocationContactId" caption="Contact(Functie)" [width]="200" [minWidth]="200" alignment="left">
                            <dxo-lookup [dataSource]="partnerContacts" valueExpr="id" [displayExpr]="getDisplayExprPartnerContacts">
                            </dxo-lookup>
                            <dxi-validation-rule type="required" message="{{'required' | translate}}"></dxi-validation-rule>
                        </dxi-column> -->
                        <dxi-column dataField="created" caption="Data" dataType="date"format="dd-MM-yyyy HH:mm" [width]="200" [minWidth]="200" alignment="right" sortOrder="desc">
                        </dxi-column>
                        <dxi-column dataField="response1" caption="Intrebare-Rasp1" dataType="string" alignment="left">
                        </dxi-column>
                        <dxi-column dataField="response2" caption="Intrebare-Rasp2" dataType="string" alignment="left">
                        </dxi-column>
                        <dxi-column dataField="response3" caption="Intrebare-Rasp3" dataType="string" alignment="left">
                        </dxi-column>
                        <dxi-column dataField="response4" caption="Intrebare-Rasp4" dataType="string" alignment="left">
                        </dxi-column>
                        <dxi-column dataField="response5" caption="Intrebare-Rasp5" dataType="string" alignment="left">
                        </dxi-column>
                    </dx-data-grid>
                </div>
            </div>
        </div>
    </div>
  </div>