<div class="main-content">
    <div class="container-fluid">
        <div class="card card-plain">
            <app-title [title]="'Pagina Default'"></app-title>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-6">
                    Pagina default! Nu are continut!
                </div>
            </div>
        </div>
    </div>
</div>